openapi: 3.0.0
x-stoplight:
  id: qg3dsqhh03xfo
info:
  title: Harness NextGen Software Delivery Platform API Reference
  version: '1.0'
  description: This is the Open Api Spec 3 for the Pipeline Service. This is under active development. Beware of the breaking change with respect to the generated code stub.
  contact:
    email: contact@harness.io
servers:
  - url: 'https://app.harness.io'
    description: Harness host URL.
tags:
  - name: Pipelines
    description: This contains APIs for performing CRUD operations on Pipelines.
    x-displayName: 'Pipelines [Beta]'
  - name: Input Sets
    description: This contains APIs for Input Sets.
    x-displayName: 'Input Sets [Beta]'
  - name: Approvals
    description: This contains APIs for Approvals.
    x-displayName: Approvals
  - name: Pipeline Execution
    description: This contains APIs for Pipeline Execution.
    x-displayName: 'Pipeline Execution [Beta]'
  - name: Triggers
    description: This contains APIs for performing CRUD operations on Triggers.
    x-displayName: 'Triggers [Beta]'
  - name: Steps
    description: This contains APIs for Steps.
    x-displayName: 'Steps [Beta]'
  - name: Schemas
    description: This contains APIs for Schemas.
    x-displayName: 'Schemas [Beta]'
  - name: Triggers Catalog
    description: This contains API for Triggers Catalog.
    x-displayName: 'Triggers Catalog [Beta]'
  - name: Pipeline Execution Details
    description: This contains APIs for pipeline execution details
    x-displayName: 'Pipeline Execution Details [Beta]'
paths:
  '/v1/orgs/{org}/projects/{project}/pipelines':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    get:
      summary: List Pipelines
      operationId: list-pipelines
      description: Returns a list of Pipelines.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/Limit'
        - name: search_term
          in: query
          required: false
          schema:
            type: string
          description: 'This would be used to filter resources having attributes matching the search term. Note: Special regex characters (., *, +, ?, {}, [], \, ()) will be treated as literal characters in the search, while others (^, $, |) retain their regex operator meaning.'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
        - schema:
            type: string
            enum:
              - CD
              - CI
              - CV
              - CF
              - CE
              - STO
              - CHAOS
              - SRM
              - IACM
              - CET
              - IDP
              - CODE
              - SSCA
              - GOVERNANCE
              - SEI
          in: query
          name: module
          description: Harness module which is part of the Pipeline.
        - schema:
            type: string
          in: query
          name: filter_identifier
          description: Identifier of a saved Filter.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: pipeline_identifiers
          description: List of Pipeline identifiers on the basis of which the Pipelines are filtered.
        - schema:
            type: string
            pattern: '^[A-Za-z_][A-Za-z0-9 _\-.]{0,127}$'
            minLength: 1
            maxLength: 128
          in: query
          name: name
          description: Pipeline Name on the basis of which the Pipelines are filtered.
        - schema:
            type: string
            maxLength: 1024
          in: query
          name: description
          description: 'Pipeline Description on the basis of which the Pipelines are filtered. Note: Special regex characters (., *, +, ?, {}, [], \, ()) will be treated as literal characters in the search, while others (^, $, |) retain their regex operator meaning.'
        - schema:
            type: array
            items:
              type: string
            maxItems: 128
            example: 'key:value'
          examples:
            key_and_value:
              value: 'key:value'
              summary: Tag having both Key and Value.
            key_only:
              value: key
              summary: Tag having only Key.
          in: query
          name: tags
          description: 'Filter tags as a key:value pair.'
        - schema:
            type: array
            items:
              type: string
          in: query
          name: service_names
          description: 'Service names on the basis of which the Pipelines are filtered. [CD]'
        - schema:
            type: array
            items:
              type: string
          in: query
          name: env_names
          description: 'Names of Environments on the basis of which the Pipelines are filtered. [CD]'
        - schema:
            type: string
          in: query
          name: deployment_type
          description: 'Deployment type on the basis of which the Pipelines are filtered. [CD]'
        - schema:
            type: string
          in: query
          name: repository
          description: 'Repository name on the basis of which the Pipelines are filtered. [CI]'
      security:
        - x-api-key: []
      tags:
        - Pipelines
      responses:
        '200':
          $ref: '#/components/responses/PipelineListResponseBody'
      x-stoplight:
        id: 7m826e05qk5w4
    post:
      summary: Create a Pipeline
      operationId: create-pipeline
      description: Creates a Pipeline.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: boolean
            default: false
          in: query
          name: is_public
          description: Defines whether pipeline is globally accessible.
      tags:
        - Pipelines
      requestBody:
        $ref: '#/components/requestBodies/PipelineCreateRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/PipelineCreateResponseBody'
      x-stoplight:
        id: x75qarmwebu17
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/triggers':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
      - $ref: '#/components/parameters/IgnoreError'
    post:
      summary: Create a Trigger
      operationId: create-trigger
      description: Create a Trigger.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Triggers
      requestBody:
        $ref: '#/components/requestBodies/TriggerRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/TriggerResponseBody'
      x-stoplight:
        id: jzt6irms1mrij
      x-internal: true
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/triggers/{trigger}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
      - $ref: '#/components/parameters/TriggerParam'
    get:
      summary: Retrieve a Trigger
      operationId: get-trigger
      description: Retrieve a Trigger.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Triggers
      responses:
        '200':
          $ref: '#/components/responses/TriggerGetResponseBody'
      x-internal: true
    put:
      summary: Update a Trigger
      operationId: update-trigger
      security:
        - x-api-key: []
      description: Updates a Trigger.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IgnoreError'
      tags:
        - Triggers
      requestBody:
        $ref: '#/components/requestBodies/TriggerRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/TriggerResponseBody'
      x-internal: true
    delete:
      summary: Delete a Trigger
      operationId: delete-trigger
      description: Deletes a Trigger.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Triggers
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: {}
            application/yaml:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: |
                    {}
      x-internal: true
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
    get:
      summary: Retrieve a Pipeline
      operationId: get-pipeline
      security:
        - x-api-key: []
      description: Retrieves a Pipeline.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Branch'
        - schema:
            type: boolean
            default: false
          in: query
          name: template_applied
          description: 'If true, returns Pipeline YAML with Templates applied on it.'
        - schema:
            type: string
          in: query
          name: connector_ref
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        - schema:
            type: string
          in: query
          name: repo_name
          description: Name of the repository (for Git Experience).
        - schema:
            type: string
            default: 'false'
          in: header
          name: Load-From-Cache
          description: Flag to enable loading the remote pipeline from git or git cache
        - schema:
            type: boolean
            default: false
          in: query
          name: load_from_fallback_branch
          description: Flag to load the pipeline from the created non default branch
        - schema:
            type: boolean
            default: 'false'
          in: query
          name: validate_async
          description: Flag to tell whether to start an asynchronous validation process or not
      tags:
        - Pipelines
      responses:
        '200':
          $ref: '#/components/responses/PipelineGetResponseBody'
      x-stoplight:
        id: a2i0cwl00nilx
    put:
      summary: Update a Pipeline
      operationId: update-pipeline
      security:
        - x-api-key: []
      description: Updates a Pipeline.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: boolean
            default: false
          in: query
          name: is_public
          description: Defines whether pipeline is globally accessible.
      tags:
        - Pipelines
      requestBody:
        $ref: '#/components/requestBodies/PipelineUpdateRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/PipelineCreateResponseBody'
      x-stoplight:
        id: 2hbj02s4e2gg9
    delete:
      summary: Delete a Pipeline
      operationId: delete-pipeline
      description: Deletes a Pipeline.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Pipelines
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: {}
            application/yaml:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: |
                    {}
      x-stoplight:
        id: t3s8z26p8mp57
    patch:
      summary: Patch API for pipeline
      operationId: patch-pipeline
      responses:
        '200':
          $ref: '#/components/responses/PipelineCreateResponseBody'
      description: Patch API for pipeline
      tags:
        - Pipelines
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/PipelinePatchRequestBody'
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/validate':
    parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
        description: Organization identifier
      - name: project
        in: path
        required: true
        schema:
          type: string
        description: Project identifier
      - name: pipeline
        in: path
        required: true
        schema:
          type: string
        description: Pipeline identifier
    post:
      summary: Start a Pipeline Validation Event
      operationId: start-pipeline-validation-event
      security:
        - x-api-key: []
      description: Starts a Pipeline Validation Event and returns the UUID of the Event created
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Branch'
        - schema:
            type: string
          in: query
          name: connector_ref
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        - schema:
            type: string
          in: query
          name: repo_name
          description: Name of the repository (for Git Experience).
        - schema:
            type: boolean
            default: 'false'
          in: header
          name: Load-From-Cache
          description: Flag to enable loading the remote pipeline from git or git cache
        - schema:
            type: boolean
          in: query
          name: load_from_fallback_branch
          description: Flag to load the pipeline from the created non default branch
      tags:
        - Pipelines
      responses:
        '200':
          $ref: '#/components/responses/PipelineValidationUUIDResponseBody'
      x-stoplight:
        id: abex3g6cz8wrf
  '/v1/orgs/{org}/projects/{project}/pipelines/validate/{uuid}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/UuidParam'
    get:
      summary: Get Pipeline Validation Result
      operationId: get-pipeline-validate-result
      security:
        - x-api-key: []
      description: Get Pipeline Validation Result for given UUID
      x-internal: true
      tags:
        - Pipelines
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '200':
          $ref: '#/components/responses/PipelineValidationResponseBody'
      x-stoplight:
        id: 55lxu0ef5imk4
  '/v1/orgs/{org}/projects/{project}/input-sets':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Create an Input Set
      operationId: create-input-set
      responses:
        '201':
          $ref: '#/components/responses/InputSetResponseBody'
      tags:
        - Input Sets
      description: Creates an Input Set for a Pipeline.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/PipelineInputSetParam'
      requestBody:
        $ref: '#/components/requestBodies/InputSetCreateRequestBody'
      x-stoplight:
        id: gls8md0bds5zw
    get:
      summary: List Input Sets
      operationId: list-input-sets
      responses:
        '200':
          $ref: '#/components/responses/InputSetListResponseBody'
      tags:
        - Input Sets
      description: Returns a List of Input Sets for a Pipeline.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/PipelineInputSetParam'
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
      x-stoplight:
        id: 5zlemcvmat71n
  '/v1/orgs/{org}/projects/{project}/input-sets/{input-set}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/InputSetParam'
    get:
      summary: Retrieve an Input Set
      tags:
        - Input Sets
      responses:
        '200':
          $ref: '#/components/responses/InputSetResponseBody'
      operationId: get-input-set
      description: Retrieves an Input Set for a Pipeline.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/PipelineInputSetParam'
        - $ref: '#/components/parameters/Branch'
        - schema:
            type: string
          in: query
          name: parent_entity_connector_ref
          description: Connector reference for Parent Entity (Pipeline).
        - schema:
            type: string
          in: query
          name: parent_entity_repo_name
          description: Repository name for Parent Entity (Pipeline).
        - schema:
            type: boolean
          in: query
          name: is_harness_code_repo
          description: Is Git Experience repo harness code.
        - schema:
            type: boolean
            default: 'false'
          in: query
          name: load_from_fallback_branch
          description: Flag to load the pipeline from the created non default branch
        - schema:
            type: string
            default: 'false'
          in: header
          description: Specifies whether the remote pipeline should be loaded from Git or Git cache.
          name: Load-From-Cache
      x-stoplight:
        id: 1oxo8uqhz17in
    put:
      summary: Update an Input Set
      operationId: update-input-set
      responses:
        '200':
          $ref: '#/components/responses/InputSetResponseBody'
      description: Updates an Input Set for a Pipeline.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/PipelineInputSetParam'
      tags:
        - Input Sets
      requestBody:
        $ref: '#/components/requestBodies/InputSetUpdateRequestBody'
      x-stoplight:
        id: 6a727v1bpuf94
    delete:
      summary: Delete an Input Set
      operationId: delete-input-set
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: {}
            application/yaml:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: |
                    {}
      tags:
        - Input Sets
      description: Deletes an Input Set for a Pipeline.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/PipelineInputSetParam'
      x-stoplight:
        id: azsav914tnu54
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/inputs':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
    post:
      summary: Get Pipeline Inputs
      operationId: get-pipeline-inputs
      responses:
        '200':
          $ref: '#/components/responses/InputsResponseBody'
      description: Return Inputs for a Pipeline.
      requestBody:
        $ref: '#/components/requestBodies/InputSetTemplateRequestBody'
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
          in: query
          name: branch_name
          description: Name of the branch (for Git Experience).
        - schema:
            type: string
          in: query
          name: repo_name
          description: Name of the repository (for Git Experience).
        - schema:
            type: boolean
          in: query
          name: is_harness_code_repo
          description: Is Git Experience repo harness code.
        - schema:
            type: string
          in: query
          name: connector_ref
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
      tags:
        - Inputs
      x-internal: true
      x-stoplight:
        id: whe0mp3vymzmx
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/move-config':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
    post:
      summary: Move Pipeline YAML from inline to remote
      operationId: moveConfig
      description: Creates a remote entity by fetching pipeline YAML from Harness.
      responses:
        '200':
          $ref: '#/components/responses/PipelineMoveConfigResponseBody'
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/PipelineMoveConfigRequestBody'
      tags:
        - Pipelines
      x-internal: false
      x-stoplight:
        id: sugv4pfuz4j29
  '/v1/orgs/{org}/projects/{project}/input-sets/{input-set}/move-config':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/InputSetParam'
    post:
      summary: Move InputSet YAML from inline to remote
      operationId: inputSetsMoveConfig
      description: Creates a remote entity by fetching the input set YAML from Harness.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/InputSetMoveConfigRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/InputSetMoveConfigResponseBody'
      tags:
        - Input Sets
      x-internal: false
      x-stoplight:
        id: chkehl5dqjvfx
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/import':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
    post:
      summary: Get Pipeline YAML from Git Repository
      operationId: importPipelineFromGit
      responses:
        '200':
          $ref: '#/components/responses/PipelineSaveResponseBody'
      description: Fetches Pipeline YAML from Git Repository and saves a record for it in Harness
      tags:
        - Pipelines
      requestBody:
        $ref: '#/components/requestBodies/PipelineImportRequestBody'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-stoplight:
        id: y24znmvlrj98c
  '/v1/orgs/{org}/projects/{project}/input-sets/{input-set}/import':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/InputSetParam'
    post:
      summary: Get Input Set YAML from Git Repository
      operationId: importInputSetFromGit
      responses:
        '200':
          $ref: '#/components/responses/InputSetImportResponseBody'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/PipelineInputSetParam'
      requestBody:
        $ref: '#/components/requestBodies/InputSetImportRequestBody'
      description: Fetches InputSet YAML from Git Repository and saves a record for it in Harness
      tags:
        - Input Sets
      x-stoplight:
        id: iygdh0qo5i2as
  '/v1/orgs/{org}/projects/{project}/approvals/execution/{execution-id}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/ExecutionIdParam'
    get:
      summary: Gets Approval Instances by Execution Id
      operationId: getApprovalInstancesByExecutionId
      responses:
        '200':
          $ref: '#/components/responses/ApprovalInstanceListResponseBody'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: {}
            application/yaml:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: |
                    {}
      description: 'Gets Approval Instances by Execution Id [Beta]'
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: approval_status
          in: query
          description: This filters approval instances based on status
          schema:
            type: string
            enum:
              - WAITING
              - APPROVED
              - REJECTED
              - FAILED
              - ABORTED
              - EXPIRED
        - name: approval_type
          in: query
          description: This filters approval instances based on type
          schema:
            type: string
            enum:
              - HarnessApproval
              - JiraApproval
              - CustomApproval
              - ServiceNowApproval
        - name: node_execution_id
          in: query
          description: This filters approval instances based on runtime identifier of the step
          schema:
            type: string
        - schema:
            type: string
          in: query
          description: This filters approval instances based on callback id given in the Harness Approval Step configuration
          name: callback_id
      tags:
        - Approvals
      x-stoplight:
        id: 7nqmm3twhbd2z
    post:
      summary: Approve or Reject an Execution by Pipeline Execution ID
      operationId: addHarnessApprovalActivityByPipelineExecutionId
      responses:
        '200':
          $ref: '#/components/responses/ApprovalInstanceResponseBody'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-stoplight:
        id: 2v95z8zipjgwz
      description: 'Approve or Reject an Execution by Pipeline Execution ID [Beta]'
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
          in: query
          name: callback_id
          description: This filters approval instances based on callback id given in the Harness Approval Step configuration
      tags:
        - Approvals
      requestBody:
        $ref: '#/components/requestBodies/HarnessApprovalActivityRequestBody'
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/git-metadata':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
    put:
      summary: Update GitMetadata for Remote Pipelines
      operationId: update-pipeline-git-metadata
      responses:
        '200':
          $ref: '#/components/responses/GitMetadataUpdateResponseBody'
      requestBody:
        $ref: '#/components/requestBodies/GitMetadataUpdateRequestBody'
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Pipelines
      description: Update git-metadata in remote pipeline
      x-stoplight:
        id: 2uv1mspdrbzvj
  '/v1/orgs/{org}/projects/{project}/input-sets/{input-set}/git-metadata':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/InputSetParam'
    put:
      summary: Update GitMetadata for Remote InputSet
      operationId: update-input-set-git-metadata
      responses:
        '200':
          $ref: '#/components/responses/GitMetadataUpdateResponseBody'
      requestBody:
        $ref: '#/components/requestBodies/GitMetadataUpdateRequestBody'
      security:
        - x-api-key: []
      tags:
        - Input Sets
      description: Update git-metadata in remote inputSet and return the updated inputSet
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/PipelineInputSetParam'
      x-stoplight:
        id: vlumua8hb77xj
  /v1/pipeline-schema/individual-schema:
    parameters: []
    get:
      summary: Get Individual Static Schema
      operationId: get-individual-static-schema
      responses:
        '200':
          $ref: '#/components/responses/IndividualSchemaResponseBody'
      x-stoplight:
        id: cechhz9yol7e0
      description: get individual schema for any step/stage/strategy/stepgroup.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
            enum:
              - step
              - stage
              - pipeline
              - strategy
              - step_group
              - trigger
          in: query
          name: node_group
        - schema:
            type: string
          in: query
          name: node_type
        - schema:
            type: string
            enum:
              - iacm
              - cd
              - ci
              - security
              - approval
              - custom
              - cf
              - template
          in: query
          name: node_group_differentiator
        - schema:
            type: string
            default: v0
            enum:
              - v0
              - v1
          in: query
          name: version
      security:
        - x-api-key: []
      tags:
        - Schemas
      x-internal: true
  /v1/pipeline-schema/inputs-schema:
    parameters: []
    post:
      summary: Get Inputs Schema
      operationId: get-inputs-schema
      responses:
        '200':
          $ref: '#/components/responses/PipelineInputSchemaDetailsResponseBody'
      x-stoplight:
        id: ponoyltbuvod0
      tags:
        - Schemas
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/PipelineInputsSchemaRequestBody'
      x-internal: true
  /v1/step-pallete:
    parameters: []
    post:
      summary: Get steps for the steps-pallete
      operationId: get-steps
      responses:
        '200':
          $ref: '#/components/responses/StepsDataResponseBody'
      tags:
        - Steps
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/StepPalleteFilterRequestBody'
      x-internal: true
  /v1/triggers/catalog:
    get:
      summary: Get Triggers catalog
      tags:
        - Triggers Catalog
      responses:
        '200':
          $ref: '#/components/responses/TriggerCatalogResponseBody'
      operationId: get-triggers-catalog
      description: Get Triggers Catalog
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
            default: 0
            enum:
              - 0
              - 1
          in: query
          name: version
      x-internal: true
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/execute':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
    post:
      summary: Execute Pipeline
      operationId: execute-pipeline
      responses:
        '200':
          $ref: '#/components/responses/PipelineExecuteResponseBody'
      x-stoplight:
        id: ngg6c22zqeatk
      requestBody:
        $ref: '#/components/requestBodies/PipelineExecuteRequestBody'
      parameters:
        - schema:
            type: string
          in: query
          name: module
          description: 'Module type for the entity. If its from deployments,type will be CD , if its from build type will be CI'
        - schema:
            type: boolean
            default: 'false'
          in: query
          name: use_fqn_if_error_response
          description: Use FQN in error response.
        - schema:
            type: boolean
            default: 'false'
          in: query
          name: notify_only_user
        - schema:
            type: string
          in: query
          name: notes
          description: Notes of a pipeline execution
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Branch'
        - schema:
            type: string
          in: query
          name: connector_ref
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        - schema:
            type: string
          in: query
          name: repo_name
          description: Name of the repository (for Git Experience).
        - schema:
            type: array
            items:
              type: string
          in: query
          name: input_set_identifiers
          description: Input set identifiers for tracking and filtering pipeline executions. A list of input set identifiers to apply.
      description: Pipeline Execution API
      tags:
        - Pipeline Execution
  '/v1/orgs/{org}/projects/{project}/execution/{planExecutionId}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PlanExecutionIdParam'
      - schema:
          type: string
        in: query
        name: stage_node_id
        description: Stage Node Identifier for which Stage Graph needs to be Rendered
      - schema:
          type: string
        in: query
        name: stage_node_execution_id
        description: Stage Node Execution ID for which Stage Graph needs to be Rendered. (Needed only when there are Multiple Runs for a Given Stage. It can be Extracted from LayoutNodeMap Field)
      - schema:
          type: string
        in: query
        name: child_stage_node_id
        description: Stage Node Execution ID for which Stage Graph needs to be Rendered. (Needed only when there are Multiple Runs for a Given Stage. It can be Extracted from LayoutNodeMap Field)
      - schema:
          type: boolean
        in: query
        name: render_full_bottom_graph
        description: Generate Graph for all the Stages including Steps in each Stage
    get:
      summary: Get Execution Details
      tags:
        - PipelineExecutionDetails
      responses:
        '200':
          $ref: '#/components/responses/PipelineExecutionDetailsResponseBody'
      operationId: get-execution-details
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/execution/{planExecutionId}/inputset':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PlanExecutionIdParam'
      - schema:
          type: boolean
          default: false
        in: query
        name: resolve_expressions
        description: Should expressions in input set yaml in response be resolved or not
      - schema:
          type: string
          enum:
            - resolve-all-expressions
            - resolve-trigger-expressions
            - unknown
          default: unknown
        in: query
        name: resolve_expressions_type
        description: How should expressions be resolved in input set yaml in response
    get:
      summary: Get the Input Set YAML used for given Plan Execution
      tags:
        - PipelineExecutionDetails
      responses:
        '200':
          schema:
            type: string
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      operationId: get-input-set-yaml
  '/v1/orgs/{org}/projects/{project}/execution/{planExecutionId}/dynamic/{nodeExecutionId}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PlanExecutionIdParam'
      - $ref: '#/components/parameters/NodeExecutionIdParam'
    get:
      summary: Get the Dynamic Execution details for given node
      tags:
        - PipelineExecutionDetails
      responses:
        '200':
          schema:
            $ref: '#/components/responses/DynamicExecutionDetailsResponseBody'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      operationId: get-dynamic-execution-details
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/inputs-schema':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
    get:
      summary: Get inputs schema details
      tags:
        - Pipelines
      responses:
        '200':
          $ref: '#/components/responses/PipelineInputSchemaDetailsResponseBody'
      operationId: get-inputs-schema-details
      x-stoplight:
        id: vv4p6usbub9lz
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Branch'
        - schema:
            type: string
          in: query
          name: connector_ref
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        - schema:
            type: boolean
          in: query
          name: is_harness_code_repo
          description: Is Git Experience repo harness code.
        - schema:
            type: string
          in: query
          name: repo_name
          description: Name of the repository (for Git Experience).
      description: ''
      x-internal: true
  '/v1/orgs/{org}/projects/{project}/input-sets/merge':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: ''
      operationId: merged-input-sets
      responses:
        '200':
          $ref: '#/components/responses/MergeInputSetResponseBody'
      x-stoplight:
        id: cwwjia7vdatc3
      description: Gets merged input sets
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
          in: header
          name: Load-From-Cache
          description: Flag to enable loading the remote Pipeline from git or git cache
        - $ref: '#/components/parameters/PipelineInputSetParam'
        - $ref: '#/components/parameters/PipelineRepoID'
        - $ref: '#/components/parameters/PipelineBranch'
        - $ref: '#/components/parameters/Branch'
        - schema:
            type: string
          in: query
          name: parent_entity_connector_ref
          description: Connector reference for Parent Entity (Pipeline).
        - schema:
            type: string
          in: query
          name: parent_entity_repo_name
          description: Repository name for Parent Entity (Pipeline).
      requestBody:
        $ref: '#/components/requestBodies/MergeInputSetRequestBody'
      x-internal: true
      tags:
        - Input Sets
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/execute/{execution-id}/retry-stages':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
      - $ref: '#/components/parameters/ExecutionIdParam'
    get:
      summary: Get retry stages for failed pipeline
      operationId: get-retry-stages
      responses:
        '200':
          $ref: '#/components/responses/RetryInfo'
      parameters:
        - schema:
            type: string
            default: 'false'
          in: header
          name: Load-From-Cache
          description: Flag to enable loading the remote pipeline from git or git cache
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Pipeline Execution
      x-internal: true
      description: Get retry stages for failed pipeline
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/execute/rerun/{execution-id}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
      - $ref: '#/components/parameters/ExecutionIdParam'
    post:
      summary: Rerun Pipeline
      operationId: rerun-pipeline
      responses:
        '200':
          $ref: '#/components/responses/PipelineExecuteResponseBody'
      x-stoplight:
        id: jg2yu636yguhm
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
          in: query
          name: module
          description: 'Module type for the entity. If its from deployments,type will be CD , if its from build type will be CI.'
        - schema:
            type: boolean
            default: false
          in: query
          name: use_fqn_if_error
        - schema:
            type: string
          in: query
          name: notes
          description: Notes of a pipeline execution
        - $ref: '#/components/parameters/Branch'
        - schema:
            type: string
          in: query
          name: connector_ref
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        - schema:
            type: string
          in: query
          name: repo_name
          description: Name of the repository (for Git Experience).
        - schema:
            type: boolean
            default: false
          in: query
          name: use_original_pipeline_yaml
          description: Whether to use the original pipeline yaml from the original execution on rerun.
      requestBody:
        $ref: '#/components/requestBodies/RerunPipelineRequestBody'
      description: Rerun Pipeline Execution
      tags:
        - Pipeline Execution
      x-internal: true
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/execute/retry/{execution-id}':
    post:
      summary: Retry Pipeline
      operationId: retry-pipeline-with-inputset-pipeline-yaml
      responses:
        '200':
          $ref: '#/components/responses/PipelineExecuteResponseBody'
      x-stoplight:
        id: aj5vkynomwd5s
      description: Retry a executed Pipeline with inputSet Pipeline yaml.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
          in: query
          name: module
          description: 'Module type for the entity. If its from deployments,type will be CD , if its from build type will be CI.'
        - schema:
            type: array
            items:
              type: string
          in: query
          name: retry_stages
          allowEmptyValue: false
          description: This param contains the identifier of stages from where to resume. It will be a list if we want to retry from parallel group.
        - schema:
            type: boolean
            default: true
          in: query
          name: run_all_stages
          description: 'This param provides an option to run only the failed stages when Pipeline fails at parallel group. By default, it will run all the stages in the failed parallel group.'
        - schema:
            type: string
          in: query
          name: notes
          description: Notes of a Pipeline execution.
      requestBody:
        $ref: '#/components/requestBodies/RerunPipelineRequestBody'
      x-internal: true
      tags:
        - Pipeline Execution
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
      - $ref: '#/components/parameters/ExecutionIdParam'
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/execute/stages-execution-list':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
    get:
      summary: Get Stages execution List for a given Pipeline execution.
      tags:
        - Pipeline Execution
      responses:
        '200':
          $ref: '#/components/responses/StageExecutionResponseList'
      operationId: get-stages-execution-list
      x-stoplight:
        id: eq7lkueaicn2j
      description: Returns list of Stage identifiers with their names and stage dependencies
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
            default: 'false'
          in: header
          name: Load-From-Cache
          description: Flag to enable loading the remote Pipeline from git or git cache
        - $ref: '#/components/parameters/Branch'
        - schema:
            type: string
          in: query
          name: connector_ref
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        - schema:
            type: string
          in: query
          name: repo_name
          description: Name of the repository (for Git Experience).
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/execute/rerun/{execution-id}/stages':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
      - $ref: '#/components/parameters/ExecutionIdParam'
    post:
      summary: Re-run Stages Execution of a Pipeline
      tags:
        - Pipeline Execution
      responses:
        '200':
          $ref: '#/components/responses/PipelineExecuteResponseBody'
      operationId: rerun-stages-execution-of-pipeline
      x-stoplight:
        id: siv5mzbllczkf
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Branch'
        - schema:
            type: string
          in: query
          name: connector_ref
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        - schema:
            type: string
          in: query
          name: repo_name
          description: Name of the repository (for Git Experience)
        - schema:
            type: boolean
            default: false
          in: query
          name: use_fqn_if_error
          description: Use FQN in error response
        - schema:
            type: string
          in: query
          name: module
          description: 'Module type for the entity. If its from deployments,type will be CD , if its from build type will be CI.'
        - schema:
            type: string
          in: query
          name: notes
          description: Notes of a pipeline execution
      requestBody:
        $ref: '#/components/requestBodies/RunStageRequestBody'
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/execute/dynamic':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
    post:
      summary: Execute Pipeline with dynamic Input YAML
      tags:
        - Pipeline Execution
      responses:
        '200':
          $ref: '#/components/responses/PipelineExecuteResponseBody'
      operationId: runDynamicExecutionWithInputYaml
      description: API for executing a dynamic pipeline input YAML.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
          in: query
          name: moduleType
          description: The module from which execution was triggered.
        - schema:
            type: string
          in: query
          name: notes
          default: ""
          description: Notes of a pipeline execution
        - schema:
            type: boolean
            default: false
          in: query
          name: notify_only_user
      requestBody:
        $ref: '#/components/requestBodies/DynamicPipelineExecuteRequestBody'
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/execute/notification-rules/unresolved-inputs':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
    post:
      summary: Reconcile the list of notification rules which needs to be provided value of input variables
      tags:
        - Pipeline Execution
      responses:
        '200':
          $ref: '#/components/responses/UnresolvedNotificationRulesResponseBody'
      operationId: listNotificationRulesWithUnresolvedInputs
      description: API for retrieving notification rules with unresolved input variables
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NotificationTemplateReconcileRequestBody'
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/execute/notification-rules/validate':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
    post:
      summary: Validates the pipeline level notification rules
      tags:
        - Pipeline Execution
      responses:
        '200':
          $ref: '#/components/responses/PipelineNotificationTemplateValidateResponseBody'
      operationId: validateNotificationRulesWithUnresolvedInputs
      description: API for validating notification rules with unresolved input variables
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NotificationTemplateReconcileRequestBody'
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/execute/stages':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
    post:
      summary: Execute given Stages of a Pipeline
      tags:
        - Pipeline Execution
      responses:
        '200':
          $ref: '#/components/responses/PipelineExecuteResponseBody'
      operationId: execute-stages-with-input-yaml
      x-stoplight:
        id: 56cla3e4d0dw0
      description: Execute given Stages of a Pipeline with Inputs
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
          in: query
          name: module
          description: 'Module type for the entity. If its from deployments,type will be CD , if its from build type will be CI.'
        - schema:
            type: string
            default: 'false'
          in: query
          name: use_fqn_if_error
          description: Use FQN in error response.
        - schema:
            type: string
          in: query
          name: notes
          description: Notes of a Pipeline execution.
        - $ref: '#/components/parameters/Branch'
        - schema:
            type: string
          in: query
          name: connector_ref
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        - schema:
            type: string
          in: query
          name: repo_name
          description: Name of the repository (for Git Experience).
        - schema:
            type: array
            items:
              type: string
          in: query
          name: input_set_identifiers
          description: Input set identifiers for tracking and filtering pipeline executions. A list of input set identifiers to apply.
      requestBody:
        $ref: '#/components/requestBodies/RunStageRequestBody'
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/get-runtime-inputs-schema':
    get:
      summary: Get pipeline with all runtime inputs of all referenced templates
      operationId: getResolvedPipelineWithAllTemplatesRuntimeInputs
      description: Return pipeline with all runtime inputs of all referenced templates
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Branch'
        - $ref: '#/components/parameters/OrgParam'
        - $ref: '#/components/parameters/ProjectParam'
        - $ref: '#/components/parameters/PipelineParam'
        - schema:
            type: string
            default: false
          in: header
          name: Load-From-Cache
          description: Flag to indicate if the data should be loaded from cache
      tags:
        - Pipelines
      responses:
        '200':
          $ref: '#/components/responses/ResolvedPipelineWithAllTemplatesRuntimeInputsResponseBody'
          description: Get API for pipeline with resolved runtime inputs corresponding to template inputs.
components:
  schemas:
    GitDetails:
      title: Git Response Details
      x-stoplight:
        id: 4td78vqak799x
      type: object
      description: Git Experience related details of the Entity.
      x-examples:
        example-git:
          object_id: example_object
          branch_name: branch
          file_path: /folder/file.json
          repo_name: example_repository
          commit_id: abcd123
          file_url: www.repo/folder/file.com
          repo_url: www.repo.com
          is_harness_code_repo: false
      properties:
        object_id:
          type: string
          description: Object identifier / blob id
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_$]{0,127}$'
          minLength: 1
          maxLength: 128
        branch_name:
          type: string
          description: Name of the branch.
        file_path:
          type: string
          description: File path of the Entity in the repository.
        repo_name:
          type: string
          description: Name of the repository.
        commit_id:
          type: string
          description: Latest commit identifier.
        file_url:
          type: string
          description: File URL of the Entity.
        repo_url:
          type: string
          description: Repository URL of the Entity.
        is_harness_code_repo:
          type: boolean
          description: Is Git Experience repo harness code.
    PipelineGetResponseBody:
      title: Pipeline Get Response Body
      x-stoplight:
        id: iyawbezz7jxpr
      description: Pipeline response body.
      x-examples:
        example-get:
          pipeline_yaml: example_yaml_text
          template_applied_pipeline_yaml: example_yaml_text_with_template
          identifier: example_pipeline
          name: ExamplePipeline
          org: example_org
          project: example_project
          description: Pipeline Description
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          modules:
            - cd
          git_details:
            object_id: example_object
            branch_name: branch
            file_path: /folder/file.json
            repo_name: example_repository
            commit_id: abcd123
            file_url: www.repo/folder/file.com
            repo_url: www.repo.com
          valid: true
          yaml_error_wrapper:
            message: something is incorrect
            message_fqn: something is incorrect at pipeline.name
            stage_info:
              identifier: example_stage
              type: stage
              name: Example Stage
              fqn: pipeline.stages.stage
            step_info:
              identifier: example_step
              type: string
              name: string
              fqn: pipeline.steps.step
            fqn: pipeline.name
            hint_message: try changing something
          cache_response_metadata:
            cache_state: VALID_CACHE
            ttl_left: 9223372036854776000
            last_updated_at: 9223372036854776000
          created: 1234567890
          updated: 1234567890
      type: object
      properties:
        pipeline_yaml:
          type: string
          description: Pipeline YAML (returned as a String).
        template_applied_pipeline_yaml:
          type: string
          description: Pipeline YAML after resolving Templates (returned as a String).
        identifier:
          type: string
          description: Pipeline identifier
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
        name:
          type: string
          description: Pipeline name
          pattern: '^[A-Za-z_][A-Za-z0-9 _\-.]{0,127}$'
          minLength: 1
          maxLength: 128
        org:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Organization identifier
        project:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Project identifier
        description:
          type: string
          maxLength: 1024
          description: Pipeline description
        allowDynamicExecutions:
          type: boolean
          description: Allow dynamic executions of Pipeline
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Pipeline tags
        modules:
          type: array
          description: Modules utilised in the Pipeline.
          uniqueItems: true
          items:
            type: string
        git_details:
          $ref: '#/components/schemas/GitDetails'
        valid:
          type: boolean
          description: Specifies whether Pipeline is a valid or not.
        yaml_error_wrapper:
          type: array
          description: YAML schema errors.
          items:
            $ref: '#/components/schemas/YAMLSchemaErrorWrapper'
        cache_response_metadata:
          $ref: '#/components/schemas/CacheResponseMetadataDTO'
        created:
          type: integer
          description: Creation timestamp for Pipeline.
          format: int64
        updated:
          type: integer
          description: Last modification timestamp for Pipeline.
          format: int64
        validation_uuid:
          type: string
          description: 'UUID of the asynchronous validation event started, if any'
        version:
          type: string
          description: "Pipeline yaml version, should be one of '0' or '1'"
        public_access_response:
          ref: '#/components/schemas/PublicAccessResponse'
    PipelineValidationResponseBody:
      title: Pipeline Validation Response Body
      description: Pipeline Validation Response Body
      x-examples:
        example-get:
          status: IN_PROGRESS
      type: object
      x-stoplight:
        id: 8qgpyeralha0k
      x-internal: true
      properties:
        status:
          type: string
          description: Status of the Pipeline Validation Event
        policy_eval:
          type: object
          description: Result of Policy Evaluations on the Pipeline
        start_ts:
          type: integer
          format: int64
          description: Start time of the Evaluation
        end_ts:
          type: integer
          format: int64
          description: End time of the Evaluation
        template_validation_response:
          $ref: '#/components/schemas/TemplateValidationResponseBody'
    PipelineValidationUUIDResponseBody:
      title: Pipeline Validation UUID Response Body
      description: Contains the UUID of the Pipeline Validation Event that's started
      x-examples:
        example-get:
          uuid: abcdef123
      type: object
      properties:
        uuid:
          type: string
          description: UUID of the Pipeline Validation Event
      x-internal: true
      x-stoplight:
        id: nevq4mquca0ye
    PipelineListResponseBody:
      title: Pipeline List Response Body
      x-stoplight:
        id: lsw5uulv1nabn
      description: Pipeline List response body
      x-examples:
        example-summary:
          identifier: example_pipeline
          name: Example Pipeline
          description: This is an Example Pipeline
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          created: 1234567890
          updated: 1234567890
          modules: CD
          recent_execution_info:
            - executor_info:
                trigger_type: NOOP
                username: harness_user
                email: noreply@harness.io
              execution_id: example_execution_identifier
              execution_status: Running
              started: 1234567890
              ended: 1234567890
              run_number: 5
          store_type: REMOTE
          connector_ref: example_connector
          valid: true
          git_details:
            object_id: example_object
            branch_name: branch
            file_path: /folder/file.json
            repo_name: example_repository
            commit_id: abcd123
            file_url: www.repo/folder/file.com
            repo_url: www.repo.com
      type: object
      properties:
        identifier:
          type: string
          description: Pipeline identifier
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
        name:
          type: string
          description: Pipeline name
          pattern: '^[A-Za-z_][A-Za-z0-9 _\-.]{0,127}$'
          minLength: 1
          maxLength: 128
        description:
          type: string
          maxLength: 1024
          description: Pipeline description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Pipeline tags
        created:
          type: integer
          description: Creation timestamp for Pipeline.
          format: int64
        updated:
          type: integer
          description: Last modification timestamp for Pipeline.
          format: int64
        modules:
          type: array
          description: Modules utilised in the Pipeline.
          uniqueItems: true
          items:
            type: string
        recent_execution_info:
          type: array
          description: Array of recent Execution information
          items:
            $ref: '#/components/schemas/RecentExecutionInfo'
        store_type:
          type: string
          description: Specifies whether the Entity is to be stored in Git or not (for Git Experience).
          enum:
            - INLINE
            - REMOTE
        connector_ref:
          type: string
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        valid:
          type: boolean
          description: Specifies whether Pipeline is a valid or not.
        git_details:
          $ref: '#/components/schemas/GitDetails'
        yaml_version:
          type: string
          description: "Pipeline yaml version, should be one of '0' or '1'"
          x-stoplight:
            id: htwmtqt2riu9v
    TriggerRequestBody:
      title: Trigger Request Body
      type: object
      description: 'Trigger request body object '
      properties:
        description:
          type: string
        enabled:
          type: boolean
          description: boolean for enabling the trigger
        encrypted_webhook_secret_identifier:
          type: string
          description: encrypted webhook secret identifier
        identifier:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_]{0,127}$'
          description: Trigger identifier
        name:
          type: string
          pattern: '^[a-zA-Z_0-9-.][-0-9a-zA-Z_\s.]{0,127}$'
          description: trigger name
        pipeline_branch_name:
          type: string
          description: pipeline branch name in case of remote pipeline
        yaml:
          type: string
          description: trigger yaml
        tags:
          type: object
          additionalProperties:
            type: string
          description: trigger tags
      required:
        - type
        - identifier
        - name
        - yaml
    NGVariable:
      title: NG Variable
      type: object
      properties:
        type:
          type: string
          enum:
            - String
            - Number
        description:
          type: string
        required:
          type: boolean
        name:
          type: string
        metadata:
          type: string
      discriminator:
        propertyName: type
        mapping:
          String: '#/components/schemas/StringNGVariable'
          Number: '#/components/schemas/NumberNGVariable'
    StringNGVariable:
      title: String NG Variable
      x-discriminator-value: String
      allOf:
        - $ref: '#/components/schemas/NGVariable'
        - type: object
          properties:
            value:
              type: string
            default_value:
              type: string
    NumberNGVariable:
      title: Number NG Variable
      x-discriminator-value: String
      allOf:
        - $ref: '#/components/schemas/NGVariable'
        - type: object
          properties:
            value:
              type: double
            default_value:
              type: double
    TriggerResponseBody:
      title: Trigger Response Body
      type: object
      description: Pipeline response body
      properties:
        identifier:
          type: string
          description: Trigger identifier
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
    TriggerCatalogResponseBody:
      title: Trigger Catalog Response Body
      description: Trigger catalog response body.
      type: object
      properties:
        catalog:
          type: array
          items:
            $ref: '#/components/schemas/TriggerCatalog'
    TriggerCatalog:
      title: Trigger Catalog
      description: Trigger Catalog
      type: object
      properties:
        category:
          type: string
          enum:
            - webhook
            - artifact
            - scheduled
            - manifest
            - Webhook
            - Artifact
            - Scheduled
            - Manifest
        trigger_catalog_types:
          type: array
          items:
            type: string
            enum:
              - github
              - gitlab
              - harness
              - custom
              - azure-repo
              - bitbucket
              - gcr
              - acr
              - ecr
              - artifactory-registry
              - docker-registry
              - nexus3-registry
              - nexus2-registry
              - jenkins
              - bamboo
              - amazon-s3
              - google-artifact-registry
              - github-package-registry
              - azure
              - amazon-machine-image
              - google-cloud-storage
              - helm-chart
              - cron
              - Github
              - Gitlab
              - Harness
              - Custom
              - AzureRepo
              - Bitbucket
              - Gcr
              - Acr
              - Ecr
              - ArtifactoryRegistry
              - DockerRegistry
              - Nexus3Registry
              - Nexus2Registry
              - Jenkins
              - Bamboo
              - AmazonS3
              - GoogleArtifactRegistry
              - GithubPackageRegistry
              - AzureArtifacts
              - AmazonMachineImage
              - GoogleCloudStorage
              - HelmChart
              - Cron
              - CustomArtifact
              - HarnessArtifactRegistry
    TriggerGetResponseBody:
      title: Trigger Get Response Body
      description: Trigger response body.
      type: object
      properties:
        identifier:
          type: string
          description: Trigger identifier
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
        name:
          type: string
          description: Trigger name
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$'
          minLength: 1
          maxLength: 128
        org:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Organization identifier
        project:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Project identifier
        pipeline:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Pipeline identifier
        description:
          type: string
          maxLength: 1024
          description: Trigger description
        trigger:
          $ref: '#/components/schemas/TriggerBody'
        version:
          type: string
          description: "Trigger yaml version, should be one of '0' or '1'"
    TriggerBody:
      title: Trigger Body
      type: object
      description: 'Trigger object '
      properties:
        enabled:
          type: boolean
          description: boolean for enabling the trigger
        encrypted_webhook_secret_identifier:
          type: string
          description: encrypted webhook secret identifier
        pipeline_branch_name:
          type: string
          description: pipeline branch name in case of remote pipeline
        yaml:
          type: string
          description: trigger yaml
        tags:
          type: object
          additionalProperties:
            type: string
          description: trigger tags
      required:
        - identifier
        - name
        - source
    PipelineCreateRequestBody:
      title: Pipeline Create Request Body
      x-stoplight:
        id: ki1pimm1mz2wv
      type: object
      description: 'Pipeline request body object '
      x-examples:
        example-pipeline:
          pipeline_yaml: |
            pipeline:
              identifier: example_pipeline
              name: ExamplePipeline
              allowStageExecutions: false
              stages:
                - stage:
                    name: Example Build Stage
                    identifier: example_build_stage
                    description: ''
                    type: Approval
                    spec:
                      execution:
                        steps:
                          - step:
                              name: Approval Step
                              identifier: Approval_Step
                              type: HarnessApproval
                              timeout: 1d
                              spec:
                                approvalMessage: |-
                                  Please review the following information
                                  and approve the pipeline progression
                                includePipelineExecutionHistory: true
                                approvers:
                                  minimumCount: 1
                                  disallowPipelineExecutor: false
                                  userGroups: <+input>
                                approverInputs: []
                          - step:
                              type: ShellScript
                              name: ShellScript Step
                              identifier: ShellScript_Step
                              spec:
                                shell: Bash
                                onDelegate: true
                                source:
                                  type: Inline
                                  spec:
                                    script: <+input>
                                environmentVariables: []
                                outputVariables: []
                                executionTarget: {}
                              timeout: 10m
                    tags: {}
                - stage:
                    name: Example Deploy Stage
                    identifier: example_deploy_stage
                    description: ''
                    type: Deployment
                    spec:
                      serviceConfig:
                        serviceRef: <+input>
                        serviceDefinition:
                          spec:
                            variables: []
                          type: Kubernetes
                      infrastructure:
                        environmentRef: <+input>
                        infrastructureDefinition:
                          type: KubernetesDirect
                          spec:
                            connectorRef: <+input>
                            namespace: <+input>
                            releaseName: release-<+INFRA_KEY>
                        allowSimultaneousDeployments: false
                      execution:
                        steps:
                          - step:
                              name: Rollout Deployment
                              identifier: rolloutDeployment
                              type: K8sRollingDeploy
                              timeout: 10m
                              spec:
                                skipDryRun: false
                        rollbackSteps:
                          - step:
                              name: Rollback Rollout Deployment
                              identifier: rollbackRolloutDeployment
                              type: K8sRollingRollback
                              timeout: 10m
                              spec: {}
                    tags: {}
                    failureStrategies:
                      - onFailure:
                          errors:
                            - AllErrors
                          action:
                            type: StageRollback
          identifier: example_pipeline
          name: ExamplePipeline
          description: Pipeline Description
          allowDynamicExecutions: false
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          git_details:
            branch_name: branch
            file_path: /folder/file.json
            commit_message: Added Harness Git Experience
            base_branch: old_branch
            connector_ref: git_connector
            store_type: REMOTE
            repo_name: example_repository
            is_harness_code_repo: false
      properties:
        version:
          type: string
          description: "Pipeline yaml version, should be one of '0' or '1'"
        pipeline_yaml:
          type: string
          description: Pipeline YAML (to be passed as a String).
        identifier:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Pipeline identifier
        name:
          type: string
          pattern: '^[A-Za-z_][A-Za-z0-9 _\-.]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Pipeline name
        description:
          type: string
          maxLength: 1024
          description: Pipeline description
        allowDynamicExecutions:
          type: boolean
          description: Allow dynamic executions of Pipeline
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Pipeline tags
        git_details:
          $ref: '#/components/schemas/GitCreateDetails'
      required:
        - pipeline_yaml
        - identifier
        - name
    PipelineCreateResponseBody:
      title: Pipeline Create Response Body
      x-stoplight:
        id: s47hw1gh1wz51
      type: object
      description: Pipeline response body
      x-examples:
        example-pipeline:
          identifier: example_pipeline
      properties:
        identifier:
          type: string
          description: Pipeline identifier
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
        public_access_response:
          ref: '#/components/schemas/PublicAccessResponse'
    PublicAccessResponse:
      title: Pipeline public access response
      type: object
      description: Decides the access scope of pipeline, if pipeline is public.
      properties:
        is_public:
          type: boolean
          description: Defines the scope, whether pipeline can be accessed globally.
        error:
          type: string
          description: Error message while accessing pipeline globally.
    ResolvedPipelineWithAllTemplatesRuntimeInputsResponseBody:
      title: Pipeline resolved runtime inputs corresponds to template inputs response body.
      x-stoplight:
        id: s47hw1gh1ay48
      type: object
      description: Pipeline with resolved template runtime inputs response body.
      properties:
        identifier:
          type: string
          description: Pipeline identifier
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
        yaml:
          type: string
          description: Pipeline yaml with all runtime inputs schema corresponds to template inputs.
    YAMLSchemaErrorWrapper:
      title: YAML Schema Error Wrapper
      x-stoplight:
        id: dsre88i7f0jqo
      type: object
      description: YAML schema error.
      properties:
        message:
          type: string
          description: Error message
        message_fqn:
          type: string
          description: Error message with FQN
        stage_info:
          $ref: '#/components/schemas/NodeInfo'
          description: Stage where the error occcurred.
        step_info:
          $ref: '#/components/schemas/NodeInfo'
          description: Step where the error occcurred.
        fqn:
          type: string
          description: Fully Qualified Name as per YAML
        hint_message:
          type: string
          description: Hint message
      x-examples:
        example-schema-error:
          message: something is incorrect
          message_fqn: something is incorrect at pipeline.name
          stage_info:
            identifier: example_stage
            type: stage
            name: Example Stage
            fqn: pipeline.stages.stage
          step_info:
            identifier: example_step
            type: string
            name: string
            fqn: pipeline.steps.step
          fqn: pipeline.name
          hint_message: try changing something
    NodeInfo:
      title: Entity Details
      x-stoplight:
        id: 5ydy6skg9yt6m
      type: object
      description: Entity details
      x-examples:
        example-node-info:
          identifier: example_stage
          type: stage
          name: name
          fqn: pipeline.stages.stage1.name
      properties:
        identifier:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Entity identifier
        type:
          type: string
          description: Type of Entity
        name:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Name of Entity
        fqn:
          type: string
          description: Fully Qualified Name
    RecentExecutionInfo:
      title: Recent Execution Information
      x-stoplight:
        id: eimd3luzvwzew
      type: object
      description: Recent Execution information of the Pipeline.
      properties:
        executor_info:
          $ref: '#/components/schemas/ExecutorInfo'
        execution_id:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Execution identifier
        execution_status:
          type: string
          description: Last Execution status of the Pipeline.
          enum:
            - Running
            - AsyncWaiting
            - TaskWaiting
            - TimedWaiting
            - Failed
            - Errored
            - IgnoreFailed
            - NotStarted
            - Expired
            - Aborted
            - Discontinuing
            - Queued
            - ResourceWaiting
            - InterventionWaiting
            - ApprovalWaiting
            - Success
            - Suspended
            - Skipped
            - ApprovalRejected
            - InputWaiting
            - NOT_STARTED
            - INTERVENTION_WAITING
            - APPROVAL_WAITING
            - APPROVAL_REJECTED
            - Waiting
        started:
          type: integer
          format: int64
          description: Start timestamp of Execution
        ended:
          type: integer
          format: int64
          description: End timestamp of Execution
        run_number:
          type: integer
          format: int32
          description: The Execution number of this Pipeline.
          example: 0
        parent_stage_info:
          $ref: '#/components/schemas/ParentStageInfo'
      x-examples:
        example-recent:
          executor_info:
            trigger_type: NOOP
            username: harness_user
            email: noreply@harness.io
          execution_id: example_execution_identifier
          execution_status: Running
          started: 1234567890
          ended: 1234567890
          run_number: 5
    ExecutorInfo:
      title: Executor Information
      x-stoplight:
        id: d78wbfpdm3xhy
      type: object
      description: Information regarding Executor of Pipeline.
      properties:
        trigger_type:
          type: string
          description: Trigger type
          enum:
            - NOOP
            - MANUAL
            - WEBHOOK
            - WEBHOOK_CUSTOM
            - SCHEDULER_CRON
        username:
          type: string
          description: Username of the Executor.
        email:
          type: string
          description: Email address of the Executor.
      x-examples:
        example-executor:
          trigger_type: NOOP
          username: harness_user
          email: noreply@harness.io
    GitCreateDetails:
      title: Create Git Details
      x-stoplight:
        id: p1h9vvkuks7kq
      type: object
      description: Contains parameters related to creating an Entity for Git Experience.
      x-examples:
        example-create-git:
          branch_name: branch
          file_path: /folder/file.json
          commit_message: Added Harness Git Experience
          base_branch: old_branch
          connector_ref: git_connector
          store_type: REMOTE
          repo_name: example_repository
          is_harness_code_repo: false
      properties:
        branch_name:
          type: string
          description: Name of the branch.
        file_path:
          type: string
          description: File path of the Entity in the repository.
        commit_message:
          type: string
          description: Commit message used for the merge commit.
        base_branch:
          type: string
          description: Name of the default branch (this checks out a new branch titled by branch_name).
        connector_ref:
          type: string
          description: Identifier of the Harness Connector used for CRUD operations on the Entity.
        store_type:
          type: string
          description: Specifies whether the Entity is to be stored in Git or not.
          enum:
            - INLINE
            - REMOTE
        repo_name:
          type: string
          description: Name of the repository.
        is_harness_code_repo:
          type: boolean
          description: Is Git Experience repo harness code.
    GitUpdateDetails:
      title: Update Git Details
      x-stoplight:
        id: w2ue8wampbxe3
      type: object
      description: Contains parameters related to updating an Entity for Git Experience.
      x-examples:
        example-update-git:
          branch_name: branch
          commit_message: Added Harness Git Experience
          last_object_id: abcdXYZ
          base_branch: old_branch
          last_commit_id: abcdXYZ
          connector_ref: git_connector
          store_type: REMOTE
          repo_name: example_repository
          file_path: /folder/file.json
          is_harness_code_repo: false
      properties:
        branch_name:
          type: string
          description: Name of the branch.
        commit_message:
          type: string
          description: Commit message used for the merge commit.
        last_object_id:
          type: string
          description: Last object identifier (for Github only).
        base_branch:
          type: string
          description: Name of the default branch (this checks out a new branch titled by branch_name).
        last_commit_id:
          type: string
          description: Last commit identifier.
        connector_ref:
          type: string
          description: Identifier of the Harness Connector used for CRUD operations on the Entity.
        store_type:
          type: string
          enum:
            - INLINE
            - REMOTE
          description: Specifies whether the Entity is to be stored in Git or not.
        repo_name:
          type: string
          description: Name of the repository.
        file_path:
          type: string
        is_harness_code_repo:
          type: boolean
          description: Is Git Experience repo harness code.
    PipelineUpdateRequestBody:
      title: Pipeline Update Request Body
      x-stoplight:
        id: absy9cmawcwlh
      type: object
      description: 'Pipeline request body object '
      x-examples:
        example-pipeline:
          pipeline_yaml: |
            pipeline:
              identifier: example_pipeline
              name: ExamplePipeline
              allowStageExecutions: false
              stages:
                - stage:
                    name: Example Build Stage
                    identifier: example_build_stage
                    description: ''
                    type: Approval
                    spec:
                      execution:
                        steps:
                          - step:
                              name: Approval Step
                              identifier: Approval_Step
                              type: HarnessApproval
                              timeout: 1d
                              spec:
                                approvalMessage: |-
                                  Please review the following information
                                  and approve the pipeline progression
                                includePipelineExecutionHistory: true
                                approvers:
                                  minimumCount: 1
                                  disallowPipelineExecutor: false
                                  userGroups: <+input>
                                approverInputs: []
                          - step:
                              type: ShellScript
                              name: ShellScript Step
                              identifier: ShellScript_Step
                              spec:
                                shell: Bash
                                onDelegate: true
                                source:
                                  type: Inline
                                  spec:
                                    script: <+input>
                                environmentVariables: []
                                outputVariables: []
                                executionTarget: {}
                              timeout: 10m
                    tags: {}
                - stage:
                    name: Example Deploy Stage
                    identifier: example_deploy_stage
                    description: ''
                    type: Deployment
                    spec:
                      serviceConfig:
                        serviceRef: <+input>
                        serviceDefinition:
                          spec:
                            variables: []
                          type: Kubernetes
                      infrastructure:
                        environmentRef: <+input>
                        infrastructureDefinition:
                          type: KubernetesDirect
                          spec:
                            connectorRef: <+input>
                            namespace: <+input>
                            releaseName: release-<+INFRA_KEY>
                        allowSimultaneousDeployments: false
                      execution:
                        steps:
                          - step:
                              name: Rollout Deployment
                              identifier: rolloutDeployment
                              type: K8sRollingDeploy
                              timeout: 10m
                              spec:
                                skipDryRun: false
                        rollbackSteps:
                          - step:
                              name: Rollback Rollout Deployment
                              identifier: rollbackRolloutDeployment
                              type: K8sRollingRollback
                              timeout: 10m
                              spec: {}
                    tags: {}
                    failureStrategies:
                      - onFailure:
                          errors:
                            - AllErrors
                          action:
                            type: StageRollback
          identifier: example_pipeline
          name: ExamplePipeline
          description: Pipeline Description
          allowDynamicExecutions: false
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          git_details:
            branch_name: branch
            commit_message: Added Harness Git Experience
            last_object_id: abcdXYZ
            base_branch: old_branch
            last_commit_id: abcdXYZ
            connector_ref: git_connector
            store_type: REMOTE
            repo_name: example_repository
            is_harness_code_repo: false
      properties:
        pipeline_yaml:
          type: string
          description: Pipeline YAML (to be passed as a String)
        identifier:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Pipeline identifier
        version:
          type: string
          description: "Pipeline yaml version, should be one of '0' or '1'"
        name:
          type: string
          pattern: '^[A-Za-z_][A-Za-z0-9 _\-.]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Pipeline name
        description:
          type: string
          maxLength: 1024
          description: Pipeline description
        allowDynamicExecutions:
          type: boolean
          description: Allow dynamic executions of Pipeline
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Pipeline tags (should match the tags passed in the yaml)
        git_details:
          $ref: '#/components/schemas/GitUpdateDetails'
      required:
        - pipeline_yaml
        - identifier
        - name
    CacheResponseMetadataDTO:
      title: CacheResponseMetadataDTO
      x-stoplight:
        id: 5twby12bhyems
      type: object
      x-examples:
        example-1:
          cache_state: VALID_CACHE
          ttl_left: 9223372036854776000
          last_updated_at: 9223372036854776000
      properties:
        cache_state:
          type: string
          enum:
            - VALID_CACHE
            - STALE_CACHE
            - UNKNOWN
          description: Tells the state of cache.
        ttl_left:
          type: integer
          format: int64
          description: Time left till cache expriry.
        last_updated_at:
          type: integer
          format: int64
          description: Time when the cache was last updated at.
        is_sync_enabled:
          type: boolean
    InputSetCreateRequestBody:
      title: Input Set Create Request Body
      x-stoplight:
        id: hfnoy3get13qj
      type: object
      description: Input Set create request body
      x-examples:
        example-input-set:
          input_set_yaml: |-
            inputSet:
                pipeline:
                    identifier: Example_Pipeline
                    stages:
                        - stage:
                              identifier: Example_Stage
                              type: Approval
                              spec:
                                  execution:
                                      steps:
                                          - step:
                                                identifier: Approval_Step
                                                type: HarnessApproval
                                                spec:
                                                    approvers:
                                                        userGroups:
                                                            - account.Admins
                                          - step:
                                                identifier: Shellscript_Step
                                                type: ShellScript
                                                spec:
                                                    source:\n                                            type: Inline
                                                        spec:\n                                                script: echo "ShellScript"
                        - stage:
                              identifier: Sample_Deploy_Stage
                              type: Deployment
                              spec:
                                  serviceConfig:
                                      serviceRef: Service1
                                  infrastructure:
                                      environmentRef: Env1
                                      infrastructureDefinition:
                                          type: KubernetesDirect
                                          spec:
                                              connectorRef: account.harnessciplatform
                                              namespace: sample
          identifier: example_input_set
          name: ExampleInputSet
          description: Input Set Description
          tags:
            property1: example-tag-1-value
            property2: example-tag-2-value
          git_details:
            branch_name: branch
            file_path: /folder/file.json
            commit_message: Added Harness Git Experience
            base_branch: old_branch
            connector_ref: git_connector
            store_type: INLINE
            repo_name: example_repository
            is_harness_code_repo: false
      properties:
        input_set_yaml:
          type: string
          description: Input Set YAML (to be passed as a String).
        identifier:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Input Set identifier
        name:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Input Set name
        description:
          type: string
          maxLength: 1024
          description: Input Set description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Input Set tags
        git_details:
          $ref: '#/components/schemas/GitCreateDetails'
        version:
          type: string
          description: "Input set yaml version, should be one of '0' or '1'"
      required:
        - input_set_yaml
        - identifier
        - name
    InputSetResponseBody:
      title: Input Set Response Body
      x-stoplight:
        id: m7pdwmno1ezas
      type: object
      description: Response body for Input Set
      properties:
        input_set_yaml:
          type: string
          description: Input Set YAML (returned as a String).
        identifier:
          type: string
          description: Input Set identifier
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
        name:
          type: string
          description: Input Set name
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$'
          minLength: 1
          maxLength: 128
        org:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Organization identifier
        project:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$'
          minLength: 1
          maxLength: 128
          description: Project identifier
        pipeline:
          type: string
          description: Pipeline identifier
        version:
          type: string
          description: "Input set yaml version, should be one of '0' or '1'"
        description:
          type: string
          maxLength: 1024
          description: Input Set description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Input Set tags
        store_type:
          type: string
[...]
