openapi: 3.0.3
x-stoplight:
  id: ey9ducwgy1udv
info:
  title: Harness NextGen Software Delivery Platform API Reference
  version: '1.0'
  description: This is the Open Api Spec 3 for the IDP Service. This is under active development. Beware of the breaking change with respect to the generated code stub.
  contact:
    name: API Support
    email: contact@harness.io
    url: 'https://harness.io/'
servers:
  - url: 'https://app.harness.io'
paths:
  /v1/backstage-env-variables:
    get:
      summary: List Backstage Env Variables
      responses:
        '200':
          $ref: '#/components/responses/BackstageEnvVariableResponseList'
      operationId: get-backstage-env-variables
      description: Get all backsage env variables mapping for a given account
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
      security:
        - x-api-key: []
      x-internal: true
      tags:
        - BackstageEnvVariable
    post:
      summary: Create Backstage Environment Variable
      operationId: create-backstage-env-variable
      responses:
        '201':
          $ref: '#/components/responses/BackstageEnvVariableResponse'
      description: Creates an backstage environment variable
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/BackstageEnvVariableRequest'
      x-internal: true
      tags:
        - BackstageEnvVariable
  /v1/backstage-env-variables/sync:
    put:
      summary: Sync Backstage Environment Variables
      operationId: sync-backstage-env-variables
      description: Synchronize all backstage environment variables mapping for a given account
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      responses:
        '204':
          description: No Content
      tags:
        - BackstageEnvVariable
  '/v1/backstage-env-variables/{backstage-env-variable}':
    parameters:
      - $ref: '#/components/parameters/BackstageEnvVariable'
    get:
      summary: Get Backstage Environment Variable
      responses:
        '200':
          $ref: '#/components/responses/BackstageEnvVariableResponse'
      operationId: get-backstage-env-variable
      description: Get backstage environment variable mapping for a given backstage env variable
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      tags:
        - BackstageEnvVariable
    put:
      summary: Updates a backstage env variable
      operationId: update-backstage-env-variable
      responses:
        '200':
          $ref: '#/components/responses/BackstageEnvVariableResponse'
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/BackstageEnvVariableRequest'
      description: Updates the specified backstage env variable
      x-internal: true
      tags:
        - BackstageEnvVariable
    delete:
      summary: Deletes a backstage env variable
      operationId: delete-backstage-env-variable
      description: Deletes the requested backstage env variable
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      responses:
        '204':
          description: No Content
      tags:
        - BackstageEnvVariable
  /v1/backstage-env-variables/batch:
    post:
      summary: Creates Multiple backstage env variables
      operationId: create-backstage-env-variables
      responses:
        '201':
          $ref: '#/components/responses/BackstageEnvVariableResponseList'
      description: Creates multiple backstage env variables
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/BackstageEnvVariableBatchRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      tags:
        - BackstageEnvVariable
    put:
      summary: Updates Multiple backstage env variables
      operationId: update-backstage-env-variables
      responses:
        '200':
          $ref: '#/components/responses/BackstageEnvVariableResponseList'
      description: Updates the multiple backstage env variables specified in the request
      x-internal: true
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/BackstageEnvVariableBatchRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - BackstageEnvVariable
    delete:
      summary: Deletes Multiple backstage env variables
      operationId: delete-backstage-env-variables
      responses:
        '204':
          description: No Content
      description: Deletes the multiple backstage env variables specified in the request
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - schema:
            type: array
            default: null
            items:
              type: string
          in: query
          name: backstage-env-variable
          description: Identifier field of backstage env variable
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - BackstageEnvVariable
  /v1/backstage-env-variables/resolve:
    get:
      summary: Resolve Backstage Environment Variables
      tags:
        - BackstageEnvVariable
      responses:
        '200':
          $ref: '#/components/responses/ResolvedEnvVariableResponse'
      operationId: resolve-backstage-env-variables
      description: Returns a list of backstage env variables with their decrypted values for the given account
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Namespace'
      security:
        - x-api-key: []
  '/v1/backstage-env-variables/reload/{namespace}':
    put:
      summary: Reload backstage env variables
      operationId: reload-backstage-env-variables
      responses:
        '204':
          description: No Content
      x-stoplight:
        id: 2atylhkq79myt
      description: Reload backstage env variables
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      tags:
        - BackstageEnvVariable
    parameters:
      - $ref: '#/components/parameters/NamespacePathParam'
  /v1/backstage-permissions:
    get:
      summary: Get Backstage Permissions
      responses:
        '200':
          $ref: '#/components/responses/BackstagePermissionsResponse'
      operationId: get-backstage-permissions
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: Get all backstage permissions for a given account
      security:
        - x-api-key: []
      x-internal: true
      tags:
        - BackstagePermissions
    post:
      summary: Create backstage Permissions
      operationId: create-backstage-permissions
      responses:
        '201':
          $ref: '#/components/responses/BackstagePermissionsResponse'
      description: Creates backstage Permissions for a given account
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/BackstagePermissionsRequest'
      x-internal: true
      tags:
        - BackstagePermissions
    put:
      summary: Updates Backstage Permission
      operationId: update-backstage-permissions
      responses:
        '200':
          $ref: '#/components/responses/BackstagePermissionsResponse'
      description: Update Backstage Permission
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/BackstagePermissionsRequest'
      tags:
        - BackstagePermissions
  '/v1/status-info/{type}':
    parameters:
      - $ref: '#/components/parameters/StatusType'
    get:
      summary: Gets Status Info by type
      tags:
        - StatusInfo
      operationId: get-status-info-by-type
      description: Get status info for the given type
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/StatusInfoResponse'
      x-internal: true
    post:
      summary: Saves Status Info by type
      tags:
        - StatusInfo
      operationId: save-status-info-by-type
      responses:
        '201':
          $ref: '#/components/responses/StatusInfoResponse'
      description: Saves status info for the given type
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/StatusInfoRequest'
      x-internal: true
  /v2/status-info/{type}:
    get:
      summary: Get Status Info by type
      description: Get Status Info for the given type
      tags:
        - StatusInfoV2
      responses:
        '200':
          $ref: '#/components/responses/StatusInfoResponseV2'
      operationId: get-status-info-type-v2
      x-stoplight:
        id: g2rre6x1jk36w
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/StatusType'
      security:
        - x-api-key: []
      x-internal: true
  /v1/namespace-info:
    get:
      summary: Get Namespace Info
      responses:
        '200':
          $ref: '#/components/responses/NamespaceResponse'
      operationId: get-namespace-info
      description: Get the corresponding customer namepsace using account id.
      x-internal: true
      security:
        - x-api-key: []
      tags:
        - Namespace
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    post:
      summary: Create Namespace
      operationId: create-namespace
      description: Create Namespace from accountId
      security:
        - x-api-key: []
      x-internal: true
      responses:
        '200':
          $ref: '#/components/responses/NamespaceResponse'
      tags:
        - Namespace
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/account-info/{namespace}':
    get:
      summary: Get Account Info
      responses:
        '200':
          $ref: '#/components/responses/NamespaceResponse'
      operationId: get-account-for-namespace
      description: Get account information for given namespace
      security:
        - x-api-key: []
      tags:
        - AccountInfo
      x-internal: true
    parameters:
      - schema:
          type: string
        name: namespace
        description: Backstage Namespace
        in: path
        required: true
  /v1/provision-idp:
    post:
      summary: Provision IDP
      operationId: provision-idp
      responses:
        '200':
          $ref: '#/components/responses/NamespaceResponse'
      tags:
        - Provision
      description: Provision IDP for given account
      security:
        - x-api-key: []
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/onboarding/harness-entities:
    get:
      summary: Get Harness Entities
      operationId: get-harness-entities
      responses:
        '200':
          $ref: '#/components/responses/HarnessEntitiesResponse'
      tags:
        - OnboardingResource
      x-internal: true
      description: Get Harness Entities
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/SearchTerm'
        - schema:
            type: string
            default: null
          in: query
          name: project_to_filter
          description: This would be used to filter resources having attributes matching the project filter.
  /v1/onboarding/harness-entities-count:
    get:
      summary: Get Harness Entities Count
      operationId: get-harness-entities-count
      responses:
        '200':
          $ref: '#/components/responses/HarnessEntitiesCountResponse'
      description: Get Harness Entities Count
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - OnboardingResource
      x-internal: true
  /v1/onboarding/import-harness-entities:
    post:
      summary: Import Harness Entities to IDP
      operationId: import-harness-entities
      description: Import Harness Entities to IDP
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ImportHarnessEntitiesRequest'
      tags:
        - OnboardingResource
      responses:
        '200':
          $ref: '#/components/responses/ImportEntitiesResponse'
      x-internal: true
  /v1/layout:
    get:
      summary: List Layouts
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
      operationId: get-all-layouts
      x-internal: true
      description: Get all layouts
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - LayoutProxy
    post:
      summary: Create layout
      operationId: create-layout
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
      description: Create layout
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - LayoutProxy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoutRequest'
    delete:
      summary: Delete layout
      operationId: delete-layout
      responses:
        '204':
          description: No Content
      description: Delete layout
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - LayoutProxy
      requestBody:
        $ref: '#/components/requestBodies/LayoutRequest'
  '/v1/layout/{layout-identifier}':
    get:
      summary: Get layout
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
      operationId: get-layout
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - LayoutProxy
      description: Get Layout
      x-internal: true
    parameters:
      - $ref: '#/components/parameters/LayoutIdentifier'
  /v1/layout/health:
    get:
      summary: Get Layout Health
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
      operationId: get-layout-health
      description: Get Layout Health
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - LayoutProxy
  '/v1/plugin-toggle/{plugin-id}':
    post:
      summary: Toggle Plugin
      operationId: toggle-plugin-for-account
      description: Toggle Backstage Plugin
      responses:
        '200':
          $ref: '#/components/responses/AppConfigResponse'
      parameters:
        - schema:
            type: string
          in: header
          name: Harness-Account
          description: 'Identifier field of the account the resource is scoped to.'
        - $ref: '#/components/parameters/PluginName'
        - $ref: '#/components/parameters/Enabled'
      security:
        - x-api-key: []
      tags:
        - AppConfig
      x-internal: false
    parameters:
      - $ref: '#/components/parameters/PluginId'
  /v1/plugins-info:
    get:
      summary: List Available Plugins
      tags:
        - PluginInfo
      responses:
        '200':
          $ref: '#/components/responses/PluginInfoResponseList'
      operationId: get-plugins
      description: Get all plugins available
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: false
    post:
      summary: Save custom plugin info
      operationId: save-custom-plugins-info
      responses:
        '201':
          $ref: '#/components/responses/CustomPluginInfoResponse'
      x-stoplight:
        id: t4vsvfeuf169r
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/CustomPluginCreateRequest'
      tags:
        - PluginInfo
  '/v1/plugins-info/{plugin-id}':
    get:
      summary: Get Plugin
      tags:
        - PluginInfo
      responses:
        '200':
          $ref: '#/components/responses/PluginDetailedInfoResponse'
      operationId: get-plugins-info-plugin-id
      description: Get plugin details for given pluginId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Meta'
      x-internal: false
    put:
      summary: Update custom plugin info
      operationId: update-custom-plugins-info
      responses:
        '200':
          $ref: '#/components/responses/CustomPluginInfoResponse'
      x-stoplight:
        id: jt3xnyhpgnfe9
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/CustomPluginInfoRequest'
      tags:
        - PluginInfo
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
    parameters:
      - $ref: '#/components/parameters/PluginId'
    delete:
      summary: Delete custom plugin info
      operationId: delete-custom-plugin-info
      responses:
        '204':
          description: No Content
      x-stoplight:
        id: 1brpcp6chep0j
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/PluginName'
      tags:
        - PluginInfo
  /v1/app-config:
    post:
      summary: Save Or Update Plugin Config
      operationId: save-or-update-plugin-app-config
      description: Save or Update Plugin Config
      responses:
        '200':
          $ref: '#/components/responses/AppConfigResponse'
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/AppConfigRequest'
      x-internal: false
      tags:
        - AppConfig
  /v1/connectors-info:
    get:
      summary: List Connectors Info
      tags:
        - ConnectorInfo
      responses:
        '200':
          $ref: '#/components/responses/ConnectorInfoResponseList'
      operationId: get-connectors-info
      description: Get all connectors info
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
  /v1/connector-info:
    get:
      summary: Get Connector Info
      tags:
        - ConnectorInfo
      operationId: get-connector-info
      responses:
        '200':
          $ref: '#/components/responses/ConnectorInfoResponse'
      description: Get Connector Info
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: false
    post:
      summary: Create or Update Connector Info
      tags:
        - ConnectorInfo
      operationId: save-connector-info
      responses:
        '201':
          $ref: '#/components/responses/ConnectorInfoResponse'
      description: Create or update connector info
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ConnectorInfoRequest'
      x-internal: false
  '/v1/connector-info/{provider-type}':
    get:
      summary: Get Connector Info by Provider Type
      tags:
        - ConnectorInfo
      responses:
        '200':
          $ref: '#/components/responses/ConnectorInfoResponse'
      operationId: get-connector-info-by-providerType
      description: Get connector info by connector provider type
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ProviderType'
      x-internal: false
  /v1/merged-plugins-config:
    get:
      summary: Retrieve Merged Config for Enabled Plugins.
      responses:
        '200':
          $ref: '#/components/responses/MergedPluginConfigResponse'
      operationId: get-merged-plugins-config
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      description: API for retriving merged configs for enabled plugin of account.
      tags:
        - MergedPluginsConfig
  /v1/backstage-plugins-info:
    get:
      summary: List Available Backstage Plugins
      tags:
        - PluginInfo
      responses:
        '200':
          $ref: '#/components/responses/PluginInfoResponseList'
      operationId: get-backstage-plugins
      description: Get all backstage plugins available
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
  /v1/plugin/request:
    post:
      summary: Request for a Plugin
      operationId: post-plugin-request
      responses:
        '201':
          description: Created
      tags:
        - PluginInfo
      description: Request for a Plugin
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/RequestPluginRequest'
    get:
      summary: Get all plugin requests for an account
      operationId: get-plugin-request
      responses:
        '200':
          $ref: '#/components/responses/PluginRequestResponseList'
      tags:
        - PluginInfo
      x-internal: false
      description: Get all plugin requests for an account
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
  /v1/layout/ingest:
    post:
      summary: Ingest plugin layout
      operationId: layout-ingest
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
      tags:
        - LayoutProxy
      description: Ingest plugin layout
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoutIngestRequest'
  /v1/sync-app-config:
    put:
      summary: Sync merged app-config for a given account
      operationId: sync-app-config
      responses:
        '204':
          description: No Content
      description: API to sync app-config for a given account. This API can be accessed by Support User only.
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: boolean
            default: false
          in: query
          name: base_config
          description: Set true to sync base app-config too
      tags:
        - MergedPluginsConfig
  /v1/onboarding/generate-yaml:
    post:
      summary: Generate YAML Definition for entity
      operationId: onboarding-generate-yaml
      responses:
        '200':
          $ref: '#/components/responses/GenerateYamlResponse'
      tags:
        - OnboardingResource
      x-internal: true
      description: Generate YAML Definition for entity
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/GenerateYamlRequest'
  '/v1/auth-info/{auth-id}':
    get:
      summary: Get Auth Info
      tags:
        - AuthInfo
      responses:
        '200':
          $ref: '#/components/responses/AuthInfoResponse'
      operationId: get-auth-info-auth-id
      description: Get auth details for given authId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/AuthId'
      x-internal: true
    post:
      summary: Save Auth Info
      tags:
        - AuthInfo
      operationId: save-auth-info-auth-id
      responses:
        '201':
          $ref: '#/components/responses/BackstageEnvVariableResponseList'
      description: Save auth details for given authId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/AuthId'
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackstageEnvVariableBatchRequest'
  /v1/allow-list:
    get:
      summary: Get backend url allow list
      tags:
        - AllowList
      responses:
        '200':
          $ref: '#/components/responses/AllowListResponse'
      operationId: get-allow-list
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      description: Get backend url allow list
    post:
      summary: Save backend url allow list
      description: Save backend url allow list
      tags:
        - AllowList
      operationId: save-allow-list
      responses:
        '201':
          $ref: '#/components/responses/AllowListResponse'
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllowListRequest'
        description: Save backend url allow list
  /v1/configuration-entities:
    put:
      summary: Updates entities present in the configuration screen
      operationId: update-configuration-entities
      responses:
        '200':
          $ref: '#/components/responses/ConfigurationEntitiesResponse'
      description: Updates entities present in the configuration screen
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ConfigurationEntitiesRequest'
      x-internal: true
      tags:
        - MergedPluginsConfig
      x-stoplight:
        id: 67gwj4u4mz6nb
  /v1/data-sources:
    get:
      summary: Get Datasources Present In Account
      tags:
        - DataSource
      responses:
        '200':
          $ref: '#/components/responses/DataSourcesResponse'
      operationId: get-all-datasources-for-account
      x-stoplight:
        id: vdsu1dzt8t3tz
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: API for getting all the datasources present in account.
      x-internal: false
      security:
        - x-api-key: []
  '/v1/data-sources/{data-source}/datapoints':
    parameters:
      - schema:
          type: string
        name: data-source
        in: path
        required: true
        description: Identifier for datasource
    get:
      summary: Get DataPoints present in DataSources for an account
      tags:
        - DataSource
      responses:
        '200':
          $ref: '#/components/responses/DatapointResponse'
      operationId: get-data-points-for-data-source
      x-stoplight:
        id: aogrjef7pusxj
      description: Get DataPoints Present in DataSources
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/scores/summary:
    get:
      summary: Get Score Summary for Scorecards
      responses:
        '200':
          $ref: '#/components/responses/ScorecardSummaryInfoResponse'
      operationId: get-all-scorecard-summary
      x-stoplight:
        id: 6hoo6kwpvy1p8
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/EntityIdentifier'
      x-internal: false
      tags:
        - Scores
    parameters: []
  /v1/scores:
    get:
      summary: Get Scores for Scorecards
      responses:
        '200':
          $ref: '#/components/responses/ScorecardScoreResponse'
      operationId: get-scorecards-scores-overview
      x-stoplight:
        id: lpnl6xzlj655z
      security:
        - x-api-key: []
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/EntityIdentifier'
      tags:
        - Scores
    parameters: []
  /v1/scores/aggregate:
    post:
      summary: Get Aggregated Scores for Catalog entities
      responses:
        '200':
          $ref: '#/components/responses/EntityScoresResponseList'
      operationId: get-aggregated-scores
      x-stoplight:
        id: i14tbedz1cc8u
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScorecardFilter'
      x-internal: false
      tags:
        - Scores
  /v1/scores/graph:
    get:
      summary: Get Data for check status for graph
      responses:
        '200':
          $ref: '#/components/responses/ScorecardGraphSummaryResponse'
      operationId: get-scorecards-graphs-score-summary
      x-stoplight:
        id: 8pd67sxvs7wwe
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/EntityIdentifier'
        - schema:
            type: string
            default: null
          in: query
          name: scorecard_identifier
          description: 'Identifier for scorecard '
      security:
        - x-api-key: []
      tags:
        - Scores
    parameters: []
  /v1/scores/recalibrate:
    parameters: []
    post:
      summary: Trigger recalibration of scores for a scorecard
      operationId: scorecard-recalibrate
      responses:
        '200':
          $ref: '#/components/responses/ScorecardRecalibrateResponse'
      x-stoplight:
        id: 3px6djmawemwv
      description: API for Recalibrating the score for scorecard of entity
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ScorecardRecalibrateRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      tags:
        - Scores
  /v1/checks:
    get:
      summary: Get all checks available
      parameters:
        - $ref: '#/components/parameters/CheckType'
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/SearchTerm'
      tags:
        - Checks
      x-stoplight:
        id: fybtgv0otf34d
      operationId: get-checks
      description: Get all checks available
      x-internal: false
      security:
        - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/CheckResponseList'
    post:
      summary: Create a custom check
      tags:
        - Checks
      operationId: create-check
      responses:
        '201':
          $ref: '#/components/responses/DefaultSaveResponse'
      x-stoplight:
        id: pzk9h0n0suta2
      description: Create a custom check
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckDetailsRequest'
      x-internal: false
  '/v1/checks/{check-id}':
    get:
      summary: Get check details for given checkId
      tags:
        - Checks
      responses:
        '200':
          $ref: '#/components/responses/CheckDetailsResponse'
      operationId: get-check
      x-stoplight:
        id: 7n0j23984d2ep
      description: Get check details for given checkId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/CheckIdentifier'
        - $ref: '#/components/parameters/CheckType'
      x-internal: false
    put:
      summary: Update check details for given checkId
      tags:
        - Checks
      operationId: update-check
      responses:
        '200':
          $ref: '#/components/responses/DefaultSaveResponse'
      x-stoplight:
        id: e6w24mxeru0p6
      description: Update check details for given checkId
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/CheckIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckDetailsRequest'
    delete:
      summary: Delete check details for given checkId
      operationId: delete-check
      description: Delete check details for given checkId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/CheckIdentifier'
        - $ref: '#/components/parameters/ForceDelete'
      x-internal: false
      responses:
        '204':
          description: No Content
      tags:
        - Checks
      x-stoplight:
        id: pgtm5cqq7zqmt
  '/v1/checks/{check-id}/stats':
    get:
      summary: Get check stats for given checkId
      tags:
        - Checks
      responses:
        '200':
          $ref: '#/components/responses/CheckStatsResponse'
      operationId: get-check-stats
      x-stoplight:
        id: x6f6yi2hkheeh
      description: Get check stats for given checkId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/CheckIdentifier'
        - $ref: '#/components/parameters/CheckType'
  '/v1/checks/{check-id}/graph':
    get:
      summary: Get check graph data for given checkId
      tags:
        - Checks
      responses:
        '200':
          $ref: '#/components/responses/CheckGraphResponse'
      operationId: get-check-graph
      x-stoplight:
        id: x6f6yi2hkheeh
      description: Get check graph data for given checkId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/CheckIdentifier'
        - $ref: '#/components/parameters/CheckType'
  /v1/scorecards:
    get:
      summary: Get all scorecards available
      tags:
        - Scorecards
      responses:
        '200':
          $ref: '#/components/responses/ScorecardResponseList'
      operationId: get-scorecards
      x-stoplight:
        id: sd1pqx1g9pu0o
      description: Get all scorecards available
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    post:
      summary: Create scorecard
      tags:
        - Scorecards
      operationId: create-scorecard
      responses:
        '201':
          $ref: '#/components/responses/DefaultSaveResponse'
      x-stoplight:
        id: 7ky7v205witp4
      description: Create scorecard
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScorecardDetailsRequest'
      x-internal: false
  '/v1/scorecards/{scorecard-id}':
    get:
      summary: Get scorecard details for given scorecardId
      tags:
        - Scorecards
      responses:
        '200':
          $ref: '#/components/responses/ScorecardDetailsResponse'
      operationId: get-scorecard
      description: Get scorecard details for given scorecardId
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ScorecardIdentifier'
      x-stoplight:
        id: 7q992jg8e5lre
    put:
      summary: Update scorecard details for given scorecardId
      tags:
        - Scorecards
      operationId: update-scorecard
      responses:
        '200':
          $ref: '#/components/responses/DefaultSaveResponse'
      x-stoplight:
        id: zfrmn6vx8zk2x
      description: Update scorecard details for given scorecardId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ScorecardIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScorecardDetailsRequest'
      x-internal: false
    delete:
      summary: Delete scorecard details for given scorecardId
      operationId: delete-scorecard
      description: Delete scorecard details for given scorecardId
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ScorecardIdentifier'
      x-internal: false
      responses:
        '204':
          description: No Content
      tags:
        - Scorecards
      x-stoplight:
        id: t4gtsw95rgoh8
  '/v1/scorecards/{scorecard-id}/stats':
    get:
      summary: Get scorecard stats for given scorecardId
      tags:
        - Scorecards
      responses:
        '200':
          $ref: '#/components/responses/ScorecardStatsResponse'
      operationId: get-scorecard-stats
      x-stoplight:
        id: y6e6yo2hkheeh
      description: Get scorecard stats for given scorecardId
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ScorecardIdentifier'
  /v1/entity-facets:
    get:
      summary: Get all entity facets for given kind
      tags:
        - Scorecards
      responses:
        '200':
          $ref: '#/components/responses/FacetsResponse'
      operationId: get-entity-facets
      x-stoplight:
        id: 8fjdnw2gtfpr7
      description: Get all entity facets for given kind
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/CatalogKind'
  /v1/data-sources/harness/data-point/values:
    parameters: []
    post:
      summary: Get data points data for harness data source
      operationId: get-harness-data-point-values
      responses:
        '200':
          $ref: '#/components/responses/DataSourceDataPointInfoResponse'
      x-stoplight:
        id: fv69lcewj02rp
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/DataSourceDataPointInfoRequest'
      x-internal: true
      tags:
        - HarnessDataPoints
  /v1/data-sources/data-points/map:
    get:
      summary: Get Data Sources and Data Points Map for Account
      tags:
        - DataSource
      responses:
        '200':
          $ref: '#/components/responses/DataSourceDataPointsMapResponse'
      operationId: get-data-sources-data-points-map
      x-stoplight:
        id: hxskmevkt524r
      description: API for getting the map of data sources and data points for account
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/data-sources/kubernetes/data-point/values:
    post:
      summary: Get data points data for kubernetes data source
      operationId: get-k8s-data-point-values
      tags:
        - KubernetesDataPoints
      responses:
        '200':
          $ref: '#/components/responses/DataSourceDataPointInfoResponse'
      x-stoplight:
        id: 9fg71j8suvpxn
      requestBody:
        $ref: '#/components/requestBodies/KubernetesConfigRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
  /v1/data-sources/scm/data-point/values:
    post:
      summary: Get data points data for scm data source
      operationId: get-scm-data-point-values
      tags:
        - ScmDataPoints
      responses:
        '200':
          $ref: '#/components/responses/DataSourceDataPointInfoResponse'
      x-stoplight:
        id: 9fi72j8suwpyn
      requestBody:
        $ref: '#/components/requestBodies/ScmConfigRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
  /v1/license/usage/save:
    post:
      summary: Save IDP module license usage
      operationId: idp-license-usage-save
      responses:
        '200':
          $ref: '#/components/responses/LicenseUsageSaveResponse'
      x-stoplight:
        id: 7ptx9noskc4vz
      x-internal: true
      description: Save IDP module license usage
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - LicenseUsageResource
      requestBody:
        $ref: '#/components/requestBodies/LicenseUsageSaveRequest'
  /v2/scores/recalibrate:
    post:
      summary: Trigger recalibration of scores for a scorecard
      operationId: scorecard-recalibrate-v2
      responses:
        '202':
          $ref: '#/components/responses/ScorecardRecalibrateResponseV2'
      x-stoplight:
        id: 7bibsplzghpox
      description: API for triggering score recalibration for a scorecard
      tags:
        - ScoresV2
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ScorecardRecalibrateRequest'
      x-internal: true
  /v1/scores/recalibrate/status:
    get:
      summary: Get score recalibration status
      tags:
        - Scores
      responses:
        '200':
          $ref: '#/components/responses/ScorecardRecalibrateResponseV2'
      operationId: get-scores-recalibrate-status
      x-stoplight:
        id: 2qlp5rle9cmv8
      description: Get status of score computation request
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ScorecardRecalibrateRequest'
      x-internal: true
    parameters: []
  /v1/aggregation-rules:
    get:
      summary: Get all aggregation rules
      tags:
        - AggregationRules
      responses:
        '200':
          $ref: '#/components/responses/AggregationRuleResponseList'
      operationId: get-aggregation-rules
      description: List aggregation rules
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/SearchTerm'
    post:
      summary: Create an aggregation rule
      tags:
        - AggregationRules
      operationId: create-aggregation-rule
      responses:
        '201':
          $ref: '#/components/responses/AggregationRuleDetailsResponse'
      description: Create an aggregation rule
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AggregationRuleDetailsRequest'
  '/v1/aggregation-rules/{aggregation-rule-id}':
    get:
      summary: Get an aggregation rule
      tags:
        - AggregationRules
      responses:
        '200':
          $ref: '#/components/responses/AggregationRuleDetailsResponse'
      operationId: get-aggregation-rule
      description: Get an aggregation rule
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/AggregationRuleIdentifier'
    put:
      summary: Update an aggregation rule
      tags:
        - AggregationRules
      operationId: update-aggregation-rule
      responses:
        '200':
          $ref: '#/components/responses/DefaultSaveResponse'
      description: Update an aggregation rule
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/AggregationRuleIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AggregationRuleDetailsRequest'
    delete:
      summary: Delete an aggregation rule
      tags:
        - AggregationRules
      operationId: delete-aggregation-rule
      description: Delete an aggregation rule
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/AggregationRuleIdentifier'
        - $ref: '#/components/parameters/ForceDelete'
      responses:
        '204':
          description: No Content
      x-internal: false
  /v1/aggregation-rules/review:
    post:
      summary: Review aggregation computation targets
      tags:
        - AggregationRules
      operationId: review-aggregation-rules
      description: Resolve platform entities that will contain the aggregated values
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AggregationSelectionReviewRequest'
      responses:
        '200':
          $ref: '#/components/responses/AggregationSelectionReviewResponse'
  '/v1/aggregation-rules/{aggregation-rule-id}/compute':
    post:
      summary: Trigger computation for an aggregation rule
      tags:
        - AggregationRules
      operationId: trigger-aggregation-rule-computation
      description: 'Trigger computation for a rule. If a computation is already running for the rule, the request is rejected.'
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/AggregationRuleIdentifier'
      responses:
        '200':
          description: Computation triggered successfully
  /v1/backstage-harness/sync:
    post:
      summary: Sync Backstage Entities as Harness Entities for all IDP enabled accounts
      tags:
        - BackstageHarness
      responses:
        '200':
          $ref: '#/components/responses/BackstageHarnessSyncEntitiesResponse'
      operationId: backstage-harness-sync-all-accounts
      description: Syncs Backstage Entities as Harness Entities for all IDP enabled accounts
      x-internal: true
      security:
        - x-api-key: []
  /v1/backstage-harness/sync/for-account:
    post:
      summary: Sync Backstage Entities as Harness Entities for given account
      tags:
        - BackstageHarness
      responses:
        '200':
          $ref: '#/components/responses/BackstageHarnessSyncEntitiesResponse'
      operationId: backstage-harness-sync-for-account
      description: Syncs Backstage Entities as Harness Entities for given account
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/backstage-harness/sync/for-entity:
    post:
      summary: Sync Backstage entity as Harness entity for given account and entity with specified action and sync mode
      tags:
        - BackstageHarness
      requestBody:
        $ref: '#/components/requestBodies/BackstageHarnessSyncRequest'
      responses:
        '200':
          $ref: '#/components/responses/BackstageHarnessSyncEntitiesResponse'
      operationId: backstage-harness-sync-for-account-entity
      description: Sync Backstage entity as Harness entity for given account and entity with specified action and sync mode
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/catalog/custom-properties:
    post:
      summary: Ingest catalog custom properties
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyByFieldResponse'
      operationId: ingest-catalog-custom-properties
      x-stoplight:
        id: 3eczjage6lz9a
      x-internal: false
      description: Ingest catalog custom properties
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyFilterRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyFilterRequest'
    parameters: []
    delete:
      summary: Delete catalog custom properties
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyDeleteByFieldResponse'
      operationId: delete-catalog-custom-properties
      x-stoplight:
        id: vb71p39cmv358
      description: Delete catalog custom properties
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyFilterDeleteRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyFilterDeleteRequest'
  /v1/catalog/custom-properties/entity:
    get:
      summary: Get catalog custom properties for given entity
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyByEntityGetResponse'
      operationId: get-catalog-custom-properties-by-entity
      x-stoplight:
        id: 3edqlaqe8lz9b
      x-internal: false
      description: Get catalog custom properties for given entity
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/EntityRef'
    post:
      summary: Ingest catalog custom properties for given entity
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyResponse'
      operationId: ingest-catalog-custom-properties-by-entity
      x-stoplight:
        id: 3eczoaje6lz0g
      x-internal: false
      description: Ingest catalog custom properties for given entity
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyByEntityRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyByEntityRequest'
    delete:
      summary: Delete catalog custom properties for given entity
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyResponse'
      operationId: delete-catalog-custom-properties-by-entity
      x-stoplight:
        id: vb71p39dmz358
      description: Delete catalog custom properties for given entity
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyByEntityDeleteRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyByEntityDeleteRequest'
  /v1/catalog/custom-properties/property:
    get:
      summary: Get entities for given custom property
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyByFieldGetResponse'
      operationId: get-entities-by-catalog-custom-property
      x-stoplight:
        id: 3edljble6lz9a
      x-internal: false
      description: Get entities for given custom property
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Property'
    post:
      summary: Ingest entities for given custom property
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyResponse'
      operationId: ingest-entities-by-catalog-custom-property
      x-stoplight:
        id: 3eczoaje6lz0g
      x-internal: false
      description: Ingest entities for given custom property
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyByFieldRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyByFieldRequest'
    delete:
      summary: Delete entities for given custom property
      tags:
        - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyResponse'
      operationId: delete-entities-by-catalog-custom-property
      x-stoplight:
        id: vb71p39dmz358
      description: Delete entities for given custom property
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyByFieldDeleteRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyByFieldDeleteRequest'
  '/v1/groups/{group-identifier}':
    get:
      summary: Get Group Details
      responses:
        '200':
          $ref: '#/components/responses/GroupResponse'
      operationId: get-group-details
      x-stoplight:
        id: nby8lq3g0vg27
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: false
      tags:
        - Groups
      security:
        - x-api-key: [ ]
    parameters:
      - schema:
          type: string
        name: group-identifier
        in: path
        required: true
    delete:
      summary: Delete a group
      responses:
        '204':
          description: No Content
      operationId: delete-group
      x-stoplight:
        id: up9xj9134iolf
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: false
      tags:
        - Groups
      security:
        - x-api-key: [ ]
  /v1/groups:
    get:
      summary: Get all groups for account
      responses:
        '200':
          $ref: '#/components/responses/GroupResponseList'
      operationId: get-all-groups-for-account
      x-stoplight:
        id: qi2aylcdl7t09
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Groups
      security:
        - x-api-key: [ ]
    post:
      summary: Save a group
      responses:
        '200':
          $ref: '#/components/responses/GroupResponse'
      operationId: save-group
      x-stoplight:
        id: c6hf0g9o84pnc
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/GroupRequest'
      x-internal: false
      tags:
        - Groups
      security:
        - x-api-key: [ ]
    put:
      summary: Update Groups
      responses:
        '200':
          $ref: '#/components/responses/GroupResponseList'
      operationId: update-groups
      x-stoplight:
        id: eaxiri07lz2kj
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/GroupRequestList'
      tags:
        - Groups
      security:
        - x-api-key: [ ]
    parameters: []
  /v1/groups/yaml:
    get:
      summary: Get Groups Yaml
      responses:
        '200':
          $ref: '#/components/responses/GroupsYamlResponse'
      operationId: get-groups-yaml
      x-stoplight:
        id: wbu7fk4liwa52
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Groups
      security:
        - x-api-key: [ ]
    parameters: []
  /v1/groups/workflows:
    get:
      summary: Get workflows for account
      tags:
        - Groups
      security:
        - x-api-key: [ ]
      responses:
        '200':
          $ref: '#/components/responses/WorkflowsInfoResponse'
      operationId: get-workflows-for-account
      x-stoplight:
        id: czv3pmqlvtng4
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
    parameters: []
  /v1/home-page-layout:
    get:
      summary: Get Home Page Layout Details
      tags:
        - HomePageLayout
      security:
        - x-api-key: [ ]
      responses:
        '200':
          $ref: '#/components/responses/HomePageLayoutResponse'
      operationId: get-home-page-layout-info
      x-stoplight:
        id: 5qz0to5vb79zr
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    post:
      summary: Save Home Page Layout Details
      responses:
        '200':
          $ref: '#/components/responses/HomePageLayoutResponse'
      operationId: save-home-page-layout-info
      x-stoplight:
        id: n3iaiocyjv0kh
      x-internal: false
      requestBody:
        $ref: '#/components/requestBodies/HomePageLayoutRequest'
      tags:
        - HomePageLayout
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/home-page-layout/yaml:
    get:
      summary: Get yaml for home page layout
      tags:
        - HomePageLayout
      security:
        - x-api-key: [ ]
      responses:
        '200':
          $ref: '#/components/responses/HomePageLayoutYamlResponse'
      operationId: get-yaml-for-home-page-layout
      x-stoplight:
        id: 1zne0xmh0mj6o
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/home-page-layout/custom-card/{card-identifier}/quick-links/{quick-link-identifier}/icon':
    parameters:
      - schema:
          type: string
        name: card-identifier
        in: path
        required: true
      - schema:
          type: string
        name: quick-link-identifier
        in: path
        required: true
    delete:
      summary: Delete custom link card quick links icon
      tags:
        - HomePageLayout
      security:
        - x-api-key: [ ]
      responses:
        '204':
          description: No Content
      operationId: delete-custom-link-card-quick-links
      x-stoplight:
        id: hovwmpqwogep9
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/home-page-layout/header/quick-links/{quick-link-identifier}/icon':
    parameters:
      - schema:
          type: string
        name: quick-link-identifier
        in: path
        required: true
    delete:
      summary: Delete header quick links icon
      tags:
        - HomePageLayout
      security:
        - x-api-key: [ ]
      responses:
        '204':
          description: No Content
      operationId: delete-headers-quick-links-icon
      x-stoplight:
        id: 12si1vwf5qnvv
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/home-page-layout/card/{card-identifier}/icon':
    parameters:
      - schema:
          type: string
        name: card-identifier
        in: path
        required: true
    delete:
      summary: Delete card icon
      tags:
        - HomePageLayout
      security:
        - x-api-key: [ ]
      responses:
        '204':
          description: No Content
      operationId: delete-home-page-layout-cards-icon
      x-stoplight:
        id: wgvh8oyencivj
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/home-page-layout/icon:
    delete:
      summary: Delete homepage layout icon
      tags:
        - HomePageLayout
      security:
        - x-api-key: [ ]
      responses:
        '204':
          description: No Content
      operationId: delete-home-page-layout-icon
      x-stoplight:
        id: f7kbixtn6dju0
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/DeleteHomePageLayoutIconRequest'
  '/v1/entities':
    post:
      operationId: create-entity
      summary: Create an Entity
      description: >-
        Creates a new Entity in the specified scope (Account, Organization, or Project). 
        Entities are the core components of the catalog system and can represent various 
        resources such as services, APIs, user groups, and more. Each entity has a specific 
        kind and type that defines its purpose in the system.
      tags:
        - Entities
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/OrgIdentifierQueryParam'
        - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
        - $ref: '#/components/parameters/AccountHeader'
        - name: convert
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: 'When set to true, converts Backstage style YAML to Harness entity YAML format'
        - name: dry_run
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: 'When set to true, validates the entity creation without actually creating it'
      requestBody:
        $ref: '#/components/requestBodies/EntityCreateRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/EntityResponseBody'
          description: Entity successfully created
    get:
      operationId: get-entities
      summary: Get Entities
      description: >-
        Retrieves a paginated list of Entities based on the provided filters. 
        This endpoint supports comprehensive filtering options to help you find 
        specific entities across different scopes, kinds, and other properties.
        The response includes pagination metadata and counts for owned and favorite entities.
        
        When a search returns no matching entities, the API returns a 200 status code with an empty
        data array. This is the expected behavior for this list API. Note that 400 status codes are
        only returned when a specific entity is requested and not found (e.g., in the Get Entity Details endpoint).
      tags:
        - Entities
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/LimitWithRestriction'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/SearchTerm'
        - name: scopes
          description: 'Filter entities by specific scopes (account.\*, account, account.org, account.org.project, account.orgId, account.orgId.projectId, account.orgId.\*)'
          in: query
          schema:
            type: string
            default: null
        - name: entity_refs
          description: 'Filter entities by their entity references (comma-separated list in the format of kind:scope/identifier)'
          in: query
          schema:
            type: string
            default: null
        - name: owned_by_me
          description: 'When true, returns only entities owned by the current user or their groups'
          in: query
          schema:
            type: boolean
            default: false
        - name: favorites
          description: When true, returns only entities marked as favorites by the current user
          in: query
          schema:
            type: boolean
            default: false
        - $ref: '#/components/parameters/KindQueryParam'
        - name: type
          description: 'Filter entities by their type (e.g., Service, Website)'
          in: query
          schema:
            type: string
            default: null
        - name: owner
          description: 'Filter entities by their owner references'
          in: query
          schema:
            type: string
            default: null
        - name: lifecycle
          description: 'Filter entities by their lifecycle stage (e.g., experimental, production)'
          in: query
          schema:
            type: string
            default: null
        - name: tags
          description: 'Filter entities by their associated tags (comma-separated list)'
          in: query
          schema:
            type: string
            default: null
      responses:
        '200':
          $ref: '#/components/responses/EntityResponseBodyList'
          description: Paginated list of entities matching the filter criteria with pagination metadata in headers (X-Total-Elements, X-Page-Number, X-Page-Size) and ownership counts (Total-Owned, Total-Starred)
  /v1/entities/by-refs:
    post:
      summary: Get entities by refs
      description: >-
        Fetches entities matching the entity references specified in the request body, in conjunction with other provided filters.
      tags:
        - Entities
      responses:
        '200':
          $ref: '#/components/responses/EntityResponseBodyList'
      operationId: get-entities-by-refs
      x-stoplight:
        id: yztu80rla7s8m
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/LimitWithRestriction'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/SearchTerm'
        - name: scopes
          description: Filter entities on the scopes
          in: query
          schema:
            type: string
            default: null
        - name: owned_by_me
          description: Filter entities owned by the user and the groups that the user is part of.
          in: query
          schema:
            type: boolean
            default: false
        - name: favorites
          description: Filter entities that are marked as favorites for the user.
          in: query
          schema:
            type: boolean
            default: false
        - $ref: '#/components/parameters/KindQueryParam'
        - name: type
          description: Types on which the Entities are filtered.
          in: query
          schema:
            type: string
            default: null
        - name: owner
          description: Owners on which the Entities are filtered.
          in: query
          schema:
            type: string
            default: null
        - name: lifecycle
          description: Lifecycles on which the Entities are filtered.
          in: query
          schema:
            type: string
            default: null
        - name: tags
          description: Tags on which the Entities are filtered.
          in: query
          schema:
            type: string
            default: null
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/EntitesByRefsRequest'
  /v1/entities/import:
    post:
      operationId: import-entity
      summary: Import an Entity from Git
      description: >-
        Imports a new Entity from Git in the specified scope (Account, Organization, or Project).
      tags:
        - Entities
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/OrgIdentifierQueryParam'
        - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/GitImportRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/EntityResponseBody'
  '/v1/entities/groups':
    get:
      operationId: get-entities-groups
      x-internal: true
      summary: Get Entities Groups
      description: >-
        Retrieves entities organized in hierarchical groups based on account, organization, 
        and project. This endpoint is useful for displaying entities in a structured UI view
        where entities need to be presented in their organizational context. The response contains
        both grouped and ungrouped entities at each level.
      tags:
        - Entities
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: search_on_entities
          in: query
          required: false
          schema:
            type: string
            default: null
          description: Filter entities by a search term across entity attributes
        - name: search_on_groups
          in: query
          required: false
          schema:
            type: string
            default: null
          description: Filter groups by a search term across group attributes
        - name: scopes
          description: 'Filter entities by specific scopes (account.\*, account, account.org, account.org.project, account.orgId, account.orgId.projectId, account.orgId.\*)'
          in: query
          schema:
            type: string
            default: null
        - $ref: '#/components/parameters/KindQueryParam'
        - name: owned_by_me
          description: When true, returns only entities owned by the current user and their groups
          in: query
          schema:
            type: boolean
            default: false
        - name: favorites
          description: When true, returns only entities marked as favorites by the current user
          in: query
          schema:
            type: boolean
            default: false
        - name: type
          description: Filter entities by their type
          in: query
          schema:
            type: string
            default: null
        - name: owner
          description: Filter entities by their owner references
          in: query
          schema:
            type: string
            default: null
        - name: lifecycle
          description: Filter entities by their lifecycle stage
          in: query
          schema:
            type: string
            default: null
        - name: tags
          description: Filter entities by their associated tags
          in: query
          schema:
            type: string
            default: null
      responses:
        '200':
          $ref: '#/components/responses/EntitiesGroupsResponseBody'
          description: Entities grouped by organization and project
  /v1/entities/move/{scope}/{kind}/{identifier}:
    post:
      operationId: move-entity
      summary: Move an Entity
      description: >-
        Move an existing Inline entity to Remote.
      tags:
        - Entities
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/OrgIdentifierQueryParam'
        - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
        - $ref: '#/components/parameters/ScopeParam'
        - $ref: '#/components/parameters/KindParam'
        - $ref: '#/components/parameters/IdentifierParam'
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/EntityMoveRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/DefaultSaveResponse'
  /v1/entities/git-metadata/{scope}/{kind}/{identifier}:
    put:
      summary: Update GitMetadata for Remote Entities
      operationId: update-git-metadata
      description: Update GitMetadata for Remote Entities
      responses:
        '200':
          $ref: '#/components/responses/DefaultSaveResponse'
      requestBody:
        $ref: '#/components/requestBodies/GitMetadataUpdateRequestBody'
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/OrgIdentifierQueryParam'
        - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
        - $ref: '#/components/parameters/ScopeParam'
        - $ref: '#/components/parameters/KindParam'
        - $ref: '#/components/parameters/IdentifierParam'
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Entities
      x-stoplight:
        id: 2uv1mspdrbzvj
  '/v1/entities/convert/{option}':
    post:
      operationId: convert-entity
      summary: Convert Entity Format
      description: >-
        Converts entity YAML between Backstage and Harness formats. This is useful when 
        migrating entities between systems or when standardizing entity definitions
        across different platforms. The conversion preserves all semantic information
        while adapting to the target format conventions.
      tags:
        - Entities
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - name: option
          in: path
          required: true
          schema:
            type: string
            enum:
              - backstage-to-harness
              - harness-to-backstage
          description: 'Conversion direction - either convert from Backstage to Harness format or vice versa'
      requestBody:
        $ref: '#/components/requestBodies/EntityRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/EntityConvertResponseBody'
          description: Entity YAML successfully converted to the target format
  '/v1/entities/{scope}/{kind}/{identifier}':
    parameters:
      - $ref: '#/components/parameters/OrgIdentifierQueryParam'
      - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
      - $ref: '#/components/parameters/ScopeParam'
      - $ref: '#/components/parameters/KindParam'
      - $ref: '#/components/parameters/IdentifierParam'
    put:
      operationId: update-entity
      summary: Update an Entity
      description: >-
        Updates an existing Entity identified by its scope, kind, and identifier.
        All fields in the entity definition will be replaced with the new values provided
        in the request. This operation is idempotent and will create the entity if it
        doesn't already exist.
      tags:
        - Entities
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/EntityUpdateRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/EntityResponseBody'
          description: Entity successfully updated
    delete:
      operationId: delete-entity
      summary: Delete an Entity
      description: >-
        Permanently removes an Entity identified by its scope, kind, and identifier
        from the system. This operation cannot be undone, so use it with caution.
        Any references to the deleted entity from other entities will become invalid.
      tags:
        - Entities
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '204':
          description: Entity successfully deleted with no content returned
    get:
      operationId: get-entity
      summary: Get Entity Details
      description: >-
        Retrieves the complete details of an Entity identified by its scope, kind, and identifier,
        including its YAML definition, metadata, and relationships with other entities.
        This endpoint provides the most comprehensive view of a specific entity.
      tags:
        - Entities
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
            default: null
          in: query
          name: branch_name
          description: Name of the branch (for Git Experience).
        - schema:
            type: string
            default: null
          in: query
          name: connector_ref
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        - schema:
            type: string
            default: null
          in: query
          name: repo_name
          description: Name of the repository (for Git Experience).
        - schema:
            type: string
            default: 'false'
          in: header
          name: Load-From-Cache
          description: Flag to enable loading the remote entity from git or git cache
        - schema:
            type: boolean
            default: false
          in: query
          name: load_from_fallback_branch
          description: Flag to load the entity from the created non default branch
      responses:
        '200':
          $ref: '#/components/responses/EntityResponseBody'
          description: Complete entity details successfully retrieved
  '/v1/entities/kinds':
    parameters:
      - $ref: '#/components/parameters/AccountIdentifierQueryParam'
      - $ref: '#/components/parameters/OrgIdentifierQueryParam'
      - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
    get:
      operationId: get-entities-kinds
      summary: Get Entity Kinds
      description: >-
        Returns a list of all supported Entity Kinds along with their display names, 
        descriptions, and counts. This is useful for populating filter dropdowns in UIs
        and for understanding what kinds of entities are available in the system.
      tags:
        - Entities
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '200':
          $ref: '#/components/responses/EntityKindsResponseBody'
          description: List of available entity kinds with their metadata and counts
  '/v1/entities/filters':
    parameters:
      - $ref: '#/components/parameters/AccountIdentifierQueryParam'
      - $ref: '#/components/parameters/KindQueryParam'
      - name: scopes
        description: 'Filter entities by specific scopes (account.\*, account, account.org, account.org.project, account.orgId, account.orgId.projectId, account.orgId.\*)'
        in: query
        schema:
          type: string
          default: null
    get:
      operationId: get-entities-filters
      summary: Get Entity Filter Options
      description: >-
        Returns the available filter options that can be used when querying entities.
        This helps in building dynamic filter UIs for entity exploration and discovery.
        The response includes filter names and their possible values based on the current
        entities in the system.
      tags:
        - Entities
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '200':
          $ref: '#/components/responses/EntityFiltersResponseBodyList'
          description: List of available filter options and their possible values
    post:
      summary: Get Entities Filters By Query
      description: >-
        Returns the available filter options that can be used when querying entities 
        based on the provided query.This helps in building dynamic filter UIs for entity 
        exploration and discovery.The response includes filter names and their possible 
        values based on the current entities in the system.
      tags:
        - Entities
      security:
        - x-api-key: [ ]
      responses:
        '200':
          $ref: '#/components/responses/EntityFiltersResponseBodyList'
      operationId: get-entities-filters-by-query
      x-stoplight:
        id: 34d8rd6couqo6
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/EntityFilterQueryRequest'
  /v1/entities/json-schema:
    parameters:
      - $ref: '#/components/parameters/KindQueryParam'
    get:
      operationId: get-json-schema
      summary: Get Entity JSON Schema
      description: >-
        Returns the JSON Schema for validating Entity definitions. This is useful for
        client-side validation before submitting entity creation or update requests.
        The schema can be filtered by entity kind to get specific validation rules.
      tags:
        - Entities
      security:
        - x-api-key: [ ]
      responses:
        '200':
          $ref: '#/components/responses/EntityJsonSchemaResponseBody'
          description: JSON Schema for entity validation successfully retrieved
  /v1/idp-environments:
    post:
      summary: Create Compile And Execute Environment
      description: >-
        Create environment in catalog, compiles it and then finally execute it.
      tags:
        - Environment
      responses:
        '200':
          description: OK
      operationId: create-compile-and-execute-environment
      x-stoplight:
        id: ve9qj9hgiro5a
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/OrgIdentifierQueryParam'
        - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
        - name: dryRun
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: 'When true, only compiles and validates the environment without creating entity or executing. When false (default), compiles, creates entity, and executes.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentProxyCreateRequest'
    parameters: []
  '/v1/idp-environments/{environment-id}':
    parameters:
      - schema:
          type: string
        name: environment-id
        in: path
        required: true
    put:
      summary: Update Compile And Execute Environment
      description: >-
        Update environment in catalog, compiles it and then finally execute it.
      tags:
        - Environment
      responses:
        '200':
          description: OK
      operationId: update-compile-and-execute-environment
      x-stoplight:
        id: j5gxzay5ncy66
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/OrgIdentifierQueryParam'
        - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentProxyUpdateRequest'
    delete:
      summary: Delete Environment
      description: >-
        Delete any environment that is no longer active
      tags:
        - Environment
      responses:
        '200':
          description: OK
      operationId: delete-environment
      x-stoplight:
        id: g5au3w8dvrhxk
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/OrgIdentifierQueryParam'
        - $ref: '#/components/parameters/ProjectIdentifierQueryParam'
  '/v1/integrations/{integration}':
    get:
      summary: Get all integrations available
      tags:
        - Integrations
      responses:
        '200':
          $ref: '#/components/responses/IntegrationResponseList'
      operationId: get-integrations
      x-stoplight:
        id: sd1pqx1p9pu0o
      description: Get all integrations available
      x-internal: false
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/Integration'
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/SearchTerm'
    post:
      summary: Create integration
      tags:
        - Integrations
      operationId: create-integration
      responses:
        '201':
          $ref: '#/components/responses/IntegrationResponse'
      x-stoplight:
        id: 7ky8v205wqtp4
      description: Create integration
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/Integration'
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/DryRun'
        - $ref: '#/components/parameters/WriteValidation'
      requestBody:
        $ref: '#/components/requestBodies/IntegrationRequest'
      x-internal: false
    delete:
      summary: Delete integrations
      tags:
        - Integrations
      operationId: delete-integrations
      responses:
        '204':
          description: No Content
      description: Delete integrations
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/Integration'
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
  '/v1/integrations/{integration}/{integration-id}':
    get:
      summary: Get integration details for given integrationId
      tags:
        - Integrations
      responses:
        '200':
          $ref: '#/components/responses/IntegrationResponse'
      operationId: get-integration
      description: Get integration details for given integrationId
      x-internal: false
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Integration'
        - $ref: '#/components/parameters/IntegrationIdentifier'
      x-stoplight:
        id: 7q983jg8e5lre
    put:
      summary: Update integration details for given integrationId
      tags:
        - Integrations
      operationId: update-integration
      responses:
        '200':
          $ref: '#/components/responses/IntegrationResponse'
      x-stoplight:
        id: zfrmn9vx8zk2x
      description: Update integration details for given integrationId
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Integration'
        - $ref: '#/components/parameters/IntegrationIdentifier'
        - $ref: '#/components/parameters/DryRun'
      requestBody:
        $ref: '#/components/requestBodies/IntegrationRequest'
      x-internal: false
  '/v1/integrations/{integration-id}/discover/entities':
    get:
      summary: Get discovered entities for integration
      tags:
        - Integrations
      responses:
        '200':
          $ref: '#/components/responses/DiscoverEntitiesResponseList'
      operationId: discover-entities
      description: Get discovered entities for integration
      x-internal: false
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IntegrationIdentifier'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/SearchTerm'
    post:
      summary: Save discovered entities for integration
      tags:
        - Integrations
      operationId: save-discover-entities
      responses:
        '202':
          description: Save discovered entities for integration request accepted for processing
      description: Save discovered entities for integration
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IntegrationIdentifier'
      requestBody:
        $ref: '#/components/requestBodies/SaveDiscoverEntitiesRequest'
      x-internal: false
  '/v1/integrations/{integration-id}/entities/unlink':
    post:
      summary: Unlink entities for integration
      tags:
        - Integrations
      operationId: unlinkIntegrationEntities
      responses:
        '200':
          $ref: '#/components/responses/UnlinkIntegrationEntitiesResponse'
      description: Unlink entities for integration
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IntegrationIdentifier'
      requestBody:
        $ref: '#/components/requestBodies/UnlinkIntegrationEntitiesRequest'
      x-internal: false
  /v1/kinds:
    post:
      operationId: create-kind
      summary: Create a Kind
      description: Create a Kind.
      tags:
        - Kinds
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/KindCreateRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/KindResponseBody'
    get:
      operationId: get-kinds
      summary: Get Kinds
      description: Get Kinds.
      tags:
        - Kinds
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/LimitWithRestriction'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/KindType'
      responses:
        '200':
          $ref: '#/components/responses/KindResponseBodyList'
  '/v1/kinds/{identifier}':
    parameters:
      - $ref: '#/components/parameters/IdentifierParam'
    put:
      operationId: update-kind
      summary: Update a Kind
      description: Update a Kind.
      tags:
        - Kinds
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/KindUpdateRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/KindResponseBody'
    delete:
      operationId: delete-kind
      summary: Delete a Kind
      description: Delete a Kind.
      tags:
        - Kinds
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '204':
          description: No Content
    get:
      operationId: get-kind
      summary: Get Kind
      description: Get Kind.
      tags:
        - Kinds
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/KindType'
      responses:
        '200':
          $ref: '#/components/responses/KindResponseBody'
  '/v1/kinds/schema':
    get:
      operationId: get-kind-schema
      summary: Get Kind Schema
      description: Get Kind Schema.
      tags:
        - Kinds
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '200':
          $ref: '#/components/responses/KindSchemaResponseBody'
  '/v1/kinds/schema/validate':
    post:
      operationId: kind-schema-validate
      summary: Validate kind schema
      description: Validate kind schema.
      tags:
        - Kinds
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/KindSchemaValidateRequestBody'
      responses:
        '204':
          description: No Content
  /v3/layout:
    get:
      operationId: get-layouts-v3
      summary: Get Layouts V3
      description: Get Layouts V3.
      tags:
        - LayoutsV3
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
    post:
      operationId: create-layout-v3
      summary: Create layout V3
      description: Create layout V3.
      tags:
        - LayoutsV3
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoutRequest'
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
    delete:
      operationId: delete-layout-v3
      summary: Delete layout V3
      description: Delete layout V3.
      tags:
        - LayoutsV3
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/LayoutRequest'
      responses:
        '200':
          description: Layout response
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LayoutResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/LayoutResponse'
  '/v3/layout/{layout-identifier}':
    get:
      operationId: get-layout-v3
      summary: Get layout V3
      description: Get Layout V3.
      tags:
        - LayoutsV3
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
    parameters:
      - $ref: '#/components/parameters/LayoutIdentifier'
  /v3/layout/health:
    get:
      operationId: get-layout-health-v3
      summary: Get Layout Health V3
      description: Get Layout Health V3.
      tags:
        - LayoutsV3
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
  /v3/layout/ingest:
    post:
      operationId: layout-ingest-v3
      summary: Ingest layout V3
      description: Ingest layout V3.
      tags:
        - LayoutsV3
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoutIngestRequest'
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
  /v4/layout:
    get:
      operationId: get-layouts-v4
      summary: Get Layouts V4
      description: Get Layouts V4.
      tags:
        - LayoutsV4
      security:
        - x-api-key: [ ]
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
components:
  schemas:
    BackstageEnvVariable:
      title: BackstageEnvVariable
      x-stoplight:
        id: nxqrkraenk753
      type: object
      description: Backstage Env Variable
      discriminator:
        propertyName: type
        mapping:
          Config: '#/components/schemas/BackstageEnvConfigVariable'
          Secret: '#/components/schemas/BackstageEnvSecretVariable'
      x-examples: {}
      properties:
        identifier:
          type: string
          x-stoplight:
            id: qcqog9dhfhhtn
        env_name:
          type: string
          x-stoplight:
            id: 0br1k8e9y4vds
        created:
          type: integer
          x-stoplight:
            id: jnkz49ajqu2ep
          format: int64
        updated:
          type: integer
          x-stoplight:
            id: f7vn66lecbehz
          format: int64
        type:
          type: string
          x-stoplight:
            id: bkpapdothjik6
          description: This specifies the type of backstage env variable
          enum:
            - Config
            - Secret
      required:
        - env_name
        - type
    BackstageEnvSecretVariable:
      title: BackstageEnvSecretVariable
      x-stoplight:
        id: 3h8ht8pko3bgz
      x-discriminator-value: Secret
      allOf:
        - $ref: '#/components/schemas/BackstageEnvVariable'
          x-stoplight:
            id: qv79339cmwg5d
        - type: object
          properties:
            type:
              type: string
              enum:
                - Secret
            harness_secret_identifier:
              type: string
              x-stoplight:
                id: ah15yig0jo9yb
            is_deleted:
              type: boolean
              x-stoplight:
                id: uvmj7ylwufxzc
              default: false
          required:
            - type
            - harness_secret_identifier
      x-examples: {}
    BackstageEnvConfigVariable:
      title: BackstageEnvConfigVariable
      x-stoplight:
        id: cfxzxi44zeq3o
      x-discriminator-value: Config
      allOf:
        - $ref: '#/components/schemas/BackstageEnvVariable'
          x-stoplight:
            id: x9612fuvup1yq
        - type: object
          properties:
            type:
              type: string
              enum:
                - Config
            value:
[...]
