openapi: 3.0.3
info:
  title: Harness NextGen Software Delivery Platform API Reference
  version: '1.0'
  description: >-
    This is the Open Api Spec 3 for NextGen Manager. This is under active
    development. Beware of the breaking change with respect to the generated
    code stub
  contact:
    email: contact@harness.io
servers:
  - url: 'https://app.harness.io'
    description: Harness host URL.
tags:
  - name: Organization
    description: >-
      Create and manage organizations in your account. You use organizations to
      group together related projects. For example, you can use an organization
      to group together projects within a business unit or division.
  - name: Org Project
    description: This contains APIs for projects.
    x-displayName: 'Project [Beta]'
  - name: Account Secret
    description: This contains APIs for account-scoped secrets.
    x-displayName: 'Account Secrets [Beta]'
  - name: Org Secret
    description: This contains APIs for organization-scoped secrets.
    x-displayName: 'Organization Secrets [Beta]'
  - name: Project Secret
    description: This contains APIs for project-scoped secrets.
    x-displayName: 'Project Secrets [Beta]'
  - name: Account Services
    description: This contains APIs for account-scoped services.
    x-displayName: 'Account Services [Beta]'
  - name: Org Services
    description: This contains APIs for organization-scoped services.
    x-displayName: 'Organization Services [Beta]'
  - name: Project Services
    description: This contains APIs for project-scoped services.
    x-displayName: 'Project Services [Beta]'
  - name: Project Environments
    description: This contains APIs for project-scoped environments.
    x-displayName: 'Project Environments [Beta]'
  - name: Account Favorites
    description: This contains APIs for account-scoped Favorites.
    x-displayName: 'Account Favorites [Beta]'
  - name: Org Favorites
    description: This contains APIs for organization-scoped Favorites.
    x-displayName: 'Organization Favorites [Beta]'
  - name: Project Favorites
    description: This contains APIs for project-scoped Favorites.
    x-displayName: 'Project Favorites [Beta]'
  - name: Account Rancher Infrastructure
    description: This contains APIs for Rancher infra entities for account level.
    x-displayName: 'Account Rancher Infrastructure [Beta]'
  - name: Org Rancher Infrastructure
    description: This contains APIs for Rancher infra entities for org level.
    x-displayName: 'Org Rancher Infrastructure [Beta]'
  - name: Project Rancher Infrastructure
    description: This contains APIs for Rancher infra entities for project level.
    x-displayName: 'Project Rancher Infrastructure [Beta]'
  - name: K8s Release Service Mapping
    description: This contains APIs for Fetching Release details regarding a pod.
    x-displayName: 'K8s Release Service Mapping [Beta]'
  - name: EULA
    description: This contains APIs for EULA.
    x-displayName: 'EULA [Beta]'
  - name: Account Certificate
    description: This contains APIs for account-scoped Certificates
    x-displayName: 'Account Certificates [Beta]'
  - name: Org Certificate
    description: This contains APIs for organization-scoped Certificates
    x-displayName: 'Org Certificates [Beta]'
  - name: Project Certificate
    description: This contains APIs for project-scoped Certificates
    x-displayName: 'Project Certificates [Beta]'
  - name: IP Allowlist
    description: This contains APIs for IP Allowlist.
    x-displayName: 'IP Allowlist [Beta]'
  - name: GitX Webhooks
    description: This contains APIs for Account GitX Webhooks.
    x-displayName: Account GitX Webhooks
  - name: Org GitX Webhooks
    description: This contains APIs for Org GitX Webhooks.
    x-displayName: Org GitX Webhooks
  - name: Project GitX Webhooks
    description: This contains APIs for Project GitX Webhooks.
    x-displayName: Project GitX Webhooks
  - name: Gitx Webhooks Events
    description: This contains APIs for Account Gitx Webhooks Events.
    x-displayName: Account Gitx Webhooks Events
  - name: Org Gitx Webhooks Events
    description: This contains APIs for Org Gitx Webhooks Events.
    x-displayName: Org Gitx Webhooks Events
  - name: Project Gitx Webhooks Events
    description: This contains APIs for Project Gitx Webhooks Events.
    x-displayName: Project Gitx Webhooks Events
  - name: Account Webhooks
    description: This contains APIs for Account Webhooks.
    x-displayName: Account Webhooks
  - name: Org Webhooks
    description: This contains APIs for Org Webhooks.
    x-displayName: Org Webhooks
  - name: Project Webhooks
    description: This contains APIs for Project Webhooks.
    x-displayName: Project Webhooks
  - name: Account Banner
    description: This contains APIs for Account Banners.
    x-displayName: Account Banner
  - name: Account Licensed Modules
    description: This contains APIs for Account Licensed Modules.
    x-displayName: Account Licensed Modules
paths:
  '/v1/orgs/{org}/projects/{project}/services/{service}':
    get:
      summary: Retrieve a service
      operationId: get-service
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: Retrieves the specified service
      security:
        - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/ServiceResponse'
      tags:
        - Project Services
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - $ref: '#/components/parameters/ServicePathParam'
    put:
      summary: Update Service
      operationId: update-service
      responses:
        '200':
          $ref: '#/components/responses/ServiceResponse'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ServiceUpdateRequest'
      description: Updates the specified service
      security:
        - x-api-key: []
      tags:
        - Project Services
    delete:
      summary: Delete a Service
      operationId: delete-service
      responses:
        '200':
          $ref: '#/components/responses/ServiceResponse'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ForceDelete'
      description: Deletes the requested service.
      security:
        - x-api-key: []
      tags:
        - Project Services
  '/v1/orgs/{org}/projects/{project}/services':
    get:
      summary: List Services
      responses:
        '200':
          $ref: '#/components/responses/ServiceListResponse'
      operationId: get-services
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/ServiceIdentifiers'
        - $ref: '#/components/parameters/Sort'
        - schema:
            type: boolean
          in: query
          name: is_access_list
          description: >-
            Specifies whether the list is an access list. An access list is a
            list of services that you are permitted to use in a pipeline.
        - $ref: '#/components/parameters/DeploymentType'
        - schema:
            type: boolean
          name: git_ops_enabled
          in: query
          description: Enables you to use the service in Harness GitOps PR pipelines.
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Order'
      security:
        - x-api-key: []
      description: >-
        Returns a list of the services for which you have view permissions in
        the given project.
      tags:
        - Project Services
    post:
      summary: Create a Service
      operationId: create-service
      responses:
        '201':
          $ref: '#/components/responses/ServiceResponse'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ServiceCreateRequest'
      description: Creates a service
      security:
        - x-api-key: []
      tags:
        - Project Services
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
  '/v1/orgs/{org}/services/{service}':
    get:
      summary: Retrieve a service
      operationId: get-org-scoped-service
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: Retrieves the specified service
      security:
        - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/ServiceResponse'
      tags:
        - Org Services
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ServicePathParam'
    put:
      summary: Update Service
      operationId: update-org-scoped-service
      responses:
        '200':
          $ref: '#/components/responses/ServiceResponse'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ServiceUpdateRequest'
      description: Updates the specified service
      security:
        - x-api-key: []
      tags:
        - Org Services
    delete:
      summary: Delete a service
      operationId: delete-org-scoped-service
      responses:
        '200':
          $ref: '#/components/responses/ServiceResponse'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ForceDelete'
      description: Deletes the requested service
      security:
        - x-api-key: []
      tags:
        - Org Services
  '/v1/orgs/{org}/services':
    get:
      summary: List Services
      responses:
        '200':
          $ref: '#/components/responses/ServiceListResponse'
      operationId: get-org-scoped-services
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/ServiceIdentifiers'
        - $ref: '#/components/parameters/Sort'
        - schema:
            type: boolean
          in: query
          name: is_access_list
          description: >-
            Specifies whether the list is an access list. An access list is a
            list of services that you are permitted to use in a pipeline.
        - $ref: '#/components/parameters/DeploymentType'
        - schema:
            type: boolean
          name: git_ops_enabled
          in: query
          description: Enables you to use the service in Harness GitOps PR pipelines.
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Order'
      security:
        - x-api-key: []
      description: >-
        Returns a list of the services for which you have view permissions in
        the given project.
      tags:
        - Org Services
    post:
      summary: Create a service
      operationId: create-org-scoped-service
      responses:
        '201':
          $ref: '#/components/responses/ServiceResponse'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ServiceCreateRequest'
      description: Creates a service
      security:
        - x-api-key: []
      tags:
        - Org Services
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
  '/v1/services/{service}':
    get:
      summary: Retrieve a service
      operationId: get-account-scoped-service
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: Retrieves the specified service
      security:
        - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/ServiceResponse'
      tags:
        - Account Services
    parameters:
      - $ref: '#/components/parameters/ServicePathParam'
    put:
      summary: Update service
      operationId: update-account-scoped-service
      responses:
        '200':
          $ref: '#/components/responses/ServiceResponse'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ServiceUpdateRequest'
      description: Updates the specified service
      security:
        - x-api-key: []
      tags:
        - Account Services
    delete:
      summary: Delete a service
      operationId: delete-account-scoped-service
      responses:
        '200':
          $ref: '#/components/responses/ServiceResponse'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ForceDelete'
      description: Deletes the requested service
      security:
        - x-api-key: []
      tags:
        - Account Services
  /v1/services:
    get:
      summary: List services
      responses:
        '200':
          $ref: '#/components/responses/ServiceListResponse'
      operationId: get-account-scoped-services
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/ServiceIdentifiers'
        - $ref: '#/components/parameters/Sort'
        - schema:
            type: boolean
          in: query
          name: is_access_list
          description: >-
            Specifies whether the list is an access list. An access list is a
            list of services that you are permitted to use in a pipeline.
        - $ref: '#/components/parameters/DeploymentType'
        - schema:
            type: boolean
          name: git_ops_enabled
          in: query
          description: Enables you to use the service in Harness GitOps PR pipelines.
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Order'
      security:
        - x-api-key: []
      description: >-
        Returns a list of the services for which you have view permissions in
        the given project.
      tags:
        - Account Services
    post:
      summary: Create a service
      operationId: create-account-scoped-service
      responses:
        '201':
          $ref: '#/components/responses/ServiceResponse'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ServiceCreateRequest'
      description: Creates a service
      security:
        - x-api-key: []
      tags:
        - Account Services
    parameters: []
  '/v1/creditOverUsage/{accountIdentifier}':
    get:
      summary: Get over usage count of Credits for a given account
      tags:
        - Credits OverUsage Data By Account
      responses:
        '200':
          $ref: '#/components/schemas/CreditOverUsage'
        '400':
          headers: {}
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: credits-overusage
      x-internal: false
      security:
        - bearerAuth: []
      parameters:
        - name: accountIdentifier
          in: path
          required: true
          description: Account Identifier for the Entity.
          schema:
            type: string
  '/v1/subscription/{accountIdentifier}':
    get:
      summary: Retrieve type of licenses for an account
      tags:
        - Account License Type
      operationId: get-license-type
      responses:
        '200':
          $ref: '#/components/schemas/LicenseTypeResponse'
        '400':
          headers: {}
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-internal: false
      security:
        - bearerAuth: []
      parameters:
        - name: accountIdentifier
          in: path
          required: true
          description: Account Identifier for the Entity.
          schema:
            type: string
  '/v1/subscription/devops/{accountIdentifier}':
    get:
      summary: >-
        Get subscriptions information for the Devops Essentials package for an
        accountIdentifier.
      tags:
        - Devops Essentials License Data By Account
      responses:
        '200':
          $ref: '#/components/schemas/DevopsEssentialsResponse'
        '400':
          headers: {}
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        x-internal: false
      operationId: get-devops-essentials-license
      security:
        - bearerAuth: []
      parameters:
        - name: accountIdentifier
          in: path
          required: true
          description: Account Identifier for the Entity.
          schema:
            type: string
  /v1/orgs:
    post:
      summary: 'Create an organization [Beta]'
      operationId: create-organization
      responses:
        '201':
          $ref: '#/components/responses/OrganizationResponse'
      description: Creates a new organization.
      security:
        - x-api-key: []
      tags:
        - Organization
      requestBody:
        $ref: '#/components/requestBodies/CreateOrganizationRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    get:
      summary: 'List organizations [Beta]'
      operationId: get-organizations
      responses:
        '200':
          $ref: '#/components/responses/OrganizationListResponse'
      description: Retrieves the information of the organizations.
      security:
        - x-api-key: []
      tags:
        - Organization
      parameters:
        - $ref: '#/components/parameters/OrgsQueryParam'
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
    parameters: []
  '/v1/orgs/{org}':
    parameters:
      - schema:
          type: string
        name: org
        in: path
        required: true
        description: Organization identifier
    get:
      summary: 'Retrieve an organization [Beta]'
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
      operationId: get-organization
      description: >-
        Retrieves the information of the organization with the matching
        organization identifier.
      security:
        - x-api-key: []
      tags:
        - Organization
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    put:
      summary: 'Update an organization [Beta]'
      operationId: update-organization
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
      description: >-
        Updates the information of the organization with the matching
        organization identifier.
      security:
        - x-api-key: []
      tags:
        - Organization
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrganizationRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    delete:
      summary: 'Delete an organization [Beta]'
      operationId: delete-organization
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
      description: >-
        Deletes the information of the organization with the matching
        organization identifier.
      security:
        - x-api-key: []
      tags:
        - Organization
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects':
    post:
      summary: Create a project
      responses:
        '201':
          $ref: '#/components/responses/ProjectResponse'
      operationId: create-org-scoped-project
      security:
        - x-api-key: []
      description: Creates a new project
      requestBody:
        $ref: '#/components/requestBodies/CreateProjectRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Org Project
    get:
      summary: List projects
      responses:
        '200':
          $ref: '#/components/responses/ProjectListResponse'
      operationId: get-org-scoped-projects
      description: Retrieves the information of the projects.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/ProjectsQueryParam'
        - schema:
            type: boolean
            default: true
          in: query
          name: has_module
          description: >-
            This boolean specifies whether to filter projects which has the
            module of type passed in the moduleType parameter or not
        - schema:
            type: string
          in: query
          name: module_type
          description: Project's module type
        - $ref: '#/components/parameters/onlyFavorites'
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
      tags:
        - Org Project
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
  '/v1/orgs/{org}/projects/{project}':
    get:
      summary: Retrieve a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: get-org-scoped-project
      description: >-
        Retrieves the information of the project with the matching project
        identifier.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Org Project
    put:
      summary: Update a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: update-org-scoped-project
      description: >-
        Updates the information of the project with the matching project
        identifier.
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateProjectRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Org Project
    delete:
      summary: Delete a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: delete-org-scoped-project
      description: >-
        Deletes the information of the project with the matching project
        identifier.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Org Project
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
  /v1/ip-allowlist:
    post:
      summary: Create a IP Allowlist config
      operationId: create-ip-allowlist-config
      responses:
        '201':
          $ref: '#/components/responses/IPAllowlistConfigResponse'
      description: Creates a new IP Allowlist config
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/IPAllowlistConfigRequest'
      tags:
        - IP Allowlist
      x-internal: false
    get:
      summary: List IP Allowlist Configs
      operationId: get-ip-allowlist-configs
      responses:
        '200':
          $ref: '#/components/responses/IPAllowlistConfigListResponse'
      description: Retrieves the information of the IP Allowlist Config
      parameters:
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
        - schema:
            type: string
          in: query
          description: This is to filter IP allowlist configs only blocked from UI or API
          name: allowed_source_type
      security:
        - x-api-key: []
      tags:
        - IP Allowlist
      x-internal: false
    parameters: []
  '/v1/ip-allowlist/{ip-config-identifier}':
    get:
      summary: Retrieve a IP Allowlist config
      operationId: get-ip-allowlist-config
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: Retrieves the specified IP Allowlist config
      security:
        - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/IPAllowlistConfigResponse'
      tags:
        - IP Allowlist
      x-internal: false
    parameters:
      - schema:
          type: string
        name: ip-config-identifier
        in: path
        required: true
    put:
      summary: Update IP Allowlist config
      operationId: update-ip-allowlist-config
      responses:
        '200':
          $ref: '#/components/responses/IPAllowlistConfigResponse'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/IPAllowlistConfigRequest'
      description: Updates the specified IP Allowlist config
      security:
        - x-api-key: []
      tags:
        - IP Allowlist
      x-internal: false
    delete:
      summary: Delete an IP Allowlist config
      operationId: delete-ip-allowlist-config
      responses:
        '204':
          description: No Content
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: Deletes the specified IP Allowlist config
      security:
        - x-api-key: []
      tags:
        - IP Allowlist
      x-internal: false
  '/v1/ip-allowlist/validate-unique-identifier/{ip-config-identifier}':
    get:
      summary: Validate unique IP Allowlist config identifier
      operationId: validate-unique-ip-allowlist-config-identifier
      description: Checks whether the IP Allowlist config identifier is unique or not
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      tags:
        - IP Allowlist
      x-internal: false
      responses:
        '200':
          $ref: '#/components/responses/IPAllowlistValidateUniqueIdentifierResponse'
    parameters:
      - schema:
          type: string
        name: ip-config-identifier
        in: path
        required: true
  /v1/ip-allowlist/validate/ip-address:
    get:
      summary: Validate IP address lies in a specified range or not
      operationId: validate-ip-address-allowlisted-or-not
      responses:
        '200':
          $ref: '#/components/responses/IPAllowlistConfigValidateResponse'
      description: >-
        Checks whether the IP address is allowed or not. It also supports
        checking against a specific IP block range.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
          in: query
          name: ip_address
          description: This is the IP address that needs to be checked if allowed or not
          required: true
        - schema:
            type: string
          in: query
          name: custom_ip_address_block
          description: >-
            This is the IP address or block of IP address against which we need
            to verify if a given IP address is allowed or not. If not passed we
            do the validation against the IP configs within Harness.
        - schema:
            type: boolean
            default: false
          in: query
          name: include_disabled_configs
          description: >-
            This setting controls the visibility of IP allowlist configurations.
            When set to 'true', it displays both enabled and disabled
            configurations. When set to 'false' or left unset, it displays only
            the enabled configurations.
          allowReserved: false
      security:
        - x-api-key: []
      tags:
        - IP Allowlist
      x-internal: false
    parameters: []
  /v1/ip-allowlist/allowed/ip-address:
    get:
      summary: Check if IP address is allowed or not
      operationId: allowed-ip-address
      responses:
        '200':
          $ref: '#/components/responses/IPAllowlistConfigValidateResponse'
      description: Checks whether the IP address is allowed or not.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
          in: query
          name: ip_address
          description: This is the IP address that needs to be checked if allowed or not
          required: true
      security:
        - x-api-key: []
      tags:
        - IP Allowlist
      x-internal: true
    parameters: []
  /v1/secrets:
    post:
      summary: Create a secret
      operationId: create-account-scoped-secret
      responses:
        '201':
          $ref: '#/components/responses/SecretResponse'
      description: Creates a new secret
      parameters:
        - $ref: '#/components/parameters/PrivateSecret'
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      tags:
        - Account Secret
    get:
      summary: List secrets
      operationId: get-account-scoped-secrets
      responses:
        '200':
          $ref: '#/components/responses/SecretListResponse'
      description: Retrieves the information of the secrets.
      parameters:
        - schema:
            type: array
            items:
              type: string
          in: query
          name: secret
          description: Identifier field of secrets
        - schema:
            type: array
            items:
              type: string
              enum:
                - SSHKeyPath
                - SSHKeyReference
                - SSHPassword
                - SSHKerberosTGTKeyTabFile
                - SSHKerberosTGTPassword
                - SecretFile
                - SecretText
                - WinRmTGTKeyTabFile
                - WinRmTGTPassword
                - WinRmNTLM
          in: query
          name: type
          description: Secret types on which the filter will be applied
        - schema:
            type: boolean
            default: false
          in: query
          name: recursive
          description: 'Expand current scope to include all child scopes '
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
      tags:
        - Account Secret
      security:
        - x-api-key: []
    parameters: []
  /v1/secrets/validate-secret-ref:
    post:
      summary: Validate secret reference
      operationId: validate-account-secret-ref
      description: Validates if the secret at the secretManager path can be referenced
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      tags:
        - Account Secret
      requestBody:
        $ref: '#/components/requestBodies/SecretValidationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SecretValidationResponse'
    parameters: []
  '/v1/orgs/{org}/secrets':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
    post:
      summary: Create a secret
      operationId: create-org-scoped-secret
      responses:
        '201':
          $ref: '#/components/responses/SecretResponse'
      description: Creates a new secret
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      parameters:
        - $ref: '#/components/parameters/PrivateSecret'
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Org Secret
      security:
        - x-api-key: []
    get:
      summary: List secrets
      operationId: get-org-scoped-secrets
      responses:
        '200':
          $ref: '#/components/responses/SecretListResponse'
      description: Retrieves the information of the secrets.
      parameters:
        - schema:
            type: array
            items:
              type: string
          in: query
          name: secret
          description: Identifier field of secrets
        - schema:
            type: array
            items:
              type: string
              enum:
                - SSHKeyPath
                - SSHKeyReference
                - SSHPassword
                - SSHKerberosTGTKeyTabFile
                - SSHKerberosTGTPassword
                - SecretFile
                - SecretText
                - WinRmTGTKeyTabFile
                - WinRmTGTPassword
                - WinRmNTLM
          in: query
          name: type
          description: Secret types on which the filter will be applied
        - schema:
            type: boolean
            default: false
          in: query
          name: recursive
          description: 'Expand current scope to include all child scopes '
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
      tags:
        - Org Secret
      security:
        - x-api-key: []
  '/v1/orgs/{org}/secrets/validate-secret-ref':
    post:
      summary: Validate secret reference
      operationId: validate-org-secret-ref
      description: Validates if the secret at the secretManager path can be referenced
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/SecretValidationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SecretValidationResponse'
      tags:
        - Org Secret
    parameters:
      - schema:
          type: string
        name: org
        in: path
        required: true
        description: Identifier field of the organization the resource is scoped to
  '/v1/orgs/{org}/projects/{project}/secrets':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    post:
      summary: Create a secret
      operationId: create-project-scoped-secret
      responses:
        '201':
          $ref: '#/components/responses/SecretResponse'
      description: Creates a new secret
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      parameters:
        - $ref: '#/components/parameters/PrivateSecret'
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Project Secret
      security:
        - x-api-key: []
    get:
      summary: List secrets
      operationId: get-project-scoped-secrets
      responses:
        '200':
          $ref: '#/components/responses/SecretListResponse'
      description: Retrieves the information of the secrets.
      parameters:
        - schema:
            type: array
            items:
              type: string
          in: query
          name: secret
          description: Identifier field of secrets
        - schema:
            type: array
            items:
              type: string
              enum:
                - SSHKeyPath
                - SSHKeyReference
                - SSHPassword
                - SSHKerberosTGTKeyTabFile
                - SSHKerberosTGTPassword
                - SecretFile
                - SecretText
                - WinRmTGTKeyTabFile
                - WinRmTGTPassword
                - WinRmNTLM
          in: query
          name: type
          description: Secret types on which the filter will be applied
        - schema:
            type: boolean
            default: false
          in: query
          name: recursive
          description: 'Expand current scope to include all child scopes '
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
      tags:
        - Project Secret
      security:
        - x-api-key: []
  '/v1/orgs/{org}/projects/{project}/secrets/validate-secret-ref':
    post:
      summary: Validate secret reference
      operationId: validate-project-secret-ref
      description: Validates if the secret at the secretManager path can be referenced
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/SecretValidationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SecretValidationResponse'
      tags:
        - Project Secret
    parameters:
      - schema:
          type: string
        name: org
        in: path
        required: true
        description: Identifier field of the organization the resource is scoped to
      - schema:
          type: string
        name: project
        in: path
        required: true
        description: Identifier field of the project to which the resource is scoped.
  '/v1/secrets/{secret}':
    parameters:
      - schema:
          type: string
        name: secret
        in: path
        required: true
        description: Identifier field of the secret
    get:
      summary: Retrieve a secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      operationId: get-account-scoped-secret
      description: Retrieves the information of the secret.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Account Secret
      security:
        - x-api-key: []
    delete:
      summary: Deletes a secret
      tags:
        - Account Secret
      operationId: delete-account-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: >-
        Deletes the information of the secret with the matching secret
        identifier.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
    put:
      summary: Update a secret
      operationId: update-account-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: >-
        Updates the information of the secret with the matching secret
        identifier.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Account Secret
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      security:
        - x-api-key: []
  '/v1/orgs/{org}/secrets/{secret}':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - schema:
          type: string
        name: secret
        in: path
        required: true
        description: Identifier field of the secret
    get:
      summary: Retrieve a secret
      tags:
        - Org Secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      operationId: get-org-scoped-secret
      description: Retrieves the information of the secret.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
    delete:
      summary: Delete a secret
      tags:
        - Org Secret
      operationId: delete-org-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: >-
        Deletes the information of the secret with the matching secret
        identifier.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
    put:
      summary: Update a secret
      operationId: update-org-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: >-
        Updates the information of the secret with the matching secret
        identifier.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      tags:
        - Org Secret
      security:
        - x-api-key: []
  '/v1/orgs/{org}/projects/{project}/secrets/{secret}':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - schema:
          type: string
        name: secret
        in: path
        required: true
        description: Identifier field of the secret
    get:
      summary: Retrieve a secret
      tags:
        - Project Secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      operationId: get-project-scoped-secret
      description: Retrieves the information of the secret.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
    delete:
      summary: Delete a secret
      tags:
        - Project Secret
      operationId: delete-project-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: >-
        Deletes the information of the secret with the matching secret
        identifier.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
    put:
      summary: Update a secret
      operationId: update-project-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: >-
        Updates the information of the secret with the matching secret
        identifier.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      tags:
        - Project Secret
      security:
        - x-api-key: []
  /v1/favorites:
    post:
      summary: Create a favorite at account level
      operationId: create-account-favorite
      description: Creates favorite resource of a user at account level
      requestBody:
        $ref: '#/components/requestBodies/FavoriteRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      responses:
        '201':
          $ref: '#/components/responses/FavoriteResponse'
      tags:
        - Account Favorites
      x-internal: true
  '/v1/favorites/{user-id}':
    parameters:
      - $ref: '#/components/parameters/UserIdPathParam'
    get:
      summary: Retrieve a favorite resources of a user at account level
      operationId: get-account-favorites
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ResourceType'
      description: Retrieves the favorite resource of a user at account level
      security:
        - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteListResponse'
      tags:
        - Account Favorites
      x-internal: true
    delete:
      summary: Delete a account level favorite
      operationId: delete-account-favorite
      responses:
        '204':
          description: No Content
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ResourceType'
        - $ref: '#/components/parameters/ResourceId'
      security:
        - x-api-key: []
      tags:
        - Account Favorites
      description: Deletes the requested favorite at account level.
      x-internal: true
  '/v1/orgs/{org}/favorites':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
    post:
      summary: Create a favorite at org level
      operationId: create-org-favorite
      description: Creates favorite resource of a user at organisation level
      requestBody:
        $ref: '#/components/requestBodies/FavoriteRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      responses:
        '201':
          $ref: '#/components/responses/FavoriteResponse'
      tags:
        - Org Favorites
      x-internal: true
  '/v1/orgs/{org}/favorites/{user-id}':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/UserIdPathParam'
    get:
      summary: Retrieve a favorite resources of a user at organization level
      operationId: get-org-favorites
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ResourceType'
      description: Retrieves the favorite resource of a user at organization level
      security:
        - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteListResponse'
      tags:
        - Org Favorites
      x-internal: true
    delete:
      summary: Delete a org level favorite
      operationId: delete-org-favorite
      responses:
        '204':
          description: No Content
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ResourceType'
        - $ref: '#/components/parameters/ResourceId'
      description: Deletes the requested favorite at organization level.
      security:
        - x-api-key: []
      tags:
        - Org Favorites
      x-internal: true
  '/v1/orgs/{org}/projects/{project}/favorites':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    post:
      summary: Create a favorite at project level
      operationId: create-project-favorite
      description: Creates favorite resource of a user at project level
      requestBody:
        $ref: '#/components/requestBodies/FavoriteRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      responses:
        '201':
          $ref: '#/components/responses/FavoriteResponse'
      tags:
        - Project Favorites
      x-internal: true
  '/v1/orgs/{org}/projects/{project}/favorites/{user-id}':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - $ref: '#/components/parameters/UserIdPathParam'
    get:
      summary: Retrieve a favorite resources of a user at project level
      operationId: get-project-favorites
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ResourceType'
      description: Retrieves the favorite resource of a user at project level
      security:
        - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/FavoriteListResponse'
      tags:
        - Project Favorites
      x-internal: true
    delete:
      summary: Delete a project level favorite
      operationId: delete-project-favorite
      responses:
        '204':
          description: No Content
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ResourceType'
        - $ref: '#/components/parameters/ResourceId'
      description: Deletes the requested favorite at project level.
      security:
        - x-api-key: []
      tags:
        - Project Favorites
      x-internal: true
  /v1/module-versions:
    get:
      summary: List Module Versions
      tags:
        - Module Versions
      responses:
        '200':
          $ref: '#/components/responses/ModuleVersionsListResponse'
      operationId: list-module-versions
      description: Lists Versions of different Modules.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      x-internal: true
  '/v1/rancher/connectors/{connector}/clusters':
    parameters:
      - $ref: '#/components/parameters/ConnectorPathParam'
    get:
      summary: List rancher clusters using account level connector
      tags:
        - Account Rancher Infrastructure
      responses:
        '200':
          $ref: '#/components/responses/RancherListClustersResponse'
      operationId: list-account-scoped-rancher-clusters-using-connector
      description: List rancher clusters using the given account level rancher connector
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
      security:
        - x-api-key: []
  '/v1/orgs/{org}/rancher/connectors/{connector}/clusters':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ConnectorPathParam'
    get:
      summary: List rancher clusters using org level connector
      tags:
        - Org Rancher Infrastructure
      responses:
        '200':
          $ref: '#/components/responses/RancherListClustersResponse'
      operationId: list-org-scoped-rancher-clusters-using-connector
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
      security:
        - x-api-key: []
      description: List rancher clusters using the given org level rancher connector
  '/v1/orgs/{org}/projects/{project}/rancher/connectors/{connector}/clusters':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - $ref: '#/components/parameters/ConnectorPathParam'
    get:
      summary: List rancher clusters using project level connector
      tags:
        - Project Rancher Infrastructure
      responses:
        '200':
          $ref: '#/components/responses/RancherListClustersResponse'
      operationId: list-project-scoped-rancher-clusters-using-connector
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
      security:
        - x-api-key: []
      description: List rancher clusters using the given project level rancher connector
  '/v1/rancher/environments/{environment}/infrastructure-definitions/{infrastructure-definition}/clusters':
    parameters:
      - $ref: '#/components/parameters/EnvironmentPathParam'
      - $ref: '#/components/parameters/InfrastructureDefinitionPathParam'
    get:
      summary: List rancher clusters using account level env and infra def
      tags:
        - Account Rancher Infrastructure
      responses:
        '200':
          $ref: '#/components/responses/RancherListClustersResponse'
      operationId: list-account-scoped-rancher-clusters-using-env-and-infra
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
      security:
        - x-api-key: []
      description: >-
        List rancher clusters using the given account level environment and
        infrastructure definition.
  '/v1/orgs/{org}/rancher/environments/{environment}/infrastructure-definitions/{infrastructure-definition}/clusters':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/EnvironmentPathParam'
      - $ref: '#/components/parameters/InfrastructureDefinitionPathParam'
    get:
      summary: List rancher clusters using org level env and infra def
      tags:
        - Org Rancher Infrastructure
      responses:
        '200':
          $ref: '#/components/responses/RancherListClustersResponse'
      operationId: list-org-scoped-rancher-clusters-using-env-and-infra
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
      security:
        - x-api-key: []
      description: >-
        List rancher clusters using the given org level environment and
        infrastructure definition.
  '/v1/orgs/{org}/projects/{project}/rancher/environments/{environment}/infrastructure-definitions/{infrastructure-definition}/clusters':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - $ref: '#/components/parameters/EnvironmentPathParam'
      - $ref: '#/components/parameters/InfrastructureDefinitionPathParam'
    get:
      summary: List rancher clusters using project level env and infra def
      tags:
        - Project Rancher Infrastructure
      responses:
        '200':
          $ref: '#/components/responses/RancherListClustersResponse'
      operationId: list-project-scoped-rancher-clusters-using-env-and-infra
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
      security:
        - x-api-key: []
      description: >-
        List rancher clusters using the given project level environment and
        infrastructure definition.
  '/v1/orgs/{org}/projects/{project}/services/{service}/primary-manifests':
    parameters:
      - $ref: '#/components/parameters/ServicePathParam'
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    get:
      summary: List primary manifests of a project scoped service
      responses:
        '200':
          $ref: '#/components/responses/ManifestsResponseDTO'
      operationId: get-primary-manifests
      description: >-
        Returns a list of eligible primary manifests from all configured
        manifest in a project-scoped service.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      tags:
        - Project Services
      x-internal: true
    post:
      summary: List primary manifests of a project scoped service
      responses:
        '200':
          $ref: '#/components/responses/ManifestsResponseDTO'
      description: >-
        Returns a list of eligible primary manifests from all configured
        manifest in a project-scoped service.
      operationId: post-primary-manifests
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/GitEntityFindInfoRequestBody'
      security:
        - x-api-key: []
      tags:
        - Project Services
      x-internal: true
  '/v1/orgs/{org}/services/{service}/primary-manifests':
    parameters:
      - $ref: '#/components/parameters/ServicePathParam'
      - $ref: '#/components/parameters/OrgPathParam'
    get:
      summary: List primary manifests of a org scoped service
      responses:
        '200':
          $ref: '#/components/responses/ManifestsResponseDTO'
      operationId: get-org-scoped-primary-manifests
      description: >-
        Returns a list of eligible primary manifests from all configured
        manifest in an org-scoped service.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      tags:
        - Org Services
      x-internal: true
    post:
      summary: List primary manifests of a org scoped service
      responses:
        '200':
          $ref: '#/components/responses/ManifestsResponseDTO'
      description: >-
        Returns a list of eligible primary manifests from all configured
        manifest in an org-scoped service.
      operationId: post-org-scoped-primary-manifests
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/GitEntityFindInfoRequestBody'
      security:
        - x-api-key: []
      tags:
        - Org Services
      x-internal: true
  '/v1/services/{service}/primary-manifests':
    parameters:
      - $ref: '#/components/parameters/ServicePathParam'
    get:
      summary: List primary manifests of a account scoped service
      responses:
        '200':
          $ref: '#/components/responses/ManifestsResponseDTO'
      operationId: get-account-scoped-primary-manifests
      description: >-
        Returns a list of eligible primary manifests from all configured
        manifest in an account-scoped service.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      tags:
        - Account Services
      x-internal: true
    post:
      summary: List primary manifests of a account scoped service
      responses:
        '200':
          $ref: '#/components/responses/ManifestsResponseDTO'
      description: >-
        Returns a list of eligible primary manifests from all configured
        manifest in an account-scoped service.
      operationId: post-account-scoped-primary-manifests
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/GitEntityFindInfoRequestBody'
      security:
        - x-api-key: []
      tags:
        - Account Services
      x-internal: true
  /v1/eula/sign:
    post:
      summary: Sign an End User License Agreement
      operationId: sign-eula
      responses:
        '200':
          $ref: '#/components/responses/EulaSignResponse'
      description: Sign an End User License Agreement.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/EulaSignRequest'
      tags:
        - EULA
      x-internal: false
  /v1/eula/validate-sign:
    get:
      summary: Validate specified agreement is signed or not
      operationId: validate-eula-sign
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/AgreementType'
      description: >-
        Check whether End User License Agreement has been signed for specified
        agreement type.
      security:
        - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/EulaSignResponse'
      tags:
        - EULA
      x-internal: false
  /v1/gitx-webhooks:
    post:
      summary: Create a GitX webhook at Account level
      operationId: create-gitx-webhook
      responses:
        '201':
          $ref: '#/components/responses/CreateGitXWebhookResponse'
      description: Create GitXWebhook at account level
      security:
        - x-api-key: []
      tags:
        - GitX Webhooks
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/CreateGitXWebhookRequest'
      x-internal: false
    get:
      summary: Lists all the GitX Webhooks at Account level
      operationId: list-gitx-webhooks
      responses:
        '200':
          $ref: '#/components/responses/ListGitXWebhookResponse'
      description: List GitX webhooks
      security:
        - x-api-key: []
      tags:
        - GitX Webhooks
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - schema:
            type: string
          in: query
          name: webhook_identifier
      x-internal: false
  '/v1/gitx-webhooks/{gitx-webhook}':
    parameters:
      - $ref: '#/components/parameters/GitXWebhookIdentifier'
    get:
      summary: Fetch GitX Webhook at Account level
      responses:
        '200':
          $ref: '#/components/responses/GetGitXWebhookResponse'
      operationId: get-gitx-webhook
      description: Fetch a gitx webhook
      x-internal: false
      security:
        - x-api-key: []
      tags:
        - GitX Webhooks
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    put:
      summary: Updates a GitX Webhook at Account level
      operationId: update-gitx-webhook
      responses:
        '200':
          $ref: '#/components/responses/UpdateGitXWebhookResponse'
      security:
        - x-api-key: []
      tags:
        - GitX Webhooks
      description: Update a Gitx webhook
      requestBody:
        $ref: '#/components/requestBodies/UpdateGitXWebhookRequest'
      x-internal: false
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    delete:
      summary: Deletes a GitX Webhook at Account level
      operationId: delete-gitx-webhook
      responses:
        '204':
          description: No Content
      description: Deletes a gitx webhooks
      security:
        - x-api-key: []
      tags:
        - GitX Webhooks
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: false
  /v1/gitx-webhook-events:
    get:
      summary: Lists all the GitX Webhooks events at Account level
      tags:
        - GitX Webhooks
      responses:
        '200':
          $ref: '#/components/responses/ListGitXWebhookEventResponse'
      operationId: list-gitx-webhook-events
      description: List GitX webhook Events
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - schema:
            type: string
          in: query
          name: webhook_identifier
        - schema:
            type: integer
            format: int64
          in: query
          name: event_start_time
        - schema:
            type: integer
            format: int64
          in: query
          name: event_end_time
        - schema:
            type: string
          in: query
          name: repo_name
        - schema:
            type: string
          in: query
          name: file_path
        - schema:
            type: string
          in: query
          name: event_identifier
        - schema:
            type: array
            items:
              type: string
              enum:
                - SKIPPED
                - FAILED
                - PROCESSING
                - SUCCESSFUL
                - QUEUED
                - WARNING
                - UNKNOWN
          in: query
          name: event_status
        - schema:
            type: string
          in: query
          name: connector_ref
        - schema:
            type: boolean
          in: query
          name: include_parent_scope
        - schema:
            type: string
          in: query
          name: commit_id
        - schema:
            type: string
          in: query
          name: branch
      x-internal: true
  /v1/kubernetes/releases/service-mapping:
    get:
      summary: List service and environment details using namespace and releasename
      tags:
        - K8s Release Service Mapping
      responses:
        '200':
          $ref: '#/components/responses/ReleaseDetailsResponse'
      operationId: get-v1-releaseDetails
      description: >-
        Return details of service and environment mapped to pods namespace and
        release-name for a given account.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/BatchReleaseDetailsRequest'
    parameters: []
  '/v1/orgs/{org}/gitx-webhooks':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
    get:
      summary: Lists all the GitX Webhooks at Org level
      tags:
        - Org Gitx Webhooks
      responses:
        '200':
          $ref: '#/components/responses/ListGitXWebhookResponse'
      operationId: list-org-gitx-webhooks
      description: List org level GitX webhooks
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - schema:
            type: string
          in: query
          name: webhook_identifier
      x-internal: false
    post:
      summary: Create Org Level GitX webhook
      operationId: create-org-gitx-webhook
      responses:
        '200':
          $ref: '#/components/responses/CreateGitXWebhookResponse'
      description: Create GitXWebhook at org level
      tags:
        - Org Gitx Webhooks
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/CreateGitXWebhookRequest'
  '/v1/orgs/{org}/gitx-webhooks/{gitx-webhook}':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/GitXWebhookIdentifier'
    get:
      summary: Fetch GitX Webhook at org level
      tags:
        - Org Gitx Webhooks
      responses:
        '200':
          $ref: '#/components/responses/GetGitXWebhookResponse'
      operationId: get-org-gitx-webhook
      description: Fetch a org level gitx webhook
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      x-internal: false
    put:
      summary: Updates a GitX Webhook at org level
      operationId: update-org-gitx-webhook
      responses:
        '200':
          $ref: '#/components/responses/UpdateGitXWebhookResponse'
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: Update a org level Gitx webhook
      requestBody:
        $ref: '#/components/requestBodies/UpdateGitXWebhookRequest'
      tags:
        - Org Gitx Webhooks
      x-internal: false
    delete:
      summary: Deletes a GitX Webhook at org level
      operationId: delete-org-gitx-webhook
      responses:
        '204':
          description: No Content
      description: Deletes a org level gitx webhooks
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Org Gitx Webhooks
      x-internal: false
  '/v1/orgs/{org}/gitx-webhook-events':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
    get:
      summary: Lists all the GitX Webhooks events at org level
      responses:
        '200':
          $ref: '#/components/responses/ListGitXWebhookEventResponse'
      operationId: list-org-gitx-webhook-events
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - schema:
            type: string
          in: query
          name: webhook_identifier
        - schema:
            type: integer
            format: int64
          in: query
          name: event_start_time
        - schema:
            type: integer
            format: int64
          in: query
          name: event_end_time
        - schema:
            type: string
          in: query
          name: repo_name
        - schema:
            type: string
          in: query
          name: file_path
        - schema:
            type: string
          in: query
          name: event_identifier
        - schema:
            type: array
            items:
              type: string
              enum:
                - SKIPPED
                - FAILED
                - PROCESSING
                - SUCCESSFUL
                - QUEUED
                - UNKNOWN
          in: query
          name: event_status
        - schema:
            type: string
          in: query
          name: connector_ref
        - schema:
            type: boolean
          in: query
          name: include_parent_scope
        - schema:
            type: string
          in: query
          name: commit_id
        - schema:
            type: string
          in: query
          name: branch
      tags:
        - Org Gitx Webhooks Events
      x-internal: true
      description: List GitX webhook Events at org level
  '/v1/orgs/{org}/projects/{project}/gitx-webhooks':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    get:
      summary: Lists all the GitX Webhooks at project level
      tags:
        - Project Gitx Webhooks
      responses:
        '200':
          $ref: '#/components/responses/ListGitXWebhookResponse'
      operationId: list-project-gitx-webhook
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - schema:
            type: string
          in: query
          name: webhook_identifier
      description: List project level GitX webhooks
      x-internal: false
    post:
      summary: Create Project level GitX webhook
      operationId: create-project-gitx-webhook
      responses:
        '200':
          $ref: '#/components/responses/CreateGitXWebhookResponse'
      description: Create GitXWebhook at project level
      requestBody:
        $ref: '#/components/requestBodies/CreateGitXWebhookRequest'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      tags:
        - Project Gitx Webhooks
  '/v1/orgs/{org}/projects/{project}/gitx-webhooks/{gitx-webhook}':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - $ref: '#/components/parameters/GitXWebhookIdentifier'
    get:
      summary: Fetch GitX Webhook at project level
      tags:
        - Project Gitx Webhooks
      responses:
        '200':
          $ref: '#/components/responses/GetGitXWebhookResponse'
      operationId: get-project-gitx-webhook
      x-internal: false
      description: Fetch a project level gitx webhook
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    put:
      summary: Updates a GitX Webhook at project level
      operationId: update-project-gitx-webhook
      responses:
        '200':
          $ref: '#/components/responses/UpdateGitXWebhookResponse'
      description: Update a project level Gitx webhook
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/UpdateGitXWebhookRequest'
      tags:
        - Project Gitx Webhooks
      x-internal: false
    delete:
      summary: Deletes a GitX Webhook at project level
      operationId: delete-project-gitx-webhook
      responses:
        '204':
          description: No Content
      description: Deletes a project level gitx webhooks
      tags:
        - Project Gitx Webhooks
      x-internal: false
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/gitx-webhook-events':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    get:
      summary: Lists all the GitX Webhooks events at project level
      tags:
        - Project Gitx Webhooks Events
      responses:
        '200':
          $ref: '#/components/responses/ListGitXWebhookEventResponse'
      operationId: list-project-gitx-webhook-events
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - schema:
            type: string
          in: query
          name: webhook_identifier
        - schema:
            type: integer
            format: int64
          in: query
          name: event_start_time
        - schema:
            type: integer
            format: int64
          in: query
          name: event_end_time
        - schema:
            type: string
          in: query
          name: repo_name
        - schema:
            type: string
          in: query
          name: file_path
        - schema:
            type: string
          in: query
          name: event_identifier
        - schema:
            type: array
            items:
              type: string
              enum:
                - SKIPPED
                - FAILED
                - PROCESSING
                - SUCCESSFUL
                - QUEUED
                - UNKNOWN
          in: query
          name: event_status
        - schema:
            type: string
          in: query
          name: connector_ref
        - schema:
            type: boolean
          in: query
          name: include_parent_scope
        - schema:
            type: string
          in: query
          name: commit_id
        - schema:
            type: string
          in: query
          name: branch
      x-internal: true
      description: List GitX webhook Events at project level
  '/v1/gitx-webhook-events/{gitx-webhook-event}':
    parameters:
      - schema:
          type: string
        name: gitx-webhook-event
        in: path
        required: true
        description: GitX Webhook Event Identifier
    patch:
      summary: Update the Webhook Event status
      operationId: patch-gitx-webhook-events-gitx-webhook-event
      responses:
        '200':
          $ref: '#/components/responses/UpdateGitXWebhookEventResponse'
      x-internal: true
      description: Update the webhook event Status
      tags:
        - GitX Webhook Event
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/UpdateGitXWebhookEventRequest'
  '/v1/certificates/{certificate}':
    get:
      summary: Retrieves the specified Certificate in account scope
      tags:
        - Account Certificate
      responses:
        '200':
          $ref: '#/components/responses/CertificateResponse'
      operationId: get-account-scoped-certificate
      description: Retrieves the specified certificate in account scope
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    parameters:
      - schema:
          type: string
        name: certificate
        in: path
        required: true
        description: Identifier field of the certificate
    put:
      summary: Updates the specified Certificate in account scope
      operationId: update-account-scoped-certificate
      responses:
        '200':
          $ref: '#/components/responses/CertificateResponse'
      description: Updates the specified Certificate in account scope
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Account Certificate
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/UpdateCertificateRequest'
    delete:
      summary: Deletes the specified Certificate from account scope
      operationId: delete-account-scoped-certificate
      responses:
        '204':
          description: No Content
        '400':
          headers: {}
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
      description: Deletes the specified Certificate from account scope
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ForceDelete'
      x-internal: true
      tags:
        - Account Certificate
  '/v1/orgs/{org}/certificates/{certificate}':
    get:
      summary: Retrieves the specified Certificate in organization scope
      responses:
        '200':
          $ref: '#/components/responses/CertificateResponse'
      operationId: get-org-scoped-certificate
      description: Retrieves the specified certificate in org scope
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Org Certificate
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - schema:
          type: string
        name: certificate
        in: path
        required: true
        description: Identifier field of the certificate
    put:
      summary: Updates the specified Certificate in org scope
      operationId: update-org-scoped-certificate
      responses:
        '200':
          $ref: '#/components/responses/CertificateResponse'
      x-internal: true
      description: Updates the specified Certificate in org scope
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/UpdateCertificateRequest'
      tags:
        - Org Certificate
    delete:
      summary: Deletes the specified Certificate from org scope
      operationId: delete-org-scoped-certificate
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties: {}
      description: Deletes the specified Certificate from org scope
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ForceDelete'
      x-internal: true
      tags:
        - Org Certificate
  '/v1/orgs/{org}/projects/{project}/certificates/{certificate}':
    get:
      summary: Retrieves the specified Certificate in project scope
      responses:
        '200':
          $ref: '#/components/responses/CertificateResponse'
      operationId: get-project-scoped-certificate
      description: Retrieves the specified certificate in project scope
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Project Certificate
    parameters:
      - schema:
          type: string
        name: certificate
        in: path
        required: true
        description: Identifier field of the certificate
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    put:
      summary: Updates the specified Certificate in project scope
      operationId: update-project-scoped-certificate
      responses:
        '200':
          $ref: '#/components/responses/CertificateResponse'
      description: Updates the specified Certificate in project scope
      tags:
        - Project Certificate
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/UpdateCertificateRequest'
      x-internal: true
    delete:
      summary: Deletes the specified Certificate from project scope
      operationId: delete-project-scoped-certificate
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties: {}
      description: Deletes the specified Certificate from project scope
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/ForceDelete'
      x-internal: true
      tags:
        - Project Certificate
  '/v1/certificates/validate-unique-identifier/{certificate}':
    get:
      summary: >-
        Validate if the specified Certificate identifier is available for use in
        account scope
      tags:
        - Account Certificate
      responses:
        '200':
          $ref: '#/components/responses/CertificateValidateUniqueIdentifierResponse'
      operationId: validate-account-scoped-certificate-identifier
      description: >-
        Validate if the specified certificate identifier is available for use in
        account scope
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    parameters:
      - schema:
          type: string
        name: certificate
        in: path
        required: true
        description: Identifier field of the certificate
  '/v1/orgs/{org}/certificates/validate-unique-identifier/{certificate}':
    get:
      summary: >-
        Validate if the specified Certificate identifier is available for use in
        organization scope
      responses:
        '200':
          $ref: '#/components/responses/CertificateValidateUniqueIdentifierResponse'
      operationId: validate-org-scoped-certificate-identifier
      description: >-
        Validate if the specified certificate identifier is available for use in
        organization scope
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Org Certificate
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - schema:
          type: string
        name: certificate
        in: path
        required: true
        description: Identifier field of the certificate
  '/v1/orgs/{org}/projects/{project}/certificates/validate-unique-identifier/{certificate}':
    get:
      summary: >-
        Validate if the specified Certificate identifier is available for use in
        project scope
      responses:
        '200':
          $ref: '#/components/responses/CertificateValidateUniqueIdentifierResponse'
      operationId: validate-project-scoped-certificate-identifier
      description: >-
        Validate if the specified certificate identifier is available for use in
        project scope
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Project Certificate
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - schema:
          type: string
        name: certificate
        in: path
        required: true
        description: Identifier field of the certificate
  /v1/certificates:
    get:
      summary: Retrieves the list of Certificates in account scope
      tags:
        - Account Certificate
      responses:
        '200':
          $ref: '#/components/responses/CertificateListResponse'
      operationId: get-account-scoped-certificates
      description: Retrieves the list of certificates in account scope
      x-internal: true
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
        - schema:
            type: boolean
            default: 'false'
          in: query
          name: include_all_available_at_scope
          description: Include all entities accessible at current scope
    post:
      summary: Creates a new Certificate in account scope
      operationId: create-account-scoped-certificates
      responses:
        '201':
          $ref: '#/components/responses/CertificateResponse'
      description: Creates a new certificate in account scope
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Account Certificate
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/CreateCertificateRequest'
      x-internal: true
  '/v1/orgs/{org}/certificates':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
    get:
      summary: Retrieves the list of Certificates in organization scope
      tags:
        - Org Certificate
      responses:
        '200':
          $ref: '#/components/responses/CertificateListResponse'
      operationId: get-org-scoped-certificates
      x-internal: true
      description: Retrieves the list of certificates in organization scope
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
        - schema:
            type: boolean
            default: 'false'
          in: query
          name: include_all_available_at_scope
          description: Include all entities accessible at current scope
    post:
      summary: Creates a new Certificate in organization scope
      operationId: create-org-scoped-certificates
      responses:
        '201':
          $ref: '#/components/responses/CertificateResponse'
      description: Creates a new certificate in organization scope
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/CreateCertificateRequest'
      x-internal: true
      tags:
        - Org Certificate
  '/v1/orgs/{org}/projects/{project}/certificates':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    get:
      summary: Retrieves the list of Certificates in project scope
      tags:
        - Project Certificate
      responses:
        '200':
          $ref: '#/components/responses/CertificateListResponse'
      operationId: get-project-scoped-certificates
      description: Retrieves the list of certificates in project scope
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
        - schema:
            type: boolean
            default: 'false'
          in: query
          description: Include all entities accessible at current scope
          name: include_all_available_at_scope
      security:
        - x-api-key: []
    post:
      summary: Creates a new Certificate in project scope
      operationId: create-project-scoped-certificates
      responses:
        '201':
          $ref: '#/components/responses/CertificateResponse'
      description: Creates a new certificate in project scope
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/CreateCertificateRequest'
      x-internal: true
      tags:
        - Project Certificate
  /v1/banners:
    get:
      summary: Retrieves the list of Banners in account scope
      tags:
        - Account Banner
      responses:
        '200':
          $ref: '#/components/responses/BannerListResponse'
      operationId: get-account-scoped-banners
      x-stoplight:
        id: ld5yy1r4xvhtt
      description: Retrieves the list of Banners in account scope
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
        - schema:
            type: string
            enum:
              - 'true'
              - 'false'
          in: query
          name: enabled
          description: Show banners with enabled field filtering
          allowEmptyValue: true
    post:
      summary: Creates a new Banner in account scope
      operationId: create-account-scoped-banners
      x-stoplight:
        id: 7qljrrvy7z0ha
      responses:
        '201':
          $ref: '#/components/responses/BannerResponse'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/CreateBannerRequest'
      description: Creates a new Banner in Account Scope.
      tags:
        - Account Banner
  '/v1/banners/validate-unique-identifier/{bannerId}':
    parameters:
      - schema:
          type: string
        name: bannerId
        in: path
        required: true
        description: Identifier field of the BannerDTO
    get:
      summary: >-
        Validate if the specified Banner identifier is available for use in
        account scope
      tags:
        - Account Banner
      responses:
        '200':
          $ref: '#/components/responses/BannerBooleanResponse'
      operationId: validate-account-scoped-banner-identifier
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: >-
        Validate if the specified BannerDTO identifier is available for use in
        account scope
      security:
        - x-api-key: []
  /v1/banners/allowed:
    get:
      summary: Check for a current account max 5 banners are enabled or not
      tags:
        - Account Banner
      responses:
        '200':
          $ref: '#/components/responses/BannerBooleanResponse'
      operationId: banners-allowed
      description: Check for a current account max 5 banners are enabled or not.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  /v1/ldap-settings:
    post:
      summary: Create Account LDAP Settings
      operationId: create-ng-ldap-settings
      responses:
        '201':
          $ref: '#/components/responses/LdapSettingsResponse'
      x-stoplight:
        id: n04275yl5c0g3
      description: Create NG Ldap setttings
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/LdapSettingsRequest'
      tags:
        - Ldap Settings
    parameters: []
    get:
      summary: Get ldap settings for the account
      tags:
        - ldap-settings
      responses:
        '200':
          $ref: '#/components/responses/LdapSettingsResponse'
      operationId: get-account-ldap-settings
      x-stoplight:
        id: x58m09htlk67j
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/ldap-settings/{ldap-settings-id}':
    parameters:
      - schema:
          type: string
        name: ldap-settings-id
        in: path
        required: true
    get:
      summary: Get Account Ldap Settings by identifier
      tags:
        - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LdapSettingsResponse'
      operationId: get-ldap-settings
      x-stoplight:
        id: 9655d1754op9c
      description: Get Account NG Ldap settings
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    put:
      summary: Update Account Ldap Settings
      operationId: update-ldap-settings
      responses:
        '200':
          $ref: '#/components/responses/LdapSettingsResponse'
      x-stoplight:
        id: 63u2f75vg76gz
      description: Update NG Ldap settings for the account
      requestBody:
        $ref: '#/components/requestBodies/LdapSettingsRequest'
      tags:
        - Ldap Settings
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    delete:
      summary: Delete Account Ldap Settings
      operationId: delete-ldap-settings
      responses:
        '204':
          description: No Content
      x-stoplight:
        id: hw0azqcr4ehs9
      description: 'Delete Account Ldap settings '
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Ldap Settings
  /v1/ldap-settings/validate/connection-settings:
    post:
      summary: Validate Ldap Connection Settings
      tags:
        - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LdapValidateResponse'
      operationId: validate-connection-settings
      x-stoplight:
        id: 24rd6s9hp2b0a
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/LdapSettingsRequest'
  /v1/ldap-settings/validate/user-settings:
    post:
      summary: Validate Ldap User Settings
      tags:
        - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LdapValidateResponse'
      operationId: validate-user-settings
      x-stoplight:
        id: 5fw3lcfs79wpo
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/LdapSettingsRequest'
  /v1/ldap-settings/validate/group-settings:
    post:
      summary: Validate Ldap Group Settings
      tags:
        - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LdapValidateResponse'
      operationId: validate-group-settings
      x-stoplight:
        id: uvedvfpk6ldue
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/LdapSettingsRequest'
  /v1/ldap-settings/sync-groups:
    put:
      summary: Ldap Settings Sync User Groups
      operationId: ldap-settings-sync-groups
      responses:
        '200':
          description: OK
      x-stoplight:
        id: 7xnw3fstsnqe7
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Ldap Settings
  '/v1/ldap-settings/sync-group/{group-id}':
    parameters:
      - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    get:
      summary: Ldap Sync Group with user group id
      tags:
        - Ldap Settings
      responses:
        '200':
          description: OK
      operationId: ldap-settings-sync-group-with-id
      x-stoplight:
        id: el2bfbrc5mubt
      description: Ldap Sync Group with user group id
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/ldap-settings/search-group/{group-id}':
    parameters:
      - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    get:
      summary: Search Ldap groups with matching name
      tags:
        - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LdapGroupResponse'
      operationId: ldap-settings-search-group
      x-stoplight:
        id: xkgeu3g9n1ul2
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/ldap-settings/link/{group-id}':
    parameters:
      - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    post:
      summary: Link ldap settings to userGroup
      responses:
        '200':
          $ref: '#/components/responses/LinkGroupToLdapSettings'
      operationId: link-ldap-settings
      x-stoplight:
        id: 02mvlbq51owqg
      tags:
        - Ldap Settings
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/LinkSSOGroupRequest'
  '/v1/ldap-settings/unlink/{group-id}':
    parameters:
      - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    post:
      summary: Unlink group from ldap settings
      tags:
        - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/UnlinkGroupToLdapSettings'
      operationId: unlink-ldap-settings
      x-stoplight:
        id: jsug66jtmolab
      x-internal: true
      x-extension-1: null
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/UnlinkSSOGroupRequest'
  '/v1/ldap-settings/unlink/orgs/{org}/{group-id}':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    post:
      summary: Unlink SSO Group from ldap-settings
      tags:
        - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/UnlinkGroupToLdapSettings'
      operationId: unlink-ldap-settings-org
      x-stoplight:
        id: 2aznpzh987hr7
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/UnlinkSSOGroupRequest'
  '/v1/ldap-settings/link/orgs/{org}/{group-id}':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    get - copy:
      summary: Link ldap settings
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/LinkGroupToLdapSettings'
      operationId: link-ldap-settings-proj
      x-internal: true
      x-extension-1: null
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    post:
      summary: Link dap settings
      tags:
        - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LinkGroupToLdapSettings'
      operationId: link-ldap-settings-org
      x-stoplight:
        id: 86uren6k078bj
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/LinkSSOGroupRequest'
  '/v1/ldap-settings/unlink/orgs/{org}/projects/{project}/{group-id}':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    post:
      summary: Unlink SSO Group from ldap-settings
      tags:
[...]
