openapi: 3.0.3
info:
  title: Harness NextGen Software Delivery Platform API Reference
  version: '1.0'
  description: This is the Open Api Spec 3 for the NextGen Manager. This is under active development. Beware of the breaking change with respect to the generated code stub
  contact:
    email: contact@harness.io
servers:
  - url: 'http://app.harness.io'
    description: harness
x-tagGroups:
  - name: Organization
    tags:
      - Organization
  - name: Project
    tags:
      - Account Project
      - Org Project
  - name: Secret
    tags:
      - Account Secret
      - Org Secret
      - Project Secret
  - name: Connector
    tags:
      - Account Connector
      - Org Connector
      - Project Connector
tags:
  - name: Organization
    description: Everything about organization
  - name: Account Project
    description: Everything about account scoped project
  - name: Org Project
    description: Everything about org scoped project
  - name: Account Secret
    description: Everything about account scoped secret
  - name: Org Secret
    description: Everything about org scoped secret
  - name: Project Secret
    description: Everything about project scoped secret
  - name: Account Connector
    description: Everything about account scoped connector
  - name: Org Connector
    description: Everything about org scoped connector
  - name: Project Connector
    description: Everything about project scoped connector
paths:
  /v1/orgs:
    post:
      summary: Create an organization
      operationId: create-organization
      responses:
        '201':
          $ref: '#/components/responses/OrganizationResponse'
      description: Creates a new organization.
      security:
        - x-api-key: []
      tags:
        - Organization
      requestBody:
        $ref: '#/components/requestBodies/CreateOrganizationRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
    get:
      summary: List organizations
      operationId: get-organizations
      responses:
        '200':
          $ref: '#/components/responses/OrganizationListResponse'
      description: Retrieves the information of the organizations.
      security:
        - x-api-key: []
      tags:
        - Organization
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/OrgsQueryParam'
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
    parameters: []
  '/v1/orgs/{org}':
    parameters:
      - schema:
          type: string
        name: org
        in: path
        required: true
        description: Organization slug
    get:
      summary: Retrieve an organization
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
      operationId: get-organization
      description: Retrieves the information of the organization with the matching organization slug.
      security:
        - x-api-key: []
      tags:
        - Organization
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
    put:
      summary: Update an organization
      operationId: update-organization
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
      description: Updates the information of the organization with the matching organization slug.
      security:
        - x-api-key: []
      tags:
        - Organization
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrganizationRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
    delete:
      summary: Delete an organization
      operationId: delete-organization
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
      description: Deletes the information of the organization with the matching organization slug.
      security:
        - x-api-key: []
      tags:
        - Organization
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
  /v1/projects:
    post:
      summary: Create a project
      responses:
        '201':
          $ref: '#/components/responses/ProjectResponse'
      operationId: create-account-scoped-project
      security:
        - x-api-key: []
      description: Creates a new project
      requestBody:
        $ref: '#/components/requestBodies/CreateProjectRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Account Project
    get:
      summary: List projects
      responses:
        '200':
          $ref: '#/components/responses/ProjectListResponse'
      operationId: get-account-scoped-projects
      description: Retrieves the information of the projects.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/OrgsQueryParam'
        - $ref: '#/components/parameters/ProjectsQueryParam'
        - schema:
            type: boolean
            default: true
          in: query
          name: has_module
          description: This boolean specifies whether to filter projects which has the module of type passed in the moduleType parameter or not
        - schema:
            type: string
          in: query
          name: module_type
          description: Project's module type
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      tags:
        - Account Project
    parameters: []
  '/v1/orgs/{org}/projects':
    post:
      summary: Creates a project
      responses:
        '201':
          $ref: '#/components/responses/ProjectResponse'
      operationId: create-org-scoped-project
      security:
        - x-api-key: []
      description: Creates a new project
      requestBody:
        $ref: '#/components/requestBodies/CreateProjectRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Org Project
    get:
      summary: List projects
      responses:
        '200':
          $ref: '#/components/responses/ProjectListResponse'
      operationId: get-org-scoped-projects
      description: Retrieves the information of the projects.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/ProjectsQueryParam'
        - schema:
            type: boolean
            default: true
          in: query
          name: has_module
          description: This boolean specifies whether to filter projects which has the module of type passed in the moduleType parameter or not
        - schema:
            type: string
          in: query
          name: module_type
          description: Project's module type
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      tags:
        - Org Project
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
  '/v1/projects/{project}':
    get:
      summary: Retrieve a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: get-account-scoped-project
      description: Retrieves the information of the project with the matching project slug.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Account Project
    put:
      summary: Update a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: update-account-scoped-project
      description: Updates the information of the project with the matching project slug.
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateProjectRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Account Project
    delete:
      summary: Delete a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: delete-account-scoped-project
      description: Deletes the information of the project with the matching project slug.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Account Project
    parameters:
      - schema:
          type: string
        name: project
        in: path
        required: true
        description: Project slug
  '/v1/orgs/{org}/projects/{project}':
    get:
      summary: Retrieve a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: get-org-scoped-project
      description: Retrieves the information of the project with the matching project slug.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Org Project
    put:
      summary: Update a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: update-org-scoped-project
      description: Updates the information of the project with the matching project slug.
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateProjectRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Org Project
    delete:
      summary: Delete a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: delete-org-scoped-project
      description: Deletes the information of the project with the matching project slug.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Org Project
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
  /v1/connectors:
    post:
      summary: Create a Connector
      operationId: create-account-scoped-connector
      responses:
        '201':
          $ref: '#/components/responses/ConnectorResponse'
      description: Creates a new connector
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ConnectorRequest'
      tags:
        - Account Connector
    get:
      summary: List connectors
      operationId: get-account-scoped-connectors
      responses:
        '200':
          $ref: '#/components/responses/ConnectorListResponse'
      description: Retrieves the information of the connectors.
      tags:
        - Account Connector
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
  '/v1/connectors/{connector}':
    get:
      summary: Retrieve a connector
      operationId: get-account-scoped-connector
      responses:
        '200':
          $ref: '#/components/responses/ConnectorResponse'
      description: |
        Retrieves the information of the connector with the matching connector slug.
      tags:
        - Account Connector
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
    put:
      summary: Update a connector
      operationId: update-account-scoped-connector
      responses:
        '200':
          $ref: '#/components/responses/ConnectorResponse'
      description: Updates the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      requestBody:
        $ref: '#/components/requestBodies/ConnectorRequest'
      tags:
        - Account Connector
    parameters:
      - schema:
          type: string
        name: connector
        in: path
        required: true
        description: Connector slug
    delete:
      summary: Delete a connector
      operationId: delete-account-scoped-connector
      responses:
        '200':
          description: OK
      description: Deletes the information of the connector with the matching connector slug.
      tags:
        - Account Connector
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
  '/v1/orgs/{org}/connectors':
    post:
      summary: Create a Connector
      operationId: create-org-scoped-connector
      responses:
        '201':
          $ref: '#/components/responses/ConnectorResponse'
      description: Creates a new connector
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ConnectorRequest'
      tags:
        - Org Connector
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
    get:
      summary: List connectors
      operationId: get-org-scoped-connectors
      responses:
        '200':
          $ref: '#/components/responses/ConnectorListResponse'
      description: Retrieves the information of the connectors.
      tags:
        - Org Connector
  '/v1/orgs/{org}/connectors/{connector}':
    get:
      summary: Retrieve a connector
      operationId: get-org-scoped-connector
      responses:
        '200':
          $ref: '#/components/responses/ConnectorResponse'
      description: |
        Retrieves the information of the connector with the matching connector slug.
      tags:
        - Org Connector
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
    put:
      summary: Update a connector
      operationId: update-org-scoped-connector
      responses:
        '200':
          $ref: '#/components/responses/ConnectorResponse'
      description: Updates the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      requestBody:
        $ref: '#/components/requestBodies/ConnectorRequest'
      tags:
        - Org Connector
    delete:
      summary: Delete a connector
      operationId: delete-org-scoped-connector
      responses:
        '200':
          description: OK
      description: Deletes the information of the connector with the matching connector slug.
      tags:
        - Org Connector
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - schema:
          type: string
        name: connector
        in: path
        required: true
        description: Connector slug
  '/v1/orgs/{org}/projects/{project}/connectors':
    post:
      summary: Create a Connector
      operationId: create-project-scoped-connector
      responses:
        '201':
          $ref: '#/components/responses/ConnectorResponse'
      description: Creates a new connector
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ConnectorRequest'
      tags:
        - Project Connector
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    get:
      summary: List connectors
      operationId: get-project-scoped-connectors
      responses:
        '200':
          $ref: '#/components/responses/ConnectorListResponse'
      description: Retrieves the information of the connectors.
      tags:
        - Project Connector
  '/v1/orgs/{org}/projects/{project}/connectors/{connector}':
    get:
      summary: Retrieve a connector
      operationId: get-project-scoped-connector
      responses:
        '200':
          $ref: '#/components/responses/ConnectorResponse'
      description: |
        Retrieves the information of the connector with the matching connector slug.
      tags:
        - Project Connector
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
    put:
      summary: Update a connector
      operationId: update-project-scoped-connector
      responses:
        '200':
          $ref: '#/components/responses/ConnectorResponse'
      description: Updates the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      requestBody:
        $ref: '#/components/requestBodies/ConnectorRequest'
      tags:
        - Project Connector
    delete:
      summary: Delete a connector
      operationId: delete-project-scoped-connector
      responses:
        '200':
          description: OK
      description: Deletes the information of the connector with the matching connector slug.
      tags:
        - Project Connector
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - schema:
          type: string
        name: connector
        in: path
        required: true
        description: Connector slug
  /v1/secrets:
    post:
      summary: Create a secret
      operationId: create-account-scoped-secret
      responses:
        '201':
          $ref: '#/components/responses/SecretResponse'
      description: Creates a new secret
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/PrivateSecret'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      tags:
        - Account Secret
    get:
      summary: List secrets
      operationId: get-account-scoped-secrets
      responses:
        '200':
          $ref: '#/components/responses/SecretListResponse'
      description: Retrieves the information of the secrets.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/OrgQueryParam'
        - $ref: '#/components/parameters/ProjectQueryParam'
        - schema:
            type: array
            items:
              type: string
          in: query
          name: secret
          description: Slug field of secrets
        - schema:
            type: array
            items:
              type: string
              enum:
                - SSHKeyPath
                - SSHKeyReference
                - SSHPassword
                - SSHKerberosTGTKeyTabFile
                - SSHKerberosTGTPassword
                - SecretFile
                - SecretText
                - WinRmTGTKeyTabFile
                - WinRmTGTPassword
                - WinRmNTLM
          in: query
          name: type
          description: Secret types on which the filter will be applied
        - schema:
            type: boolean
            default: false
          in: query
          name: recursive
          description: 'Expand current scope to include all child scopes '
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      tags:
        - Account Secret
      security:
        - x-api-key: []
  '/v1/orgs/{org}/secrets':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
    post:
      summary: Create a secret
      operationId: create-org-scoped-secret
      responses:
        '201':
          $ref: '#/components/responses/SecretResponse'
      description: Creates a new secret
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/PrivateSecret'
      tags:
        - Org Secret
      security:
        - x-api-key: []
    get:
      summary: List secrets
      operationId: get-org-scoped-secrets
      responses:
        '200':
          $ref: '#/components/responses/SecretListResponse'
      description: Retrieves the information of the secrets.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/ProjectQueryParam'
        - schema:
            type: array
            items:
              type: string
          in: query
          name: secret
          description: Slug field of secrets
        - schema:
            type: array
            items:
              type: string
              enum:
                - SSHKeyPath
                - SSHKeyReference
                - SSHPassword
                - SSHKerberosTGTKeyTabFile
                - SSHKerberosTGTPassword
                - SecretFile
                - SecretText
                - WinRmTGTKeyTabFile
                - WinRmTGTPassword
                - WinRmNTLM
          in: query
          name: type
          description: Secret types on which the filter will be applied
        - schema:
            type: boolean
            default: false
          in: query
          name: recursive
          description: 'Expand current scope to include all child scopes '
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      tags:
        - Org Secret
      security:
        - x-api-key: []
  '/v1/orgs/{org}/projects/{project}/secrets':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    post:
      summary: Create a secret
      operationId: create-project-scoped-secret
      responses:
        '201':
          $ref: '#/components/responses/SecretResponse'
      description: Creates a new secret
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/PrivateSecret'
      tags:
        - Project Secret
      security:
        - x-api-key: []
    get:
      summary: List secrets
      operationId: get-project-scoped-secrets
      responses:
        '200':
          $ref: '#/components/responses/SecretListResponse'
      description: Retrieves the information of the secrets.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - schema:
            type: array
            items:
              type: string
          in: query
          name: secret
          description: Slug field of secrets
        - schema:
            type: array
            items:
              type: string
              enum:
                - SSHKeyPath
                - SSHKeyReference
                - SSHPassword
                - SSHKerberosTGTKeyTabFile
                - SSHKerberosTGTPassword
                - SecretFile
                - SecretText
                - WinRmTGTKeyTabFile
                - WinRmTGTPassword
                - WinRmNTLM
          in: query
          name: type
          description: Secret types on which the filter will be applied
        - schema:
            type: boolean
            default: false
          in: query
          name: recursive
          description: 'Expand current scope to include all child scopes '
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      tags:
        - Project Secret
      security:
        - x-api-key: []
  '/v1/secrets/{secret}':
    parameters:
      - schema:
          type: string
        name: secret
        in: path
        required: true
        description: Slug field of the secret
    get:
      summary: Retrieve a secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      operationId: get-account-scoped-secret
      description: Retrieves the information of the secret.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Account Secret
      security:
        - x-api-key: []
    delete:
      summary: Deletes a secret
      tags:
        - Account Secret
      operationId: delete-account-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: Deletes the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
    put:
      summary: Update a secret
      operationId: update-account-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: Updates the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Account Secret
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      security:
        - x-api-key: []
    head:
      summary: Validate unique secret slug
      operationId: validate-unique-account-scoped-secret-slug
      responses:
        '200':
          $ref: '#/components/responses/ValidateSecretSlugResponse'
      description: Validates secret slug is unique
      tags:
        - Account Secret
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
  '/v1/orgs/{org}/secrets/{secret}':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - schema:
          type: string
        name: secret
        in: path
        required: true
        description: Slug field of the secret
    get:
      summary: Retrieve a secret
      tags:
        - Org Secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      operationId: get-org-scoped-secret
      description: Retrieves the information of the secret.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
    delete:
      summary: Delete a secret
      tags:
        - Org Secret
      operationId: delete-org-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: Deletes the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
    put:
      summary: Update a secret
      operationId: update-org-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: Updates the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      tags:
        - Org Secret
      security:
        - x-api-key: []
    head:
      summary: Validate unique secret slug
      operationId: validate-unique-org-scoped-secret-slug
      responses:
        '200':
          $ref: '#/components/responses/ValidateSecretSlugResponse'
      description: Validates org scoped secret slug is unique
      tags:
        - Org Secret
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
  '/v1/orgs/{org}/projects/{project}/secrets/{secret}':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - schema:
          type: string
        name: secret
        in: path
        required: true
        description: Slug field of the secret
    get:
      summary: Retrieve a secret
      tags:
        - Project Secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      operationId: get-project-scoped-secret
      description: Retrieves the information of the secret.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
    delete:
      summary: Delete a secret
      tags:
        - Project Secret
      operationId: delete-project-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: Deletes the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
    put:
      summary: Update a secret
      operationId: update-project-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: Updates the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      tags:
        - Project Secret
      security:
        - x-api-key: []
    head:
      summary: Validate unique secret slug
      operationId: validate-unique-project-scoped-secret-slug
      responses:
        '200':
          $ref: '#/components/responses/ValidateSecretSlugResponse'
      description: Validates project scoped secret slug is unique
      tags:
        - Project Secret
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
components:
  schemas:
    CreateOrganizationRequest:
      type: object
      properties:
        org:
          $ref: '#/components/schemas/Organization'
      required:
        - org
    Organization:
      description: Organization model
      type: object
      properties:
        slug:
          type: string
          minLength: 1
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          description: Organization slug
          maxLength: 64
        name:
          type: string
          minLength: 1
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,63}$'
          description: Organization name
          maxLength: 64
        description:
          type: string
          maxLength: 1024
          description: Organization description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Organization tags
      required:
        - slug
        - name
    ModuleType:
      type: string
      description: Type of Modules
      enum:
        - CD
        - CI
        - CV
        - CF
        - CE
        - STO
        - CORE
        - PMS
        - TEMPLATESERVICE
        - GOVERNANCE
    CreateProjectRequest:
      description: Create project request
      type: object
      properties:
        project:
          $ref: '#/components/schemas/Project'
      required:
        - project
    Project:
      description: Project model
      type: object
      x-examples:
        example-1:
          slug: example_project_slug
          name: example-project-name
          color: '#0063F7'
          modules:
            - CD
          description: This is a example project
          tags:
            property1: value1
            property2: value2
      properties:
        slug:
          type: string
          minLength: 1
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          description: Project slug
          maxLength: 64
        name:
          type: string
          minLength: 1
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,63}$'
          description: Project name
          maxLength: 64
        org:
          type: string
          description: Organization slug for the project
        color:
          type: string
          description: Project color
        modules:
          type: array
          maxItems: 1024
          description: List of modules for project
          items:
            $ref: '#/components/schemas/ModuleType'
        description:
          type: string
          maxLength: 1024
          description: Project description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Project tags
      required:
        - slug
        - name
    ProjectResponse:
      description: Project response model
      type: object
      properties:
        project:
          $ref: '#/components/schemas/Project'
        created:
          type: integer
          format: int64
          description: Creation timestamp for the project
        updated:
          type: integer
          format: int64
          description: Updated timestamp for the project
    OrganizationResponse:
      title: OrganizationResponse
      type: object
      description: Organization response Model
      x-examples:
        example-1:
          org:
            slug: example_organization
            name: Example Organization
            description: This is an Example Organization
            tags:
              example-tag-1: example-tag-1-value
              example-tag-2: example-tag-2-value
          created: 1234567890
          updated: 1234567890
          harness_managed: true
      properties:
        org:
          $ref: '#/components/schemas/Organization'
        created:
          type: integer
          description: Creation timestamp for organization
          format: int64
        updated:
          type: integer
          format: int64
          description: Updated timestamp for organization
        harness_managed:
          type: boolean
          description: 'This indicates if this organization is managed by Harness or not. If true, Harness can manage and modify this organization.'
    UpdateOrganizationRequest:
      description: Update oganization request
      type: object
      properties:
        org:
          $ref: '#/components/schemas/Organization'
      required:
        - org
    UpdateProjectRequest:
      description: Update project request
      type: object
      properties:
        project:
          $ref: '#/components/schemas/Project'
      required:
        - project
    SecretSpec:
      title: SecretSpec
      type: object
      description: Details of the secret defined in Harness
      required:
        - type
      discriminator:
        propertyName: type
        mapping:
          SSHKeyPath: '#/components/schemas/SSHKeyPathSpec'
          SSHKeyReference: '#/components/schemas/SSHKeyReferenceSpec'
          SSHPassword: '#/components/schemas/SSHPasswordSpec'
          SSHKerberosTGTKeyTabFile: '#/components/schemas/SSHKerberosTGTKeyTabFileSpec'
          SSHKerberosTGTPassword: '#/components/schemas/SSHKerberosTGTPasswordSpec'
          SecretFile: '#/components/schemas/SecretFileSpec'
          SecretText: '#/components/schemas/SecretTextSpec'
          WinRmTGTKeyTabFile: '#/components/schemas/WinRmTGTKeyTabFileSpec'
          WinRmTGTPassword: '#/components/schemas/WinRmTGTPasswordSpec'
          WinRmNTLM: '#/components/schemas/WinRmNTLMSpec'
      oneOf:
        - $ref: '#/components/schemas/SSHKeyPathSpec'
        - $ref: '#/components/schemas/SSHKeyReferenceSpec'
        - $ref: '#/components/schemas/SSHPasswordSpec'
        - $ref: '#/components/schemas/SSHKerberosTGTKeyTabFileSpec'
        - $ref: '#/components/schemas/SSHKerberosTGTPasswordSpec'
        - $ref: '#/components/schemas/SecretFileSpec'
        - $ref: '#/components/schemas/SecretTextSpec'
        - $ref: '#/components/schemas/WinRmTGTKeyTabFileSpec'
        - $ref: '#/components/schemas/WinRmTGTPasswordSpec'
        - $ref: '#/components/schemas/WinRmNTLMSpec'
      properties:
        type:
          type: string
          enum:
            - SSHKeyPath
            - SSHKeyReference
            - SSHPassword
            - SSHKerberosTGTKeyTabFile
            - SSHKerberosTGTPassword
            - SecretFile
            - SecretText
            - WinRmTGTKeyTabFile
            - WinRmTGTPassword
            - WinRmNTLM
          description: This specifies the type of secret
    SSHKeyPathSpec:
      title: SSHKeyPath
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - SSHKeyPath
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              description: SSH port
            username:
              type: string
              description: SSH username
            key_path:
              type: string
              description: Path of the key file
            encrypted_passphrase:
              type: string
              description: This is the passphrase provided while creating the SSH key for local encryption
          required:
            - type
            - username
            - key_path
    SSHKeyReferenceSpec:
      title: SSHKeyReference
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - SSHKeyReference
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              description: SSH port
            username:
              type: string
              description: SSH username
            key:
              type: string
              description: SSH key
            encrypted_passphrase:
              type: string
              description: This is the passphrase provided while creating the SSH key for local encryption
          required:
            - type
            - username
    SSHPasswordSpec:
      title: SSHPassword
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - SSHPassword
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              description: SSH port
            username:
              type: string
              description: SSH username
            password:
              type: string
              description: SSH password
          required:
            - type
            - username
            - password
    SSHKerberosTGTKeyTabFileSpec:
      title: SSHKerberosTGTKeyTabFile
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - SSHKerberosTGTKeyTabFile
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              description: SSH port
            principal:
              type: string
              description: Kerberos principal
            realm:
              type: string
              description: Kerberos realm
            key_path:
              type: string
              description: Kerberos keytab file path
          required:
            - type
    SSHKerberosTGTPasswordSpec:
      title: SSHKerberosTGTPassword
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - SSHKerberosTGTPassword
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              description: SSH port
            principal:
              type: string
              description: Kerberos principal
            realm:
              type: string
              description: Kerberos realm
            password:
              type: string
              description: Kerberos password
          required:
            - type
    SecretFileSpec:
      title: SecretFile
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - SecretFile
              description: This specifies the type of secret
            secret_manager_slug:
              type: string
              description: Slug of the secret manager used to manage the secret
          required:
            - type
            - secret_manager_slug
    SecretTextSpec:
      title: SecretText
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - SecretText
              description: This specifies the type of secret
            secret_manager_slug:
              type: string
              description: Slug of the secret manager used to manage the secret
            value_type:
              type: string
              enum:
                - Inline
                - Reference
              description: This has details to specify if the secret value is inline or referenced
            value:
              type: string
              description: Value of the Secret
          required:
            - type
            - secret_manager_slug
            - value_type
    WinRmTGTKeyTabFileSpec:
      title: WinRmTGTKeyTabFile
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - WinRmTGTKeyTabFile
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              default: 5986
              description: WinRm port
            principal:
              type: string
              description: Kerberos principal
            realm:
              type: string
              description: Kerberos realm
            key_path:
              type: string
              description: Keytab file path
            use_ssl:
              type: boolean
              default: true
              description: This is the Kerberos either to use SSL/https
            skip_cert_checks:
              type: boolean
              default: true
              description: This is the Kerberos either to skip certificate checks
            use_no_profile:
              type: boolean
              description: This is the Kerberos powershell runs without loading profile
          required:
            - type
    WinRmTGTPasswordSpec:
      title: WinRmTGTPassword
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - WinRmTGTPassword
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              default: 5986
              description: WinRm port
            principal:
              type: string
              description: Kerberos principal
            realm:
              type: string
              description: Kerberos realm
            password:
              type: string
              description: Kerberos password
            use_ssl:
              type: boolean
              default: true
              description: This is the Kerberos either to use SSL/https
            skip_cert_checks:
              type: boolean
              default: true
              description: This is the Kerberos either to skip certificate checks
            use_no_profile:
              type: boolean
              description: This is the Kerberos powershell runs without loading profile
          required:
            - type
    WinRmNTLMSpec:
      title: WinRmNTLM
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - WinRmNTLM
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              default: 5986
              description: WinRm port
            domain:
              type: string
              description: This is the NTLM domain name
            username:
              type: string
              description: This is the NTLM user name
            password:
              type: string
              description: This is the NTLM password
            use_ssl:
              type: boolean
              default: true
              description: This is the NTLM either to use SSL/https
            skip_cert_checks:
              type: boolean
              default: true
              description: This is the Kerberos either to skip certificate checks
            use_no_profile:
              type: boolean
              description: This is the Kerberos powershell runs without loading profile
          required:
            - type
            - domain
            - username
            - password
    SecretRequest:
      type: object
      properties:
        secret:
          $ref: '#/components/schemas/Secret'
      required:
        - secret
    Secret:
      type: object
      properties:
        name:
          type: string
          description: Secret name
          pattern: '^[0-9a-zA-Z-_ ]{0,63}$'
        slug:
          type: string
          minLength: 1
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          description: Secret slug
          maxLength: 64
        org:
          type: string
          description: Organization slug for secret
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,63}$'
        project:
          type: string
          description: Project slug for secret
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,63}$'
        tags:
          type: object
          additionalProperties:
            type: string
          description: Secret tags
        description:
          type: string
          description: Secret description
        spec:
          $ref: '#/components/schemas/SecretSpec'
      required:
        - name
        - slug
        - spec
    SecretResponse:
      title: SecretResponse
      type: object
      properties:
        secret:
          $ref: '#/components/schemas/Secret'
        created:
          type: integer
          format: int64
          description: Creation timestamp for the secret
        updated:
          type: integer
          format: int64
          description: Updated timestamp for the secret
        draft:
          type: boolean
        governance_metadata:
          type: object
      description: Secret response model
    ValidateSecretSlugResponse:
      title: ValidateSecretSlugResponse
      type: object
      properties:
        valid:
          type: boolean
      description: Validate unique secret slug response model
    ConnectorResponse:
      title: ConnectorResponse
      type: object
      description: Connector response model
      properties:
        connector:
          $ref: '#/components/schemas/Connector'
        created:
          type: integer
          format: int64
          description: Creation timestamp for the connector
        updated:
          type: integer
          format: int64
          description: Updated timestamp for the connector
        governance_metadata:
          type: object
    ConnectorRequest:
      type: object
      properties:
        connector:
          $ref: '#/components/schemas/Connector'
      required:
        - connector
    Connector:
      type: object
      properties:
        name:
          type: string
          description: Connector name
          pattern: '^[0-9a-zA-Z-_ ]{0,63}$'
        slug:
          type: string
          minLength: 1
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          description: Connector slug
          maxLength: 64
        description:
          type: string
          description: Connector description
        org:
          type: string
          description: Organization slug for connector
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,63}$'
        project:
          type: string
          description: Project slug for connector
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,63}$'
        tags:
          type: object
          additionalProperties:
            type: string
          description: Connector tags
        spec:
          $ref: '#/components/schemas/ConnectorSpec'
      required:
        - name
        - slug
        - spec
    ConnectorSpec:
      title: ConnectorSpec
      type: object
      description: Details of the connector defined in Harness
      required:
        - type
      discriminator:
        propertyName: type
        mapping:
          GitHttp: '#/components/schemas/GitHttpConnectorSpec'
          GitHttpEncrypted: '#/components/schemas/GitHttpEncryptedConnectorSpec'
          GitSsh: '#/components/schemas/GitSshConnectorSpec'
          Appdynamics: '#/components/schemas/AppdynamicsConnectorSpec'
          AppdynamicsClientId: '#/components/schemas/AppdynamicsClientIdConnectorSpec'
          Artifactory: '#/components/schemas/ArtifactoryConnectorSpec'
          ArtifactoryEncrypted: '#/components/schemas/ArtifactoryEncryptedConnectorSpec'
          ArtifactoryAnonymous: '#/components/schemas/ArtifactoryAnonymousConnectorSpec'
          AwsCodeCommit: '#/components/schemas/AwsCodeCommitConnectorSpec'
          AwsAccessKey: '#/components/schemas/AwsAccessKeyConnectorSpec'
          AwsEncryptedAccessKey: '#/components/schemas/AwsEncryptedAccessKeyConnectorSpec'
          AwsIAMRole: '#/components/schemas/AwsIAMRoleConnectorSpec'
          AwsIRSA: '#/components/schemas/AwsIRSAConnectorSpec'
          AwsKmsAccessKey: '#/components/schemas/AwsKmsAccessKeyConnectorSpec'
          AwsKmsAssumeIAM: '#/components/schemas/AwsKmsAssumeIAMConnectorSpec'
          AwsKmsAssumeSTS: '#/components/schemas/AwsKmsAssumeSTSConnectorSpec'
          AwsSecretManagerAccessKey: '#/components/schemas/AwsSecretManagerAccessKeyConnectorSpec'
          AwsSecretManagerAssumeIAM: '#/components/schemas/AwsSecretManagerAssumeIAMConnectorSpec'
          AwsSecretManagerAssumeSTS: '#/components/schemas/AwsSecretManagerAssumeSTSConnectorSpec'
          AzureClientSecretKey: '#/components/schemas/AzureClientSecretKeyConnectorSpec'
          AzureClientCertificate: '#/components/schemas/AzureClientCertificateConnectorSpec'
          AzureInheritFromDelegateUserAssignedManagedIdentity: '#/components/schemas/AzureInheritFromDelegateUserAssignedManagedIdentityConnectorSpec'
          AzureInheritFromDelegateSystemAssignedManagedIdentity: '#/components/schemas/AzureInheritFromDelegateSystemAssignedManagedIdentityConnectorSpec'
      oneOf:
        - $ref: '#/components/schemas/GitHttpConnectorSpec'
        - $ref: '#/components/schemas/GitHttpEncryptedConnectorSpec'
        - $ref: '#/components/schemas/GitSshConnectorSpec'
        - $ref: '#/components/schemas/AppdynamicsConnectorSpec'
        - $ref: '#/components/schemas/AppdynamicsClientIdConnectorSpec'
        - $ref: '#/components/schemas/ArtifactoryConnectorSpec'
        - $ref: '#/components/schemas/ArtifactoryEncryptedConnectorSpec'
        - $ref: '#/components/schemas/ArtifactoryAnonymousConnectorSpec'
        - $ref: '#/components/schemas/AwsCodeCommitConnectorSpec'
        - $ref: '#/components/schemas/AwsAccessKeyConnectorSpec'
        - $ref: '#/components/schemas/AwsEncryptedAccessKeyConnectorSpec'
        - $ref: '#/components/schemas/AwsIAMRoleConnectorSpec'
        - $ref: '#/components/schemas/AwsIRSAConnectorSpec'
        - $ref: '#/components/schemas/AwsKmsAccessKeyConnectorSpec'
        - $ref: '#/components/schemas/AwsKmsAssumeIAMConnectorSpec'
        - $ref: '#/components/schemas/AwsKmsAssumeSTSConnectorSpec'
        - $ref: '#/components/schemas/AwsSecretManagerAccessKeyConnectorSpec'
        - $ref: '#/components/schemas/AwsSecretManagerAssumeIAMConnectorSpec'
        - $ref: '#/components/schemas/AwsSecretManagerAssumeSTSConnectorSpec'
        - $ref: '#/components/schemas/AzureClientSecretKeyConnectorSpec'
        - $ref: '#/components/schemas/AzureClientCertificateConnectorSpec'
        - $ref: '#/components/schemas/AzureInheritFromDelegateUserAssignedManagedIdentityConnectorSpec'
        - $ref: '#/components/schemas/AzureInheritFromDelegateSystemAssignedManagedIdentityConnectorSpec'
      properties:
        type:
          type: string
          enum:
            - GitHttp
            - GitHttpEncrypted
            - GitSsh
            - Appdynamics
            - AppdynamicsClientId
            - Artifactory
            - ArtifactoryEncrypted
            - ArtifactoryAnonymous
            - AwsCodeCommit
            - AwsAccessKey
            - AwsEncryptedAccessKey
            - AwsIAMRole
            - AwsIRSA
            - AwsKmsAccessKey
            - AwsKmsAssumeIAM
            - AwsKmsAssumeSTS
            - AwsSecretManagerAccessKey
            - AwsSecretManagerAssumeIAM
            - AwsSecretManagerAssumeSTS
            - AzureClientSecretKey
            - AzureClientCertificate
            - AzureInheritFromDelegateUserAssignedManagedIdentity
            - AzureInheritFromDelegateSystemAssignedManagedIdentity
          description: This specifies the type of connector
    GitHttpConnectorSpec:
      title: GitHttp
      description: This contains details of the Generic Git http connector
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - GitHttp
              description: This specifies the type of connector
            url:
              type: string
              description: Git repo url
            branch:
              type: string
              description: branch name
            connection_type:
              type: string
              enum:
                - Account
                - Repo
                - Project
            username:
              type: string
              description: git username
            password_ref:
              type: string
              description: Reference to encrypted Harness secret for git password
            validation_repo:
              type: string
              description: validation repo
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of unique delegate selectors
            execute_on_delegate:
              type: boolean
              description: execute on delegate
          required:
            - type
            - url
            - connection_type
            - username
            - password_ref
    GitHttpEncryptedConnectorSpec:
      title: GitHttpEncrypted
      description: This contains details of the Generic Git http connector
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - GitHttp
              description: This specifies the type of connector
            url:
              type: string
              description: Git repo url
            branch:
              type: string
              description: branch name
            connection_type:
              type: string
              enum:
                - Account
                - Repo
                - Project
            username_ref:
              type: string
              description: Reference to encrypted Harness secret for git username
            password_ref:
              type: string
              description: Reference to encrypted Harness secret for git password
            validation_repo:
              type: string
              description: validation repo
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of unique delegate selectors
            execute_on_delegate:
              type: boolean
              description: execute on delegate
          required:
            - type
            - url
            - connection_type
            - username_ref
            - password_ref
    GitSshConnectorSpec:
      title: GitSsh
      description: This contains details of the Generic Git ssh connector
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - GitSsh
              description: This specifies the type of connector
            url:
              type: string
              description: Git repo url
            branch:
              type: string
              description: branch name
            connection_type:
              type: string
              enum:
                - Account
                - Repo
                - Project
            ssh_key_ref:
              type: string
              description: Reference to encrypted Harness secret for git ssh key
            validation_repo:
              type: string
              description: validation repo
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of unique delegate selectors
            execute_on_delegate:
              type: boolean
              description: execute on delegate
          required:
            - type
            - url
            - connection_type
            - ssh_key_ref
    AppdynamicsConnectorSpec:
      title: Appdynamics
      description: This contains details of the appdynamics connector
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - Appdynamics
              description: This specifies the type of connector
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of unique delegate selectors
            account_name:
              type: string
              description: appdymanics account name
            controller_url:
              type: string
              description: appdynamics controller url
            username:
              type: string
              description: appdynamics username
            password_ref:
              type: string
              description: Reference to encrypted Harness secret for appdynamics password secret
          required:
            - type
            - account_name
            - controller_url
    AppdynamicsClientIdConnectorSpec:
      title: AppdynamicsClientId
      description: This contains details of the appdynamics connector with client secrets
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AppdynamicsClientId
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of unique delegate selectors
            account_name:
              type: string
              description: appdymanics account name
            controller_url:
              type: string
              description: appdynamics controller url
            client_id:
              type: string
              description: appdynamics client id
            client_secret_ref:
              type: string
              description: Reference to encrypted Harness secret for appdynamics client secret
          required:
            - type
            - account_name
            - controller_url
    ArtifactoryAnonymousConnectorSpec:
      title: ArtifactoryAnonymous
      description: This contains details of the artifactory connector with anonymous user
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - ArtifactoryAnonymous
              description: This specifies the type of connector
            url:
              type: string
              description: artifactory repo url
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of unique delegate selectors
            execute_on_delegate:
              type: boolean
              description: execute on delegate
          required:
            - type
            - url
    ArtifactoryConnectorSpec:
      title: Artifactory
      description: This contains details of the artifactory connector with username/password
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - Artifactory
              description: This specifies the type of connector
            url:
              type: string
              description: artifactory repo url
            username:
              type: string
              description: artifactory username
            password_ref:
              type: string
              description: Reference to encrypted Harness secret for artifactory password
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of unique delegate selectors
            execute_on_delegate:
              type: boolean
              description: execute on delegate
          required:
            - type
            - url
            - username
            - password_ref
    ArtifactoryEncryptedConnectorSpec:
      title: ArtifactoryEncrypted
      description: This contains details of the artifactory connector with encrypted username/password
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - ArtifactoryEncrypted
              description: This specifies the type of connector
            url:
              type: string
              description: artifactory repo url
            username_ref:
              type: string
              description: Reference to encrypted Harness secret for artifactory username
            password_ref:
              type: string
              description: Reference to encrypted Harness secret for artifactory password
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of unique delegate selectors
            execute_on_delegate:
              type: boolean
              description: execute on delegate
          required:
            - type
            - url
            - username_ref
            - password_ref
    AwsCodeCommitConnectorSpec:
      title: AwsCodeCommit
      description: This contains details of the AWS code commit connector
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AwsCodeCommit
              description: This specifies the type of connector
            url:
              type: string
              description: AWS codecommit repository url
            url_type:
              type: string
              description: AWS codecommit repository url type
              enum:
                - Repo
                - Region
            access_key:
              type: string
              description: AWS access key
            access_key_ref:
              type: string
              description: Reference to encrypted Harness secret for AWS access key
            secret_key_ref:
              type: string
              description: Reference to encrypted Harness secret for AWS secret key
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of unique delegate selectors
          required:
            - type
            - url
            - url_type
            - secret_key_ref
    AwsAccessKeyConnectorSpec:
      title: AwsAccessKey
      description: This contains details of the AWS connector and needs AWS access and secret keys for an AWS IAM user.
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AwsAccessKey
              description: This specifies the type of connector
            access_key:
              type: string
              description: AWS access key
            secret_key_ref:
              type: string
              description: Reference to encrypted Harness secret for AWS secret key
            cross_account_role_arn:
              type: string
              description: 'If you want to use one AWS account for the connection, but you want to deploy or build in a different AWS account. In this scenario, the AWS account used for AWS access in Credentials will assume the IAM role you specify in Cross-account role ARN setting. This option uses the AWS Security Token Service (STS) feature.'
            external_id:
              type: string
              description: 'If the administrator of the account to which the role belongs provided you with an external ID, then enter that value.'
            test_region:
              type: string
              description: 'By default, Harness uses the us-east-1 region to test the credentials for this Connector. If you want to use an AWS GovCloud account for this Connector, select it in Test Region. GovCloud is used by organizations such as government agencies at the federal, state, and local level, as well as contractors, educational institutions. It is also used for regulatory compliance with these organizations.'
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of unique delegate selectors
            execute_on_delegate:
              type: boolean
              default: true
              description: execute on delegate
          required:
            - type
            - access_key
            - secret_key_ref
    AwsEncryptedAccessKeyConnectorSpec:
      title: AwsEncryptedAccessKey
      description: This contains details of the AWS connector and needs AWS encrypted access and secret keys for an AWS IAM user.
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AwsEncryptedAccessKey
              description: This specifies the type of connector
            access_key_ref:
              type: string
              description: Reference to encrypted Harness secret for AWS access key
            secret_key_ref:
              type: string
              description: Reference to encrypted Harness secret for AWS secret key
            cross_account_role_arn:
              type: string
              description: 'If you want to use one AWS account for the connection, but you want to deploy or build in a different AWS account. In this scenario, the AWS account used for AWS access in Credentials will assume the IAM role you specify in Cross-account role ARN setting. This option uses the AWS Security Token Service (STS) feature.'
            external_id:
              type: string
              description: 'If the administrator of the account to which the role belongs provided you with an external ID, then enter that value.'
            test_region:
              type: string
              description: 'By default, Harness uses the us-east-1 region to test the credentials for this Connector. If you want to use an AWS GovCloud account for this Connector, select it in Test Region. GovCloud is used by organizations such as government agencies at the federal, state, and local level, as well as contractors, educational institutions. It is also used for regulatory compliance with these organizations.'
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of unique delegate selectors
            execute_on_delegate:
              type: boolean
              default: true
              description: execute on delegate
          required:
            - type
            - access_key_ref
            - secret_key_ref
    AwsIAMRoleConnectorSpec:
      title: AwsIAMRole
      description: This contains details of the AWS connector. This assume IAM role on Delegate and uses the IAM role of a Harness Delegate running in your AWS account.
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AwsIAMRole
              description: This specifies the type of connector
            cross_account_role_arn:
              type: string
              description: 'If you want to use one AWS account for the connection, but you want to deploy or build in a different AWS account. In this scenario, the AWS account used for AWS access in Credentials will assume the IAM role you specify in Cross-account role ARN setting. This option uses the AWS Security Token Service (STS) feature.'
            external_id:
              type: string
              description: 'If the administrator of the account to which the role belongs provided you with an external ID, then enter that value.'
            test_region:
              type: string
              description: 'By default, Harness uses the us-east-1 region to test the credentials for this Connector. If you want to use an AWS GovCloud account for this Connector, select it in Test Region. GovCloud is used by organizations such as government agencies at the federal, state, and local level, as well as contractors, educational institutions. It is also used for regulatory compliance with these organizations.'
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of unique delegate selectors
            execute_on_delegate:
              type: boolean
              default: true
              description: execute on delegate
          required:
            - type
    AwsIRSAConnectorSpec:
      title: AwsIRSA
      description: This contains details of the AWS connector. This uses IRSA and forces the Harness kubernetes delegate in AWS EKS to use a specific IAM role.
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AwsIRSA
              description: This specifies the type of connector
            cross_account_role_arn:
              type: string
              description: 'If you want to use one AWS account for the connection, but you want to deploy or build in a different AWS account. In this scenario, the AWS account used for AWS access in Credentials will assume the IAM role you specify in Cross-account role ARN setting. This option uses the AWS Security Token Service (STS) feature.'
            external_id:
              type: string
              description: 'If the administrator of the account to which the role belongs provided you with an external ID, then enter that value.'
            test_region:
              type: string
              description: 'By default, Harness uses the us-east-1 region to test the credentials for this Connector. If you want to use an AWS GovCloud account for this Connector, select it in Test Region. GovCloud is used by organizations such as government agencies at the federal, state, and local level, as well as contractors, educational institutions. It is also used for regulatory compliance with these organizations.'
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of unique delegate selectors
            execute_on_delegate:
              type: boolean
              default: true
              description: execute on delegate
          required:
            - type
    AwsKmsAccessKeyConnectorSpec:
      title: AwsKmsAccessKey
      description: This contains details of the AWS and needs AWS encrypted access and secret keys for the AWS KMS.
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AwsKmsAccessKey
              description: This specifies the type of connector
            kms_arn:
              type: string
              description: Amazon Resource Name (ARN)
            region:
              type: string
              description: AWS Region for kms
            default:
              type: boolean
              description: Boolean value to indicate if the Secret Manager is your default Secret Manager
            access_key:
              type: string
              description: Access Key for AWS authentication
            secret_key:
              type: string
              description: Secret Key for AWS authentication
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of Delegate Selectors that belong to the same Delegate and are used to connect to the Secret Manager
          required:
            - type
            - kms_arn
            - region
            - access_key
            - secret_key
    AwsKmsAssumeIAMConnectorSpec:
      title: AwsKmsAssumeIAM
      description: 'This contains details of the AWS connector and Harness will authenticate using the IAM role assigned to the AWS host running the Delegate, you select using a Delegate Selector.'
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AwsKmsAssumeIAM
              description: This specifies the type of connector
            kms_arn:
              type: string
              description: Amazon Resource Name (ARN)
            region:
              type: string
              description: AWS Region for kms
            default:
              type: boolean
              description: Boolean value to indicate if the Secret Manager is your default Secret Manager
            delegate_selectors:
              type: array
              description: List of Delegate Selectors that belong to the same Delegate and are used to connect to the Secret Manager
              minItems: 1
              items:
                type: string
          required:
            - type
            - kms_arn
            - region
            - delegate_selectors
    AwsKmsAssumeSTSConnectorSpec:
      title: AwsKmsAssumeSTS
      description: 'This contains details of the AWS connector and Harness will authenticate using the IAM role assigned to the AWS host running the Delegate, you select using a Delegate Selector.'
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AwsKmsAssumeSTS
              description: This specifies the type of connector
            kms_arn:
              type: string
              description: Amazon Resource Name (ARN)
            region:
              type: string
              description: AWS Region for kms
            default:
              type: boolean
              description: Boolean value to indicate if the Secret Manager is your default Secret Manager
            delegate_selectors:
              type: array
              description: List of Delegate Selectors that belong to the same Delegate and are used to connect to the Secret Manager
              minItems: 1
              items:
                type: string
            role_arn:
              type: string
              description: Role ARN for the Delegate with STS Role
            external_id:
              type: string
              description: 'If the administrator of the account to which the role belongs provided you with an external ID, then enter that value.'
            assume_sts_role_duration:
              type: string
              description: This is the AssumeRole Session Duration
          required:
            - type
            - kms_arn
            - region
            - delegate_selectors
    AwsSecretManagerAccessKeyConnectorSpec:
      title: AwsSecretManagerAccessKey
      description: This contains details of the AWS and needs AWS encrypted access and secret keys for the AWS Secret Manager.
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AwsSecretManagerAccessKey
              description: This specifies the type of connector
            region:
              type: string
              description: AWS Region for kms
            default:
              type: boolean
              description: Boolean value to indicate if the Secret Manager is your default Secret Manager
            access_key:
              type: string
              description: Access Key for AWS authentication
            secret_key:
              type: string
              description: Secret Key for AWS authentication
            secret_name_prefix:
              type: string
              description: Text that is prepended to the Secret name as a prefix
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of Delegate Selectors that belong to the same Delegate and are used to connect to the Secret Manager
          required:
            - type
            - region
            - access_key
            - secret_key
    AwsSecretManagerAssumeIAMConnectorSpec:
      title: AwsSecretManagerAssumeIAM
      description: 'This contains details of the AWS connector and Harness will authenticate using the IAM role assigned to the AWS host running the Delegate, you select using a Delegate Selector.'
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AwsSecretManagerAssumeIAM
              description: This specifies the type of connector
            region:
              type: string
              description: AWS Region for kms
            default:
              type: boolean
              description: Boolean value to indicate if the Secret Manager is your default Secret Manager
            secret_name_prefix:
              type: string
              description: Text that is prepended to the Secret name as a prefix
            delegate_selectors:
              type: array
              description: List of Delegate Selectors that belong to the same Delegate and are used to connect to the Secret Manager
              minItems: 1
              items:
                type: string
          required:
            - type
            - region
    AwsSecretManagerAssumeSTSConnectorSpec:
      title: AwsSecretManagerAssumeSTS
      description: 'This contains details of the AWS connector and Harness will authenticate using the STS role assigned to the AWS host running the Delegate, you select using a Delegate Selector.'
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AwsSecretManagerAssumeSTS
              description: This specifies the type of connector
            region:
              type: string
              description: AWS Region for kms
            default:
              type: boolean
              description: Boolean value to indicate if the Secret Manager is your default Secret Manager
            secret_name_prefix:
              type: string
              description: Text that is prepended to the Secret name as a prefix
            delegate_selectors:
              type: array
              description: List of Delegate Selectors that belong to the same Delegate and are used to connect to the Secret Manager
              minItems: 1
              items:
                type: string
            role_arn:
              type: string
              description: Role ARN for the Delegate with STS Role
            external_id:
              type: string
              description: 'If the administrator of the account to which the role belongs provided you with an external ID, then enter that value.'
            assume_sts_role_duration:
              type: string
              description: This is the AssumeRole Session Duration
          required:
            - type
            - region
            - role_arn
    AzureClientSecretKeyConnectorSpec:
      title: AzureClientSecretKey
      description: This contains details of the Azure connector and uses Azure client secret key details
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AzureClientSecretKey
              description: This specifies the type of connector
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of Delegate Selectors that belong to the same Delegate and are used to connect to the Secret Manager
              minItems: 1
            azure_environment_type:
              type: string
              default: AZURE
              enum:
                - AZURE
                - AZURE_US_GOVERNMENT
              description: 'This specifies the Azure Environment type, which is AZURE by default.'
            execute_on_delegate:
              type: boolean
              default: true
              description: execute on delegate
            application_id:
              type: string
              description: Application ID of the Azure App
            tenant_id:
              type: string
              description: The Azure Active Directory (AAD) directory ID where you created your application
            secret_ref:
              type: string
              description: Reference to encrypted Harness secret for Azure client secret
          required:
            - type
            - azure_environment_type
            - application_id
            - tenant_id
            - secret_ref
    AzureClientCertificateConnectorSpec:
      title: AzureClientCertificate
      description: This contains details of the Azure connector and uses Azure client certificate details
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AzureClientCertificate
              description: This specifies the type of connector
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of Delegate Selectors that belong to the same Delegate and are used to connect to the Secret Manager
              minItems: 1
            azure_environment_type:
              type: string
              default: AZURE
              enum:
                - AZURE
                - AZURE_US_GOVERNMENT
              description: 'This specifies the Azure Environment type, which is AZURE by default.'
            execute_on_delegate:
              type: boolean
              default: true
              description: execute on delegate
            application_id:
              type: string
              description: Application ID of the Azure App
            tenant_id:
              type: string
              description: The Azure Active Directory (AAD) directory ID where you created your application
            certificate_ref:
              type: string
              description: Reference to encrypted Harness secret for Azure client secret
          required:
            - type
            - azure_environment_type
            - application_id
            - tenant_id
            - certificate_ref
    AzureInheritFromDelegateUserAssignedManagedIdentityConnectorSpec:
      title: AzureInheritFromDelegateUserAssignedManagedIdentity
      description: This contains details of the Azure connector and for azure UserAssigned MSI auth details
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AzureInheritFromDelegateUserAssignedManagedIdentity
              description: This specifies the type of connector
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of Delegate Selectors that belong to the same Delegate and are used to connect to the Secret Manager
              minItems: 1
            azure_environment_type:
              type: string
              default: AZURE
              enum:
                - AZURE
                - AZURE_US_GOVERNMENT
              description: 'This specifies the Azure Environment type, which is AZURE by default.'
            execute_on_delegate:
              type: boolean
              default: true
              description: execute on delegate
            client_id:
              type: string
              description: Client Id of the ManagedIdentity resource
          required:
            - type
            - azure_environment_type
            - client_id
    AzureInheritFromDelegateSystemAssignedManagedIdentityConnectorSpec:
      title: AzureInheritFromDelegateSystemAssignedManagedIdentity
      description: This contains details of the Azure connector for contains azure MSI auth details
      allOf:
        - $ref: '#/components/schemas/ConnectorSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AzureInheritFromDelegateSystemAssignedManagedIdentity
              description: This specifies the type of connector
            delegate_selectors:
              type: array
              items:
                type: string
              description: List of Delegate Selectors that belong to the same Delegate and are used to connect to the Secret Manager
              minItems: 1
            azure_environment_type:
              type: string
              default: AZURE
              enum:
                - AZURE
                - AZURE_US_GOVERNMENT
              description: 'This specifies the Azure Environment type, which is AZURE by default.'
            execute_on_delegate:
              type: boolean
              default: true
              description: execute on delegate
          required:
            - type
            - azure_environment_type
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
  responses:
    OrganizationResponse:
      description: Organization response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrganizationResponse'
          examples:
            example-organization-response-json:
              value:
                org:
                  slug: example_organization
                  name: Example Organization
                  description: This is an example organization
                  tags:
                    example-tag-1: example-tag-1-value
                    example-tag-2: example-tag-2-value
                created: 1234567890
                updated: 1234567890
                harness_managed: true
        application/yaml:
          schema:
            $ref: '#/components/schemas/OrganizationResponse'
          examples:
            example-organization-response-yaml:
              value: |
                org:
                  slug: example_organization
                  name: Example Organization
                  description: This is an example organization
                  tags:
                    example-tag-1: example-tag-1-value
                    example-tag-2: example-tag-2-value
                created: 1234567890
                updated: 1234567890
                harness_managed: true
    ProjectResponse:
      description: Project response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProjectResponse'
          examples:
            example-project-response-json:
              value:
                project:
                  org: example_org_slug
                  slug: example_project_slug
                  name: example-project-name
                  color: '#0063F7'
                  modules:
                    - CD
                  description: This is a example project
                  tags:
                    property1: value1
                    property2: value2
                created: 1234567890
                updated: 1234567890
        application/yaml:
          schema:
            $ref: '#/components/schemas/ProjectResponse'
          examples:
            example-project-response-yaml:
              value: |
                project:
                  org: example_org_slug
                  slug: example_project_slug
                  name: example-project-name
                  color: '#0063F7'
                  modules:
                    - CD
                  description: This is a example project
                  tags:
                    property1: value1
                    property2: value2
                created: 1234567890
                updated: 1234567890
    ProjectListResponse:
      description: Project list response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ProjectResponse'
          examples:
            example-project-list-response-json:
              value:
                - project:
                    org: example_org_slug
                    slug: example_project_slug
                    name: example-project-name
                    color: '#0063F7'
                    modules:
                      - CD
                    description: This is a example project
                    tags:
                      property1: value1
                      property2: value2
                  created: 1234567890
                  updated: 1234567890
        application/yaml:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ProjectResponse'
          examples:
            example-project-list-response-yaml:
              value: |
                - project:
                    org: example_org_slug
                    slug: example_project_slug
                    name: example-project-name
                    color: '#0063F7'
                    modules:
                      - CD
                    description: This is a example project
                    tags:
                      property1: value1
                      property2: value2
                  created: 1234567890
                  updated: 1234567890
      headers:
        Link:
          schema:
            type: string
          description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.Link'
          examples:
            sample:
              value: '<{url}?page=2&limit=1>; rel="next", <{url}?page=1&limit=1>; rel="self", <{url}?page=0&limit=1>; rel="previous", '
    OrganizationListResponse:
      description: Organization list response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/OrganizationResponse'
          examples:
            example-organizations-list-response-json:
              value:
                - org:
                    slug: example_organization
                    name: Example Organization
                    description: This is an example organization
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                  created: 1234567890
                  updated: 1234567890
                  harness_managed: true
        application/yaml:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/OrganizationResponse'
          examples:
            example-organizations-list-response-yaml:
              value: |
                - org:
                    slug: example_organization
                    name: Example Organization
                    description: This is an example organization
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                  created: 1234567890
                  updated: 1234567890
                  harness_managed: true
      headers:
        Link:
          schema:
            type: string
          description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.'
          examples:
            sample:
              value: '<{url}?page=2&limit=1>; rel="next", <{url}?page=1&limit=1>; rel="self", <{url}?page=0&limit=1>; rel="previous", '
    SecretResponse:
      description: Secret response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretResponse'
          examples:
            example-secret-response-json:
              value:
                secret:
                  name: example_secret
                  slug: example_secret
                  org: default
                  project: example_project
                  tags:
                    property1: example_secret
                  description: example_secret
                  spec:
                    type: SSHKeyPath
                    port: 80
                    username: example_secret
                    key_path: example_secret
                    encrypted_passphrase: account.example_secret
                created: 1234567890
                updated: 1234567890
                draft: false
        application/yaml:
          schema:
            $ref: '#/components/schemas/SecretResponse'
          examples:
            example-secret-response-yaml:
              value: |
                secret:
                  name: example_secret
                  slug: example_secret
                  org: default
                  project: example_project
                  tags:
                    property1: example_secret
                  description: example_secret
                  spec:
                    type: SSHKeyPath
                    port: 80
                    username: example_secret
                    key_path: example_secret
                    encrypted_passphrase: account.example_secret
                created: 1234567890
                updated: 1234567890
                draft: false
    SecretListResponse:
      description: Secret list response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SecretResponse'
          examples:
            example-list-secret-response-json:
              value:
                - secret:
                    name: example_secret
                    slug: example_secret
                    org: default
                    project: example_project
                    tags:
                      property1: example_secret
                    description: example_secret
                    spec:
                      type: SSHKeyPath
                      port: 80
                      username: example_secret
                      key_path: example_secret
                      encrypted_passphrase: account.example_secret
                  created: 1234567890
                  updated: 1234567890
                  draft: false
        application/yaml:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SecretResponse'
          examples:
            example-list-secret-response-yaml:
              value: |
                - secret:
                    name: example_secret
                    slug: example_secret
                    org: default
                    project: example_project
                    tags:
                      property1: example_secret
                    description: example_secret
                    spec:
                      type: SSHKeyPath
                      port: 80
                      username: example_secret
                      key_path: example_secret
                      encrypted_passphrase: account.example_secret
                  created: 1234567890
                  updated: 1234567890
                  draft: false
      headers:
        Link:
          schema:
            type: string
          description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.Link'
          examples:
            sample:
              value: '<{url}?page=2&limit=1>; rel="next", <{url}?page=1&limit=1>; rel="self", <{url}?page=0&limit=1>; rel="previous", '
    ValidateSecretSlugResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidateSecretSlugResponse'
          examples:
            example-validate-secret-slug-response-json:
              value:
[...]
