openapi: 3.0.3
info:
  title: Harness NextGen Software Delivery Platform API Reference
  version: '1.0'
  description: This is the Open Api Spec 3 for the NextGen Manager. This is under active development. Beware of the breaking change with respect to the generated code stub
  contact:
    email: contact@harness.io
servers:
  - url: 'http://app.harness.io'
    description: harness
x-tagGroups:
  - name: Organization
    tags:
      - Organization
  - name: Project
    tags:
      - Account Project
      - Org Project
  - name: Secret
    tags:
      - Account Secret
      - Org Secret
      - Project Secret
tags:
  - name: Organization
    description: Everything about organization
  - name: Account Project
    description: Everything about account scoped project
  - name: Org Project
    description: Everything about org scoped project
  - name: Account Secret
    description: Everything about account scoped secret
  - name: Org Secret
    description: Everything about org scoped secret
  - name: Project Secret
    description: Everything about project scoped secret
paths:
  /v1/orgs:
    post:
      summary: Create an organization
      operationId: create-organization
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
      description: Creates a new organization.
      security:
        - x-api-key: []
      tags:
        - Organization
      requestBody:
        $ref: '#/components/requestBodies/CreateOrganizationRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
    get:
      summary: List organizations
      operationId: get-organizations
      responses:
        '200':
          $ref: '#/components/responses/OrganizationListResponse'
      description: Retrieves the information of the organizations.
      security:
        - x-api-key: []
      tags:
        - Organization
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/OrgsQueryParam'
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
    parameters: []
  '/v1/orgs/{org}':
    parameters:
      - schema:
          type: string
        name: org
        in: path
        required: true
        description: Organization slug
    get:
      summary: Retrieve an organization
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
      operationId: get-organization
      description: Retrieves the information of the organization with the matching organization slug.
      security:
        - x-api-key: []
      tags:
        - Organization
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
    put:
      summary: Update an organization
      operationId: update-organization
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
      description: Updates the information of the organization with the matching organization slug.
      security:
        - x-api-key: []
      tags:
        - Organization
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrganizationRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
    delete:
      summary: Delete an organization
      operationId: delete-organization
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
      description: Deletes the information of the organization with the matching organization slug.
      security:
        - x-api-key: []
      tags:
        - Organization
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
  /v1/projects:
    post:
      summary: Create a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: create-account-scoped-project
      security:
        - x-api-key: []
      description: Creates a new project
      requestBody:
        $ref: '#/components/requestBodies/CreateProjectRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Account Project
    get:
      summary: List projects
      responses:
        '200':
          $ref: '#/components/responses/ProjectListResponse'
      operationId: get-account-scoped-projects
      description: Retrieves the information of the projects.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/OrgsQueryParam'
        - $ref: '#/components/parameters/ProjectsQueryParam'
        - schema:
            type: boolean
            default: true
          in: query
          name: has_module
          description: This boolean specifies whether to filter projects which has the module of type passed in the moduleType parameter or not
        - schema:
            type: string
          in: query
          name: module_type
          description: Project's module type
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      tags:
        - Account Project
    parameters: []
  '/v1/orgs/{org}/projects':
    post:
      summary: Creates a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: create-org-scoped-project
      security:
        - x-api-key: []
      description: Creates a new project
      requestBody:
        $ref: '#/components/requestBodies/CreateProjectRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Org Project
    get:
      summary: List projects
      responses:
        '200':
          $ref: '#/components/responses/ProjectListResponse'
      operationId: get-org-scoped-projects
      description: Retrieves the information of the projects.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/ProjectsQueryParam'
        - schema:
            type: boolean
            default: true
          in: query
          name: has_module
          description: This boolean specifies whether to filter projects which has the module of type passed in the moduleType parameter or not
        - schema:
            type: string
          in: query
          name: module_type
          description: Project's module type
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      tags:
        - Org Project
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
  '/v1/projects/{project}':
    get:
      summary: Retrieve a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: get-account-scoped-project
      description: Retrieves the information of the project with the matching project slug.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Account Project
    put:
      summary: Update a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: update-account-scoped-project
      description: Updates the information of the project with the matching project slug.
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateProjectRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Account Project
    delete:
      summary: Delete a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: delete-account-scoped-project
      description: Deletes the information of the project with the matching project slug.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Account Project
    parameters:
      - schema:
          type: string
        name: project
        in: path
        required: true
        description: Project slug
  '/v1/orgs/{org}/projects/{project}':
    get:
      summary: Retrieve a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: get-org-scoped-project
      description: Retrieves the information of the project with the matching project slug.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Org Project
    put:
      summary: Update a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: update-org-scoped-project
      description: Updates the information of the project with the matching project slug.
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/UpdateProjectRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Org Project
    delete:
      summary: Delete a project
      responses:
        '200':
          $ref: '#/components/responses/ProjectResponse'
      operationId: delete-org-scoped-project
      description: Deletes the information of the project with the matching project slug.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Org Project
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
  /v1/secrets:
    post:
      summary: Create a secret
      operationId: create-account-scoped-secret
      responses:
        '201':
          $ref: '#/components/responses/SecretResponse'
      description: Creates a new secret
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/PrivateSecret'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      tags:
        - Account Secret
    get:
      summary: List secrets
      operationId: get-account-scoped-secrets
      responses:
        '200':
          $ref: '#/components/responses/SecretListResponse'
      description: Retrieves the information of the secrets.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/OrgQueryParam'
        - $ref: '#/components/parameters/ProjectQueryParam'
        - schema:
            type: array
            items:
              type: string
          in: query
          name: secret
          description: Slug field of secrets
        - schema:
            type: array
            items:
              type: string
              enum:
                - SSHKeyPath
                - SSHKeyReference
                - SSHPassword
                - SSHKerberosTGTKeyTabFile
                - SSHKerberosTGTPassword
                - SecretFile
                - SecretText
                - WinRmTGTKeyTabFile
                - WinRmTGTPassword
                - WinRmNTLM
          in: query
          name: type
          description: Secret types on which the filter will be applied
        - schema:
            type: boolean
            default: false
          in: query
          name: recursive
          description: 'Expand current scope to include all child scopes '
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      tags:
        - Account Secret
      security:
        - x-api-key: []
  '/v1/orgs/{org}/secrets':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
    post:
      summary: Create a secret
      operationId: create-org-scoped-secret
      responses:
        '201':
          $ref: '#/components/responses/SecretResponse'
      description: Creates a new secret
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/PrivateSecret'
      tags:
        - Org Secret
      security:
        - x-api-key: []
    get:
      summary: List secrets
      operationId: get-org-scoped-secrets
      responses:
        '200':
          $ref: '#/components/responses/SecretListResponse'
      description: Retrieves the information of the secrets.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/ProjectQueryParam'
        - schema:
            type: array
            items:
              type: string
          in: query
          name: secret
          description: Slug field of secrets
        - schema:
            type: array
            items:
              type: string
              enum:
                - SSHKeyPath
                - SSHKeyReference
                - SSHPassword
                - SSHKerberosTGTKeyTabFile
                - SSHKerberosTGTPassword
                - SecretFile
                - SecretText
                - WinRmTGTKeyTabFile
                - WinRmTGTPassword
                - WinRmNTLM
          in: query
          name: type
          description: Secret types on which the filter will be applied
        - schema:
            type: boolean
            default: false
          in: query
          name: recursive
          description: 'Expand current scope to include all child scopes '
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      tags:
        - Org Secret
      security:
        - x-api-key: []
  '/v1/orgs/{org}/projects/{project}/secrets':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    post:
      summary: Create a secret
      operationId: create-project-scoped-secret
      responses:
        '201':
          $ref: '#/components/responses/SecretResponse'
      description: Creates a new secret
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - $ref: '#/components/parameters/PrivateSecret'
      tags:
        - Project Secret
      security:
        - x-api-key: []
    get:
      summary: List secrets
      operationId: get-project-scoped-secrets
      responses:
        '200':
          $ref: '#/components/responses/SecretListResponse'
      description: Retrieves the information of the secrets.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
        - schema:
            type: array
            items:
              type: string
          in: query
          name: secret
          description: Slug field of secrets
        - schema:
            type: array
            items:
              type: string
              enum:
                - SSHKeyPath
                - SSHKeyReference
                - SSHPassword
                - SSHKerberosTGTKeyTabFile
                - SSHKerberosTGTPassword
                - SecretFile
                - SecretText
                - WinRmTGTKeyTabFile
                - WinRmTGTPassword
                - WinRmNTLM
          in: query
          name: type
          description: Secret types on which the filter will be applied
        - schema:
            type: boolean
            default: false
          in: query
          name: recursive
          description: 'Expand current scope to include all child scopes '
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      tags:
        - Project Secret
      security:
        - x-api-key: []
  '/v1/secrets/{secret}':
    parameters:
      - schema:
          type: string
        name: secret
        in: path
        required: true
        description: Slug field of the secret
    get:
      summary: Retrieve a secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      operationId: get-account-scoped-secret
      description: Retrieves the information of the secret.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Account Secret
      security:
        - x-api-key: []
    delete:
      summary: Deletes a secret
      tags:
        - Account Secret
      operationId: delete-account-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: Deletes the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
    put:
      summary: Update a secret
      operationId: update-account-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: Updates the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      tags:
        - Account Secret
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      security:
        - x-api-key: []
    head:
      summary: Validate unique secret slug
      operationId: validate-unique-account-scoped-secret-slug
      responses:
        '200':
          $ref: '#/components/responses/ValidateSecretSlugResponse'
      description: Validates secret slug is unique
      tags:
        - Account Secret
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
  '/v1/org/{org}/secrets/{secret}':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - schema:
          type: string
        name: secret
        in: path
        required: true
        description: Slug field of the secret
    get:
      summary: Retrieve a secret
      tags:
        - Org Secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      operationId: get-org-scoped-secret
      description: Retrieves the information of the secret.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
    delete:
      summary: Delete a secret
      tags:
        - Org Secret
      operationId: delete-org-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: Deletes the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
    put:
      summary: Update a secret
      operationId: update-org-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: Updates the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      tags:
        - Org Secret
      security:
        - x-api-key: []
    head:
      summary: Validate unique secret slug
      operationId: validate-unique-org-scoped-secret-slug
      responses:
        '200':
          $ref: '#/components/responses/ValidateSecretSlugResponse'
      description: Validates org scoped secret slug is unique
      tags:
        - Org Secret
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
  '/v1/org/{org}/projects/{project}/secrets/{secret}':
    parameters:
      - $ref: '#/components/parameters/OrgPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - schema:
          type: string
        name: secret
        in: path
        required: true
        description: Slug field of the secret
    get:
      summary: Retrieve a secret
      tags:
        - Project Secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      operationId: get-project-scoped-secret
      description: Retrieves the information of the secret.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
    delete:
      summary: Delete a secret
      tags:
        - Project Secret
      operationId: delete-project-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: Deletes the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
    put:
      summary: Update a secret
      operationId: update-project-scoped-secret
      responses:
        '200':
          $ref: '#/components/responses/SecretResponse'
      description: Updates the information of the secret with the matching secret slug.
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      requestBody:
        $ref: '#/components/requestBodies/SecretRequest'
      tags:
        - Project Secret
      security:
        - x-api-key: []
    head:
      summary: Validate unique secret slug
      operationId: validate-unique-project-scoped-secret-slug
      responses:
        '200':
          $ref: '#/components/responses/ValidateSecretSlugResponse'
      description: Validates project scoped secret slug is unique
      tags:
        - Project Secret
      parameters:
        - $ref: '#/components/parameters/AccountQueryParam'
      security:
        - x-api-key: []
components:
  schemas:
    CreateOrganizationRequest:
      type: object
      properties:
        org:
          $ref: '#/components/schemas/Organization'
    Organization:
      description: Organization model
      type: object
      properties:
        slug:
          type: string
          minLength: 1
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          description: Organization slug
          maxLength: 64
        name:
          type: string
          minLength: 1
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,63}$'
          description: Organization name
          maxLength: 64
        description:
          type: string
          maxLength: 1024
          description: Organization description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Organization tags
      required:
        - slug
        - name
    ModuleType:
      type: string
      description: Type of Modules
      enum:
        - CD
        - CI
        - CV
        - CF
        - CE
        - STO
        - CORE
        - PMS
        - TEMPLATESERVICE
        - GOVERNANCE
    CreateProjectRequest:
      description: Create project request
      type: object
      properties:
        project:
          $ref: '#/components/schemas/Project'
    Project:
      description: Project model
      type: object
      x-examples:
        example-1:
          slug: example_project_slug
          name: example-project-name
          color: '#0063F7'
          modules:
            - CD
          description: This is a example project
          tags:
            property1: value1
            property2: value2
      properties:
        slug:
          type: string
          minLength: 1
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          description: Project slug
          maxLength: 64
        name:
          type: string
          minLength: 1
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,63}$'
          description: Project name
          maxLength: 64
        org:
          type: string
          description: Organization slug for the project
        color:
          type: string
          description: Project color
        modules:
          type: array
          maxItems: 1024
          description: List of modules for project
          items:
            $ref: '#/components/schemas/ModuleType'
        description:
          type: string
          maxLength: 1024
          description: Project description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Project tags
      required:
        - slug
        - name
    ProjectResponse:
      description: Project response model
      type: object
      properties:
        project:
          $ref: '#/components/schemas/Project'
        created:
          type: integer
          format: int64
          description: Creation timestamp for the project
        updated:
          type: integer
          format: int64
          description: Updated timestamp for the project
    OrganizationResponse:
      title: OrganizationResponse
      type: object
      description: Organization response Model
      x-examples:
        example-1:
          org:
            slug: example_organization
            name: Example Organization
            description: This is an Example Organization
            tags:
              example-tag-1: example-tag-1-value
              example-tag-2: example-tag-2-value
          created: 1234567890
          updated: 1234567890
          harness_managed: true
      properties:
        org:
          $ref: '#/components/schemas/Organization'
        created:
          type: integer
          description: Creation timestamp for organization
          format: int64
        updated:
          type: integer
          format: int64
          description: Updated timestamp for organization
        harness_managed:
          type: boolean
          description: 'This indicates if this organization is managed by Harness or not. If true, Harness can manage and modify this organization.'
    UpdateOrganizationRequest:
      description: Update oganization request
      type: object
      properties:
        org:
          $ref: '#/components/schemas/Organization'
      x-examples:
        example-1:
          org:
            slug: example_organization
            name: Example Organization
            description: This is an example organization
            tags:
              example-tag-1: example-tag-1-value
              example-tag-2: example-tag-2-value
    UpdateProjectRequest:
      description: Update project request
      type: object
      x-examples:
        example-1:
          project:
            slug: example_project_slug
            name: example-project-name
            color: '#0063F7'
            modules:
              - CD
            description: This is a example project
            tags:
              property1: value1
              property2: value2
      properties:
        project:
          $ref: '#/components/schemas/Project'
    SecretSpec:
      title: SecretSpec
      type: object
      description: Details of the secret defined in Harness
      required:
        - type
      discriminator:
        propertyName: type
        mapping:
          SSHKeyPath: '#/components/schemas/SSHKeyPathSpec'
          SSHKeyReference: '#/components/schemas/SSHKeyReferenceSpec'
          SSHPassword: '#/components/schemas/SSHPasswordSpec'
          SSHKerberosTGTKeyTabFile: '#/components/schemas/SSHKerberosTGTKeyTabFileSpec'
          SSHKerberosTGTPassword: '#/components/schemas/SSHKerberosTGTPasswordSpec'
          SecretFile: '#/components/schemas/SecretFileSpec'
          SecretText: '#/components/schemas/SecretTextSpec'
          WinRmTGTKeyTabFile: '#/components/schemas/WinRmTGTKeyTabFileSpec'
          WinRmTGTPassword: '#/components/schemas/WinRmTGTPasswordSpec'
          WinRmNTLM: '#/components/schemas/WinRmNTLMSpec'
      oneOf:
        - $ref: '#/components/schemas/SSHKeyPathSpec'
        - $ref: '#/components/schemas/SSHKeyReferenceSpec'
        - $ref: '#/components/schemas/SSHPasswordSpec'
        - $ref: '#/components/schemas/SSHKerberosTGTKeyTabFileSpec'
        - $ref: '#/components/schemas/SSHKerberosTGTPasswordSpec'
        - $ref: '#/components/schemas/SecretFileSpec'
        - $ref: '#/components/schemas/SecretTextSpec'
        - $ref: '#/components/schemas/WinRmTGTKeyTabFileSpec'
        - $ref: '#/components/schemas/WinRmTGTPasswordSpec'
        - $ref: '#/components/schemas/WinRmNTLMSpec'
      properties:
        type:
          type: string
          enum:
            - SSHKeyPath
            - SSHKeyReference
            - SSHPassword
            - SSHKerberosTGTKeyTabFile
            - SSHKerberosTGTPassword
            - SecretFile
            - SecretText
            - WinRmTGTKeyTabFile
            - WinRmTGTPassword
            - WinRmNTLM
          description: This specifies the type of secret
    SSHKeyPathSpec:
      title: SSHKeyPath
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - SSHKeyPath
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              description: SSH port
            username:
              type: string
              description: SSH username
            key_path:
              type: string
              description: Path of the key file
            encrypted_passphrase:
              type: string
              description: This is the passphrase provided while creating the SSH key for local encryption
          required:
            - type
            - username
            - key_path
    SSHKeyReferenceSpec:
      title: SSHKeyReference
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - SSHKeyReference
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              description: SSH port
            username:
              type: string
              description: SSH username
            key:
              type: string
              description: SSH key
            encrypted_passphrase:
              type: string
              description: This is the passphrase provided while creating the SSH key for local encryption
          required:
            - type
            - username
    SSHPasswordSpec:
      title: SSHPassword
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - SSHPassword
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              description: SSH port
            username:
              type: string
              description: SSH username
            password:
              type: string
              description: SSH password
          required:
            - type
            - username
            - password
    SSHKerberosTGTKeyTabFileSpec:
      title: SSHKerberosTGTKeyTabFile
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - SSHKerberosTGTKeyTabFile
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              description: SSH port
            principal:
              type: string
              description: Kerberos principal
            realm:
              type: string
              description: Kerberos realm
            key_path:
              type: string
              description: Kerberos keytab file path
          required:
            - type
    SSHKerberosTGTPasswordSpec:
      title: SSHKerberosTGTPassword
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - SSHKerberosTGTPassword
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              description: SSH port
            principal:
              type: string
              description: Kerberos principal
            realm:
              type: string
              description: Kerberos realm
            password:
              type: string
              description: Kerberos password
          required:
            - type
    SecretFileSpec:
      title: SecretFile
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - SecretFile
              description: This specifies the type of secret
            secret_manager_slug:
              type: string
              description: Slug of the secret manager used to manage the secret
          required:
            - type
            - secret_manager_slug
    SecretTextSpec:
      title: SecretText
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - SecretText
              description: This specifies the type of secret
            secret_manager_slug:
              type: string
              description: Slug of the secret manager used to manage the secret
            value_type:
              type: string
              enum:
                - Inline
                - Reference
              description: This has details to specify if the secret value is inline or referenced
            value:
              type: string
              description: Value of the Secret
          required:
            - type
            - secret_manager_slug
            - value_type
    WinRmTGTKeyTabFileSpec:
      title: WinRmTGTKeyTabFile
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - WinRmTGTKeyTabFile
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              default: 5986
              description: WinRm port
            principal:
              type: string
              description: Kerberos principal
            realm:
              type: string
              description: Kerberos realm
            key_path:
              type: string
              description: Keytab file path
            use_ssl:
              type: boolean
              default: true
              description: This is the Kerberos either to use SSL/https
            skip_cert_checks:
              type: boolean
              default: true
              description: This is the Kerberos either to skip certificate checks
            use_no_profile:
              type: boolean
              description: This is the Kerberos powershell runs without loading profile
          required:
            - type
    WinRmTGTPasswordSpec:
      title: WinRmTGTPassword
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - WinRmTGTPassword
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              default: 5986
              description: WinRm port
            principal:
              type: string
              description: Kerberos principal
            realm:
              type: string
              description: Kerberos realm
            password:
              type: string
              description: Kerberos password
            use_ssl:
              type: boolean
              default: true
              description: This is the Kerberos either to use SSL/https
            skip_cert_checks:
              type: boolean
              default: true
              description: This is the Kerberos either to skip certificate checks
            use_no_profile:
              type: boolean
              description: This is the Kerberos powershell runs without loading profile
          required:
            - type
    WinRmNTLMSpec:
      title: WinRmNTLM
      description: This is the SSH key authentication details defined in Harness.
      allOf:
        - $ref: '#/components/schemas/SecretSpec'
        - type: object
          properties:
            type:
              type: string
              enum:
                - WinRmNTLM
              description: This specifies the type of secret
            port:
              type: integer
              format: int32
              default: 5986
              description: WinRm port
            domain:
              type: string
              description: This is the NTLM domain name
            username:
              type: string
              description: This is the NTLM user name
            password:
              type: string
              description: This is the NTLM password
            use_ssl:
              type: boolean
              default: true
              description: This is the NTLM either to use SSL/https
            skip_cert_checks:
              type: boolean
              default: true
              description: This is the Kerberos either to skip certificate checks
            use_no_profile:
              type: boolean
              description: This is the Kerberos powershell runs without loading profile
          required:
            - type
            - domain
            - username
            - password
    SecretRequest:
      type: object
      properties:
        secret:
          $ref: '#/components/schemas/Secret'
    Secret:
      type: object
      properties:
        name:
          type: string
          description: Secret name
          pattern: '^[0-9a-zA-Z-_ ]{0,63}$'
        slug:
          type: string
          minLength: 1
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          description: Secret slug
          maxLength: 64
        org:
          type: string
          description: Organization slug for secret
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,63}$'
        project:
          type: string
          description: Project slug for secret
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,63}$'
        tags:
          type: object
          additionalProperties:
            type: string
          description: Secret tags
        description:
          type: string
          description: Secret description
        spec:
          $ref: '#/components/schemas/SecretSpec'
      required:
        - name
        - slug
        - spec
    SecretResponse:
      title: SecretResponse
      type: object
      properties:
        secret:
          $ref: '#/components/schemas/Secret'
        created:
          type: integer
          format: int64
          description: Creation timestamp for the secret
        updated:
          type: integer
          format: int64
          description: Updated timestamp for the secret
        draft:
          type: boolean
        governance_metadata:
          type: object
      description: Secret response model
    ValidateSecretSlugResponse:
      title: ValidateSecretSlugResponse
      type: object
      properties:
        valid:
          type: boolean
      description: Validate unique secret slug response model
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
  responses:
    OrganizationResponse:
      description: Organization response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrganizationResponse'
          examples:
            example-organization-response-json:
              value:
                org:
                  slug: example_organization
                  name: Example Organization
                  description: This is an example organization
                  tags:
                    example-tag-1: example-tag-1-value
                    example-tag-2: example-tag-2-value
                created: 1234567890
                updated: 1234567890
                harness_managed: true
        application/yaml:
          schema:
            $ref: '#/components/schemas/OrganizationResponse'
          examples:
            example-organization-response-yaml:
              value: |
                org:
                  slug: example_organization
                  name: Example Organization
                  description: This is an example organization
                  tags:
                    example-tag-1: example-tag-1-value
                    example-tag-2: example-tag-2-value
                created: 1234567890
                updated: 1234567890
                harness_managed: true
    ProjectResponse:
      description: Project response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProjectResponse'
          examples:
            example-project-response-json:
              value:
                project:
                  org: example_org_slug
                  slug: example_project_slug
                  name: example-project-name
                  color: '#0063F7'
                  modules:
                    - CD
                  description: This is a example project
                  tags:
                    property1: value1
                    property2: value2
                created: 1234567890
                updated: 1234567890
        application/yaml:
          schema:
            $ref: '#/components/schemas/ProjectResponse'
          examples:
            example-project-response-yaml:
              value: |
                project:
                  org: example_org_slug
                  slug: example_project_slug
                  name: example-project-name
                  color: '#0063F7'
                  modules:
                    - CD
                  description: This is a example project
                  tags:
                    property1: value1
                    property2: value2
                created: 1234567890
                updated: 1234567890
    ProjectListResponse:
      description: Project list response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ProjectResponse'
          examples:
            example-project-list-response-json:
              value:
                - project:
                    org: example_org_slug
                    slug: example_project_slug
                    name: example-project-name
                    color: '#0063F7'
                    modules:
                      - CD
                    description: This is a example project
                    tags:
                      property1: value1
                      property2: value2
                  created: 1234567890
                  updated: 1234567890
        application/yaml:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ProjectResponse'
          examples:
            example-project-list-response-yaml:
              value: |
                - project:
                    org: example_org_slug
                    slug: example_project_slug
                    name: example-project-name
                    color: '#0063F7'
                    modules:
                      - CD
                    description: This is a example project
                    tags:
                      property1: value1
                      property2: value2
                  created: 1234567890
                  updated: 1234567890
      headers:
        Link:
          schema:
            type: string
          description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.Link'
          examples:
            sample:
              value: '</v1/projects?org=dummy-orgnization&page=2&limit=1>; rel="next", </v1/projects?org=dummy-orgnization&page=1&limit=1>; rel="self", </v1/projects?org=dummy-orgnization&page=0&limit=1>; rel="previous", '
    OrganizationListResponse:
      description: Organization list response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/OrganizationResponse'
          examples:
            example-organizations-list-response-json:
              value:
                - org:
                    slug: example_organization
                    name: Example Organization
                    description: This is an example organization
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                  created: 1234567890
                  updated: 1234567890
                  harness_managed: true
        application/yaml:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/OrganizationResponse'
          examples:
            example-organizations-list-response-yaml:
              value: |
                - org:
                    slug: example_organization
                    name: Example Organization
                    description: This is an example organization
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                  created: 1234567890
                  updated: 1234567890
                  harness_managed: true
      headers:
        Link:
          schema:
            type: string
          description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.'
          examples:
            sample:
              value: '</v1/orgs?page=2&limit=1>; rel="next", </v1/orgs?page=1&limit=1>; rel="self", </v1/orgs?page=0&limit=1>; rel="previous", '
    SecretResponse:
      description: Secret response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretResponse'
          examples:
            example-create-secret-response-json:
              value:
                secret:
                  name: example_secret
                  slug: example_secret
                  org: default
                  project: example_project
                  tags:
                    property1: example_secret
                  description: example_secret
                  spec:
                    type: SSHKeyPath
                    port: 80
                    username: example_secret
                    key_path: example_secret
                    encrypted_passphrase: account.example_secret
                created: 1234567890
                updated: 1234567890
                draft: false
                governance_metatdata: null
        application/yaml:
          schema:
            $ref: '#/components/schemas/SecretResponse'
          examples:
            example-create-secret-response-yaml:
              value: |
                secret:
                  name: example_secret
                  slug: example_secret
                  org: default
                  project: example_project
                  tags:
                    property1: example_secret
                  description: example_secret
                  spec:
                    type: SSHKeyPath
                    port: 80
                    username: example_secret
                    key_path: example_secret
                    encrypted_passphrase: account.example_secret
                created: 1234567890
                updated: 1234567890
                draft: false
                governance_metatdata: null
    SecretListResponse:
      description: Secret list response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SecretResponse'
          examples:
            example-list-secret-response-json:
              value:
                - secret:
                    name: example_secret
                    slug: example_secret
                    org: default
                    project: example_project
                    tags:
                      property1: example_secret
                    description: example_secret
                    spec:
                      type: SSHKeyPath
                      port: 80
                      username: example_secret
                      key_path: example_secret
                      encrypted_passphrase: account.example_secret
                  created: 1234567890
                  updated: 1234567890
                  draft: false
                  governance_metatdata: null
        application/yaml:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SecretResponse'
          examples:
            example-list-secret-response-yaml:
              value: |
                - secret:
                    name: example_secret
                    slug: example_secret
                    org: default
                    project: example_project
                    tags:
                      property1: example_secret
                    description: example_secret
                    spec:
                      type: SSHKeyPath
                      port: 80
                      username: example_secret
                      key_path: example_secret
                      encrypted_passphrase: account.example_secret
                  created: 1234567890
                  updated: 1234567890
                  draft: false
                  governance_metatdata: null
    ValidateSecretSlugResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidateSecretSlugResponse'
          examples:
            example-validate-secret-slug-response-json:
              value:
                valid: true
        application/yaml:
          schema:
            type: object
            properties:
              valid:
                type: boolean
          examples:
            example-validate-secret-slug-response-json:
              value: |
                valid: true
  requestBodies:
    UpdateProjectRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateProjectRequest'
          examples:
            example-project-update-request-json:
              value:
                project:
                  slug: example_project_slug
                  name: example-project-name
                  color: '#0063F7'
                  modules:
                    - CD
                  description: This is a example project
                  tags:
                    property1: value1
                    property2: value2
        application/yaml:
          schema:
            $ref: '#/components/schemas/UpdateProjectRequest'
          examples:
            example-project-update-request-yaml:
              value: |
                project:
                  slug: example_project_slug
                  name: example-project-name
                  color: '#0063F7'
                  modules:
                    - CD
                  description: This is a example project
                  tags:
                    property1: value1
                    property2: value2
      description: Put the necessary fields for the API to update a Project.
      required: true
    CreateOrganizationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateOrganizationRequest'
          examples:
            example-create-organization-request-json:
              value:
                org:
                  slug: example_organization
                  name: Example Organization
                  description: This is an Example organization
                  tags:
                    example-tag-1: example-tag-1-value
                    example-tag-2: example-tag-2-value
        application/yaml:
          schema:
            $ref: '#/components/schemas/CreateOrganizationRequest'
          examples:
            example-create-organization-request-yaml:
              value: |
                org:
                  slug: example_organization
                  name: Example Organization
                  description: This is an Example organization
                  tags:
                    example-tag-1: example-tag-1-value
                    example-tag-2: example-tag-2-value
      description: Post the necessary fields for the API to create an organization.
      required: true
    UpdateOrganizationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateOrganizationRequest'
          examples:
            example-organization-update-request-json:
              value:
                org:
                  slug: example_organization
                  name: Example Organization
                  description: This is an example organization
                  tags:
                    example-tag-1: example-tag-1-value
                    example-tag-2: example-tag-2-value
        application/yaml:
          schema:
            $ref: '#/components/schemas/UpdateOrganizationRequest'
          examples:
            example-organization-update-request-json:
              value: |
                org:
                  slug: example_organization
                  name: Example Organization
                  description: This is an example organization
                  tags:
                    example-tag-1: example-tag-1-value
                    example-tag-2: example-tag-2-value
      description: Put the necessary fields for the API to update a organization.
      required: true
    CreateProjectRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateProjectRequest'
          examples:
            example-create-project-request-json:
              value:
                project:
                  slug: example_project_slug
                  name: example-project-name
                  color: '#0063F7'
                  modules:
                    - CD
                  description: This is a example project
                  tags:
                    property1: value1
                    property2: value2
        application/yaml:
          schema:
            $ref: '#/components/schemas/CreateProjectRequest'
          examples:
            example-create-project-request-yaml:
              value: |
                project:
                  slug: example_project_slug
                  name: example-project-name
                  color: '#0063F7'
                  modules:
                    - CD
                  description: This is a example project
                  tags:
                    property1: value1
                    property2: value2
      description: Post the necessary fields for the API to create a project.
      required: true
    SecretRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretRequest'
          examples:
            example-create-secret-request-json:
              value:
                secret:
                  name: example_secret
                  slug: example_secret
                  org: default
                  project: example_project
                  tags:
                    property1: example_secret
                  description: example_secret
                  spec:
                    type: SSHKeyPath
                    port: 80
                    username: example_secret
                    key_path: example_secret
                    encrypted_passphrase: account.example_secret
        application/yaml:
          schema:
            $ref: '#/components/schemas/SecretRequest'
          examples:
            example-create-secret-request-yaml:
              value: |
                secret:
                  name: example_secret
                  slug: example_secret
                  org: default
                  project: example_project
                  tags:
                    property1: example_secret
                  description: example_secret
                  spec:
                    type: SSHKeyPath
                    port: 80
                    username: example_secret
                    key_path: example_secret
                    encrypted_passphrase: account.example_secret
        multipart/form-data:
          schema:
            properties:
              spec:
                $ref: '#/components/schemas/SecretRequest'
              file:
                type: string
                format: binary
            required:
              - file
              - spec
      required: true
  parameters:
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 30
      description: 'Pagination: Number of items to return'
    SearchTerm:
      name: search_term
      in: query
      required: false
      schema:
        type: string
      description: This would be used to filter resources having attributes matching with search term.
    OrgQueryParam:
      name: org
      in: query
      schema:
        type: string
      description: Slug field of the organization the resource is scoped to
    ProjectQueryParam:
      name: project
      in: query
      schema:
        type: string
      description: Slug field of the project the resource is scoped to
    AccountQueryParam:
      name: account
      in: query
      required: false
      schema:
        type: string
      description: Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.
    OrgsQueryParam:
      name: org
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      description: Slug field of the organizations the resource is scoped to
    ProjectsQueryParam:
      name: project
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      description: Slug field of the projects the resource is scoped to
    OrgPathParam:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Slug field of the organization the resource is scoped to
    PrivateSecret:
      name: private_secret
      in: query
      schema:
        type: boolean
        default: false
      description: This would be used to define secret as private.
    ProjectPathParam:
      name: project
      in: path
      required: true
      schema:
        type: string
      description: Slug field of the project the resource is scoped to
