openapi: 3.0.0
x-stoplight:
  id: bfet7n314xd4i
info:
  title: Harness NextGen Software Delivery Platform API Reference
  version: '1.0'
  description: This is the Open Api Spec 3 for the Pipeline Service. This is under active development. Beware of the breaking change with respect to the generated code stub.
  contact:
    email: contact@harness.io
servers:
  - url: 'http://app.harness.io'
    description: localhost
tags:
  - name: Pipeline Resource
    description: This contains APIs for performing CRUD operations on Pipelines.
x-tagGroups:
  - name: Pipelines
    tags:
      - Pipeline Resource
paths:
  '/v1/orgs/{org}/projects/{project}/pipelines':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    get:
      summary: List Pipelines
      operationId: list-pipelines-project
      description: Returns a list of Pipelines.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SearchTerm'
        - schema:
            type: string
          in: query
          name: module
        - schema:
            type: string
          in: query
          name: filter_identifier
        - $ref: '#/components/parameters/Branch'
        - schema:
            type: string
          in: query
          name: get_default_from_other_repo
      security:
        - x-api-key: []
      tags:
        - Pipeline Resource
    post:
      summary: Create a Pipeline
      operationId: create-pipeline-project
      description: Creates a Pipeline.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Branch'
        - $ref: '#/components/parameters/FilePath'
        - $ref: '#/components/parameters/CommitMsg'
        - $ref: '#/components/parameters/NewBranch'
        - $ref: '#/components/parameters/BaseBranch'
        - $ref: '#/components/parameters/Connector'
        - $ref: '#/components/parameters/StoreType'
        - $ref: '#/components/parameters/RepoName'
      tags:
        - Pipeline Resource
      requestBody:
        $ref: '#/components/requestBodies/PipelineRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/PipelineCreateResponseBody'
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
    get:
      summary: Retrieve a Pipeline
      operationId: get-pipeline-project
      security:
        - x-api-key: []
      description: Retrieves a Pipeline.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Branch'
        - schema:
            type: boolean
            default: false
          in: query
          name: template_resolved
          description: 'In YAML view, if true, returns Pipeline YAML with Templates resolved.'
        - schema:
            type: string
            default: YAML
            enum:
              - YAML
              - Summary
          in: query
          name: view_options
          description: This specifies the view option for Pipeline Resource.
      tags:
        - Pipeline Resource
      responses:
        '200':
          $ref: '#/components/responses/PipelineGetResponseBody'
    put:
      summary: Update a Pipeline
      operationId: update-pipeline-project
      security:
        - x-api-key: []
      description: Updates a Pipeline.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Branch'
        - $ref: '#/components/parameters/CommitMsg'
        - schema:
            type: string
          in: query
          name: last_object_id
          description: Last object identifier (for Github).
        - $ref: '#/components/parameters/BaseBranch'
        - schema:
            type: string
          in: query
          name: last_commit_id
          description: Last commit identifier (for other Git Repositories).
      tags:
        - Pipeline Resource
      requestBody:
        $ref: '#/components/requestBodies/PipelineRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/PipelineCreateResponseBody'
    delete:
      summary: Delete a Pipeline
      operationId: delete-pipeline-project
      description: Deletes a Pipeline.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Pipeline Resource
      responses:
        '204':
          description: No Content
components:
  schemas:
    GitDetails:
      title: GitDetails
      x-stoplight:
        id: qkq00fbqykhxw
      type: object
      description: Git details of the Entity.
      x-examples:
        example-git:
          object: example_object
          branch: branch
          file_path: /folder/file.json
          repo_name: example_repository
          commit_id: abcd123
          file_url: www.repo/folder/file.com
          repo_url: www.repo.com
      properties:
        object:
          type: string
          description: Object identifier of the Entity.
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          minLength: 1
          maxLength: 64
        branch:
          type: string
          description: Name of the branch (for Git Experience).
        file_path:
          type: string
          description: File path of the Entity in the repository (for Git Experience).
        repo_name:
          type: string
          description: Name of the repository (for Git Experience).
        commit_id:
          type: string
          description: Latest commit identifier (for Git Experience).
        file_url:
          type: string
          description: File URL of the Entity.
        repo_url:
          type: string
          description: Repository URL of the Entity.
    PipelineViewResponseOption:
      title: Pipeline View Response Option
      x-stoplight:
        id: 4ber6cwtjshnu
      type: object
      description: Pipeline Resource response body
      required: view_option
      discriminator:
        propertyName: view_option
        mapping:
          YAML: '#/components/schemas/YAML'
          Summary: '#/components/schemas/Summary'
      oneOf:
        - $ref: '#/components/schemas/YAML'
        - $ref: '#/components/schemas/Summary'
      properties:
        view_option:
          type: string
          enum:
            - YAML
            - Summary
          description: This specifies the view option for Pipeline Resource.
      x-examples:
        example-yaml:
          pipeline_yaml: example_yaml_text
          pipeline_yaml_with_templates: example_yaml_text_with_template
    YAML:
      title: YAML
      x-stoplight:
        id: twnioaqmn69uy
      description: Pipeline response body (YAML view).
      allOf:
        - $ref: '#/components/schemas/PipelineViewResponseOption'
        - type: object
          properties:
            pipeline_yaml:
              type: string
              description: Pipeline YAML (returned as a String).
            pipeline_yaml_with_templates:
              type: string
              description: Pipeline YAML after resolving Templates (returned as a String).
          x-examples:
            example-yaml:
              pipeline_yaml: example_yaml_text
              pipeline_yaml_with_templates: example_yaml_text_with_template
      x-examples:
        example-yaml:
          pipeline_yaml: example_yaml_text
          pipeline_yaml_with_templates: example_yaml_text_with_template
    Summary:
      title: Summary
      x-stoplight:
        id: kaxl2v3p6i4wx
      description: Pipeline response body (Summary view).
      allOf:
        - $ref: '#/components/schemas/PipelineViewResponseOption'
        - type: object
          properties:
            slug:
              type: string
              description: Pipeline identifier
              pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
              minLength: 1
              maxLength: 64
            name:
              type: string
              description: Pipeline name
              pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
              minLength: 1
              maxLength: 64
            description:
              type: string
              maxLength: 1024
              description: Pipeline description
            tags:
              type: object
              additionalProperties:
                type: string
              maxProperties: 128
              description: Pipeline tags
            version:
              type: string
              description: Pipeline version
            created:
              type: integer
              description: Creation timestamp for Pipeline.
              format: int64
            updated:
              type: integer
              description: Last modification timestamp for Pipeline.
              format: int64
            execution_summary:
              $ref: '#/components/schemas/ExecutionSummary'
            filter:
              type: object
              description: Additional properties
            store_type:
              type: string
              description: Specifies whether the Entity is to be stored in Git or not (for Git Experience).
              enum:
                - INLINE
                - REMOTE
            connector_ref:
              type: string
              description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
            draft:
              type: boolean
              description: Specifies whether draft Pipeline or not.
      x-examples:
        example-summary:
          slug: example_pipeline
          name: Example Pipeline
          description: This is an Example Pipeline
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          version: v1
          created: 1234567890
          updated: 1234567890
          execution_summary:
            error_last_week:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
            deployments:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
            last_executed: 1234567890
            last_status: Running
            last_execution: example_execution_slug
          filter: {}
          store_type: INLINE
          connector_ref: example_connector
          draft: true
    ExecutionSummary:
      title: ExecutionSummary
      x-stoplight:
        id: mxtmp0n5g1bsg
      type: object
      description: Execution Summary
      x-examples:
        example-execution-summary:
          error_last_week:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
          deployments:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
          last_executed: 1234567890
          last_status: Running
          last_execution: example_execution_slug
      properties:
        error_last_week:
          type: array
          description: Number of errors on each of the last 7 days.
          items:
            type: integer
            format: int32
        deployments:
          type: array
          description: Number of deployments on each of the last 7 days.
          items:
            type: integer
            format: int32
        last_executed:
          type: integer
          format: int64
          description: Timestamp of the last Execution of the Pipeline.
        last_status:
          type: string
          description: This is the last Execution status of the Pipeline.
          enum:
            - Running
            - AsyncWaiting
            - TaskWaiting
            - TimedWaiting
            - Failed
            - Errored
            - IgnoreFailed
            - NotStarted
            - Expired
            - Aborted
            - Discontinuing
            - Queued
            - Paused
            - ResourceWaiting
            - InterventionWaiting
            - ApprovalWaiting
            - Success
            - Suspended
            - Skipped
            - Pausing
            - ApprovalRejected
            - InputWaiting
            - NOT_STARTED
            - INTERVENTION_WAITING
            - APPROVAL_WAITING
            - APPROVAL_REJECTED
            - Waiting
        last_execution:
          type: string
          description: Execution identifier of the last Execution.
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          minLength: 1
          maxLength: 64
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 30
        maximum: 100
      description: 'Pagination: Number of items to return.'
    PageIndex:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: 'Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.'
    SearchTerm:
      name: search_term
      in: query
      required: false
      schema:
        type: string
      description: This would be used to filter resources having attributes matching the search term.
    OrgParam:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Organization identifier
    ProjectParam:
      name: project
      in: path
      required: true
      schema:
        type: string
      description: Project identifier
    AccountHeader:
      name: account
      in: header
      required: false
      schema:
        type: string
      description: 'Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.'
    Branch:
      name: branch
      in: query
      required: false
      schema:
        type: string
      description: Name of the branch (for Git Experience).
    FilePath:
      name: file_path
      in: query
      required: false
      schema:
        type: string
      description: File path of the Entity in the repository (for Git Experience).
    CommitMsg:
      name: commit_message
      in: query
      schema:
        type: string
      description: Commit message used for the merge commit (for Git Experience).
    NewBranch:
      name: create_new_branch
      in: query
      required: false
      schema:
        type: boolean
        default: 'false'
      description: Checks out a new branch in the repository (for Git Experience).
    BaseBranch:
      name: base_branch
      in: query
      required: false
      schema:
        type: string
      description: Name of the default branch (for Git Experience).
    Connector:
      name: connector_ref
      in: query
      required: false
      schema:
        type: string
      description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
    StoreType:
      name: store_type
      in: query
      required: false
      schema:
        type: string
        enum:
          - INLINE
          - REMOTE
      description: Specifies whether the Entity is to be stored in Git or not (for Git Experience).
    RepoName:
      name: repo_name
      in: query
      required: false
      schema:
        type: string
      description: Name of the repository (for Git Experience).
    PipelineParam:
      name: pipeline
      in: path
      required: true
      schema:
        type: string
      description: Pipeline identifier
  responses:
    PipelineCreateResponseBody:
      description: Pipeline response body
      content:
        application/json:
          schema:
            type: object
            description: Pipeline response body
            properties:
              slug:
                type: string
                pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
                minLength: 1
                maxLength: 64
                description: Pipeline identifier
          examples:
            example-pipeline:
              value:
                slug: example_pipeline
        application/yaml:
          schema:
            type: object
            properties:
              slug:
                type: string
                pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
                minLength: 1
                maxLength: 64
                description: Pipeline identifier
          examples:
            example-pipeline:
              value: |
                slug: example_pipeline
    PipelineGetResponseBody:
      description: Pipeline response body
      content:
        application/json:
          schema:
            type: object
            description: Pipeline response body (YAML view).
            properties:
              pipeline_response:
                $ref: '#/components/schemas/PipelineViewResponseOption'
              git_details:
                $ref: '#/components/schemas/GitDetails'
          examples:
            example-response:
              value:
                pipeline_response:
                  pipeline_yaml: example_yaml_text
                  pipeline_yaml_with_templates: example_yaml_text_with_template
                git_details:
                  object: example_object
                  branch: branch
                  file_path: /folder/file.json
                  repo_name: example_repository
                  commit_id: abcd123
                  file_url: www.repo/folder/file.com
                  repo_url: www.repo.com
        application/yaml:
          schema:
            type: object
            description: Pipeline response body (YAML view).
            properties:
              pipeline_response:
                $ref: '#/components/schemas/PipelineViewResponseOption'
              git_details:
                $ref: '#/components/schemas/GitDetails'
          examples:
            example-response:
              value:
                pipeline_response:
                  slug: example_pipeline
                  name: Example Pipeline
                  description: This is an Example Pipeline
                  tags:
                    example-tag-1: example-tag-1-value
                    example-tag-2: example-tag-2-value
                  version: v1
                  created: 1234567890
                  updated: 1234567890
                  execution_summary:
                    error_last_week:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                    deployments:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                    last_executed: 1234567890
                    last_status: Running
                    last_execution: example_execution_slug
                  filter: {}
                  store_type: INLINE
                  connector_ref: example_connector
                  draft: true
                git_details:
                  object: string
                  branch: string
                  file_path: string
                  repo_name: string
                  commit_id: string
                  file_url: string
                  repo_url: string
  requestBodies:
    PipelineRequestBody:
      content:
        application/json:
          schema:
            type: object
            description: 'Pipeline request body object '
            properties:
              pipeline_yaml:
                type: string
                description: Pipeline YAML (to be passed as a String).
            required:
              - pipeline_yaml
        application/yaml:
          schema:
            type: object
            description: 'Pipeline request body object '
            properties:
              pipeline_yaml:
                type: string
                description: Pipeline YAML (to be passed as a String).
            required:
              - pipeline_yaml
          examples:
            example-pipeline-yaml:
              value: |
                pipeline:
                  name: example pipeline
                  identifier: example_pipeline
                  allowStageExecutions: false
                  projectIdentifier: example_project
                  orgIdentifier: example_organization
                  tags: {}
                  stages:
                    - stage:
                        name: Example Build Stage
                        identifier: example_build_stage
                        description: ''
                        type: Approval
                        spec:
                          execution:
                            steps:
                              - step:
                                  name: Approval Step
                                  identifier: Approval_Step
                                  type: HarnessApproval
                                  timeout: 1d
                                  spec:
                                    approvalMessage: |-
                                      Please review the following information
                                      and approve the pipeline progression
                                    includePipelineExecutionHistory: true
                                    approvers:
                                      minimumCount: 1
                                      disallowPipelineExecutor: false
                                      userGroups: <+input>
                                    approverInputs: []
                              - step:
                                  type: ShellScript
                                  name: ShellScript Step
                                  identifier: ShellScript_Step
                                  spec:
                                    shell: Bash
                                    onDelegate: true
                                    source:
                                      type: Inline
                                      spec:
                                        script: <+input>
                                    environmentVariables: []
                                    outputVariables: []
                                    executionTarget: {}
                                  timeout: 10m
                        tags: {}
                    - stage:
                        name: Example Deploy Stage
                        identifier: example_deploy_stage
                        description: ''
                        type: Deployment
                        spec:
                          serviceConfig:
                            serviceRef: <+input>
                            serviceDefinition:
                              spec:
                                variables: []
                              type: Kubernetes
                          infrastructure:
                            environmentRef: <+input>
                            infrastructureDefinition:
                              type: KubernetesDirect
                              spec:
                                connectorRef: <+input>
                                namespace: <+input>
                                releaseName: release-<+INFRA_KEY>
                            allowSimultaneousDeployments: false
                          execution:
                            steps:
                              - step:
                                  name: Rollout Deployment
                                  identifier: rolloutDeployment
                                  type: K8sRollingDeploy
                                  timeout: 10m
                                  spec:
                                    skipDryRun: false
                            rollbackSteps:
                              - step:
                                  name: Rollback Rollout Deployment
                                  identifier: rollbackRolloutDeployment
                                  type: K8sRollingRollback
                                  timeout: 10m
                                  spec: {}
                        tags: {}
                        failureStrategies:
                          - onFailure:
                              errors:
                                - AllErrors
                              action:
                                type: StageRollback
      description: Pipeline request body
      required: true
