openapi: 3.0.0
x-stoplight:
  id: bfet7n314xd4i
info:
  title: Harness NextGen Software Delivery Platform API Reference
  version: '1.0'
  description: This is the Open Api Spec 3 for the Pipeline Service. This is under active development. Beware of the breaking change with respect to the generated code stub.
  contact:
    email: contact@harness.io
servers:
  - url: 'http://app.harness.io'
    description: localhost
tags:
  - name: Pipeline Resource
    description: This contains APIs for performing CRUD operations on Pipelines.
x-tagGroups:
  - name: Pipelines
    tags:
      - Pipeline Resource
paths:
  '/v1/orgs/{org}/projects/{project}/pipelines':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    get:
      summary: List Pipelines
      operationId: list-pipelines
      description: Returns a list of Pipelines.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SearchTerm'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
        - schema:
            type: string
          in: query
          name: module
          description: Harness module which is part of the Pipeline.
        - schema:
            type: string
          in: query
          name: filter_identifier
          description: Identifier of an existing Filter.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: pipeline_identifiers
          description: List of Pipeline identifiers on the basis of which the Pipelines are filtered.
        - schema:
            type: string
            pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
            minLength: 1
            maxLength: 64
          in: query
          name: name
          description: Pipeline Name on the basis of which the Pipelines are filtered.
        - schema:
            type: string
            maxLength: 1024
          in: query
          name: description
          description: Pipeline Description on the basis of which the Pipelines are filtered.
        - schema:
            type: array
            items:
              type: string
            maxItems: 128
            example: 'key:value'
          in: query
          name: tags
          description: 'Filter tags as a key:value pair.'
        - schema:
            type: array
            items:
              type: string
          in: query
          name: service_names
          description: Service names on the basis of which the Pipelines are filtered.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: env_names
          description: Names of Environments on the basis of which the Pipelines are filtered.
        - schema:
            type: string
          in: query
          name: deployment_type
          description: Deployment type on the basis of which the Pipelines are filtered.
        - schema:
            type: string
          in: query
          name: repo_name
          description: Repository name on the basis of which the Pipelines are filtered.
      security:
        - x-api-key: []
      tags:
        - Pipeline Resource
      responses:
        '200':
          $ref: '#/components/responses/PipelineListResponseBody'
    post:
      summary: Create a Pipeline
      operationId: create-pipeline
      description: Creates a Pipeline.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Branch'
        - $ref: '#/components/parameters/FilePath'
        - $ref: '#/components/parameters/CommitMsg'
        - $ref: '#/components/parameters/NewBranch'
        - $ref: '#/components/parameters/BaseBranch'
        - $ref: '#/components/parameters/Connector'
        - $ref: '#/components/parameters/StoreType'
        - $ref: '#/components/parameters/RepoName'
      tags:
        - Pipeline Resource
      requestBody:
        $ref: '#/components/requestBodies/PipelineRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/PipelineCreateResponseBody'
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/PipelineParam'
    get:
      summary: Retrieve a Pipeline
      operationId: get-pipeline
      security:
        - x-api-key: []
      description: Retrieves a Pipeline.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Branch'
        - schema:
            type: boolean
            default: false
          in: query
          name: template_applied
          description: 'If true, returns Pipeline YAML with Templates resolved.'
      tags:
        - Pipeline Resource
      responses:
        '200':
          $ref: '#/components/responses/PipelineGetResponseBody'
    put:
      summary: Update a Pipeline
      operationId: update-pipeline
      security:
        - x-api-key: []
      description: Updates a Pipeline.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Branch'
        - $ref: '#/components/parameters/CommitMsg'
        - schema:
            type: string
          in: query
          name: last_object_id
          description: Last object identifier (for Github).
        - $ref: '#/components/parameters/BaseBranch'
        - schema:
            type: string
          in: query
          name: last_commit_id
          description: Last commit identifier (for Git Repositories other than Github).
      tags:
        - Pipeline Resource
      requestBody:
        $ref: '#/components/requestBodies/PipelineRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/PipelineCreateResponseBody'
    delete:
      summary: Delete a Pipeline
      operationId: delete-pipeline
      description: Deletes a Pipeline.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Pipeline Resource
      responses:
        '204':
          description: No Content
components:
  schemas:
    GitDetails:
      title: Git Details
      x-stoplight:
        id: qkq00fbqykhxw
      type: object
      description: Git details of the Entity.
      x-examples:
        example-git:
          object: example_object
          branch: branch
          file_path: /folder/file.json
          repo_name: example_repository
          commit_id: abcd123
          file_url: www.repo/folder/file.com
          repo_url: www.repo.com
      properties:
        object:
          type: string
          description: Object identifier of the Entity.
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          minLength: 1
          maxLength: 64
        branch:
          type: string
          description: Name of the branch (for Git Experience).
        file_path:
          type: string
          description: File path of the Entity in the repository (for Git Experience).
        repo_name:
          type: string
          description: Name of the repository (for Git Experience).
        commit_id:
          type: string
          description: Latest commit identifier (for Git Experience).
        file_url:
          type: string
          description: File URL of the Entity.
        repo_url:
          type: string
          description: Repository URL of the Entity.
    PipelineGetResponseBody:
      title: Pipeline Get Response Body
      x-stoplight:
        id: twnioaqmn69uy
      description: Pipeline response body.
      x-examples:
        example-get:
          pipeline_yaml: example_yaml_text
          template_applied_pipeline_yaml: example_yaml_text_with_template
          git_details:
            object: example_object
            branch: branch
            file_path: /folder/file.json
            repo_name: example_repository
            commit_id: abcd123
            file_url: www.repo/folder/file.com
            repo_url: www.repo.com
          valid: true
          yaml_error_wrapper:
            message: something is incorrect
            message_fqn: something is incorrect at pipeline.name
            stage_info:
              slug: example_stage
              type: stage
              name: Example Stage
              fqn: pipeline.stages.stage
            step_info:
              slug: example_step
              type: string
              name: string
              fqn: pipeline.steps.step
            fqn: pipeline.name
            hint_message: try changing something
          created: 1234567890
          updated: 1234567890
      type: object
      properties:
        pipeline_yaml:
          type: string
          description: Pipeline YAML (returned as a String).
        template_applied_pipeline_yaml:
          type: string
          description: Pipeline YAML after resolving Templates (returned as a String).
        modules:
          type: array
          description: Modules utilised in the Pipeline.
          uniqueItems: true
          items:
            type: string
        git_details:
          $ref: '#/components/schemas/GitDetails'
        valid:
          type: boolean
          description: Specifies whether Pipeline is a valid or not.
        yaml_error_wrapper:
          type: array
          description: YAML schema errors.
          items:
            $ref: '#/components/schemas/YAMLSchemaErrorWrapper'
        created:
          type: integer
          description: Creation timestamp for Pipeline.
          format: int64
        updated:
          type: integer
          description: Last modification timestamp for Pipeline.
          format: int64
    PipelineListResponseBody:
      title: Pipeline List Response Body
      x-stoplight:
        id: kaxl2v3p6i4wx
      description: Pipeline List response body
      x-examples:
        example-summary:
          slug: example_pipeline
          name: Example Pipeline
          description: This is an Example Pipeline
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          created: 1234567890
          updated: 1234567890
          modules: CD
          execution_summary:
            error_last_week:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
            deployments:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
          recent_execution_info:
            - executor_info:
                trigger_type: NOOP
                username: harness_user
                email: noreply@harness.io
              execution_id: example_execution_slug
              execution_status: Running
              started: 1234567890
              ended: 1234567890
              run_number: 5
          store_type: INLINE
          connector_ref: example_connector
          valid: true
          git_details:
            object: example_object
            branch: branch
            file_path: /folder/file.json
            repo_name: example_repository
            commit_id: abcd123
            file_url: www.repo/folder/file.com
            repo_url: www.repo.com
      type: object
      properties:
        slug:
          type: string
          description: Pipeline identifier
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          minLength: 1
          maxLength: 64
        name:
          type: string
          description: Pipeline name
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          minLength: 1
          maxLength: 64
        description:
          type: string
          maxLength: 1024
          description: Pipeline description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Pipeline tags
        created:
          type: integer
          description: Creation timestamp for Pipeline.
          format: int64
        updated:
          type: integer
          description: Last modification timestamp for Pipeline.
          format: int64
        modules:
          type: array
          description: Modules utilised in the Pipeline.
          uniqueItems: true
          items:
            type: string
        execution_summary:
          $ref: '#/components/schemas/ExecutionSummary'
        recent_execution_info:
          type: array
          description: Array of recent Execution information
          items:
            $ref: '#/components/schemas/RecentExecutionInfo'
        store_type:
          type: string
          description: Specifies whether the Entity is to be stored in Git or not (for Git Experience).
          enum:
            - INLINE
            - REMOTE
        connector_ref:
          type: string
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        valid:
          type: boolean
          description: Specifies whether Pipeline is a valid or not.
        git_details:
          $ref: '#/components/schemas/GitDetails'
    ExecutionSummary:
      title: ExecutionSummary
      x-stoplight:
        id: mxtmp0n5g1bsg
      type: object
      description: Execution Summary
      x-examples:
        example-execution-summary:
          error_last_week:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
          deployments:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
      properties:
        error_last_week:
          type: array
          description: Number of errors on each of the last 7 days.
          items:
            type: integer
            format: int32
        deployments:
          type: array
          description: Number of deployments on each of the last 7 days.
          items:
            type: integer
            format: int32
    PipelineRequestBody:
      title: Pipeline Request Body
      x-stoplight:
        id: enghevjhz64ca
      type: object
      description: 'Pipeline request body object '
      x-examples:
        example-pipeline:
          pipeline_yaml: |
            pipeline:
              name: example pipeline
              identifier: example_pipeline
              allowStageExecutions: false
              projectIdentifier: example_project
              orgIdentifier: example_organization
              tags: {}
              stages:
                - stage:
                    name: Example Build Stage
                    identifier: example_build_stage
                    description: ''
                    type: Approval
                    spec:
                      execution:
                        steps:
                          - step:
                              name: Approval Step
                              identifier: Approval_Step
                              type: HarnessApproval
                              timeout: 1d
                              spec:
                                approvalMessage: |-
                                  Please review the following information
                                  and approve the pipeline progression
                                includePipelineExecutionHistory: true
                                approvers:
                                  minimumCount: 1
                                  disallowPipelineExecutor: false
                                  userGroups: <+input>
                                approverInputs: []
                          - step:
                              type: ShellScript
                              name: ShellScript Step
                              identifier: ShellScript_Step
                              spec:
                                shell: Bash
                                onDelegate: true
                                source:
                                  type: Inline
                                  spec:
                                    script: <+input>
                                environmentVariables: []
                                outputVariables: []
                                executionTarget: {}
                              timeout: 10m
                    tags: {}
                - stage:
                    name: Example Deploy Stage
                    identifier: example_deploy_stage
                    description: ''
                    type: Deployment
                    spec:
                      serviceConfig:
                        serviceRef: <+input>
                        serviceDefinition:
                          spec:
                            variables: []
                          type: Kubernetes
                      infrastructure:
                        environmentRef: <+input>
                        infrastructureDefinition:
                          type: KubernetesDirect
                          spec:
                            connectorRef: <+input>
                            namespace: <+input>
                            releaseName: release-<+INFRA_KEY>
                        allowSimultaneousDeployments: false
                      execution:
                        steps:
                          - step:
                              name: Rollout Deployment
                              identifier: rolloutDeployment
                              type: K8sRollingDeploy
                              timeout: 10m
                              spec:
                                skipDryRun: false
                        rollbackSteps:
                          - step:
                              name: Rollback Rollout Deployment
                              identifier: rollbackRolloutDeployment
                              type: K8sRollingRollback
                              timeout: 10m
                              spec: {}
                    tags: {}
                    failureStrategies:
                      - onFailure:
                          errors:
                            - AllErrors
                          action:
                            type: StageRollback
      properties:
        pipeline_yaml:
          type: string
          description: Pipeline YAML (to be passed as a String).
      required:
        - pipeline_yaml
    PipelineCreateResponseBody:
      title: Pipeline Create Response Body
      x-stoplight:
        id: 70uk481o3cw8j
      type: object
      description: Pipeline response body
      x-examples:
        example-pipeline:
          slug: example_pipeline
      properties:
        slug:
          type: string
          description: Pipeline identifier
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          minLength: 1
          maxLength: 64
    YAMLSchemaErrorWrapper:
      title: YAML Schema Error Wrapper
      x-stoplight:
        id: 64bisstgjyjfh
      type: object
      description: YAML schema error.
      properties:
        message:
          type: string
          description: Error message
        message_fqn:
          type: string
          description: Error message with FQN
        stage_info:
          $ref: '#/components/schemas/NodeInfo'
        step_info:
          $ref: '#/components/schemas/NodeInfo'
        fqn:
          type: string
          description: Fully Qualified Name
        hint_message:
          type: string
          description: Hint message
      x-examples:
        example-schema-error:
          message: something is incorrect
          message_fqn: something is incorrect at pipeline.name
          stage_info:
            slug: example_stage
            type: stage
            name: Example Stage
            fqn: pipeline.stages.stage
          step_info:
            slug: example_step
            type: string
            name: string
            fqn: pipeline.steps.step
          fqn: pipeline.name
          hint_message: try changing something
    NodeInfo:
      title: Entity Details
      x-stoplight:
        id: wgx64fjolzlcr
      type: object
      description: Entity details
      x-examples:
        example-node-info:
          slug: example_stage
          type: stage
          name: name
          fqn: pipeline.stages.stage1.name
      properties:
        slug:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          minLength: 1
          maxLength: 64
          description: Entity identifier
        type:
          type: string
          description: Type of Entity
        name:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          minLength: 1
          maxLength: 64
          description: Name of Entity
        fqn:
          type: string
          description: Fully Qualified Name
    RecentExecutionInfo:
      title: Recent Execution Information
      x-stoplight:
        id: bfup5ytbj94pn
      type: object
      description: Recent Execution information of the Pipeline.
      properties:
        executor_info:
          $ref: '#/components/schemas/ExecutorInfo'
        execution_id:
          type: string
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          minLength: 1
          maxLength: 64
          description: Execution identifier
        execution_status:
          type: string
          description: Last Execution status of the Pipeline.
          enum:
            - Running
            - AsyncWaiting
            - TaskWaiting
            - TimedWaiting
            - Failed
            - Errored
            - IgnoreFailed
            - NotStarted
            - Expired
            - Aborted
            - Discontinuing
            - Queued
            - Paused
            - ResourceWaiting
            - InterventionWaiting
            - ApprovalWaiting
            - Success
            - Suspended
            - Skipped
            - Pausing
            - ApprovalRejected
            - InputWaiting
            - NOT_STARTED
            - INTERVENTION_WAITING
            - APPROVAL_WAITING
            - APPROVAL_REJECTED
            - Waiting
        started:
          type: integer
          format: int64
          description: Start timestamp of Execution
        ended:
          type: integer
          format: int64
          description: End timestamp of Execution
        run_number:
          type: integer
          format: int32
          description: The Execution number of this Pipeline.
          example: 0
      x-examples:
        example-recent:
          executor_info:
            trigger_type: NOOP
            username: harness_user
            email: noreply@harness.io
          execution_id: example_execution_slug
          execution_status: Running
          started: 1234567890
          ended: 1234567890
          run_number: 5
    ExecutorInfo:
      title: Executor Information
      x-stoplight:
        id: 41793mh9py33c
      type: object
      description: Information regarding Executor of Pipeline.
      properties:
        trigger_type:
          type: string
          description: Trigger type
          enum:
            - NOOP
            - MANUAL
            - WEBHOOK
            - WEBHOOK_CUSTOM
            - SCHEDULER_CRON
        username:
          type: string
          description: Username of the Executor.
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          minLength: 1
          maxLength: 64
        email:
          type: string
          description: Email address of the Executor.
      x-examples:
        example-executor:
          trigger_type: NOOP
          username: harness_user
          email: noreply@harness.io
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 30
        maximum: 100
      description: 'Pagination: Number of items to return.'
    PageIndex:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: 'Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.'
    SearchTerm:
      name: search_term
      in: query
      required: false
      schema:
        type: string
      description: This would be used to filter resources having attributes matching the search term.
    OrgParam:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Organization identifier
    ProjectParam:
      name: project
      in: path
      required: true
      schema:
        type: string
      description: Project identifier
    AccountHeader:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: 'Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.'
    Branch:
      name: branch
      in: query
      required: false
      schema:
        type: string
      description: Name of the branch (for Git Experience).
    FilePath:
      name: file_path
      in: query
      required: false
      schema:
        type: string
      description: File path of the Entity in the repository (for Git Experience).
    CommitMsg:
      name: commit_message
      in: query
      schema:
        type: string
      description: Commit message used for the merge commit (for Git Experience).
    NewBranch:
      name: create_new_branch
      in: query
      required: false
      schema:
        type: boolean
        default: 'false'
      description: Checks out a new branch in the repository (for Git Experience).
    BaseBranch:
      name: base_branch
      in: query
      required: false
      schema:
        type: string
      description: Name of the default branch (for Git Experience).
    Connector:
      name: connector_ref
      in: query
      required: false
      schema:
        type: string
      description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
    StoreType:
      name: store_type
      in: query
      required: false
      schema:
        type: string
        enum:
          - INLINE
          - REMOTE
      description: Specifies whether the Entity is to be stored in Git or not (for Git Experience).
    RepoName:
      name: repo_name
      in: query
      required: false
      schema:
        type: string
      description: Name of the repository (for Git Experience).
    PipelineParam:
      name: pipeline
      in: path
      required: true
      schema:
        type: string
      description: Pipeline identifier
    Sort:
      name: sort
      in: query
      required: false
      schema:
        type: string
      description: Parameter on the basis of which sorting is done.
    Order:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
          - ASC
          - DESC
      description: Order on the basis of which sorting is done.
  responses:
    PipelineCreateResponseBody:
      description: Pipeline response body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineCreateResponseBody'
          examples:
            example-pipeline:
              value:
                slug: example_pipeline
        application/yaml:
          schema:
            $ref: '#/components/schemas/PipelineCreateResponseBody'
          examples:
            example-pipeline:
              value: |
                slug: example_pipeline
    PipelineGetResponseBody:
      description: Pipeline response body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineGetResponseBody'
          examples:
            example-response:
              value:
                pipeline_yaml: example_yaml_text
                template_applied_pipeline_yaml: example_yaml_text_with_template
                git_details:
                  object: example_object
                  branch: branch
                  file_path: /folder/file.json
                  repo_name: example_repository
                  commit_id: abcd123
                  file_url: www.repo/folder/file.com
                  repo_url: www.repo.com
                valid: true
                yaml_error_wrapper:
                  message: something is incorrect
                  message_fqn: something is incorrect at pipeline.name
                  stage_info:
                    slug: example_stage
                    type: stage
                    name: Example Stage
                    fqn: pipeline.stages.stage
                  step_info:
                    slug: example_step
                    type: string
                    name: string
                    fqn: pipeline.steps.step
                  fqn: pipeline.name
                  hint_message: try changing something
                created: 1234567890
                updated: 1234567890
        application/yaml:
          schema:
            $ref: '#/components/schemas/PipelineGetResponseBody'
          examples:
            example-response:
              value: |
                pipeline_yaml: example_yaml_text
                template_applied_pipeline_yaml: example_yaml_text_with_template
                git_details:
                  object: example_object
                  branch: branch
                  file_path: /folder/file.json
                  repo_name: example_repository
                  commit_id: abcd123
                  file_url: www.repo/folder/file.com
                  repo_url: www.repo.com
                valid: true
                yaml_error_wrapper:
                  message: something is incorrect
                  message_fqn: something is incorrect at pipeline.name
                  stage_info:
                    slug: example_stage
                    type: stage
                    name: Example Stage
                    fqn: pipeline.stages.stage
                  step_info:
                    slug: example_step
                    type: string
                    name: string
                    fqn: pipeline.steps.step
                  fqn: pipeline.name
                  hint_message: try changing something
                created: 1234567890
                updated: 1234567890
    PipelineListResponseBody:
      description: Response body for List Pipelines.
      content:
        application/json:
          schema:
            description: Response body for List Pipelines.
            type: array
            items:
              $ref: '#/components/schemas/PipelineListResponseBody'
          examples:
            example-list-response:
              value:
                - slug: example_pipeline
                  name: Example Pipeline
                  description: This is an Example Pipeline
                  tags:
                    example-tag-1: example-tag-1-value
                    example-tag-2: example-tag-2-value
                  created: 1234567890
                  updated: 1234567890
                  modules: CD
                  execution_summary:
                    error_last_week:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                    deployments:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                  recent_execution_info:
                    - executor_info:
                        trigger_type: NOOP
                        username: harness_user
                        email: noreply@harness.io
                      execution_id: example_execution_slug
                      execution_status: Running
                      started: 1234567890
                      ended: 1234567890
                      run_number: 5
                  store_type: INLINE
                  connector_ref: example_connector
                  valid: true
                  git_details:
                    object: example_object
                    branch: branch
                    file_path: /folder/file.json
                    repo_name: example_repository
                    commit_id: abcd123
                    file_url: www.repo/folder/file.com
                    repo_url: www.repo.com
        application/yaml:
          schema:
            description: Response body for List Pipelines.
            type: array
            items:
              $ref: '#/components/schemas/PipelineListResponseBody'
          examples:
            example-list-response:
              value: |
                - slug: example_pipeline
                  name: Example Pipeline
                  description: This is an Example Pipeline
                  tags:
                    example-tag-1: example-tag-1-value
                    example-tag-2: example-tag-2-value
                  created: 1234567890
                  updated: 1234567890
                  modules: CD
                  execution_summary:
                    error_last_week:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                    deployments:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                  recent_execution_info:
                    - executor_info:
                        trigger_type: NOOP
                        username: harness_user
                        email: noreply@harness.io
                      execution_id: example_execution_slug
                      execution_status: Running
                      started: 1234567890
                      ended: 1234567890
                      run_number: 5
                  store_type: INLINE
                  connector_ref: example_connector
                  valid: true
                  git_details:
                    object: example_object
                    branch: branch
                    file_path: /folder/file.json
                    repo_name: example_repository
                    commit_id: abcd123
                    file_url: www.repo/folder/file.com
                    repo_url: www.repo.com
  requestBodies:
    PipelineRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineRequestBody'
          examples:
            example-pipeline:
              value:
                pipeline_yaml: |
                  pipeline:
                    name: example pipeline
                    identifier: example_pipeline
                    allowStageExecutions: false
                    projectIdentifier: example_project
                    orgIdentifier: example_organization
                    tags: {}
                    stages:
                      - stage:
                          name: Example Build Stage
                          identifier: example_build_stage
                          description: ''
                          type: Approval
                          spec:
                            execution:
                              steps:
                                - step:
                                    name: Approval Step
                                    identifier: Approval_Step
                                    type: HarnessApproval
                                    timeout: 1d
                                    spec:
                                      approvalMessage: |-
                                        Please review the following information
                                        and approve the pipeline progression
                                      includePipelineExecutionHistory: true
                                      approvers:
                                        minimumCount: 1
                                        disallowPipelineExecutor: false
                                        userGroups: <+input>
                                      approverInputs: []
                                - step:
                                    type: ShellScript
                                    name: ShellScript Step
                                    identifier: ShellScript_Step
                                    spec:
                                      shell: Bash
                                      onDelegate: true
                                      source:
                                        type: Inline
                                        spec:
                                          script: <+input>
                                      environmentVariables: []
                                      outputVariables: []
                                      executionTarget: {}
                                    timeout: 10m
                          tags: {}
                      - stage:
                          name: Example Deploy Stage
                          identifier: example_deploy_stage
                          description: ''
                          type: Deployment
                          spec:
                            serviceConfig:
                              serviceRef: <+input>
                              serviceDefinition:
                                spec:
                                  variables: []
                                type: Kubernetes
                            infrastructure:
                              environmentRef: <+input>
                              infrastructureDefinition:
                                type: KubernetesDirect
                                spec:
                                  connectorRef: <+input>
                                  namespace: <+input>
                                  releaseName: release-<+INFRA_KEY>
                              allowSimultaneousDeployments: false
                            execution:
                              steps:
                                - step:
                                    name: Rollout Deployment
                                    identifier: rolloutDeployment
                                    type: K8sRollingDeploy
                                    timeout: 10m
                                    spec:
                                      skipDryRun: false
                              rollbackSteps:
                                - step:
                                    name: Rollback Rollout Deployment
                                    identifier: rollbackRolloutDeployment
                                    type: K8sRollingRollback
                                    timeout: 10m
                                    spec: {}
                          tags: {}
                          failureStrategies:
                            - onFailure:
                                errors:
                                  - AllErrors
                                action:
                                  type: StageRollback
        application/yaml:
          schema:
            $ref: '#/components/schemas/PipelineRequestBody'
          examples:
            example-pipeline:
              value:
                pipeline_yaml: 'pipeline: name: example pipeline identifier: example_pipeline allowStageExecutions: false projectIdentifier: example_project orgIdentifier: example_organization tags: {} stages: - stage: name: Example Build Stage identifier: example_build_stage description: '''' type: Approval spec: execution: steps: - step: name: Approval Step identifier: Approval_Step type: HarnessApproval timeout: 1d spec: approvalMessage: |- Please review the following information and approve the pipeline progression includePipelineExecutionHistory: true approvers: minimumCount: 1 disallowPipelineExecutor: false userGroups: <+input> approverInputs: [] - step: type: ShellScript name: ShellScript Step identifier: ShellScript_Step spec: shell: Bash onDelegate: true source: type: Inline spec: script: <+input> environmentVariables: [] outputVariables: [] executionTarget: {} timeout: 10m tags: {} - stage: name: Example Deploy Stage identifier: example_deploy_stage description: '''' type: Deployment spec: serviceConfig: serviceRef: <+input> serviceDefinition: spec: variables: [] type: Kubernetes infrastructure: environmentRef: <+input> infrastructureDefinition: type: KubernetesDirect spec: connectorRef: <+input> namespace: <+input> releaseName: release-<+INFRA_KEY> allowSimultaneousDeployments: false execution: steps: - step: name: Rollout Deployment identifier: rolloutDeployment type: K8sRollingDeploy timeout: 10m spec: skipDryRun: false rollbackSteps: - step: name: Rollback Rollout Deployment identifier: rollbackRolloutDeployment type: K8sRollingRollback timeout: 10m spec: {} tags: {} failureStrategies: - onFailure: errors: - AllErrors action: type: StageRollback'
      description: Pipeline request body
      required: true
