openapi: 3.0.3
x-stoplight:
  id: bfet7n314xd4i
info:
  title: Harness NextGen Software Delivery Platform API Reference
  version: '1.0'
  description: This is the Open Api Spec 3 for the Access Control Service. This is under active development. Beware of the breaking change with respect to the generated code stub.
  contact:
    email: contact@harness.io
servers:
  - url: 'http://app.harness.io'
    description: localhost
tags:
  - name: Account Roles
    description: This contains APIs for performing CRUD operations on Account level Roles.
  - name: Organization Roles
    description: This contains APIs for performing CRUD operations on Organization level Roles.
  - name: Project Roles
    description: This contains APIs for performing CRUD operations on Project level Roles.
x-tagGroups:
  - name: Roles
    tags:
      - Account Roles
      - Organization Roles
      - Project Roles
paths:
  /v1/roles:
    parameters: []
    get:
      summary: 'List Roles [Account]'
      operationId: list-roles-acc
      description: Returns a list of Roles present in the Account scope.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountParam'
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SearchTerm'
        - schema:
            type: array
            items:
              $ref: '#/components/schemas/SortRoles'
          in: query
          name: sort_orders
          description: Sort criteria for the items.
      responses:
        '200':
          $ref: '#/components/responses/RolesListResponse'
      tags:
        - Account Roles
    post:
      summary: 'Create a Role [Account]'
      operationId: create-role-acc
      description: Creates a custom Role in the Account scope.
      parameters:
        - $ref: '#/components/parameters/AccountParam'
      requestBody:
        $ref: '#/components/requestBodies/CreateRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/RoleResponse'
      security:
        - x-api-key: []
      tags:
        - Account Roles
  '/v1/roles/{role}':
    parameters:
      - $ref: '#/components/parameters/RoleParam'
    get:
      summary: 'Retrieve a Role [Account]'
      responses:
        '200':
          $ref: '#/components/responses/RoleResponse'
      operationId: get-role-acc
      description: Retrieves a Role from Account scope.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountParam'
      tags:
        - Account Roles
    put:
      summary: 'Update a Role [Account]'
      operationId: update-role-acc
      responses:
        '200':
          $ref: '#/components/responses/RoleResponse'
      description: Updates a Role from Account scope.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountParam'
      requestBody:
        $ref: '#/components/requestBodies/CreateRoleRequest'
      tags:
        - Account Roles
    delete:
      summary: 'Delete a Role [Account]'
      operationId: delete-role-acc
      responses:
        '200':
          $ref: '#/components/responses/RoleResponse'
      description: Deletes a custom Role from Account scope.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountParam'
      tags:
        - Account Roles
  '/v1/orgs/{org}/roles':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
    get:
      summary: 'List Roles [Organization]'
      tags:
        - Organization Roles
      responses:
        '200':
          $ref: '#/components/responses/RolesListResponse'
      operationId: list-roles-org
      description: Returns a list of Roles present in the Organization scope.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountParam'
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SearchTerm'
        - schema:
            type: array
            items:
              $ref: '#/components/schemas/SortRoles'
          in: query
          name: sort_orders
          description: Sort criteria for the items.
    post:
      summary: 'Create a Role [Organization]'
      operationId: create-role-org
      responses:
        '200':
          $ref: '#/components/responses/RoleResponse'
      description: Creates a custom Role in the Organization scope.
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/CreateRoleRequest'
      parameters:
        - $ref: '#/components/parameters/AccountParam'
      tags:
        - Organization Roles
  '/v1/orgs/{org}/roles/{role}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/RoleParam'
    get:
      summary: 'Retrieve a Role [Organization]'
      responses:
        '200':
          $ref: '#/components/responses/RoleResponse'
      operationId: get-role-org
      description: Retrieves a Role from Organization scope.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountParam'
      tags:
        - Organization Roles
    put:
      summary: 'Update a Role [Organization]'
      operationId: update-role-org
      responses:
        '200':
          $ref: '#/components/responses/RoleResponse'
      description: Updates a Role from Organization scope.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountParam'
      requestBody:
        $ref: '#/components/requestBodies/CreateRoleRequest'
      tags:
        - Organization Roles
    delete:
      summary: 'Delete a Role [Organization]'
      operationId: delete-role-org
      responses:
        '200':
          $ref: '#/components/responses/RoleResponse'
      description: Deletes a custom Role from Organization scope.
      parameters:
        - $ref: '#/components/parameters/AccountParam'
      security:
        - x-api-key: []
      tags:
        - Organization Roles
  '/v1/orgs/{org}/projects/{project}/roles':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    get:
      summary: 'List Roles [Project]'
      responses:
        '200':
          $ref: '#/components/responses/RolesListResponse'
      operationId: list-roles-project
      description: Returns a list of Roles present in the Project scope.
      parameters:
        - $ref: '#/components/parameters/AccountParam'
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SearchTerm'
        - schema:
            type: array
            items:
              $ref: '#/components/schemas/SortRoles'
          in: query
          name: sort_orders
          description: Sort criteria for the items.
      security:
        - x-api-key: []
      tags:
        - Project Roles
    post:
      summary: 'Create a Role [Project]'
      operationId: create-role-project
      responses:
        '200':
          $ref: '#/components/responses/RoleResponse'
      description: Creates a custom Role in the Project scope.
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/CreateRoleRequest'
      parameters:
        - $ref: '#/components/parameters/AccountParam'
      tags:
        - Project Roles
  '/v1/orgs/{org}/projects/{project}/roles/{role}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/RoleParam'
    get:
      summary: 'Retrieve a Role [Project]'
      responses:
        '200':
          $ref: '#/components/responses/RoleResponse'
      operationId: get-role-project
      security:
        - x-api-key: []
      description: Retrieves a Role from Project scope.
      parameters:
        - $ref: '#/components/parameters/AccountParam'
      tags:
        - Project Roles
    put:
      summary: 'Update a Role [Project]'
      operationId: update-role-project
      responses:
        '200':
          $ref: '#/components/responses/RoleResponse'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/CreateRoleRequest'
      description: Updates a Role from Project scope.
      tags:
        - Project Roles
    delete:
      summary: 'Delete a Role [Project]'
      operationId: delete-role-project
      responses:
        '200':
          $ref: '#/components/responses/RoleResponse'
      description: Deletes a custom Role from Project scope.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountParam'
      tags:
        - Project Roles
components:
  schemas:
    SortRoles:
      title: Role Sorting
      type: object
      description: Specify how Roles are to be sorted while listing them.
      x-examples:
        Items:
          field_name: name
          order_type:
            - ASC
      x-internal: false
      properties:
        field_name:
          type: string
          description: Attribute used for sorting.
        order_type:
          $ref: '#/components/schemas/SortType'
    SortType:
      type: string
      title: Sorting Type
      x-stoplight:
        id: yjhtvl15wadjq
      description: Sorting types when listing Roles.
      enum:
        - ASC
        - DESC
    RolesResponse:
      title: RolesResponse
      x-stoplight:
        id: q6oq3jxkd2who
      type: object
      description: Role Response Model
      x-examples:
        example-role:
          slug: example_role
          name: Example Role
          permissions:
            - string
          allowed_scope_levels: account
          description: This is an Example Role
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          harness_managed: true
          created_at: 1234567890
          last_modified_at: 1234567890
      properties:
        slug:
          type: string
          description: Role Identifier
        name:
          type: string
          description: Role Name
        permissions:
          type: array
          description: Permissions for this Role.
          items:
            type: string
        allowed_scope_levels:
          type: array
          description: Allowed Scope Levels for this Role.
          items:
            type: string
            enum:
              - account
              - organization
              - project
        description:
          type: string
          description: Role description
        tags:
          type: object
          description: Role tags
        scope:
          $ref: '#/components/schemas/RoleScope'
        harness_managed:
          type: boolean
          description: 'This indicates if this Role is managed by Harness or not. If True, Harness can manage and modify this Role.'
        created_at:
          type: integer
          description: Creation timestamp for Role.
          format: int64
        last_modified_at:
          type: integer
          description: Last modification timestamp for Role.
          format: int64
    CreateRoleRequest:
      title: CreateRoleRequest
      x-stoplight:
        id: z8g6ol73nsqjs
      type: object
      description: Create Role request
      properties:
        slug:
          type: string
          minLength: 1
          maxLength: 64
          pattern: '^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$'
          description: Role identifier
        name:
          type: string
          minLength: 1
          maxLength: 64
          pattern: '^[a-zA-Z_][0-9a-zA-Z-_ ]{0,63}$'
          description: Role name
        permissions:
          type: array
          uniqueItems: true
          description: List of the permission identifiers.
          items:
            type: string
        allowed_scope_levels:
          type: array
          uniqueItems: true
          description: The scope levels at which this Role can be used.
          items:
            type: string
            enum:
              - account
              - organization
              - project
        description:
          type: string
          maxLength: 1024
          description: Role description
        tags:
          type: object
          maxProperties: 128
          description: Role tags
      required:
        - slug
        - name
      x-examples:
        role-request:
          slug: example_role
          name: Example_Role
          permissions:
            - core_view
          allowed_scope_levels:
            - account
          description: This is an Example Role
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
    RoleScope:
      title: Scope
      x-stoplight:
        id: w8j3bc9323bxb
      type: object
      description: Scope of the Role.
      properties:
        account:
          type: string
          description: Account identifier
        org:
          type: string
          description: Organization identifier
        project:
          type: string
          description: Project identifier
      x-examples: {}
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
  parameters:
    AccountParam:
      name: account
      in: query
      required: false
      schema:
        type: string
      description: 'Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.'
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 50
        maximum: 100
      description: 'Pagination: Number of items to return.'
    PageIndex:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: 'Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.'
    SearchTerm:
      name: search_term
      in: query
      required: false
      schema:
        type: string
      description: This would be used to filter resources having attributes matching the search term.
    OrgParam:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Organization identifier
    ProjectParam:
      name: project
      in: path
      required: true
      schema:
        type: string
      description: Project identifier
    RoleParam:
      name: role
      in: path
      required: true
      schema:
        type: string
      description: Role identifier
  responses:
    RolesListResponse:
      description: Roles List Response
      content:
        application/json:
          schema:
            type: object
            properties:
              totalPages:
                type: integer
                description: Total pages in response.
              totalItems:
                type: integer
                description: Total items in the response.
              pageItemCount:
                type: integer
                description: Number of items per page.
              pageSize:
                type: integer
                description: Size of page.
              roles:
                type: array
                items:
                  $ref: '#/components/schemas/RolesResponse'
              pageIndex:
                type: integer
                description: Index of the page returned.
              empty:
                type: boolean
                description: Returns true when page is empty.
          examples:
            role-list-response:
              value:
                totalPages: 0
                totalItems: 0
                pageItemCount: 0
                pageSize: 0
                roles:
                  - slug: example_role
                    name: Example_Role
                    permissions:
                      - core_view
                    allowed_scope_levels:
                      - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_org
                      project: sample_project
                    harness_managed: true
                    created_at: 1234567890
                    last_modified_at: 1234567890
                pageIndex: 0
                empty: true
      headers:
        Link:
          schema:
            type: string
          description: 'Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.'
    RoleResponse:
      description: Example Role Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RolesResponse'
          examples:
            role-response:
              value:
                slug: example_role
                name: Example_Role
                permissions:
                  - core_view
                allowed_scope_levels:
                  - account
                description: This is an Example Role
                tags:
                  example-tag-1: example-tag-1-value
                  example-tag-2: example-tag-2-value
                scope:
                  account: sample_account
                  org: sample_org
                  project: sample_project
                harness_managed: true
                created_at: 1234567890
                last_modified_at: 1234567890
  requestBodies:
    CreateRoleRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateRoleRequest'
          examples:
            role-request:
              value:
                slug: example_role
                name: Example_Role
                permissions:
                  - core_view
                allowed_scope_levels:
                  - account
                description: This is an Example Role
                tags:
                  example-tag-1: example-tag-1-value
                  example-tag-2: example-tag-2-value
