---
openapi: 3.0.1
info:
  title: CCM NextGen API Reference
  description: This is the Open Api Spec 3 for the CCM NextGen Manager. This is under
    active development. Beware of the breaking change with respect to the generated
    code stub
  termsOfService: https://harness.io/terms-of-use/
  contact:
    email: contact@harness.io
  version: '3.0'
servers:
- url: https://app.harness.io/gateway/ccm/api
tags:
- name: Cloud Cost Anomalies
  description: Get details about any anomalous spike in your cloud costs
- name: Cloud Cost BI Dashboards
  description: Get details of BI-dashboards specific to CCM
- name: Cloud Cost Budgets
  description: Manage Budgets bulky
- name: Cloud Cost Budget Groups
  description: Manage Budget Groups and receive alerts when your costs exceed (or
    are forecasted to exceed) your configured budget group.
- name: Cloud Cost Categories
  description: Allows you to categorize based on business requirements and get a contextual
    view of your expenses.
- name: Cloud Cost K8S Connectors Metadata
  description: Health related metadata for your k8S clusters having cost access enabled.
- name: Cloud Cost Notification Settings v2
  description: Set notification channels to get cloud cost anomaly alerts
- name: Cloud Cost Overview
  description: Get overview of CCM features.
- name: CCM global cost settings
  description: Get/set cost preferences for CCM features
- name: Unit Metric
  description: Unit Metric resource.
- name: Anomaly Comments
  description: APIs to manage anomaly comments
- name: Cloud cost anomaly details
  description: Get resource level insights into your cloud cost anomalies
- name: Cloud cost anomalies v2
  description: Get details about any anomalies in your cloud costs
- name: Cloud Cost Details
  description: Fetch cloud cost data for cost analysis
- name: Cloud Cost Currency Preferences
  description: Select destination currency to view different cloud provider currencies
    in destination currency
- name: External Data Provider
  description: This contains APIs related to External Data Provider Support for CCM
- name: AiEngine
  description: 'This contains APIs related to Generative AI Support for Governance '
- name: Governance Enforcement Recommendation APIs
  description: This contains APIs related to CCM Governance Enforcement Recommendations
- name: Governance Alert
  description: This contains APIs related to Governance Alert Management
- name: Governance Overview
  description: This contains APIs related to CCM Governance Overview Page
- name: Governance Recommendation APIs
  description: This contains APIs related to CCM Governance Recommendations
- name: RuleEnforcement
  description: 'This contains APIs related to Rule Enforcement '
- name: Rule Executions
  description: This contains APIs related to Rule Executions
- name: Rule
  description: This contains APIs related to Governance Rule Management
- name: Rule Sets
  description: Rule sets serve as logical bindings on top of individual rules that
    help you organize and manage rules.
- name: Cloud Cost Perspectives Folders
  description: Group your Perspectives using Folders in ways that are more meaningful
    to your business needs.
- name: Cloud Cost Perspective Reports
  description: Manage cost reports created on Perspectives.
- name: Cloud Cost Perspectives
  description: Group your resources using Perspectives in ways that are more meaningful
    to your business needs.
- name: Cost Category Jira Project Mapping
  description: Cost Category Jira Project Mapping CRUD APIs.
- name: Cloud Cost Recommendations Details
  description: Cloud Cost Recommendations details for workloads and node pools.
- name: Cloud Cost Recommendations
  description: Recommendations for workloads and node pools.
- name: Cloud Cost Recommendation Jira
  description: Cloud Cost recommendation CRUD apis for jira.
- name: Cloud Cost Recommendation Preferences
  description: Cloud Cost recommendation apis for recommendations preferences.
- name: Cloud Cost Recommendation Presets
  description: Cloud Cost recommendation apis for recommendations presets.
- name: Cloud Cost Recommendation Servicenow
  description: Cloud Cost recommendation CRUD apis for servicenow.
- name: Cloud Cost Recommendation Tags
  description: Cloud Cost recommendation apis for recommendations tags.
- name: Cloud Cost Recommendation Ignore List
  description: Cloud Cost recommendation CRUD apis for recommendations ignore list.
- name: Filter
  description: This contains APIs related to Filter as defined in Harness
- name: Usage
  description: This contains APIs related to license usage as defined in Harness
paths:
  "/anomaly/summary":
    post:
      tags:
      - Cloud Cost Anomalies
      summary: List Anomalies
      description: Fetch the result of anomaly query
      operationId: getAnomaliesSummary
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Anomaly Filter Properties
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AnomalyFilterProperties"
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Anomaly Query result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListAnomalySummary"
  "/anomaly/filter-values":
    post:
      tags:
      - Cloud Cost Anomalies
      summary: Returns the list of distinct values for all the specified Anomaly fields.
      description: Returns the list of distinct values for all the specified Anomaly
        fields.
      operationId: anomalyFilterValues
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: List of Anomaly columns whose unique values will be fetched
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns the list of distinct values for all the specified Anomaly
            fields.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListFilterStats"
  "/anomaly":
    post:
      tags:
      - Cloud Cost Anomalies
      summary: List Anomalies
      description: Fetch the list of anomalies reported according to the filters applied
      operationId: listAnomalies
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: perspectiveId
        in: query
        schema:
          type: string
      requestBody:
        description: Perspective & Anomaly Filter Properties
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AnomalyRequestDTO"
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: List of Anomalies
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListAnomalyData"
  "/anomaly/listIgnoredAnomalies":
    post:
      tags:
      - Cloud Cost Anomalies
      summary: List ignore list anomalies
      description: Fetch the list of anomalies present in the ignore list according
        to the filters applied
      operationId: listIgnoredAnomalies
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Anomaly Filter Properties
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AnomalyFilterProperties"
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: List of anomalies present in ignore list
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListAnomalyData"
  "/anomaly/perspective/{perspectiveId}":
    post:
      tags:
      - Cloud Cost Anomalies
      summary: List Anomalies for Perspective
      description: Fetch anomalies for perspective
      operationId: listPerspectiveAnomalies
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: perspectiveId
        in: path
        description: Unique identifier for perspective
        required: true
        schema:
          type: string
      requestBody:
        description: Perspective Query
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PerspectiveQueryDTO"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: List of Anomalies for Perspective
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListPerspectiveAnomalyData"
  "/anomaly/feedback":
    put:
      tags:
      - Cloud Cost Anomalies
      summary: Report Anomaly feedback
      description: Mark an anomaly as true/false anomaly
      operationId: reportAnomalyFeedback
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: anomalyId
        in: query
        description: Unique identifier for perspective
        required: true
        schema:
          type: string
      requestBody:
        description: Feedback
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AnomalyFeedback"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Report Anomaly Feedback
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOBoolean"
  "/bi-dashboards":
    get:
      tags:
      - Cloud Cost BI Dashboards
      summary: List all the BI Dashboards for CCM
      description: List all the Cloud Cost BI Dashboards.
      operationId: listBIDashboards
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns the list of all BI Dashboards
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListBIDashboardSummary"
  "/budgets/bulk/adjust-budget-amount":
    post:
      tags:
      - Cloud Cost Budgets
      summary: Adjust Budget Amount in Bulk
      description: |
        Adjusts multiple budget amounts in a single operation. This is an asynchronous operation that returns a job ID for tracking.        
        #### Example Request:
        ```json
        {
          "budgetIds": ["budget_123", "budget_456"],
          "adjustBudgetBulkRequestType": "INCREASE_BY_PERCENTAGE",
          "adjustmentValue": 10,
          "notes": "Q2 budget adjustment - 10% increase for all production budgets"
        }
        ```
        
        #### Adjustment Types (adjustBudgetBulkRequestType):
        - `INCREASE_BY_PERCENTAGE`: Increase budgets by a percentage (e.g., 10 = 10% increase)
        - `DECREASE_BY_PERCENTAGE`: Decrease budgets by a percentage (e.g., 5 = 5% decrease)
        - `INCREASE_BY_AMOUNT`: Increase budgets by a fixed amount
        - `DECREASE_BY_AMOUNT`: Decrease budgets by a fixed amount
        - `SET_TO_SPECIFIC_AMOUNT`: Set budgets to specific amounts (requires amountMap)
      operationId: adjustBudgetAmountOperation
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: |
          Request body containing the budget adjustment configuration.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AdjustBudgetAmountRequest"
        required: true
      responses:
        '202':
          description: |
            Returns a job status object to track the operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - RUNNING
                      - COMPLETED
                      - FAILED
                    description: Current status of the bulk operation
                  failedBudgetIds:
                    type: array
                    items:
                      type: string
                    description: List of budget IDs that failed to process
                  successCount:
                    type: integer
                    description: Number of budgets successfully processed
                  failedCount:
                    type: integer
                    description: Number of budgets that failed to process
              example:
                status: RUNNING
                failedBudgetIds: []
                successCount: 0
                failedCount: 0
        '400':
          description: Invalid request parameters or malformed request body
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error occurred while processing the request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/budgets/bulk/clone":
    post:
      tags:
      - Cloud Cost Budgets
      summary: Clone Budgets in Bulk
      description: |
        Creates copies of multiple budgets with customizable naming patterns and alert configurations.
      operationId: cloneBudgetsBulkOperation
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Bulk clone operation details
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CloneBudgetRequest"
        required: true
      responses:
        '202':
          description: Bulk clone operation accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: SUCCESS
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - RUNNING
                          - COMPLETED
                          - FAILED
                        description: Current status of the bulk operation
                      failedBudgetIds:
                        type: array
                        items:
                          type: string
                        description: List of budget IDs that failed to process
                      successCount:
                        type: integer
                        description: Number of budgets successfully processed
                      failedCount:
                        type: integer
                        description: Number of budgets that failed to process
                  metaData:
                    type: object
                    nullable: true
                  correlationId:
                    type: string
                    description: Unique identifier for tracking the request
              example:
                status: SUCCESS
                data:
                  status: RUNNING
                  failedBudgetIds: []
                  successCount: 0
                  failedCount: 0
                metaData: null
                correlationId: "abc-123-xyz-correlation"
        '400':
          description: Invalid request parameters or malformed request body
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/budgets/bulk/delete":
    post:
      tags:
      - Cloud Cost Budgets
      summary: Delete Budgets in Bulk
      description: |
        Permanently deletes multiple budgets in a single operation.
        
        **⚠️ WARNING:** This action cannot be undone. Deleted budgets and their historical data will be permanently removed.
        
        **Recommendations:**
        - Double-check budget IDs before deletion
        - Consider exporting budget data before proceeding
        - Review dependent alerts and reports
      operationId: deleteBudgetsBulkOperation
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Bulk delete operation details
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DeleteBudgetRequest"
        required: true
      responses:
        '202':
          description: Bulk delete operation accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: SUCCESS
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - RUNNING
                          - COMPLETED
                          - FAILED
                        description: Current status of the bulk operation
                      failedBudgetIds:
                        type: array
                        items:
                          type: string
                        description: List of budget IDs that failed to delete
                      successCount:
                        type: integer
                        description: Number of budgets successfully deleted
                      failedCount:
                        type: integer
                        description: Number of budgets that failed to delete
                  metaData:
                    type: object
                    nullable: true
                  correlationId:
                    type: string
                    description: Unique identifier for tracking the request
              example:
                status: SUCCESS
                data:
                  status: RUNNING
                  failedBudgetIds: []
                  successCount: 0
                  failedCount: 0
                metaData: null
                correlationId: "abc-123-xyz-correlation"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/budgets/bulk/check-job-status":
    get:
      tags:
      - Cloud Cost Budgets
      summary: Check Bulk Operation Status
      description: |
        Retrieves the current status of an asynchronous bulk budget operation. Returns the status of the most recent bulk operation for an account.
        
        **Status Values:**
        - `RUNNING`: Operation is in progress
        - `COMPLETED`: Operation finished successfully
        - `FAILED`: Operation encountered errors (check failedBudgetIds)
      operationId: checkBulkBudgetJobStatus
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      responses:
        '200':
          description: Returns the status of the most recent bulk operation for the account
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - RUNNING
                      - COMPLETED
                      - FAILED
                    description: Current status of the bulk operation
                  failedBudgetIds:
                    type: array
                    items:
                      type: string
                    description: List of budget IDs that failed to process
                  successCount:
                    type: integer
                    description: Number of budgets successfully processed
                  failedCount:
                    type: integer
                    description: Number of budgets that failed to process
              example:
                status: COMPLETED
                failedBudgetIds: ["budget_789"]
                successCount: 5
                failedCount: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/budgets/bulk/manage-alerts":
    post:
      tags:
      - Cloud Cost Budgets
      summary: Manage Budget Alerts in Bulk
      description: |
        Performs bulk operations on budget alerts including adding, updating, or removing alert configurations.
        
        **Supported Operations:**
        - Add/Update Alert Thresholds - Add new alert thresholds to budgets
        - Remove Alerts - Remove specific alert thresholds from budgets
        - Manage Notification Recipients:
          - Add email recipients
          - Remove email recipients
          - Add Slack recipients
          - Remove Slack recipients
      operationId: manageBudgetAlertsBulkOperation
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: |
          Configuration for managing budget alerts in bulk.
          
          **Example Request:**
          ```json
          {
            "budgetIds": ["budget_123", "budget_456"],
            "operationType": "ADD_ALERTS",
            "alertThresholds": [
              {
                "percentage": 90,
                "emailAddresses": ["team@example.com"],
                "alertOn": "ACTUAL_COST"
              }
            ]
          }
          ```
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ManageBudgetAlertsRequest"
        required: true
      responses:
        '202':
          description: Bulk manage alerts operation accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: SUCCESS
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - RUNNING
                          - COMPLETED
                          - FAILED
                        description: Current status of the bulk operation
                      failedBudgetIds:
                        type: array
                        items:
                          type: string
                        description: List of budget IDs that failed to process
                      successCount:
                        type: integer
                        description: Number of budgets successfully processed
                      failedCount:
                        type: integer
                        description: Number of budgets that failed to process
                  metaData:
                    type: object
                    nullable: true
                  correlationId:
                    type: string
                    description: Unique identifier for tracking the request
              example:
                status: SUCCESS
                data:
                  status: RUNNING
                  failedBudgetIds: []
                  successCount: 0
                  failedCount: 0
                metaData: null
                correlationId: "abc-123-xyz-correlation"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/budgetGroups/{id}":
    get:
      tags:
      - Cloud Cost Budget Groups
      summary: Fetch Budget group details
      description: Fetch details of a Cloud Cost Budget group for the given Budget
        group ID.
      operationId: getBudgetGroup
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: id
        in: path
        description: Unique identifier for the budget
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Get a Budget group by it's identifier
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOBudgetGroup"
    put:
      tags:
      - Cloud Cost Budget Groups
      summary: Update an existing budget group
      description: Update an existing Cloud Cost Budget group for the given Budget
        group ID.
      operationId: updateBudgetGroup
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: id
        in: path
        description: Unique identifier for the budget group
        required: true
        schema:
          type: string
      requestBody:
        description: The Budget object
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BudgetGroup"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns a generic string message when the operation is successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOString"
    delete:
      tags:
      - Cloud Cost Budget Groups
      summary: Delete a budget group
      description: Delete a Cloud Cost Budget group for the given Budget group ID.
      operationId: deleteBudgetGroup
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: id
        in: path
        description: Unique identifier for the budget
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns a boolean whether the operation was successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOBoolean"
  "/budgetGroups/v2/list":
    post:
      tags:
      - Cloud Cost Budget Groups
      summary: Filter budget groups and return hierarchical structure
      description: Returns a hierarchical list of budget groups based on the filter
        criteria.
      operationId: getAccessibleBudgetGroupSummaries
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: sortType
        in: query
        description: Field to sort results by
        schema:
          type: string
          enum:
          - BUDGET_GROUP_AMOUNT
          - BUDGET_GROUP_NAME
          - BUDGET_GROUP_ACTUAL_COST
          - BUDGET_GROUP_FORECASTED_COST
      - name: sortOrder
        in: query
        description: Sort order (ASCENDING or DESCENDING)
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      requestBody:
        description: Filter properties for budget groups
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BudgetFilterPropertiesDTO"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns a hierarchical list of budget group summaries where
            child entities are nested within parent budget groups
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListBudgetSummary"
  "/budgetGroups/aggregatedAmount":
    post:
      tags:
      - Cloud Cost Budget Groups
      summary: Get aggregated amount for given budget groups/budgets
      description: Returns list of value dataPoints specifying aggregated amount
      operationId: getLastPeriodCost
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: areChildEntitiesBudgets
        in: query
        required: true
        schema:
          type: boolean
      requestBody:
        description: List of child budgets/budget groups
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns list of value dataPoints specifying aggregated amount
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListValueDataPoint"
  "/budgetGroups/summary":
    get:
      tags:
      - Cloud Cost Budget Groups
      summary: Get list of budget and budget group summaries
      description: Returns list of budgetSummary
      operationId: getBudgetAndBudgetGroupsList
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: budgetGroupId
        in: query
        schema:
          type: string
      - name: showAllEntities
        in: query
        required: true
        schema:
          type: boolean
      - name: budgetGroupSortType
        in: query
        description: Budget Group List Sort Type
        schema:
          type: string
          enum:
          - BUDGET_GROUP_AMOUNT
          - BUDGET_GROUP_NAME
          - BUDGET_GROUP_ACTUAL_COST
          - BUDGET_GROUP_FORECASTED_COST
      - name: sortOrder
        in: query
        description: Budget Group List Sort Order
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns list of value dataPoints specifying cost
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListBudgetSummary"
  "/budgetGroups":
    get:
      tags:
      - Cloud Cost Budget Groups
      summary: List all the Budget groups
      description: List all the Cloud Cost Budget Groups for an account.
      operationId: listBudgetGroups
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: budgetGroupSortType
        in: query
        description: Budget Group List Sort Type
        schema:
          type: string
          enum:
          - BUDGET_GROUP_AMOUNT
          - BUDGET_GROUP_NAME
          - BUDGET_GROUP_ACTUAL_COST
          - BUDGET_GROUP_FORECASTED_COST
      - name: sortOrder
        in: query
        description: Budget Group List Sort Order
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns the list of all Budget groups
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListBudgetGroup"
    post:
      tags:
      - Cloud Cost Budget Groups
      summary: Create a Budget Group
      description: Create a Budget group to set and receive alerts when your costs
        exceed (or are forecasted to exceed) your budget group amount.
      operationId: createBudgetGroup
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Budget Group definition
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BudgetGroup"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns the ID string of the new Budget group created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOString"
  "/budgets/{id}":
    get:
      tags:
      - Cloud Cost Budgets
      summary: Fetch Budget details
      description: Fetch details of a Cloud Cost Budget for the given Budget ID.
      operationId: getBudget
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: id
        in: path
        description: Unique identifier for the budget
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Get a Budget by it's identifier
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOBudget"
    put:
      tags:
      - Cloud Cost Budgets
      summary: Update a Budget
      description: |
        Updates the configuration of an existing budget. All fields provided will overwrite the existing values.
        
        **Common Updates:**
        - Adjust budget amount or time period
        - Add/remove alert thresholds
        - Update notification recipients
        - Change associated perspective
      
      operationId: updateBudget
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: id
        in: path
        description: Unique identifier for the budget
        required: true
        schema:
          type: string
        example: budget_123
      requestBody:
        description: The Budget object
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns a generic string message when the operation is successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOString"
    post:
      tags:
      - Cloud Cost Budgets
      summary: Clone a budget
      description: Clone a Cloud Cost Budget using the given Budget ID.
      operationId: cloneBudget
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: id
        in: path
        description: Unique identifier for the budget
        required: true
        schema:
          type: string
      - name: cloneName
        in: query
        description: Name of the new budget
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns the identifier string of the new Budget created using
            clone operation
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOString"
    delete:
      tags:
      - Cloud Cost Budgets
      summary: Delete a Budget
      description: |
        Permanently deletes a budget and all its associated data.
        
        **⚠️ WARNING:** This action cannot be undone. The following will be permanently deleted:
        - Budget configuration
        - Historical spending data
        - Alert history
        - Notification settings
        
        **Recommendations:**
        - Verify the budget ID before deletion
        - Export any required budget data
        - Check for dependent reports or dashboards

      operationId: deleteBudget
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: id
        in: path
        description: Unique identifier for the budget
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns a text message whether the operation was successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOString"
  "/budgets/filter-values":
    post:
      tags:
      - Cloud Cost Budgets
      summary: Return the list of filter values for the Budgets
      description: Returns the list of filter values for all the specified filters.
      operationId: budgetFilterValues
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Budget Filter Values Body.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BudgetFilterValues"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/budgets/v2/list":
    post:
      tags:
      - Cloud Cost Budgets
      summary: Filter budgets with RBAC checks
      description: Returns a list of budgets based on filter criteria with folder-based
        RBAC checks
      operationId: getAccessibleBudgetSummaries
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: sortType
        in: query
        description: Field to sort results by
        schema:
          type: string
          enum:
          - BUDGET_AMOUNT
          - NAME
          - ACTUAL_COST
          - FORECASTED_COST
      - name: sortOrder
        in: query
        description: Sort order (ASCENDING or DESCENDING)
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      requestBody:
        description: Filter properties for budgets
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CCMBudgetFilterProperties"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/budgets/{id}/costDetails":
    get:
      tags:
      - Cloud Cost Budgets
      summary: Fetch the cost details of a Budget
      description: Fetch the cost details of a Cloud Cost Budget for the given Budget
        ID.
      operationId: getCostDetails
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: id
        in: path
        description: Unique identifier for the Budget
        required: true
        schema:
          type: string
      - name: breakdown
        in: query
        description: MONTHLY/YEARLY breakdown. The default value is YEARLY
        schema:
          type: string
          description: Whether the Yearly budget breakdown is yearly or monthly
          enum:
          - YEARLY
          - MONTHLY
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns the cost data of a Budget
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOBudgetData"
  "/budgets/perspectiveBudgets":
    get:
      tags:
      - Cloud Cost Budgets
      summary: List all the Budgets associated with a Perspective
      description: List all the Cloud Cost Budgets associated for the given Perspective
        ID.
      operationId: listBudgetsForPerspective
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: perspectiveId
        in: query
        description: Unique identifier for the Perspective
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns the list of Budgets
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListBudget"
  "/budgets":
    get:
      tags:
      - Cloud Cost Budgets
      summary: List all the Budgets
      description: List all the Cloud Cost Budgets.
      operationId: listBudgets
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: budgetSortType
        in: query
        description: Budget List Sort Type
        schema:
          type: string
          enum:
          - BUDGET_AMOUNT
          - NAME
          - ACTUAL_COST
          - FORECASTED_COST
      - name: sortOrder
        in: query
        description: Budget List Sort Order
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns the list of all Budgets
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListBudget"
    post:
      tags:
      - Cloud Cost Budgets
      summary: Create a New Budget
      description: |
        Creates a new budget to monitor and control your cloud spending with configurable alerts.
        
        **Key Features:**
        - Set monthly, quarterly, or custom time periods
        - Configure multiple alert thresholds (50%, 75%, 90%, etc.)
        - Receive email notifications for budget alerts
        - Track actual vs. forecasted spending
        
        **Example Use Cases:**
        - Set department-wise spending limits
        - Monitor project-specific cloud costs
        - Control non-production environment spending
        
        **Example Request:**
        ```json
        {
          "name": "Production Environment - Q2 2024",
          "amount": 10000,
          "period": "MONTHLY",
          "perspectiveId": "perspective_prod_123",
          "alertThresholds": [
            {
              "percentage": 50,
              "emailAddresses": ["team@example.com"],
              "alertOn": "ACTUAL_COST"
            },
            {
              "percentage": 90,
              "emailAddresses": ["team@example.com", "alerts@example.com"],
              "alertOn": "FORECASTED_COST"
            }
          ]
        }
        ```
      operationId: createBudget
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Budget definition
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Budget"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns the ID string of the new Budget created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOString"
  "/budgets/subscribe/list":
    get:
      tags:
      - Cloud Cost Budgets
      summary: List alert thresholds for a budget
      description: List all the alert thresholds that have been set for the given
        Budget ID.
      operationId: listBudgetAlertThresholds
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: budgetId
        in: query
        description: Unique identifier for the budget
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns the list of alert thresholds for the budget
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListAlertThreshold"
  "/budgets/moveBudgets":
    post:
      tags:
      - Cloud Cost Budgets
      summary: Move budgets to a folder
      description: Move budgets to a different folder, overriding perspective folder
        inheritance.
      operationId: moveBudgets
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Request body containing budgetIds and newFolderId
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MoveBudgetsDTO"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns number of budgets moved
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOInteger"
  "/budgets/subscribe":
    post:
      tags:
      - Cloud Cost Budgets
      summary: Update alert thresholds for a budget
      description: Update the alert thresholds for the given Budget ID with the provided
        list of alert thresholds.
      operationId: updateBudgetAlertThresholds
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: budgetId
        in: query
        description: Unique identifier for the budget
        required: true
        schema:
          type: string
      requestBody:
        description: List of alert thresholds to set for the budget
        content:
          application/json:
            schema:
              type: array
              items:
                "$ref": "#/components/schemas/AlertThreshold"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns a success message when the alert thresholds are updated
            successfully
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOString"
  "/business-mapping/{id}":
    get:
      tags:
      - Cloud Cost Categories
      summary: Fetch details of a Cost category
      description: Retrieve a specific Cost Category by its unique identifier. Returns
        the complete Cost Category configuration including all cost buckets, shared
        costs, and rule definitions.
      operationId: getBusinessMapping
      parameters:
      - name: accountIdentifier
        in: query
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns a Cost category object with all the cost and shared
            buckets, returns null if no Cost category exists for that particular identifier
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RestResponseBusinessMapping"
      x-order: '2'
    delete:
      tags:
      - Cloud Cost Categories
      summary: Delete a Cost category
      description: Delete a Cost Category by its unique identifier. The deletion will
        fail if the Cost Category is currently used in any Perspectives. Returns a
        list of linked Perspectives if deletion is blocked.
      operationId: deleteBusinessMapping
      parameters:
      - name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: A string text message whether the delete was successful or
            not. If the cost category is used in the perspective, the deletion will
            fail and it will send you the IDs of all the linked perspectives
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RestResponseCostCategoryDeleteDTO"
      x-order: '5'
  "/business-mapping/filter-panel":
    get:
      tags:
      - Cloud Cost Categories
      summary: Get (cost-categories)/(cost buckets) for recommendation filter panel
      description: Get (cost-categories)/(cost buckets) for recommendation filter
        panel
      operationId: getBusinessMappingForFilterPanel
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: costCategory
        in: query
        schema:
          type: string
      - name: search
        in: query
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns List of cost-category/cost-buckets
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListString"
  "/business-mapping":
    get:
      tags:
      - Cloud Cost Categories
      summary: Return details of all the Cost categories
      description: List all Cost Categories for your account with support for search,
        sorting, and pagination. Use this endpoint to browse and discover existing
        Cost Categories and their configurations.
      operationId: getBusinessMappingList
      parameters:
      - name: accountIdentifier
        in: query
        schema:
          type: string
      - name: searchKey
        in: query
        schema:
          type: string
      - name: sortType
        in: query
        schema:
          type: string
          enum:
          - NAME
          - LAST_EDIT
      - name: sortOrder
        in: query
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns a List of Cost Categories
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RestResponseBusinessMappingListDTO"
      x-order: '3'
    put:
      tags:
      - Cloud Cost Categories
      summary: Update a Cost category
      description: Update an existing Cost Category configuration. Modify cost buckets,
        shared costs, rules, or rename the Cost Category. The update is identified
        by the UUID in the request body.
      operationId: updateBusinessMapping
      parameters:
      - name: accountIdentifier
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BusinessMapping"
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Successfully updated the Business Mapping
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RestResponseString"
      x-order: '4'
    post:
      tags:
      - Cloud Cost Categories
      summary: Create a Cost Category
      description: Create a Cost Category to organize and allocate cloud costs based
        on your business structure. Define custom rules and cost buckets to automatically
        categorize expenses by teams, projects, environments, or any business dimension.
        Cost Categories enable accurate cost allocation, chargeback, and financial
        reporting across your organization.
      operationId: createBusinessMapping
      parameters:
      - name: accountIdentifier
        in: query
        schema:
          type: string
      requestBody:
        description: Cost Category definition with rules and cost buckets
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BusinessMapping"
            examples:
              Basic Cost Category:
                summary: Simple Cost Category by teams
                description: Create a Cost Category to organize costs by engineering
                  teams using labels
                value:
                  name: Engineering Teams
                  accountId: acc_xyz789
                  costBuckets:
                  - name: Backend Team
                    rules:
                    - conditions:
                      - type: LABEL
                        key: team
                        value: backend
                  - name: Frontend Team
                    rules:
                    - conditions:
                      - type: LABEL
                        key: team
                        value: frontend
                  sharedCosts: []
        required: true
      responses:
        '200':
          description: Successfully created Cost Category with all cost buckets and
            shared costs
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BusinessMapping"
        '400':
          description: Bad Request - Invalid Cost Category definition
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      x-order: '1'
  "/ccmK8sMeta":
    post:
      tags:
      - Cloud Cost K8S Connectors Metadata
      summary: Get CCM K8S Metadata
      description: 'Get CCM K8S Metadata '
      operationId: ccmK8sMeta
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Request body containing Cost Access K8s connector identifiers
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CcmK8sMetaDTO"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns list of connector identifiers with their health metadata
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOCcmK8sMetaInfoResponseDTO"
  "/notificationSetting/v2":
    get:
      tags:
      - Cloud Cost Notification Settings v2
      summary: List notification settings
      description: List notification settings for the given account id.
      operationId: listNotificationSettingsV2
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: perspectiveId
        in: query
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns the list of notification setting object for given account
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListNotificationSetting"
    put:
      tags:
      - Cloud Cost Notification Settings v2
      summary: Update an existing notification setting
      description: Update an existing notification setting for the given perspective
        id.
      operationId: updateNotificationSettingV2
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: id
        in: query
        description: Unique identifier for the notification setting
        required: true
        schema:
          type: string
      requestBody:
        description: Notification setting definition
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/NotificationSetting"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns the updated notification setting object
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTONotificationSetting"
    post:
      tags:
      - Cloud Cost Notification Settings v2
      summary: Create a notification setting
      description: Create a notification setting for a perspective to receive cloud
        cost anomaly alerts.
      operationId: createNotificationSettingV2
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Notification Setting definition
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/NotificationSetting"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns the Notification Setting object created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOString"
    delete:
      tags:
      - Cloud Cost Notification Settings v2
      summary: Delete notification settings
      description: Delete notification settings for the given perspective id.
      operationId: deleteNotificationSettingsV2
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: id
        in: query
        description: Unique identifier for the Perspective
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns boolean indicating whether deletion of notification
            settings for a perspective was successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOBoolean"
  "/overview":
    get:
      tags:
      - Cloud Cost Overview
      summary: Fetch high level overview details about CCM feature.
      description: Fetch high level overview details about CCM feature.
      operationId: getCCMOverview
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: startTime
        in: query
        description: Start time of the period
        required: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        description: End time of the period
        required: true
        schema:
          type: integer
          format: int64
      - name: groupBy
        in: query
        description: Group by period
        required: true
        schema:
          type: string
          enum:
          - HOUR
          - DAY
          - MONTH
          - WEEK
          - QUARTER
          - YEAR
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns a CEView object containing CCM Overview details(Total
            cost, cost breakdown by day, and total number of recommendations for a
            give time range)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOCCMOverview"
  "/cost-settings":
    get:
      tags:
      - CCM global cost settings
      summary: Get cost settings for a CCM feature
      description: Get cost settings for a CCM feature
      operationId: getCostSettings
      parameters:
      - name: accountIdentifier
        in: query
        schema:
          type: string
      - name: feature
        in: query
        description: The CCM feature to get settings for
        required: true
        schema:
          type: string
          enum:
          - ANOMALIES
          - RECOMMENDATIONS
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Get cost settings for a CCM feature
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOCostSettings"
    put:
      tags:
      - CCM global cost settings
      summary: Update cost settings for a CCM feature
      description: Update cost settings for a CCM feature
      operationId: updateCostSettings
      parameters:
      - name: accountIdentifier
        in: query
        schema:
          type: string
      requestBody:
        description: Cost setting definition
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CostSettings"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Update cost settings for a CCM feature
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOCostSettings"
  "/unit-metric":
    get:
      tags:
      - Unit Metric
      summary: Get Unit Metric
      description: Get a Unit Metric by identifier with records for the specified
        time range.
      operationId: getUnitMetric
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: identifier
        in: query
        description: Unit Metric identifier
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        description: Start time in ISO 8601 format (e.g., 2020-03-03T15:32:44Z or
          2020-03-03T15:32:44%2B00:00)
        required: true
        schema:
          type: string
      - name: endTime
        in: query
        description: End time in ISO 8601 format (e.g., 2020-03-03T15:32:44Z or 2020-03-03T15:32:44%2B00:00)
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns Unit Metric metadata and records for the specified
            time range
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOUnitMetricResponseDTO"
    put:
      tags:
      - Unit Metric
      summary: Update Unit Metric
      description: Update an existing Unit Metric.
      operationId: updateUnitMetric
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Request body containing Unit Metric object
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UnitMetricRequestDTO"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns an updated Unit Metric Object
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOUnitMetricResponseDTO"
    post:
      tags:
      - Unit Metric
      summary: Create Unit Metric
      description: Create a Unit Metric.
      operationId: createUnitMetric
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Request body containing Unit Metric object
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UnitMetricRequestDTO"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns a created Unit Metric Object
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOUnitMetricResponseDTO"
    delete:
      tags:
      - Unit Metric
      summary: Delete Unit Metric Records within a specified time range.
      description: Delete Unit Metric Records within a specified time range.
      operationId: deleteUnitMetric
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: identifier
        in: query
        description: Unit Metric identifier
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        description: Start time in ISO 8601 format (e.g., 2020-03-03T15:32:44Z or
          2020-03-03T15:32:44%2B00:00)
        required: true
        schema:
          type: string
      - name: endTime
        in: query
        description: End time in ISO 8601 format (e.g., 2020-03-03T15:32:44Z or 2020-03-03T15:32:44%2B00:00)
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Returns success status
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOBoolean"
  "/anomaly/v2/comment":
    get:
      tags:
      - Anomaly Comments
      summary: List anomaly comments
      description: List comments for the given anomaly
      operationId: listAnomalyComments
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: anomalyId
        in: query
        required: true
        schema:
          type: string
      responses:
        default:
          description: List anomaly comments
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListAnomalyComment"
    post:
      tags:
      - Anomaly Comments
      summary: Save anomaly comment
      description: Save comment for the given anomaly
      operationId: saveAnomalyComment
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Comment details
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AnomalyComment"
        required: true
      responses:
        default:
          description: Save anomaly comment
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOString"
  "/anomaly/v2/drill-down/cost/time-series":
    get:
      tags:
      - Cloud cost anomaly details
      summary: Get anomaly cost time-series data
      description: Get actual cost time-series data for given anomaly.
      operationId: getAnomalyCostTimeSeriesData
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: anomalyId
        in: query
        schema:
          type: string
      - name: startTime
        in: query
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Get anomaly cost time-series data
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListAnomalyCostTimeSeries"
  "/anomaly/v2/drill-down":
    get:
      tags:
      - Cloud cost anomaly details
      summary: Get anomaly details
      description: Get details about the given cloud cost anomaly
      operationId: getAnomalyDetails
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: anomalyId
        in: query
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Get anomaly details
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOAnomalyData"
  "/anomaly/v2/drill-down/forecast/cost/time-series":
    get:
      tags:
      - Cloud cost anomaly details
      summary: Get anomaly forecast cost time-series data
      description: Get forecasted cost time-series data for a given anomaly.
      operationId: getAnomalyForecastCostTimeSeriesData
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: anomalyId
        in: query
        schema:
          type: string
      - name: startTime
        in: query
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Get anomaly forecast cost time-series data
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListAnomalyForecastCostTimeSeries"
  "/anomaly/v2/drill-down/resource/cost/time-series":
    get:
      tags:
      - Cloud cost anomaly details
      summary: Get anomaly resource cost time-series data
      description: Get actual cost time-series data for given resource.
      operationId: getAnomalyResourceCostTimeSeriesData
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: anomalyId
        in: query
        schema:
          type: string
      - name: resource
        in: query
        schema:
          type: string
      - name: startTime
        in: query
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Get anomaly resource cost time-series data
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListAnomalyResourceCostTimeSeries"
  "/anomaly/v2/drill-down/list":
    get:
      tags:
      - Cloud cost anomaly details
      summary: Get anomaly resource list
      description: Get details about the top contributing resources for the given
        cloud cost anomaly. Returns either a list of resource details (AnomalyResourceDetails)
        when drill-down is successful, or a list of anomaly data (AnomalyData) when
        drill-down results are insufficient or empty. The response type depends on
        whether the drill-down query returns meaningful results and whether the drill-down
        cost impact is at least 50% of the total cost impact.
      operationId: getAnomalyResourceList
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      - name: anomalyId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Returns either a list of AnomalyResourceDetails (when drill-down
            is successful) or a list of AnomalyData (when drill-down is insufficient).
          content:
            application/json:
              schema:
                type: string
                description: Response containing either List<AnomalyResourceDetails>
                  or List<AnomalyData> based on drill-down results and feature flag
                  configuration
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/anomaly/v2/list":
    post:
      tags:
      - Cloud cost anomalies v2
      summary: Get anomalies list
      description: |
        Retrieves a list of cost anomalies with details including actual vs expected costs, anomalous spend, status, and user feedback.

      operationId: getAnomaliesList
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz 
      requestBody:
        description: Anomaly request body
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AnomalyRequestDTO"
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Get anomalies list
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOListAnomalyData"
  "/anomaly/v2/metrics":
    post:
      tags:
      - Cloud cost anomalies v2
      summary: Get anomaly metrics
      description: |
        Retrieves anomaly overview with metrics grouped by status (active, ignored, archived, resolved). Each status includes count and cost impact.

      operationId: getAnomalyMetrics
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Anomaly request body
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AnomalyRequestDTO"
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Get anomaly metrics
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOAnomalyOverview"
  "/anomaly/v2/summary":
    post:
      tags:
      - Cloud cost anomalies v2
      summary: Get anomaly metrics summary
      description: |
        Retrieves aggregated anomaly metrics including count, cost impact, and status.

      operationId: getAnomalyMetricsSummary
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Anomaly request body
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AnomalyRequestDTO"
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        default:
          description: Get anomaly metrics
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResponseDTOAnomalyMetrics"
  "/anomaly/v2/metrics/time-series":
    post:
      tags:
      - Cloud cost anomalies v2
      summary: Get anomaly metrics time-series
      description: |
        Retrieves time-series data mapping timestamps to anomaly metrics grouped by status (active, ignored, archived, resolved).
      operationId: getAnomalyMetricsTimeSeries
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for authentication and authorization.
        required: true
        schema:
          type: string
        example: abc-123-xyz
      requestBody:
        description: Anomaly request body
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AnomalyRequestDTO"
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Failure"
        '500':
[...]
