{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Harness NextGen Software Delivery Platform API Reference",
    "description" : "This is the Open Api Spec 3 for the Pipeline Service. This is under active development. Beware of the breaking change with respect to the generated code stub.",
    "contact" : {
      "email" : "contact@harness.io"
    },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "http://app.harness.io",
    "description" : "localhost"
  } ],
  "tags" : [ {
    "name" : "Pipeline Resource",
    "description" : "This contains APIs for performing CRUD operations on Pipelines."
  } ],
  "paths" : {
    "/v1/orgs/{org}/projects/{project}/pipelines" : {
      "get" : {
        "tags" : [ "Pipeline Resource" ],
        "summary" : "List Pipelines",
        "description" : "Returns a list of Pipelines.",
        "operationId" : "list-pipelines",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 30
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching the search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "module",
          "in" : "query",
          "description" : "Harness module which is part of the Pipeline.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "filter_identifier",
          "in" : "query",
          "description" : "Identifier of an existing Filter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/PipelineListRequestBody"
        },
        "responses" : {
          "200" : {
            "description" : "Response body for List Pipelines.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "Response body for List Pipelines.",
                  "items" : {
                    "$ref" : "#/components/schemas/PipelineListResponseBody"
                  }
                },
                "examples" : {
                  "example-list-response" : {
                    "value" : [ {
                      "slug" : "example_pipeline",
                      "name" : "Example Pipeline",
                      "description" : "This is an Example Pipeline",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "modules" : "CD",
                      "execution_summary" : {
                        "error_last_week" : [ 1, 2, 3, 4, 5, 6, 7 ],
                        "deployments" : [ 1, 2, 3, 4, 5, 6, 7 ],
                        "last_executed" : 1234567890,
                        "last_status" : "Running",
                        "last_execution" : "example_execution_slug"
                      },
                      "filter" : { },
                      "store_type" : "INLINE",
                      "connector_ref" : "example_connector",
                      "draft" : true,
                      "git_details" : {
                        "object" : "example_object",
                        "branch" : "branch",
                        "file_path" : "/folder/file.json",
                        "repo_name" : "example_repository",
                        "commit_id" : "abcd123",
                        "file_url" : "www.repo/folder/file.com",
                        "repo_url" : "www.repo.com"
                      }
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "array",
                  "description" : "Response body for List Pipelines.",
                  "items" : {
                    "$ref" : "#/components/schemas/PipelineListResponseBody"
                  }
                },
                "examples" : {
                  "example-list-response" : {
                    "value" : "- pipeline:\n    slug: example_pipeline\n    name: Example Pipeline\n    description: This is an Example Pipeline\n    tags:\n      example-tag-1: example-tag-1-value\n      example-tag-2: example-tag-2-value\n    created: 1234567890\n    updated: 1234567890\n    modules: CD\n    execution_summary:\n      error_last_week:\n        - 1\n        - 2\n        - 3\n        - 4\n        - 5\n        - 6\n        - 7\n      deployments:\n        - 1\n        - 2\n        - 3\n        - 4\n        - 5\n        - 6\n        - 7\n      last_executed: 1234567890\n      last_status: Running\n      last_execution: example_execution_slug\n    filter: {}\n    store_type: INLINE\n    connector_ref: example_connector\n    draft: true\n  git_details:\n    object: example_object\n    branch: branch\n    file_path: /folder/file.json\n    repo_name: example_repository\n    commit_id: abcd123\n    file_url: www.repo/folder/file.com\n    repo_url: www.repo.com\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Pipeline Resource" ],
        "summary" : "Create a Pipeline",
        "description" : "Creates a Pipeline.",
        "operationId" : "create-pipeline",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "branch",
          "in" : "query",
          "description" : "Name of the branch (for Git Experience).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "file_path",
          "in" : "query",
          "description" : "File path of the Entity in the repository (for Git Experience).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commit_message",
          "in" : "query",
          "description" : "Commit message used for the merge commit (for Git Experience).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "create_new_branch",
          "in" : "query",
          "description" : "Checks out a new branch in the repository (for Git Experience).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "base_branch",
          "in" : "query",
          "description" : "Name of the default branch (for Git Experience).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connector_ref",
          "in" : "query",
          "description" : "Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "store_type",
          "in" : "query",
          "description" : "Specifies whether the Entity is to be stored in Git or not (for Git Experience).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "INLINE", "REMOTE" ]
          }
        }, {
          "name" : "repo_name",
          "in" : "query",
          "description" : "Name of the repository (for Git Experience).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/PipelineRequestBody"
        },
        "responses" : {
          "201" : {
            "description" : "Pipeline response body",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineCreateResponseBody"
                },
                "examples" : {
                  "example-pipeline" : {
                    "value" : {
                      "slug" : "example_pipeline"
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineCreateResponseBody"
                },
                "examples" : {
                  "example-pipeline" : {
                    "value" : "slug: example_pipeline\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}" : {
      "get" : {
        "tags" : [ "Pipeline Resource" ],
        "summary" : "Retrieve a Pipeline",
        "description" : "Retrieves a Pipeline.",
        "operationId" : "get-pipeline",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pipeline",
          "in" : "path",
          "description" : "Pipeline identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "branch",
          "in" : "query",
          "description" : "Name of the branch (for Git Experience).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "template_resolved",
          "in" : "query",
          "description" : "If true, returns Pipeline YAML with Templates resolved.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Pipeline response body",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineGetResponseBody"
                },
                "examples" : {
                  "example-response" : {
                    "value" : {
                      "pipeline_yaml" : "example_yaml_text",
                      "pipeline_yaml_with_templates" : "example_yaml_text_with_template",
                      "git_details" : {
                        "object" : "example_object",
                        "branch" : "branch",
                        "file_path" : "/folder/file.json",
                        "repo_name" : "example_repository",
                        "commit_id" : "abcd123",
                        "file_url" : "www.repo/folder/file.com",
                        "repo_url" : "www.repo.com"
                      },
                      "yaml_error_wrapper" : {
                        "message" : "something is incorrect",
                        "message_fqn" : "something is incorrect at pipeline.name",
                        "stage_info" : {
                          "slug" : "example_stage",
                          "type" : "stage",
                          "name" : "Example Stage",
                          "fqn" : "pipeline.stages.stage"
                        },
                        "step_info" : {
                          "slug" : "example_step",
                          "type" : "string",
                          "name" : "string",
                          "fqn" : "pipeline.steps.step"
                        },
                        "fqn" : "pipeline.name",
                        "hint_message" : "try changing something"
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineGetResponseBody"
                },
                "examples" : {
                  "example-response" : {
                    "value" : "pipeline_yaml: example_yaml_text\npipeline_yaml_with_templates: example_yaml_text_with_template\ngit_details:\n  object: example_object\n  branch: branch\n  file_path: /folder/file.json\n  repo_name: example_repository\n  commit_id: abcd123\n  file_url: www.repo/folder/file.com\n  repo_url: www.repo.com\nyaml_error_wrapper:\n  message: something is incorrect\n  message_fqn: something is incorrect at pipeline.name\n  stage_info:\n    slug: example_stage\n    type: stage\n    name: Example Stage\n    fqn: pipeline.stages.stage\n  step_info:\n    slug: example_step\n    type: string\n    name: string\n    fqn: pipeline.steps.step\n  fqn: pipeline.name\n  hint_message: try changing something\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Pipeline Resource" ],
        "summary" : "Update a Pipeline",
        "description" : "Updates a Pipeline.",
        "operationId" : "update-pipeline",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pipeline",
          "in" : "path",
          "description" : "Pipeline identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "branch",
          "in" : "query",
          "description" : "Name of the branch (for Git Experience).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commit_message",
          "in" : "query",
          "description" : "Commit message used for the merge commit (for Git Experience).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "last_object_id",
          "in" : "query",
          "description" : "Last object identifier (for Github).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "base_branch",
          "in" : "query",
          "description" : "Name of the default branch (for Git Experience).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "last_commit_id",
          "in" : "query",
          "description" : "Last commit identifier (for Git Repositories other than Github).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/PipelineRequestBody"
        },
        "responses" : {
          "200" : {
            "description" : "Pipeline response body",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineCreateResponseBody"
                },
                "examples" : {
                  "example-pipeline" : {
                    "value" : {
                      "slug" : "example_pipeline"
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineCreateResponseBody"
                },
                "examples" : {
                  "example-pipeline" : {
                    "value" : "slug: example_pipeline\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Pipeline Resource" ],
        "summary" : "Delete a Pipeline",
        "description" : "Deletes a Pipeline.",
        "operationId" : "delete-pipeline",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pipeline",
          "in" : "path",
          "description" : "Pipeline identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "GitDetails" : {
        "title" : "Git Details",
        "type" : "object",
        "properties" : {
          "object" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Object identifier of the Entity."
          },
          "branch" : {
            "type" : "string",
            "description" : "Name of the branch (for Git Experience)."
          },
          "file_path" : {
            "type" : "string",
            "description" : "File path of the Entity in the repository (for Git Experience)."
          },
          "repo_name" : {
            "type" : "string",
            "description" : "Name of the repository (for Git Experience)."
          },
          "commit_id" : {
            "type" : "string",
            "description" : "Latest commit identifier (for Git Experience)."
          },
          "file_url" : {
            "type" : "string",
            "description" : "File URL of the Entity."
          },
          "repo_url" : {
            "type" : "string",
            "description" : "Repository URL of the Entity."
          }
        },
        "description" : "Git details of the Entity.",
        "x-stoplight" : {
          "id" : "qkq00fbqykhxw"
        },
        "x-examples" : {
          "example-git" : {
            "object" : "example_object",
            "branch" : "branch",
            "file_path" : "/folder/file.json",
            "repo_name" : "example_repository",
            "commit_id" : "abcd123",
            "file_url" : "www.repo/folder/file.com",
            "repo_url" : "www.repo.com"
          }
        }
      },
      "PipelineGetResponseBody" : {
        "title" : "Pipeline Get Response Body",
        "type" : "object",
        "properties" : {
          "pipeline_yaml" : {
            "type" : "string",
            "description" : "Pipeline YAML (returned as a String)."
          },
          "pipeline_yaml_with_templates" : {
            "type" : "string",
            "description" : "Pipeline YAML after resolving Templates (returned as a String)."
          },
          "modules" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Modules utilised in the Pipeline.",
            "items" : {
              "type" : "string"
            }
          },
          "git_details" : {
            "$ref" : "#/components/schemas/GitDetails"
          },
          "yaml_error_wrapper" : {
            "type" : "array",
            "description" : "YAML schema errors.",
            "items" : {
              "$ref" : "#/components/schemas/YAMLSchemaErrorWrapper"
            }
          },
          "created" : {
            "type" : "integer",
            "description" : "Creation timestamp for Pipeline.",
            "format" : "int64"
          },
          "updated" : {
            "type" : "integer",
            "description" : "Last modification timestamp for Pipeline.",
            "format" : "int64"
          }
        },
        "description" : "Pipeline response body.",
        "x-stoplight" : {
          "id" : "twnioaqmn69uy"
        },
        "x-examples" : {
          "example-get" : {
            "pipeline_yaml" : "example_yaml_text",
            "pipeline_yaml_with_templates" : "example_yaml_text_with_template",
            "git_details" : {
              "object" : "example_object",
              "branch" : "branch",
              "file_path" : "/folder/file.json",
              "repo_name" : "example_repository",
              "commit_id" : "abcd123",
              "file_url" : "www.repo/folder/file.com",
              "repo_url" : "www.repo.com"
            },
            "yaml_error_wrapper" : {
              "message" : "something is incorrect",
              "message_fqn" : "something is incorrect at pipeline.name",
              "stage_info" : {
                "slug" : "example_stage",
                "type" : "stage",
                "name" : "Example Stage",
                "fqn" : "pipeline.stages.stage"
              },
              "step_info" : {
                "slug" : "example_step",
                "type" : "string",
                "name" : "string",
                "fqn" : "pipeline.steps.step"
              },
              "fqn" : "pipeline.name",
              "hint_message" : "try changing something"
            },
            "created" : 1234567890,
            "updated" : 1234567890
          }
        }
      },
      "PipelineListResponseBody" : {
        "title" : "Pipeline List Response Body",
        "type" : "object",
        "properties" : {
          "slug" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Pipeline identifier"
          },
          "name" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Pipeline name"
          },
          "description" : {
            "maxLength" : 1024,
            "type" : "string",
            "description" : "Pipeline description"
          },
          "tags" : {
            "maxProperties" : 128,
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Pipeline tags"
          },
          "created" : {
            "type" : "integer",
            "description" : "Creation timestamp for Pipeline.",
            "format" : "int64"
          },
          "updated" : {
            "type" : "integer",
            "description" : "Last modification timestamp for Pipeline.",
            "format" : "int64"
          },
          "modules" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Modules utilised in the Pipeline.",
            "items" : {
              "type" : "string"
            }
          },
          "execution_summary" : {
            "$ref" : "#/components/schemas/ExecutionSummary"
          },
          "filter" : {
            "type" : "object",
            "description" : "Additional properties"
          },
          "store_type" : {
            "type" : "string",
            "description" : "Specifies whether the Entity is to be stored in Git or not (for Git Experience).",
            "enum" : [ "INLINE", "REMOTE" ]
          },
          "connector_ref" : {
            "type" : "string",
            "description" : "Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience)."
          },
          "draft" : {
            "type" : "boolean",
            "description" : "Specifies whether Pipeline is a draft or not."
          },
          "git_details" : {
            "$ref" : "#/components/schemas/GitDetails"
          }
        },
        "description" : "Pipeline List response body",
        "x-stoplight" : {
          "id" : "kaxl2v3p6i4wx"
        },
        "x-examples" : {
          "example-summary" : {
            "slug" : "example_pipeline",
            "name" : "Example Pipeline",
            "description" : "This is an Example Pipeline",
            "tags" : {
              "example-tag-1" : "example-tag-1-value",
              "example-tag-2" : "example-tag-2-value"
            },
            "created" : 1234567890,
            "updated" : 1234567890,
            "modules" : "CD",
            "execution_summary" : {
              "error_last_week" : [ 1, 2, 3, 4, 5, 6, 7 ],
              "deployments" : [ 1, 2, 3, 4, 5, 6, 7 ],
              "last_executed" : 1234567890,
              "last_status" : "Running",
              "last_execution" : "example_execution_slug"
            },
            "filter" : { },
            "store_type" : "INLINE",
            "connector_ref" : "example_connector",
            "draft" : true,
            "git_details" : {
              "object" : "example_object",
              "branch" : "branch",
              "file_path" : "/folder/file.json",
              "repo_name" : "example_repository",
              "commit_id" : "abcd123",
              "file_url" : "www.repo/folder/file.com",
              "repo_url" : "www.repo.com"
            }
          }
        }
      },
      "ExecutionSummary" : {
        "title" : "ExecutionSummary",
        "type" : "object",
        "properties" : {
          "error_last_week" : {
            "type" : "array",
            "description" : "Number of errors on each of the last 7 days.",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "deployments" : {
            "type" : "array",
            "description" : "Number of deployments on each of the last 7 days.",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "last_executed" : {
            "type" : "integer",
            "description" : "Timestamp of the last Execution of the Pipeline.",
            "format" : "int64"
          },
          "last_status" : {
            "type" : "string",
            "description" : "This is the last Execution status of the Pipeline.",
            "enum" : [ "Running", "AsyncWaiting", "TaskWaiting", "TimedWaiting", "Failed", "Errored", "IgnoreFailed", "NotStarted", "Expired", "Aborted", "Discontinuing", "Queued", "Paused", "ResourceWaiting", "InterventionWaiting", "ApprovalWaiting", "Success", "Suspended", "Skipped", "Pausing", "ApprovalRejected", "InputWaiting", "NOT_STARTED", "INTERVENTION_WAITING", "APPROVAL_WAITING", "APPROVAL_REJECTED", "Waiting" ]
          },
          "last_execution" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Execution identifier of the last Execution."
          }
        },
        "description" : "Execution Summary",
        "x-stoplight" : {
          "id" : "mxtmp0n5g1bsg"
        },
        "x-examples" : {
          "example-execution-summary" : {
            "error_last_week" : [ 1, 2, 3, 4, 5, 6, 7 ],
            "deployments" : [ 1, 2, 3, 4, 5, 6, 7 ],
            "last_executed" : 1234567890,
            "last_status" : "Running",
            "last_execution" : "example_execution_slug"
          }
        }
      },
      "PipelineListRequestBody" : {
        "title" : "Pipeline List Request Body",
        "required" : [ "filter_type" ],
        "type" : "object",
        "properties" : {
          "pipeline_tags" : {
            "type" : "array",
            "description" : "Pipeline Tags on which filter will be applied.",
            "items" : {
              "$ref" : "#/components/schemas/PipelineTags"
            }
          },
          "pipelines" : {
            "type" : "array",
            "description" : "List of Pipeline Identifiers on which the filter will be applied.",
            "items" : {
              "maxLength" : 64,
              "minLength" : 1,
              "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
              "type" : "string"
            }
          },
          "name" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Pipeline Name on which the filter will be applied."
          },
          "description" : {
            "maxLength" : 1024,
            "type" : "string",
            "description" : "Pipeline Description on which the filter will be applied."
          },
          "module_properties" : {
            "$ref" : "#/components/schemas/ModuleProperties"
          },
          "tags" : {
            "maxProperties" : 128,
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Filter tags as a key-value pair."
          },
          "filter_type" : {
            "type" : "string",
            "description" : "Corresponding Entity of the filter.",
            "enum" : [ "Connector", "DelegateProfile", "Delegate", "PipelineSetup", "PipelineExecution", "Deployment", "Audit", "Template", "EnvironmentGroup", "FileStore", "CCMRecommendation", "Anomaly", "Environment" ]
          }
        },
        "description" : "Request body for the filter properties for listing Pipelines.",
        "x-stoplight" : {
          "id" : "6f0x77rluo6ft"
        },
        "x-examples" : {
          "example-filter" : {
            "pipeline_tags" : [ {
              "key" : "pipeline_key",
              "value" : "pipeline_value"
            } ],
            "pipelines" : [ "example_pipeline" ],
            "name" : "Example Pipeline",
            "description" : "This is an Example Pipeline.",
            "module_properties" : {
              "empty" : true,
              "property_name" : { }
            },
            "tags" : {
              "example-tag-1" : "example-tag-1-value",
              "example-tag-2" : "example-tag-2-value"
            },
            "filter_type" : "Connector"
          }
        }
      },
      "PipelineTags" : {
        "title" : "Pipeline Tags",
        "required" : [ "key", "value" ],
        "type" : "object",
        "properties" : {
          "key" : {
            "type" : "string",
            "description" : "Tag key"
          },
          "value" : {
            "type" : "string",
            "description" : "Tag value"
          }
        },
        "description" : "Pipeline Tags on which Filters will be applied.",
        "x-stoplight" : {
          "id" : "o8tgek5mpuwym"
        },
        "x-examples" : {
          "example-tag" : {
            "key" : "key",
            "value" : "value"
          }
        }
      },
      "ModuleProperties" : {
        "title" : "Module Properties",
        "type" : "object",
        "properties" : {
          "empty" : {
            "type" : "boolean",
            "description" : "Specifies if Property is empty or not."
          },
          "property_name" : {
            "type" : "object",
            "description" : "Module Properties on which the filter will be applied."
          }
        },
        "description" : "Module Properties on which the filter will be applied.",
        "x-stoplight" : {
          "id" : "2g0ic4jh2sq21"
        }
      },
      "PipelineRequestBody" : {
        "title" : "Pipeline Request Body",
        "required" : [ "pipeline_yaml" ],
        "type" : "object",
        "properties" : {
          "pipeline_yaml" : {
            "type" : "string",
            "description" : "Pipeline YAML (to be passed as a String)."
          }
        },
        "description" : "Pipeline request body object ",
        "x-stoplight" : {
          "id" : "enghevjhz64ca"
        },
        "x-examples" : {
          "example-pipeline" : {
            "pipeline_yaml" : "Example Pipeline YAML"
          }
        }
      },
      "PipelineCreateResponseBody" : {
        "title" : "Pipeline Create Response Body",
        "type" : "object",
        "properties" : {
          "slug" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Pipeline identifier"
          }
        },
        "description" : "Pipeline response body",
        "x-stoplight" : {
          "id" : "70uk481o3cw8j"
        },
        "x-examples" : {
          "example-pipeline" : {
            "slug" : "example_pipeline"
          }
        }
      },
      "YAMLSchemaErrorWrapper" : {
        "title" : "YAML Schema Error Wrapper",
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "Error message"
          },
          "message_fqn" : {
            "type" : "string",
            "description" : "Error message with FQN"
          },
          "stage_info" : {
            "$ref" : "#/components/schemas/NodeInfo"
          },
          "step_info" : {
            "$ref" : "#/components/schemas/NodeInfo"
          },
          "fqn" : {
            "type" : "string",
            "description" : "Fully Qualified Name"
          },
          "hint_message" : {
            "type" : "string",
            "description" : "Hint message"
          }
        },
        "description" : "YAML schema error.",
        "x-stoplight" : {
          "id" : "64bisstgjyjfh"
        },
        "x-examples" : {
          "example-schema-error" : {
            "message" : "something is incorrect",
            "message_fqn" : "something is incorrect at pipeline.name",
            "stage_info" : {
              "slug" : "example_stage",
              "type" : "stage",
              "name" : "Example Stage",
              "fqn" : "pipeline.stages.stage"
            },
            "step_info" : {
              "slug" : "example_step",
              "type" : "string",
              "name" : "string",
              "fqn" : "pipeline.steps.step"
            },
            "fqn" : "pipeline.name",
            "hint_message" : "try changing something"
          }
        }
      },
      "NodeInfo" : {
        "title" : "Entity Details",
        "type" : "object",
        "properties" : {
          "slug" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Entity identifier"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of Entity"
          },
          "name" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Name of Entity"
          },
          "fqn" : {
            "type" : "string",
            "description" : "Fully Qualified Name"
          }
        },
        "description" : "Entity details",
        "x-stoplight" : {
          "id" : "wgx64fjolzlcr"
        },
        "x-examples" : {
          "example-node-info" : {
            "slug" : "example_stage",
            "type" : "stage",
            "name" : "name",
            "fqn" : "pipeline.stages.stage1.name"
          }
        }
      }
    },
    "responses" : {
      "PipelineCreateResponseBody" : {
        "description" : "Pipeline response body",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineCreateResponseBody"
            },
            "examples" : {
              "example-pipeline" : {
                "value" : {
                  "slug" : "example_pipeline"
                }
              }
            }
          },
          "application/yaml" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineCreateResponseBody"
            },
            "examples" : {
              "example-pipeline" : {
                "value" : "slug: example_pipeline\n"
              }
            }
          }
        }
      },
      "PipelineGetResponseBody" : {
        "description" : "Pipeline response body",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineGetResponseBody"
            },
            "examples" : {
              "example-response" : {
                "value" : {
                  "pipeline_yaml" : "example_yaml_text",
                  "pipeline_yaml_with_templates" : "example_yaml_text_with_template",
                  "git_details" : {
                    "object" : "example_object",
                    "branch" : "branch",
                    "file_path" : "/folder/file.json",
                    "repo_name" : "example_repository",
                    "commit_id" : "abcd123",
                    "file_url" : "www.repo/folder/file.com",
                    "repo_url" : "www.repo.com"
                  },
                  "yaml_error_wrapper" : {
                    "message" : "something is incorrect",
                    "message_fqn" : "something is incorrect at pipeline.name",
                    "stage_info" : {
                      "slug" : "example_stage",
                      "type" : "stage",
                      "name" : "Example Stage",
                      "fqn" : "pipeline.stages.stage"
                    },
                    "step_info" : {
                      "slug" : "example_step",
                      "type" : "string",
                      "name" : "string",
                      "fqn" : "pipeline.steps.step"
                    },
                    "fqn" : "pipeline.name",
                    "hint_message" : "try changing something"
                  },
                  "created" : 1234567890,
                  "updated" : 1234567890
                }
              }
            }
          },
          "application/yaml" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineGetResponseBody"
            },
            "examples" : {
              "example-response" : {
                "value" : "pipeline_yaml: example_yaml_text\npipeline_yaml_with_templates: example_yaml_text_with_template\ngit_details:\n  object: example_object\n  branch: branch\n  file_path: /folder/file.json\n  repo_name: example_repository\n  commit_id: abcd123\n  file_url: www.repo/folder/file.com\n  repo_url: www.repo.com\nyaml_error_wrapper:\n  message: something is incorrect\n  message_fqn: something is incorrect at pipeline.name\n  stage_info:\n    slug: example_stage\n    type: stage\n    name: Example Stage\n    fqn: pipeline.stages.stage\n  step_info:\n    slug: example_step\n    type: string\n    name: string\n    fqn: pipeline.steps.step\n  fqn: pipeline.name\n  hint_message: try changing something\ncreated: 1234567890\nupdated: 1234567890\n"
              }
            }
          }
        }
      },
      "PipelineListResponseBody" : {
        "description" : "Response body for List Pipelines.",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "array",
              "description" : "Response body for List Pipelines.",
              "items" : {
                "$ref" : "#/components/schemas/PipelineListResponseBody"
              }
            },
            "examples" : {
              "example-list-response" : {
                "value" : [ {
                  "slug" : "example_pipeline",
                  "name" : "Example Pipeline",
                  "description" : "This is an Example Pipeline",
                  "tags" : {
                    "example-tag-1" : "example-tag-1-value",
                    "example-tag-2" : "example-tag-2-value"
                  },
                  "created" : 1234567890,
                  "updated" : 1234567890,
                  "modules" : "CD",
                  "execution_summary" : {
                    "error_last_week" : [ 1, 2, 3, 4, 5, 6, 7 ],
                    "deployments" : [ 1, 2, 3, 4, 5, 6, 7 ],
                    "last_executed" : 1234567890,
                    "last_status" : "Running",
                    "last_execution" : "example_execution_slug"
                  },
                  "filter" : { },
                  "store_type" : "INLINE",
                  "connector_ref" : "example_connector",
                  "draft" : true,
                  "git_details" : {
                    "object" : "example_object",
                    "branch" : "branch",
                    "file_path" : "/folder/file.json",
                    "repo_name" : "example_repository",
                    "commit_id" : "abcd123",
                    "file_url" : "www.repo/folder/file.com",
                    "repo_url" : "www.repo.com"
                  }
                } ]
              }
            }
          },
          "application/yaml" : {
            "schema" : {
              "type" : "array",
              "description" : "Response body for List Pipelines.",
              "items" : {
                "$ref" : "#/components/schemas/PipelineListResponseBody"
              }
            },
            "examples" : {
              "example-list-response" : {
                "value" : "- pipeline:\n    slug: example_pipeline\n    name: Example Pipeline\n    description: This is an Example Pipeline\n    tags:\n      example-tag-1: example-tag-1-value\n      example-tag-2: example-tag-2-value\n    created: 1234567890\n    updated: 1234567890\n    modules: CD\n    execution_summary:\n      error_last_week:\n        - 1\n        - 2\n        - 3\n        - 4\n        - 5\n        - 6\n        - 7\n      deployments:\n        - 1\n        - 2\n        - 3\n        - 4\n        - 5\n        - 6\n        - 7\n      last_executed: 1234567890\n      last_status: Running\n      last_execution: example_execution_slug\n    filter: {}\n    store_type: INLINE\n    connector_ref: example_connector\n    draft: true\n  git_details:\n    object: example_object\n    branch: branch\n    file_path: /folder/file.json\n    repo_name: example_repository\n    commit_id: abcd123\n    file_url: www.repo/folder/file.com\n    repo_url: www.repo.com\n"
              }
            }
          }
        }
      }
    },
    "parameters" : {
      "Limit" : {
        "name" : "limit",
        "in" : "query",
        "description" : "Pagination: Number of items to return.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "maximum" : 100,
          "type" : "integer",
          "default" : 30
        }
      },
      "PageIndex" : {
        "name" : "page",
        "in" : "query",
        "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "integer",
          "default" : 0
        }
      },
      "SearchTerm" : {
        "name" : "search_term",
        "in" : "query",
        "description" : "This would be used to filter resources having attributes matching the search term.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "OrgParam" : {
        "name" : "org",
        "in" : "path",
        "description" : "Organization identifier",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      },
      "ProjectParam" : {
        "name" : "project",
        "in" : "path",
        "description" : "Project identifier",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      },
      "AccountHeader" : {
        "name" : "account",
        "in" : "header",
        "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
        "required" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      },
      "Branch" : {
        "name" : "branch",
        "in" : "query",
        "description" : "Name of the branch (for Git Experience).",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "FilePath" : {
        "name" : "file_path",
        "in" : "query",
        "description" : "File path of the Entity in the repository (for Git Experience).",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "CommitMsg" : {
        "name" : "commit_message",
        "in" : "query",
        "description" : "Commit message used for the merge commit (for Git Experience).",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "NewBranch" : {
        "name" : "create_new_branch",
        "in" : "query",
        "description" : "Checks out a new branch in the repository (for Git Experience).",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "boolean",
          "default" : false
        }
      },
      "BaseBranch" : {
        "name" : "base_branch",
        "in" : "query",
        "description" : "Name of the default branch (for Git Experience).",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "Connector" : {
        "name" : "connector_ref",
        "in" : "query",
        "description" : "Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "StoreType" : {
        "name" : "store_type",
        "in" : "query",
        "description" : "Specifies whether the Entity is to be stored in Git or not (for Git Experience).",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "INLINE", "REMOTE" ]
        }
      },
      "RepoName" : {
        "name" : "repo_name",
        "in" : "query",
        "description" : "Name of the repository (for Git Experience).",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "PipelineParam" : {
        "name" : "pipeline",
        "in" : "path",
        "description" : "Pipeline identifier",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "PipelineRequestBody" : {
        "description" : "Pipeline request body",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineRequestBody"
            },
            "examples" : {
              "example-pipeline" : {
                "value" : {
                  "pipeline_yaml" : "Example Pipeline YAML"
                }
              }
            }
          },
          "application/yaml" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineRequestBody"
            },
            "examples" : {
              "example-pipeline-yaml" : {
                "value" : "pipeline:\n  name: example pipeline\n  identifier: example_pipeline\n  allowStageExecutions: false\n  projectIdentifier: example_project\n  orgIdentifier: example_organization\n  tags: {}\n  stages:\n    - stage:\n        name: Example Build Stage\n        identifier: example_build_stage\n        description: ''\n        type: Approval\n        spec:\n          execution:\n            steps:\n              - step:\n                  name: Approval Step\n                  identifier: Approval_Step\n                  type: HarnessApproval\n                  timeout: 1d\n                  spec:\n                    approvalMessage: |-\n                      Please review the following information\n                      and approve the pipeline progression\n                    includePipelineExecutionHistory: true\n                    approvers:\n                      minimumCount: 1\n                      disallowPipelineExecutor: false\n                      userGroups: <+input>\n                    approverInputs: []\n              - step:\n                  type: ShellScript\n                  name: ShellScript Step\n                  identifier: ShellScript_Step\n                  spec:\n                    shell: Bash\n                    onDelegate: true\n                    source:\n                      type: Inline\n                      spec:\n                        script: <+input>\n                    environmentVariables: []\n                    outputVariables: []\n                    executionTarget: {}\n                  timeout: 10m\n        tags: {}\n    - stage:\n        name: Example Deploy Stage\n        identifier: example_deploy_stage\n        description: ''\n        type: Deployment\n        spec:\n          serviceConfig:\n            serviceRef: <+input>\n            serviceDefinition:\n              spec:\n                variables: []\n              type: Kubernetes\n          infrastructure:\n            environmentRef: <+input>\n            infrastructureDefinition:\n              type: KubernetesDirect\n              spec:\n                connectorRef: <+input>\n                namespace: <+input>\n                releaseName: release-<+INFRA_KEY>\n            allowSimultaneousDeployments: false\n          execution:\n            steps:\n              - step:\n                  name: Rollout Deployment\n                  identifier: rolloutDeployment\n                  type: K8sRollingDeploy\n                  timeout: 10m\n                  spec:\n                    skipDryRun: false\n            rollbackSteps:\n              - step:\n                  name: Rollback Rollout Deployment\n                  identifier: rollbackRolloutDeployment\n                  type: K8sRollingRollback\n                  timeout: 10m\n                  spec: {}\n        tags: {}\n        failureStrategies:\n          - onFailure:\n              errors:\n                - AllErrors\n              action:\n                type: StageRollback\n"
              }
            }
          }
        },
        "required" : true
      },
      "PipelineListRequestBody" : {
        "description" : "Body for the filter properties for listing Pipelines.",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineListRequestBody"
            },
            "examples" : {
              "example-list" : {
                "value" : {
                  "pipeline_tags" : [ {
                    "key" : "pipeline_key",
                    "value" : "pipeline_value"
                  } ],
                  "pipelines" : [ "example_pipeline" ],
                  "name" : "Example Pipeline",
                  "description" : "This is an Example Pipeline.",
                  "module_properties" : {
                    "empty" : true,
                    "property_name" : { }
                  },
                  "tags" : {
                    "example-tag-1" : "example-tag-1-value",
                    "example-tag-2" : "example-tag-2-value"
                  },
                  "filter_type" : "Connector"
                }
              }
            }
          },
          "application/yaml" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineListRequestBody"
            },
            "examples" : {
              "example-list" : {
                "value" : "pipeline_tags:\n  - key: pipeline_key\n    value: pipeline_value\npipelines:\n  - example_pipeline\nname: Example Pipeline\ndescription: This is an Example Pipeline.\nmodule_properties:\n  empty: true\n  property_name: {}\ntags:\n  example-tag-1: example-tag-1-value\n  example-tag-2: example-tag-2-value\nfilter_type: Connector\n"
              }
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "x-api-key" : {
        "type" : "apiKey",
        "name" : "x-api-key",
        "in" : "header"
      }
    }
  },
  "x-stoplight" : {
    "id" : "bfet7n314xd4i"
  },
  "x-tagGroups" : [ {
    "name" : "Pipelines",
    "tags" : [ "Pipeline Resource" ]
  } ]
}