{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Harness NextGen Software Delivery Platform API Reference",
    "description" : "This is the Open Api Spec 3 for the Pipeline Service. This is under active development. Beware of the breaking change with respect to the generated code stub.",
    "contact" : {
      "email" : "contact@harness.io"
    },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "http://app.harness.io",
    "description" : "localhost"
  } ],
  "tags" : [ {
    "name" : "Pipelines",
    "description" : "This contains APIs for performing CRUD operations on Pipelines."
  } ],
  "paths" : {
    "/v1/orgs/{org}/projects/{project}/pipelines" : {
      "get" : {
        "tags" : [ "Pipelines" ],
        "summary" : "List Pipelines",
        "description" : "Returns a list of Pipelines.",
        "operationId" : "list-pipelines",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Harness-Account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 30
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching the search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Parameter on the basis of which sorting is done.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "slug", "name", "created", "updated" ]
          }
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "Order on the basis of which sorting is done.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          }
        }, {
          "name" : "module",
          "in" : "query",
          "description" : "Harness module which is part of the Pipeline.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "CD", "CI", "CV", "CF", "CE", "STO" ]
          }
        }, {
          "name" : "filter_identifier",
          "in" : "query",
          "description" : "Identifier of a saved Filter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pipeline_identifiers",
          "in" : "query",
          "description" : "List of Pipeline identifiers on the basis of which the Pipelines are filtered.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Pipeline Name on the basis of which the Pipelines are filtered.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string"
          }
        }, {
          "name" : "description",
          "in" : "query",
          "description" : "Pipeline Description on the basis of which the Pipelines are filtered.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 1024,
            "type" : "string"
          }
        }, {
          "name" : "tags",
          "in" : "query",
          "description" : "Filter tags as a key:value pair.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 128,
            "type" : "array",
            "example" : "key:value",
            "items" : {
              "type" : "string"
            }
          },
          "examples" : {
            "key_and_value" : {
              "summary" : "Tag having both Key and Value.",
              "value" : "key:value"
            },
            "key_only" : {
              "summary" : "Tag having only Key.",
              "value" : "key"
            }
          }
        }, {
          "name" : "service_names",
          "in" : "query",
          "description" : "Service names on the basis of which the Pipelines are filtered.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "env_names",
          "in" : "query",
          "description" : "Names of Environments on the basis of which the Pipelines are filtered.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "deployment_type",
          "in" : "query",
          "description" : "Deployment type on the basis of which the Pipelines are filtered.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "repository",
          "in" : "query",
          "description" : "Repository name on the basis of which the Pipelines are filtered.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Response body for List Pipelines.",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "sample" : {
                    "value" : "</v1/orgs/{org}/projects/{project}/pipelines?page=2&limit=1>; rel=\"next\", </v1/orgs/{org}/projects/{project}/pipelines?page=1&limit=1>; rel=\"self\", </v1/orgs/{org}/projects/{project}/pipelines?page=0&limit=1>; rel=\"previous\", "
                  }
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "Response body for List Pipelines.",
                  "items" : {
                    "$ref" : "#/components/schemas/PipelineListResponseBody"
                  }
                },
                "examples" : {
                  "example-list-response" : {
                    "value" : [ {
                      "slug" : "example_pipeline",
                      "name" : "ExamplePipeline",
                      "description" : "This is an Example Pipeline",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "modules" : [ "CD" ],
                      "execution_summary" : {
                        "errors_count" : [ 1, 2, 3, 4, 5, 6, 7 ],
                        "deployments_count" : [ 1, 2, 3, 4, 5, 6, 7 ]
                      },
                      "recent_execution_info" : [ {
                        "executor_info" : {
                          "trigger_type" : "NOOP",
                          "username" : "harness_user",
                          "email" : "noreply@harness.io"
                        },
                        "execution_id" : "example_execution_slug",
                        "execution_status" : "Running",
                        "started" : 1234567890,
                        "ended" : 1234567890,
                        "run_number" : 5
                      } ],
                      "store_type" : "INLINE",
                      "connector_ref" : "example_connector",
                      "valid" : true,
                      "git_details" : {
                        "entity_identifier" : "example_object",
                        "branch_name" : "branch",
                        "file_path" : "/folder/file.json",
                        "repo_name" : "example_repository",
                        "commit_id" : "abcd123",
                        "file_url" : "www.repo/folder/file.com",
                        "repo_url" : "www.repo.com"
                      }
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "array",
                  "description" : "Response body for List Pipelines.",
                  "items" : {
                    "$ref" : "#/components/schemas/PipelineListResponseBody"
                  }
                },
                "examples" : {
                  "example-list-response" : {
                    "value" : "- slug: example_pipeline\n  name: Example Pipeline\n  description: This is an Example Pipeline\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\n  created: 1234567890\n  updated: 1234567890\n  modules:\n    - CD\n  execution_summary:\n    errors_count:\n      - 1\n      - 2\n      - 3\n      - 4\n      - 5\n      - 6\n      - 7\n    deployments_count:\n      - 1\n      - 2\n      - 3\n      - 4\n      - 5\n      - 6\n      - 7\n  recent_execution_info:\n    - executor_info:\n        trigger_type: NOOP\n        username: harness_user\n        email: noreply@harness.io\n      execution_id: example_execution_slug\n      execution_status: Running\n      started: 1234567890\n      ended: 1234567890\n      run_number: 5\n  store_type: INLINE\n  connector_ref: example_connector\n  valid: true\n  git_details:\n    entity_identifier: example_object\n    branch_name: branch\n    file_path: /folder/file.json\n    repo_name: example_repository\n    commit_id: abcd123\n    file_url: www.repo/folder/file.com\n    repo_url: www.repo.com\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Pipelines" ],
        "summary" : "Create a Pipeline",
        "description" : "Creates a Pipeline.",
        "operationId" : "create-pipeline",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Harness-Account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/PipelineCreateRequestBody"
        },
        "responses" : {
          "201" : {
            "description" : "Pipeline response body",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineCreateResponseBody"
                },
                "examples" : {
                  "example-pipeline" : {
                    "value" : {
                      "slug" : "example_pipeline"
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineCreateResponseBody"
                },
                "examples" : {
                  "example-pipeline" : {
                    "value" : "slug: example_pipeline\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}" : {
      "get" : {
        "tags" : [ "Pipelines" ],
        "summary" : "Retrieve a Pipeline",
        "description" : "Retrieves a Pipeline.",
        "operationId" : "get-pipeline",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pipeline",
          "in" : "path",
          "description" : "Pipeline identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Harness-Account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "branch_name",
          "in" : "query",
          "description" : "Name of the branch (for Git Experience).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "template_applied",
          "in" : "query",
          "description" : "If true, returns Pipeline YAML with Templates applied on it.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Pipeline response body",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineGetResponseBody"
                },
                "examples" : {
                  "example-response" : {
                    "value" : {
                      "pipeline_yaml" : "example_yaml_text",
                      "template_applied_pipeline_yaml" : "example_yaml_text_with_template",
                      "slug" : "example_pipeline",
                      "name" : "ExamplePipeline",
                      "org" : "example_org",
                      "project" : "example_project",
                      "description" : "Pipeline Description",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "modules" : [ "cd" ],
                      "git_details" : {
                        "entity_identifier" : "example_object",
                        "branch_name" : "branch",
                        "file_path" : "/folder/file.json",
                        "repo_name" : "example_repository",
                        "commit_id" : "abcd123",
                        "file_url" : "www.repo/folder/file.com",
                        "repo_url" : "www.repo.com"
                      },
                      "valid" : true,
                      "yaml_error_wrapper" : {
                        "message" : "something is incorrect",
                        "message_fqn" : "something is incorrect at pipeline.name",
                        "stage_info" : {
                          "slug" : "example_stage",
                          "type" : "stage",
                          "name" : "Example Stage",
                          "fqn" : "pipeline.stages.stage"
                        },
                        "step_info" : {
                          "slug" : "example_step",
                          "type" : "string",
                          "name" : "string",
                          "fqn" : "pipeline.steps.step"
                        },
                        "fqn" : "pipeline.name",
                        "hint_message" : "try changing something"
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineGetResponseBody"
                },
                "examples" : {
                  "example-response" : {
                    "value" : "pipeline_yaml: example_yaml_text\ntemplate_applied_pipeline_yaml: example_yaml_text_with_template\nslug: example_pipeline\nname: ExamplePipeline\norg: example_org\nproject: example_project\ndescription: Pipeline Description\ntags:\n  example-tag-1: example-tag-1-value\n  example-tag-2: example-tag-2-value\nmodules:\n  - cd\ngit_details:\n  entity_identifier: example_object\n  branch_name: branch\n  file_path: /folder/file.json\n  repo_name: example_repository\n  commit_id: abcd123\n  file_url: www.repo/folder/file.com\n  repo_url: www.repo.com\nvalid: true\nyaml_error_wrapper:\n  message: something is incorrect\n  message_fqn: something is incorrect at pipeline.name\n  stage_info:\n    slug: example_stage\n    type: stage\n    name: Example Stage\n    fqn: pipeline.stages.stage\n  step_info:\n    slug: example_step\n    type: string\n    name: string\n    fqn: pipeline.steps.step\n  fqn: pipeline.name\n  hint_message: try changing something\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Pipelines" ],
        "summary" : "Update a Pipeline",
        "description" : "Updates a Pipeline.",
        "operationId" : "update-pipeline",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pipeline",
          "in" : "path",
          "description" : "Pipeline identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Harness-Account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/PipelineUpdateRequestBody"
        },
        "responses" : {
          "200" : {
            "description" : "Pipeline response body",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineCreateResponseBody"
                },
                "examples" : {
                  "example-pipeline" : {
                    "value" : {
                      "slug" : "example_pipeline"
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PipelineCreateResponseBody"
                },
                "examples" : {
                  "example-pipeline" : {
                    "value" : "slug: example_pipeline\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Pipelines" ],
        "summary" : "Delete a Pipeline",
        "description" : "Deletes a Pipeline.",
        "operationId" : "delete-pipeline",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pipeline",
          "in" : "path",
          "description" : "Pipeline identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Harness-Account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "GitDetails" : {
        "title" : "Git Response Details",
        "type" : "object",
        "properties" : {
          "entity_identifier" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Entity identifier"
          },
          "branch_name" : {
            "type" : "string",
            "description" : "Name of the branch."
          },
          "file_path" : {
            "type" : "string",
            "description" : "File path of the Entity in the repository."
          },
          "repo_name" : {
            "type" : "string",
            "description" : "Name of the repository."
          },
          "commit_id" : {
            "type" : "string",
            "description" : "Latest commit identifier."
          },
          "file_url" : {
            "type" : "string",
            "description" : "File URL of the Entity."
          },
          "repo_url" : {
            "type" : "string",
            "description" : "Repository URL of the Entity."
          }
        },
        "description" : "Git Experience related details of the Entity.",
        "x-stoplight" : {
          "id" : "qkq00fbqykhxw"
        },
        "x-examples" : {
          "example-git" : {
            "entity_identifier" : "example_object",
            "branch_name" : "branch",
            "file_path" : "/folder/file.json",
            "repo_name" : "example_repository",
            "commit_id" : "abcd123",
            "file_url" : "www.repo/folder/file.com",
            "repo_url" : "www.repo.com"
          }
        }
      },
      "PipelineGetResponseBody" : {
        "title" : "Pipeline Get Response Body",
        "type" : "object",
        "properties" : {
          "pipeline_yaml" : {
            "type" : "string",
            "description" : "Pipeline YAML (returned as a String)."
          },
          "template_applied_pipeline_yaml" : {
            "type" : "string",
            "description" : "Pipeline YAML after resolving Templates (returned as a String)."
          },
          "slug" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Pipeline identifier"
          },
          "name" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Pipeline name"
          },
          "org" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Organization identifier"
          },
          "project" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Project identifier"
          },
          "description" : {
            "maxLength" : 1024,
            "type" : "string",
            "description" : "Pipeline description"
          },
          "tags" : {
            "maxProperties" : 128,
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Pipeline tags"
          },
          "modules" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Modules utilised in the Pipeline.",
            "items" : {
              "type" : "string"
            }
          },
          "git_details" : {
            "$ref" : "#/components/schemas/GitDetails"
          },
          "valid" : {
            "type" : "boolean",
            "description" : "Specifies whether Pipeline is a valid or not."
          },
          "yaml_error_wrapper" : {
            "type" : "array",
            "description" : "YAML schema errors.",
            "items" : {
              "$ref" : "#/components/schemas/YAMLSchemaErrorWrapper"
            }
          },
          "created" : {
            "type" : "integer",
            "description" : "Creation timestamp for Pipeline.",
            "format" : "int64"
          },
          "updated" : {
            "type" : "integer",
            "description" : "Last modification timestamp for Pipeline.",
            "format" : "int64"
          }
        },
        "description" : "Pipeline response body.",
        "x-stoplight" : {
          "id" : "twnioaqmn69uy"
        },
        "x-examples" : {
          "example-get" : {
            "pipeline_yaml" : "example_yaml_text",
            "template_applied_pipeline_yaml" : "example_yaml_text_with_template",
            "slug" : "example_pipeline",
            "name" : "ExamplePipeline",
            "org" : "example_org",
            "project" : "example_project",
            "description" : "Pipeline Description",
            "tags" : {
              "example-tag-1" : "example-tag-1-value",
              "example-tag-2" : "example-tag-2-value"
            },
            "modules" : [ "cd" ],
            "git_details" : {
              "entity_identifier" : "example_object",
              "branch_name" : "branch",
              "file_path" : "/folder/file.json",
              "repo_name" : "example_repository",
              "commit_id" : "abcd123",
              "file_url" : "www.repo/folder/file.com",
              "repo_url" : "www.repo.com"
            },
            "valid" : true,
            "yaml_error_wrapper" : {
              "message" : "something is incorrect",
              "message_fqn" : "something is incorrect at pipeline.name",
              "stage_info" : {
                "slug" : "example_stage",
                "type" : "stage",
                "name" : "Example Stage",
                "fqn" : "pipeline.stages.stage"
              },
              "step_info" : {
                "slug" : "example_step",
                "type" : "string",
                "name" : "string",
                "fqn" : "pipeline.steps.step"
              },
              "fqn" : "pipeline.name",
              "hint_message" : "try changing something"
            },
            "created" : 1234567890,
            "updated" : 1234567890
          }
        }
      },
      "PipelineListResponseBody" : {
        "title" : "Pipeline List Response Body",
        "type" : "object",
        "properties" : {
          "slug" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Pipeline identifier"
          },
          "name" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Pipeline name"
          },
          "description" : {
            "maxLength" : 1024,
            "type" : "string",
            "description" : "Pipeline description"
          },
          "tags" : {
            "maxProperties" : 128,
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Pipeline tags"
          },
          "created" : {
            "type" : "integer",
            "description" : "Creation timestamp for Pipeline.",
            "format" : "int64"
          },
          "updated" : {
            "type" : "integer",
            "description" : "Last modification timestamp for Pipeline.",
            "format" : "int64"
          },
          "modules" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Modules utilised in the Pipeline.",
            "items" : {
              "type" : "string"
            }
          },
          "execution_summary" : {
            "$ref" : "#/components/schemas/ExecutionSummary"
          },
          "recent_execution_info" : {
            "type" : "array",
            "description" : "Array of recent Execution information",
            "items" : {
              "$ref" : "#/components/schemas/RecentExecutionInfo"
            }
          },
          "store_type" : {
            "type" : "string",
            "description" : "Specifies whether the Entity is to be stored in Git or not (for Git Experience).",
            "enum" : [ "INLINE", "REMOTE" ]
          },
          "connector_ref" : {
            "type" : "string",
            "description" : "Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience)."
          },
          "valid" : {
            "type" : "boolean",
            "description" : "Specifies whether Pipeline is a valid or not."
          },
          "git_details" : {
            "$ref" : "#/components/schemas/GitDetails"
          }
        },
        "description" : "Pipeline List response body",
        "x-stoplight" : {
          "id" : "kaxl2v3p6i4wx"
        },
        "x-examples" : {
          "example-summary" : {
            "slug" : "example_pipeline",
            "name" : "Example Pipeline",
            "description" : "This is an Example Pipeline",
            "tags" : {
              "example-tag-1" : "example-tag-1-value",
              "example-tag-2" : "example-tag-2-value"
            },
            "created" : 1234567890,
            "updated" : 1234567890,
            "modules" : "CD",
            "execution_summary" : {
              "errors_count" : [ 1, 2, 3, 4, 5, 6, 7 ],
              "deployments_count" : [ 1, 2, 3, 4, 5, 6, 7 ]
            },
            "recent_execution_info" : [ {
              "executor_info" : {
                "trigger_type" : "NOOP",
                "username" : "harness_user",
                "email" : "noreply@harness.io"
              },
              "execution_id" : "example_execution_slug",
              "execution_status" : "Running",
              "started" : 1234567890,
              "ended" : 1234567890,
              "run_number" : 5
            } ],
            "store_type" : "INLINE",
            "connector_ref" : "example_connector",
            "valid" : true,
            "git_details" : {
              "entity_identifier" : "example_object",
              "branch_name" : "branch",
              "file_path" : "/folder/file.json",
              "repo_name" : "example_repository",
              "commit_id" : "abcd123",
              "file_url" : "www.repo/folder/file.com",
              "repo_url" : "www.repo.com"
            }
          }
        }
      },
      "ExecutionSummary" : {
        "title" : "Execution Summary",
        "type" : "object",
        "properties" : {
          "errors_count" : {
            "type" : "array",
            "description" : "Number of errors on each of the last 7 days.",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "deployments_count" : {
            "type" : "array",
            "description" : "Number of deployments on each of the last 7 days.",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        },
        "description" : "Execution Summary",
        "x-stoplight" : {
          "id" : "mxtmp0n5g1bsg"
        },
        "x-examples" : {
          "example-execution-summary" : {
            "errors_count" : [ 1, 2, 3, 4, 5, 6, 7 ],
            "deployments_count" : [ 1, 2, 3, 4, 5, 6, 7 ]
          }
        }
      },
      "PipelineCreateRequestBody" : {
        "title" : "Pipeline Create Request Body",
        "required" : [ "name", "pipeline_yaml", "slug" ],
        "type" : "object",
        "properties" : {
          "pipeline_yaml" : {
            "type" : "string",
            "description" : "Pipeline YAML (to be passed as a String)."
          },
          "slug" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Pipeline identifier"
          },
          "name" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Pipeline name"
          },
          "description" : {
            "maxLength" : 1024,
            "type" : "string",
            "description" : "Pipeline description"
          },
          "tags" : {
            "maxProperties" : 128,
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Pipeline tags"
          },
          "git_details" : {
            "$ref" : "#/components/schemas/GitCreateDetails"
          }
        },
        "description" : "Pipeline request body object ",
        "x-stoplight" : {
          "id" : "enghevjhz64ca"
        },
        "x-examples" : {
          "example-pipeline" : {
            "pipeline_yaml" : "pipeline:\n  allowStageExecutions: false\n  stages:\n    - stage:\n        name: Example Build Stage\n        identifier: example_build_stage\n        description: ''\n        type: Approval\n        spec:\n          execution:\n            steps:\n              - step:\n                  name: Approval Step\n                  identifier: Approval_Step\n                  type: HarnessApproval\n                  timeout: 1d\n                  spec:\n                    approvalMessage: |-\n                      Please review the following information\n                      and approve the pipeline progression\n                    includePipelineExecutionHistory: true\n                    approvers:\n                      minimumCount: 1\n                      disallowPipelineExecutor: false\n                      userGroups: <+input>\n                    approverInputs: []\n              - step:\n                  type: ShellScript\n                  name: ShellScript Step\n                  identifier: ShellScript_Step\n                  spec:\n                    shell: Bash\n                    onDelegate: true\n                    source:\n                      type: Inline\n                      spec:\n                        script: <+input>\n                    environmentVariables: []\n                    outputVariables: []\n                    executionTarget: {}\n                  timeout: 10m\n        tags: {}\n    - stage:\n        name: Example Deploy Stage\n        identifier: example_deploy_stage\n        description: ''\n        type: Deployment\n        spec:\n          serviceConfig:\n            serviceRef: <+input>\n            serviceDefinition:\n              spec:\n                variables: []\n              type: Kubernetes\n          infrastructure:\n            environmentRef: <+input>\n            infrastructureDefinition:\n              type: KubernetesDirect\n              spec:\n                connectorRef: <+input>\n                namespace: <+input>\n                releaseName: release-<+INFRA_KEY>\n            allowSimultaneousDeployments: false\n          execution:\n            steps:\n              - step:\n                  name: Rollout Deployment\n                  identifier: rolloutDeployment\n                  type: K8sRollingDeploy\n                  timeout: 10m\n                  spec:\n                    skipDryRun: false\n            rollbackSteps:\n              - step:\n                  name: Rollback Rollout Deployment\n                  identifier: rollbackRolloutDeployment\n                  type: K8sRollingRollback\n                  timeout: 10m\n                  spec: {}\n        tags: {}\n        failureStrategies:\n          - onFailure:\n              errors:\n                - AllErrors\n              action:\n                type: StageRollback\n",
            "slug" : "example_pipeline",
            "name" : "ExamplePipeline",
            "description" : "Pipeline Description",
            "tags" : {
              "example-tag-1" : "example-tag-1-value",
              "example-tag-2" : "example-tag-2-value"
            },
            "git_details" : {
              "branch_name" : "branch",
              "file_path" : "/folder/file.json",
              "commit_message" : "Added Harness Git Experience",
              "base_branch" : "old_branch",
              "connector_ref" : "git_connector",
              "store_type" : "INLINE",
              "repo_name" : "example_repository"
            }
          }
        }
      },
      "PipelineCreateResponseBody" : {
        "title" : "Pipeline Create Response Body",
        "type" : "object",
        "properties" : {
          "slug" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Pipeline identifier"
          }
        },
        "description" : "Pipeline response body",
        "x-stoplight" : {
          "id" : "70uk481o3cw8j"
        },
        "x-examples" : {
          "example-pipeline" : {
            "slug" : "example_pipeline"
          }
        }
      },
      "YAMLSchemaErrorWrapper" : {
        "title" : "YAML Schema Error Wrapper",
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "description" : "Error message"
          },
          "message_fqn" : {
            "type" : "string",
            "description" : "Error message with FQN"
          },
          "stage_info" : {
            "$ref" : "#/components/schemas/NodeInfo"
          },
          "step_info" : {
            "$ref" : "#/components/schemas/NodeInfo"
          },
          "fqn" : {
            "type" : "string",
            "description" : "Fully Qualified Name as per YAML"
          },
          "hint_message" : {
            "type" : "string",
            "description" : "Hint message"
          }
        },
        "description" : "YAML schema error.",
        "x-stoplight" : {
          "id" : "64bisstgjyjfh"
        },
        "x-examples" : {
          "example-schema-error" : {
            "message" : "something is incorrect",
            "message_fqn" : "something is incorrect at pipeline.name",
            "stage_info" : {
              "slug" : "example_stage",
              "type" : "stage",
              "name" : "Example Stage",
              "fqn" : "pipeline.stages.stage"
            },
            "step_info" : {
              "slug" : "example_step",
              "type" : "string",
              "name" : "string",
              "fqn" : "pipeline.steps.step"
            },
            "fqn" : "pipeline.name",
            "hint_message" : "try changing something"
          }
        }
      },
      "NodeInfo" : {
        "title" : "Entity Details",
        "type" : "object",
        "properties" : {
          "slug" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Entity identifier"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of Entity"
          },
          "name" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Name of Entity"
          },
          "fqn" : {
            "type" : "string",
            "description" : "Fully Qualified Name"
          }
        },
        "description" : "Entity details",
        "x-stoplight" : {
          "id" : "wgx64fjolzlcr"
        },
        "x-examples" : {
          "example-node-info" : {
            "slug" : "example_stage",
            "type" : "stage",
            "name" : "name",
            "fqn" : "pipeline.stages.stage1.name"
          }
        }
      },
      "RecentExecutionInfo" : {
        "title" : "Recent Execution Information",
        "type" : "object",
        "properties" : {
          "executor_info" : {
            "$ref" : "#/components/schemas/ExecutorInfo"
          },
          "execution_id" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Execution identifier"
          },
          "execution_status" : {
            "type" : "string",
            "description" : "Last Execution status of the Pipeline.",
            "enum" : [ "Running", "AsyncWaiting", "TaskWaiting", "TimedWaiting", "Failed", "Errored", "IgnoreFailed", "NotStarted", "Expired", "Aborted", "Discontinuing", "Queued", "Paused", "ResourceWaiting", "InterventionWaiting", "ApprovalWaiting", "Success", "Suspended", "Skipped", "Pausing", "ApprovalRejected", "InputWaiting", "NOT_STARTED", "INTERVENTION_WAITING", "APPROVAL_WAITING", "APPROVAL_REJECTED", "Waiting" ]
          },
          "started" : {
            "type" : "integer",
            "description" : "Start timestamp of Execution",
            "format" : "int64"
          },
          "ended" : {
            "type" : "integer",
            "description" : "End timestamp of Execution",
            "format" : "int64"
          },
          "run_number" : {
            "type" : "integer",
            "description" : "The Execution number of this Pipeline.",
            "format" : "int32",
            "example" : 0
          }
        },
        "description" : "Recent Execution information of the Pipeline.",
        "x-stoplight" : {
          "id" : "bfup5ytbj94pn"
        },
        "x-examples" : {
          "example-recent" : {
            "executor_info" : {
              "trigger_type" : "NOOP",
              "username" : "harness_user",
              "email" : "noreply@harness.io"
            },
            "execution_id" : "example_execution_slug",
            "execution_status" : "Running",
            "started" : 1234567890,
            "ended" : 1234567890,
            "run_number" : 5
          }
        }
      },
      "ExecutorInfo" : {
        "title" : "Executor Information",
        "type" : "object",
        "properties" : {
          "trigger_type" : {
            "type" : "string",
            "description" : "Trigger type",
            "enum" : [ "NOOP", "MANUAL", "WEBHOOK", "WEBHOOK_CUSTOM", "SCHEDULER_CRON" ]
          },
          "username" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Username of the Executor."
          },
          "email" : {
            "type" : "string",
            "description" : "Email address of the Executor."
          }
        },
        "description" : "Information regarding Executor of Pipeline.",
        "x-stoplight" : {
          "id" : "41793mh9py33c"
        },
        "x-examples" : {
          "example-executor" : {
            "trigger_type" : "NOOP",
            "username" : "harness_user",
            "email" : "noreply@harness.io"
          }
        }
      },
      "GitCreateDetails" : {
        "title" : "Create Git Details",
        "type" : "object",
        "properties" : {
          "branch_name" : {
            "type" : "string",
            "description" : "Name of the branch."
          },
          "file_path" : {
            "type" : "string",
            "description" : "File path of the Entity in the repository."
          },
          "commit_message" : {
            "type" : "string",
            "description" : "Commit message used for the merge commit."
          },
          "base_branch" : {
            "type" : "string",
            "description" : "Name of the default branch (this checks out a new branch titled by branch_name)."
          },
          "connector_ref" : {
            "type" : "string",
            "description" : "Identifier of the Harness Connector used for CRUD operations on the Entity."
          },
          "store_type" : {
            "type" : "string",
            "description" : "Specifies whether the Entity is to be stored in Git or not.",
            "enum" : [ "INLINE", "REMOTE" ]
          },
          "repo_name" : {
            "type" : "string",
            "description" : "Name of the repository."
          }
        },
        "description" : "Contains parameters related to creating an Entity for Git Experience.",
        "x-stoplight" : {
          "id" : "36li0g4pug41q"
        },
        "x-examples" : {
          "example-create-git" : {
            "branch_name" : "branch",
            "file_path" : "/folder/file.json",
            "commit_message" : "Added Harness Git Experience",
            "base_branch" : "old_branch",
            "connector_ref" : "git_connector",
            "store_type" : "INLINE",
            "repo_name" : "example_repository"
          }
        }
      },
      "GitUpdateDetails" : {
        "title" : "Update Git Details",
        "type" : "object",
        "properties" : {
          "branch_name" : {
            "type" : "string",
            "description" : "Name of the branch."
          },
          "commit_message" : {
            "type" : "string",
            "description" : "Commit message used for the merge commit."
          },
          "last_object_id" : {
            "type" : "string",
            "description" : "Last object identifier (for Github)."
          },
          "base_branch" : {
            "type" : "string",
            "description" : "Name of the default branch (this checks out a new branch titled by branch_name)."
          },
          "last_commit_id" : {
            "type" : "string",
            "description" : "Last commit identifier (for Git Repositories other than Github)."
          }
        },
        "description" : "Contains parameters related to updating an Entity for Git Experience.",
        "x-stoplight" : {
          "id" : "cko6b02f6trvt"
        },
        "x-examples" : {
          "example-update-git" : {
            "branch_name" : "branch",
            "commit_message" : "Added Harness Git Experience",
            "last_object_id" : "abcdXYZ",
            "base_branch" : "old_branch",
            "last_commit_id" : "abcdXYZ"
          }
        }
      },
      "PipelineUpdateRequestBody" : {
        "title" : "Pipeline Update Request Body",
        "required" : [ "name", "pipeline_yaml", "slug" ],
        "type" : "object",
        "properties" : {
          "pipeline_yaml" : {
            "type" : "string",
            "description" : "Pipeline YAML (to be passed as a String)."
          },
          "slug" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Pipeline identifier"
          },
          "name" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Pipeline name"
          },
          "description" : {
            "maxLength" : 1024,
            "type" : "string",
            "description" : "Pipeline description"
          },
          "tags" : {
            "maxProperties" : 128,
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Pipeline tags"
          },
          "git_details" : {
            "$ref" : "#/components/schemas/GitUpdateDetails"
          }
        },
        "description" : "Pipeline request body object ",
        "x-stoplight" : {
          "id" : "u6xvv15ghw7kk"
        },
        "x-examples" : {
          "example-pipeline" : {
            "pipeline_yaml" : "pipeline:\n  allowStageExecutions: false\n  stages:\n    - stage:\n        name: Example Build Stage\n        identifier: example_build_stage\n        description: ''\n        type: Approval\n        spec:\n          execution:\n            steps:\n              - step:\n                  name: Approval Step\n                  identifier: Approval_Step\n                  type: HarnessApproval\n                  timeout: 1d\n                  spec:\n                    approvalMessage: |-\n                      Please review the following information\n                      and approve the pipeline progression\n                    includePipelineExecutionHistory: true\n                    approvers:\n                      minimumCount: 1\n                      disallowPipelineExecutor: false\n                      userGroups: <+input>\n                    approverInputs: []\n              - step:\n                  type: ShellScript\n                  name: ShellScript Step\n                  identifier: ShellScript_Step\n                  spec:\n                    shell: Bash\n                    onDelegate: true\n                    source:\n                      type: Inline\n                      spec:\n                        script: <+input>\n                    environmentVariables: []\n                    outputVariables: []\n                    executionTarget: {}\n                  timeout: 10m\n        tags: {}\n    - stage:\n        name: Example Deploy Stage\n        identifier: example_deploy_stage\n        description: ''\n        type: Deployment\n        spec:\n          serviceConfig:\n            serviceRef: <+input>\n            serviceDefinition:\n              spec:\n                variables: []\n              type: Kubernetes\n          infrastructure:\n            environmentRef: <+input>\n            infrastructureDefinition:\n              type: KubernetesDirect\n              spec:\n                connectorRef: <+input>\n                namespace: <+input>\n                releaseName: release-<+INFRA_KEY>\n            allowSimultaneousDeployments: false\n          execution:\n            steps:\n              - step:\n                  name: Rollout Deployment\n                  identifier: rolloutDeployment\n                  type: K8sRollingDeploy\n                  timeout: 10m\n                  spec:\n                    skipDryRun: false\n            rollbackSteps:\n              - step:\n                  name: Rollback Rollout Deployment\n                  identifier: rollbackRolloutDeployment\n                  type: K8sRollingRollback\n                  timeout: 10m\n                  spec: {}\n        tags: {}\n        failureStrategies:\n          - onFailure:\n              errors:\n                - AllErrors\n              action:\n                type: StageRollback\n",
            "slug" : "example_pipeline",
            "name" : "ExamplePipeline",
            "description" : "Pipeline Description",
            "tags" : {
              "example-tag-1" : "example-tag-1-value",
              "example-tag-2" : "example-tag-2-value"
            },
            "git_details" : {
              "branch_name" : "branch",
              "commit_message" : "Added Harness Git Experience",
              "last_object_id" : "abcdXYZ",
              "base_branch" : "old_branch",
              "last_commit_id" : "abcdXYZ"
            }
          }
        }
      }
    },
    "responses" : {
      "PipelineCreateResponseBody" : {
        "description" : "Pipeline response body",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineCreateResponseBody"
            },
            "examples" : {
              "example-pipeline" : {
                "value" : {
                  "slug" : "example_pipeline"
                }
              }
            }
          },
          "application/yaml" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineCreateResponseBody"
            },
            "examples" : {
              "example-pipeline" : {
                "value" : "slug: example_pipeline\n"
              }
            }
          }
        }
      },
      "PipelineGetResponseBody" : {
        "description" : "Pipeline response body",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineGetResponseBody"
            },
            "examples" : {
              "example-response" : {
                "value" : {
                  "pipeline_yaml" : "example_yaml_text",
                  "template_applied_pipeline_yaml" : "example_yaml_text_with_template",
                  "slug" : "example_pipeline",
                  "name" : "ExamplePipeline",
                  "org" : "example_org",
                  "project" : "example_project",
                  "description" : "Pipeline Description",
                  "tags" : {
                    "example-tag-1" : "example-tag-1-value",
                    "example-tag-2" : "example-tag-2-value"
                  },
                  "modules" : [ "cd" ],
                  "git_details" : {
                    "entity_identifier" : "example_object",
                    "branch_name" : "branch",
                    "file_path" : "/folder/file.json",
                    "repo_name" : "example_repository",
                    "commit_id" : "abcd123",
                    "file_url" : "www.repo/folder/file.com",
                    "repo_url" : "www.repo.com"
                  },
                  "valid" : true,
                  "yaml_error_wrapper" : {
                    "message" : "something is incorrect",
                    "message_fqn" : "something is incorrect at pipeline.name",
                    "stage_info" : {
                      "slug" : "example_stage",
                      "type" : "stage",
                      "name" : "Example Stage",
                      "fqn" : "pipeline.stages.stage"
                    },
                    "step_info" : {
                      "slug" : "example_step",
                      "type" : "string",
                      "name" : "string",
                      "fqn" : "pipeline.steps.step"
                    },
                    "fqn" : "pipeline.name",
                    "hint_message" : "try changing something"
                  },
                  "created" : 1234567890,
                  "updated" : 1234567890
                }
              }
            }
          },
          "application/yaml" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineGetResponseBody"
            },
            "examples" : {
              "example-response" : {
                "value" : "pipeline_yaml: example_yaml_text\ntemplate_applied_pipeline_yaml: example_yaml_text_with_template\nslug: example_pipeline\nname: ExamplePipeline\norg: example_org\nproject: example_project\ndescription: Pipeline Description\ntags:\n  example-tag-1: example-tag-1-value\n  example-tag-2: example-tag-2-value\nmodules:\n  - cd\ngit_details:\n  entity_identifier: example_object\n  branch_name: branch\n  file_path: /folder/file.json\n  repo_name: example_repository\n  commit_id: abcd123\n  file_url: www.repo/folder/file.com\n  repo_url: www.repo.com\nvalid: true\nyaml_error_wrapper:\n  message: something is incorrect\n  message_fqn: something is incorrect at pipeline.name\n  stage_info:\n    slug: example_stage\n    type: stage\n    name: Example Stage\n    fqn: pipeline.stages.stage\n  step_info:\n    slug: example_step\n    type: string\n    name: string\n    fqn: pipeline.steps.step\n  fqn: pipeline.name\n  hint_message: try changing something\ncreated: 1234567890\nupdated: 1234567890\n"
              }
            }
          }
        }
      },
      "PipelineListResponseBody" : {
        "description" : "Response body for List Pipelines.",
        "headers" : {
          "Link" : {
            "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.",
            "style" : "simple",
            "explode" : false,
            "schema" : {
              "type" : "string"
            },
            "examples" : {
              "sample" : {
                "value" : "</v1/orgs/{org}/projects/{project}/pipelines?page=2&limit=1>; rel=\"next\", </v1/orgs/{org}/projects/{project}/pipelines?page=1&limit=1>; rel=\"self\", </v1/orgs/{org}/projects/{project}/pipelines?page=0&limit=1>; rel=\"previous\", "
              }
            }
          }
        },
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "array",
              "description" : "Response body for List Pipelines.",
              "items" : {
                "$ref" : "#/components/schemas/PipelineListResponseBody"
              }
            },
            "examples" : {
              "example-list-response" : {
                "value" : [ {
                  "slug" : "example_pipeline",
                  "name" : "ExamplePipeline",
                  "description" : "This is an Example Pipeline",
                  "tags" : {
                    "example-tag-1" : "example-tag-1-value",
                    "example-tag-2" : "example-tag-2-value"
                  },
                  "created" : 1234567890,
                  "updated" : 1234567890,
                  "modules" : [ "CD" ],
                  "execution_summary" : {
                    "errors_count" : [ 1, 2, 3, 4, 5, 6, 7 ],
                    "deployments_count" : [ 1, 2, 3, 4, 5, 6, 7 ]
                  },
                  "recent_execution_info" : [ {
                    "executor_info" : {
                      "trigger_type" : "NOOP",
                      "username" : "harness_user",
                      "email" : "noreply@harness.io"
                    },
                    "execution_id" : "example_execution_slug",
                    "execution_status" : "Running",
                    "started" : 1234567890,
                    "ended" : 1234567890,
                    "run_number" : 5
                  } ],
                  "store_type" : "INLINE",
                  "connector_ref" : "example_connector",
                  "valid" : true,
                  "git_details" : {
                    "entity_identifier" : "example_object",
                    "branch_name" : "branch",
                    "file_path" : "/folder/file.json",
                    "repo_name" : "example_repository",
                    "commit_id" : "abcd123",
                    "file_url" : "www.repo/folder/file.com",
                    "repo_url" : "www.repo.com"
                  }
                } ]
              }
            }
          },
          "application/yaml" : {
            "schema" : {
              "type" : "array",
              "description" : "Response body for List Pipelines.",
              "items" : {
                "$ref" : "#/components/schemas/PipelineListResponseBody"
              }
            },
            "examples" : {
              "example-list-response" : {
                "value" : "- slug: example_pipeline\n  name: Example Pipeline\n  description: This is an Example Pipeline\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\n  created: 1234567890\n  updated: 1234567890\n  modules:\n    - CD\n  execution_summary:\n    errors_count:\n      - 1\n      - 2\n      - 3\n      - 4\n      - 5\n      - 6\n      - 7\n    deployments_count:\n      - 1\n      - 2\n      - 3\n      - 4\n      - 5\n      - 6\n      - 7\n  recent_execution_info:\n    - executor_info:\n        trigger_type: NOOP\n        username: harness_user\n        email: noreply@harness.io\n      execution_id: example_execution_slug\n      execution_status: Running\n      started: 1234567890\n      ended: 1234567890\n      run_number: 5\n  store_type: INLINE\n  connector_ref: example_connector\n  valid: true\n  git_details:\n    entity_identifier: example_object\n    branch_name: branch\n    file_path: /folder/file.json\n    repo_name: example_repository\n    commit_id: abcd123\n    file_url: www.repo/folder/file.com\n    repo_url: www.repo.com\n"
              }
            }
          }
        }
      }
    },
    "parameters" : {
      "Limit" : {
        "name" : "limit",
        "in" : "query",
        "description" : "Pagination: Number of items to return.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "maximum" : 100,
          "type" : "integer",
          "default" : 30
        }
      },
      "PageIndex" : {
        "name" : "page",
        "in" : "query",
        "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "integer",
          "default" : 0
        }
      },
      "SearchTerm" : {
        "name" : "search_term",
        "in" : "query",
        "description" : "This would be used to filter resources having attributes matching the search term.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "OrgParam" : {
        "name" : "org",
        "in" : "path",
        "description" : "Organization identifier",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      },
      "ProjectParam" : {
        "name" : "project",
        "in" : "path",
        "description" : "Project identifier",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      },
      "AccountHeader" : {
        "name" : "Harness-Account",
        "in" : "header",
        "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
        "required" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      },
      "Branch" : {
        "name" : "branch_name",
        "in" : "query",
        "description" : "Name of the branch (for Git Experience).",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "PipelineParam" : {
        "name" : "pipeline",
        "in" : "path",
        "description" : "Pipeline identifier",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      },
      "Sort" : {
        "name" : "sort",
        "in" : "query",
        "description" : "Parameter on the basis of which sorting is done.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "slug", "name", "created", "updated" ]
        }
      },
      "Order" : {
        "name" : "order",
        "in" : "query",
        "description" : "Order on the basis of which sorting is done.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "ASC", "DESC" ]
        }
      }
    },
    "requestBodies" : {
      "PipelineCreateRequestBody" : {
        "description" : "Pipeline request body",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineCreateRequestBody"
            },
            "examples" : {
              "example-pipeline" : {
                "value" : {
                  "pipeline_yaml" : "pipeline:\n  allowStageExecutions: false\n  stages:\n    - stage:\n        name: Example Build Stage\n        identifier: example_build_stage\n        description: ''\n        type: Approval\n        spec:\n          execution:\n            steps:\n              - step:\n                  name: Approval Step\n                  identifier: Approval_Step\n                  type: HarnessApproval\n                  timeout: 1d\n                  spec:\n                    approvalMessage: |-\n                      Please review the following information\n                      and approve the pipeline progression\n                    includePipelineExecutionHistory: true\n                    approvers:\n                      minimumCount: 1\n                      disallowPipelineExecutor: false\n                      userGroups: <+input>\n                    approverInputs: []\n              - step:\n                  type: ShellScript\n                  name: ShellScript Step\n                  identifier: ShellScript_Step\n                  spec:\n                    shell: Bash\n                    onDelegate: true\n                    source:\n                      type: Inline\n                      spec:\n                        script: <+input>\n                    environmentVariables: []\n                    outputVariables: []\n                    executionTarget: {}\n                  timeout: 10m\n        tags: {}\n    - stage:\n        name: Example Deploy Stage\n        identifier: example_deploy_stage\n        description: ''\n        type: Deployment\n        spec:\n          serviceConfig:\n            serviceRef: <+input>\n            serviceDefinition:\n              spec:\n                variables: []\n              type: Kubernetes\n          infrastructure:\n            environmentRef: <+input>\n            infrastructureDefinition:\n              type: KubernetesDirect\n              spec:\n                connectorRef: <+input>\n                namespace: <+input>\n                releaseName: release-<+INFRA_KEY>\n            allowSimultaneousDeployments: false\n          execution:\n            steps:\n              - step:\n                  name: Rollout Deployment\n                  identifier: rolloutDeployment\n                  type: K8sRollingDeploy\n                  timeout: 10m\n                  spec:\n                    skipDryRun: false\n            rollbackSteps:\n              - step:\n                  name: Rollback Rollout Deployment\n                  identifier: rollbackRolloutDeployment\n                  type: K8sRollingRollback\n                  timeout: 10m\n                  spec: {}\n        tags: {}\n        failureStrategies:\n          - onFailure:\n              errors:\n                - AllErrors\n              action:\n                type: StageRollback\n",
                  "slug" : "example_pipeline",
                  "name" : "ExamplePipeline",
                  "description" : "Pipeline Description",
                  "tags" : {
                    "example-tag-1" : "example-tag-1-value",
                    "example-tag-2" : "example-tag-2-value"
                  },
                  "git_details" : {
                    "branch_name" : "branch",
                    "file_path" : "/folder/file.json",
                    "commit_message" : "Added Harness Git Experience",
                    "base_branch" : "old_branch",
                    "connector_ref" : "git_connector",
                    "store_type" : "INLINE",
                    "repo_name" : "example_repository"
                  }
                }
              }
            }
          },
          "application/yaml" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineCreateRequestBody"
            },
            "examples" : {
              "example-pipeline" : {
                "value" : "pipeline_yaml: 'pipeline: allowStageExecutions: false stages: - stage: name: Example Build Stage identifier: example_build_stage description: '''' type: Approval spec: execution: steps: - step: name: Approval Step identifier: Approval_Step type: HarnessApproval timeout: 1d spec: approvalMessage: |- Please review the following information and approve the pipeline progression includePipelineExecutionHistory: true approvers: minimumCount: 1 disallowPipelineExecutor: false userGroups: <+input> approverInputs: [] - step: type: ShellScript name: ShellScript Step identifier: ShellScript_Step spec: shell: Bash onDelegate: true source: type: Inline spec: script: <+input> environmentVariables: [] outputVariables: [] executionTarget: {} timeout: 10m tags: {} - stage: name: Example Deploy Stage identifier: example_deploy_stage description: '''' type: Deployment spec: serviceConfig: serviceRef: <+input> serviceDefinition: spec: variables: [] type: Kubernetes infrastructure: environmentRef: <+input> infrastructureDefinition: type: KubernetesDirect spec: connectorRef: <+input> namespace: <+input> releaseName: release-<+INFRA_KEY> allowSimultaneousDeployments: false execution: steps: - step: name: Rollout Deployment identifier: rolloutDeployment type: K8sRollingDeploy timeout: 10m spec: skipDryRun: false rollbackSteps: - step: name: Rollback Rollout Deployment identifier: rollbackRolloutDeployment type: K8sRollingRollback timeout: 10m spec: {} tags: {} failureStrategies: - onFailure: errors: - AllErrors action: type: StageRollback'\nslug: example_pipeline\nname: ExamplePipeline\ndescription: Pipeline Description\ntags: \n  example-tag-1: example-tag-1-value\n  example-tag-2: example-tag-2-value\ngit_details:\n  branch_name: branch\n  file_path: /folder/file.json\n  commit_message: Added Harness Git Experience\n  base_branch: old_branch\n  connector_ref: git_connector\n  store_type: INLINE\n  repo_name: example_repository\n"
              }
            }
          }
        },
        "required" : true
      },
      "PipelineUpdateRequestBody" : {
        "description" : "Pipeline request body",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineUpdateRequestBody"
            },
            "examples" : {
              "example-pipeline" : {
                "value" : {
                  "pipeline_yaml" : "pipeline:\n  allowStageExecutions: false\n  stages:\n    - stage:\n        name: Example Build Stage\n        identifier: example_build_stage\n        description: ''\n        type: Approval\n        spec:\n          execution:\n            steps:\n              - step:\n                  name: Approval Step\n                  identifier: Approval_Step\n                  type: HarnessApproval\n                  timeout: 1d\n                  spec:\n                    approvalMessage: |-\n                      Please review the following information\n                      and approve the pipeline progression\n                    includePipelineExecutionHistory: true\n                    approvers:\n                      minimumCount: 1\n                      disallowPipelineExecutor: false\n                      userGroups: <+input>\n                    approverInputs: []\n              - step:\n                  type: ShellScript\n                  name: ShellScript Step\n                  identifier: ShellScript_Step\n                  spec:\n                    shell: Bash\n                    onDelegate: true\n                    source:\n                      type: Inline\n                      spec:\n                        script: <+input>\n                    environmentVariables: []\n                    outputVariables: []\n                    executionTarget: {}\n                  timeout: 10m\n        tags: {}\n    - stage:\n        name: Example Deploy Stage\n        identifier: example_deploy_stage\n        description: ''\n        type: Deployment\n        spec:\n          serviceConfig:\n            serviceRef: <+input>\n            serviceDefinition:\n              spec:\n                variables: []\n              type: Kubernetes\n          infrastructure:\n            environmentRef: <+input>\n            infrastructureDefinition:\n              type: KubernetesDirect\n              spec:\n                connectorRef: <+input>\n                namespace: <+input>\n                releaseName: release-<+INFRA_KEY>\n            allowSimultaneousDeployments: false\n          execution:\n            steps:\n              - step:\n                  name: Rollout Deployment\n                  identifier: rolloutDeployment\n                  type: K8sRollingDeploy\n                  timeout: 10m\n                  spec:\n                    skipDryRun: false\n            rollbackSteps:\n              - step:\n                  name: Rollback Rollout Deployment\n                  identifier: rollbackRolloutDeployment\n                  type: K8sRollingRollback\n                  timeout: 10m\n                  spec: {}\n        tags: {}\n        failureStrategies:\n          - onFailure:\n              errors:\n                - AllErrors\n              action:\n                type: StageRollback\n",
                  "slug" : "example_pipeline",
                  "name" : "ExamplePipeline",
                  "description" : "Pipeline Description",
                  "tags" : {
                    "example-tag-1" : "example-tag-1-value",
                    "example-tag-2" : "example-tag-2-value"
                  },
                  "git_details" : {
                    "branch_name" : "branch",
                    "commit_message" : "Added Harness Git Experience",
                    "last_object_id" : "abcdXYZ",
                    "base_branch" : "old_branch",
                    "last_commit_id" : "abcdXYZ"
                  }
                }
              }
            }
          },
          "application/yaml" : {
            "schema" : {
              "$ref" : "#/components/schemas/PipelineUpdateRequestBody"
            },
            "examples" : {
              "example-pipeline" : {
                "value" : "pipeline_yaml: 'pipeline: allowStageExecutions: false stages: - stage: name: Example Build Stage identifier: example_build_stage description: '''' type: Approval spec: execution: steps: - step: name: Approval Step identifier: Approval_Step type: HarnessApproval timeout: 1d spec: approvalMessage: |- Please review the following information and approve the pipeline progression includePipelineExecutionHistory: true approvers: minimumCount: 1 disallowPipelineExecutor: false userGroups: <+input> approverInputs: [] - step: type: ShellScript name: ShellScript Step identifier: ShellScript_Step spec: shell: Bash onDelegate: true source: type: Inline spec: script: <+input> environmentVariables: [] outputVariables: [] executionTarget: {} timeout: 10m tags: {} - stage: name: Example Deploy Stage identifier: example_deploy_stage description: '''' type: Deployment spec: serviceConfig: serviceRef: <+input> serviceDefinition: spec: variables: [] type: Kubernetes infrastructure: environmentRef: <+input> infrastructureDefinition: type: KubernetesDirect spec: connectorRef: <+input> namespace: <+input> releaseName: release-<+INFRA_KEY> allowSimultaneousDeployments: false execution: steps: - step: name: Rollout Deployment identifier: rolloutDeployment type: K8sRollingDeploy timeout: 10m spec: skipDryRun: false rollbackSteps: - step: name: Rollback Rollout Deployment identifier: rollbackRolloutDeployment type: K8sRollingRollback timeout: 10m spec: {} tags: {} failureStrategies: - onFailure: errors: - AllErrors action: type: StageRollback'\nslug: example_pipeline\nname: ExamplePipeline\ndescription: Pipeline Description\ntags: \n  example-tag-1: example-tag-1-value\n  example-tag-2: example-tag-2-value\ngit_details:\n  branch_name: branch\n  commit_message: Added Harness Git Experience\n  last_object_id: abcdXYZ\n  base_branch: old_branch\n  last_commit_id: abcdXYZ\n"
              }
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "x-api-key" : {
        "type" : "apiKey",
        "description" : "API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.",
        "name" : "x-api-key",
        "in" : "header"
      }
    }
  },
  "x-stoplight" : {
    "id" : "bfet7n314xd4i"
  },
  "x-tagGroups" : [ {
    "name" : "Pipelines",
    "tags" : [ "Pipelines" ]
  } ]
}