{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "Harness NextGen Software Delivery Platform API Reference",
    "description" : "This is the Open Api Spec 3 for the NextGen Manager. This is under active development. Beware of the breaking change with respect to the generated code stub",
    "contact" : {
      "email" : "contact@harness.io"
    },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "http://app.harness.io",
    "description" : "harness"
  } ],
  "tags" : [ {
    "name" : "Organization",
    "description" : "Everything about Organization"
  }, {
    "name" : "Project",
    "description" : "Everything about Project"
  }, {
    "name" : "Secret",
    "description" : "Everything about Secret"
  } ],
  "paths" : {
    "/v1/orgs" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "Get Organizations",
        "description" : "Retrieve the information of the Organizations.",
        "operationId" : "get-organizations",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "org",
          "in" : "query",
          "description" : "Slug field of the organizations the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Organization list response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "sample" : {
                    "value" : "</v1/orgs?page=2&limit=1>; rel=\"next\", </v1/orgs?page=1&limit=1>; rel=\"self\", </v1/orgs?page=0&limit=1>; rel=\"previous\", "
                  }
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OrganizationResponse"
                  }
                },
                "examples" : {
                  "example-organizations-list-response" : {
                    "value" : [ {
                      "slug" : "example_organization",
                      "name" : "Example Organization",
                      "description" : "This is an Example Organization",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890,
                      "harness_managed" : true
                    } ]
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Organization" ],
        "summary" : "Create Organization",
        "description" : "Create a new Organization.",
        "operationId" : "create-organization",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateOrganizationRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Organization response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response" : {
                    "value" : {
                      "slug" : "example_organization",
                      "name" : "Example Organization",
                      "description" : "This is an Example Organization",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890,
                      "harness_managed" : true
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "Get Organization",
        "description" : "Retrieve the information of the organization with the matching organization identifier.",
        "operationId" : "get-organization",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Organization response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response" : {
                    "value" : {
                      "slug" : "example_organization",
                      "name" : "Example Organization",
                      "description" : "This is an Example Organization",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890,
                      "harness_managed" : true
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Organization" ],
        "summary" : "Update Organization",
        "description" : "Update the information of the organization with the matching organization identifier.",
        "operationId" : "update-organization",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateOrganizationRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Organization response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response" : {
                    "value" : {
                      "slug" : "example_organization",
                      "name" : "Example Organization",
                      "description" : "This is an Example Organization",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890,
                      "harness_managed" : true
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Organization" ],
        "summary" : "Delete Organization",
        "description" : "Delete the information of the organization with the matching organization identifier.",
        "operationId" : "delete-organization",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Organization response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response" : {
                    "value" : {
                      "slug" : "example_organization",
                      "name" : "Example Organization",
                      "description" : "This is an Example Organization",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890,
                      "harness_managed" : true
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/projects" : {
      "get" : {
        "tags" : [ "Project" ],
        "summary" : "Get Projects",
        "description" : "Retrieves the information of the Projects.",
        "operationId" : "get-account-scoped-projects",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "org",
          "in" : "query",
          "description" : "Slug field of the organizations the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "project",
          "in" : "query",
          "description" : "Slug field of the projects the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "has_module",
          "in" : "query",
          "description" : "This boolean specifies whether to Filter Projects which has the Module of type passed in the moduleType parameter or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "module_type",
          "in" : "query",
          "description" : "Project's module type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project list response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.Link",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "sample" : {
                    "value" : "</v1/projects?org=dummy-orgnization&page=2&limit=1>; rel=\"next\", </v1/projects?org=dummy-orgnization&page=1&limit=1>; rel=\"self\", </v1/projects?org=dummy-orgnization&page=0&limit=1>; rel=\"previous\", "
                  }
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProjectResponse"
                  }
                },
                "examples" : {
                  "example-project-list-response" : {
                    "value" : [ {
                      "org" : "example_org_identifier",
                      "slug" : "example_project_identifier",
                      "name" : "example-project-name",
                      "color" : "#0063F7",
                      "modules" : [ "CD" ],
                      "description" : "This is a example Project",
                      "tags" : {
                        "property1" : "value1",
                        "property2" : "value2"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890
                    } ]
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Project" ],
        "summary" : "Create Project",
        "description" : "Creates a new Project",
        "operationId" : "create-account-scoped-project",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateProjectRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "org" : "example_org_identifier",
                      "slug" : "example_project_identifier",
                      "name" : "example-project-name",
                      "color" : "#0063F7",
                      "modules" : [ "CD" ],
                      "description" : "This is a example Project",
                      "tags" : {
                        "property1" : "value1",
                        "property2" : "value2"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "org: example_org_identifier\nslug: example_project_identifier\nname: example-project-name\ncolor: '#0063F7'\nmodules:\n  - CD\ndescription: This is a example Project\ntags:\n  property1: value1\n  property2: value2\ncreated_at: 1234567890\nlast_modified_at: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/projects" : {
      "get" : {
        "tags" : [ "Project" ],
        "summary" : "Get Projects",
        "description" : "Retrieves the information of the Projects.",
        "operationId" : "get-org-scoped-projects",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "query",
          "description" : "Slug field of the projects the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "has_module",
          "in" : "query",
          "description" : "This boolean specifies whether to Filter Projects which has the Module of type passed in the moduleType parameter or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "module_type",
          "in" : "query",
          "description" : "Project's module type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project list response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.Link",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "sample" : {
                    "value" : "</v1/projects?org=dummy-orgnization&page=2&limit=1>; rel=\"next\", </v1/projects?org=dummy-orgnization&page=1&limit=1>; rel=\"self\", </v1/projects?org=dummy-orgnization&page=0&limit=1>; rel=\"previous\", "
                  }
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProjectResponse"
                  }
                },
                "examples" : {
                  "example-project-list-response" : {
                    "value" : [ {
                      "org" : "example_org_identifier",
                      "slug" : "example_project_identifier",
                      "name" : "example-project-name",
                      "color" : "#0063F7",
                      "modules" : [ "CD" ],
                      "description" : "This is a example Project",
                      "tags" : {
                        "property1" : "value1",
                        "property2" : "value2"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890
                    } ]
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Project" ],
        "summary" : "Create Project",
        "description" : "Creates a new Project",
        "operationId" : "create-org-scoped-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateProjectRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "org" : "example_org_identifier",
                      "slug" : "example_project_identifier",
                      "name" : "example-project-name",
                      "color" : "#0063F7",
                      "modules" : [ "CD" ],
                      "description" : "This is a example Project",
                      "tags" : {
                        "property1" : "value1",
                        "property2" : "value2"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "org: example_org_identifier\nslug: example_project_identifier\nname: example-project-name\ncolor: '#0063F7'\nmodules:\n  - CD\ndescription: This is a example Project\ntags:\n  property1: value1\n  property2: value2\ncreated_at: 1234567890\nlast_modified_at: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/projects/{project}" : {
      "get" : {
        "tags" : [ "Project" ],
        "summary" : "Get Project",
        "description" : "Retrieve the information of the Project with the matching Project identifier.",
        "operationId" : "get-account-scoped-project",
        "parameters" : [ {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "org" : "example_org_identifier",
                      "slug" : "example_project_identifier",
                      "name" : "example-project-name",
                      "color" : "#0063F7",
                      "modules" : [ "CD" ],
                      "description" : "This is a example Project",
                      "tags" : {
                        "property1" : "value1",
                        "property2" : "value2"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "org: example_org_identifier\nslug: example_project_identifier\nname: example-project-name\ncolor: '#0063F7'\nmodules:\n  - CD\ndescription: This is a example Project\ntags:\n  property1: value1\n  property2: value2\ncreated_at: 1234567890\nlast_modified_at: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Project" ],
        "summary" : "Update Project",
        "description" : "Updates the information of the Project with the matching Project identifier.",
        "operationId" : "update-account-scoped-project",
        "parameters" : [ {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateProjectRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "org" : "example_org_identifier",
                      "slug" : "example_project_identifier",
                      "name" : "example-project-name",
                      "color" : "#0063F7",
                      "modules" : [ "CD" ],
                      "description" : "This is a example Project",
                      "tags" : {
                        "property1" : "value1",
                        "property2" : "value2"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "org: example_org_identifier\nslug: example_project_identifier\nname: example-project-name\ncolor: '#0063F7'\nmodules:\n  - CD\ndescription: This is a example Project\ntags:\n  property1: value1\n  property2: value2\ncreated_at: 1234567890\nlast_modified_at: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Project" ],
        "summary" : "Delete Project",
        "description" : "Deletes the information of the Project with the matching Project identifier.",
        "operationId" : "delete-account-scoped-project",
        "parameters" : [ {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "org" : "example_org_identifier",
                      "slug" : "example_project_identifier",
                      "name" : "example-project-name",
                      "color" : "#0063F7",
                      "modules" : [ "CD" ],
                      "description" : "This is a example Project",
                      "tags" : {
                        "property1" : "value1",
                        "property2" : "value2"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "org: example_org_identifier\nslug: example_project_identifier\nname: example-project-name\ncolor: '#0063F7'\nmodules:\n  - CD\ndescription: This is a example Project\ntags:\n  property1: value1\n  property2: value2\ncreated_at: 1234567890\nlast_modified_at: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/projects/{project}" : {
      "get" : {
        "tags" : [ "Project" ],
        "summary" : "Get Project",
        "description" : "Retrieve the information of the Project with the matching Project identifier.",
        "operationId" : "get-org-scoped-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "org" : "example_org_identifier",
                      "slug" : "example_project_identifier",
                      "name" : "example-project-name",
                      "color" : "#0063F7",
                      "modules" : [ "CD" ],
                      "description" : "This is a example Project",
                      "tags" : {
                        "property1" : "value1",
                        "property2" : "value2"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "org: example_org_identifier\nslug: example_project_identifier\nname: example-project-name\ncolor: '#0063F7'\nmodules:\n  - CD\ndescription: This is a example Project\ntags:\n  property1: value1\n  property2: value2\ncreated_at: 1234567890\nlast_modified_at: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Project" ],
        "summary" : "Update Project",
        "description" : "Updates the information of the Project with the matching Project identifier.",
        "operationId" : "update-org-scoped-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateProjectRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "org" : "example_org_identifier",
                      "slug" : "example_project_identifier",
                      "name" : "example-project-name",
                      "color" : "#0063F7",
                      "modules" : [ "CD" ],
                      "description" : "This is a example Project",
                      "tags" : {
                        "property1" : "value1",
                        "property2" : "value2"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "org: example_org_identifier\nslug: example_project_identifier\nname: example-project-name\ncolor: '#0063F7'\nmodules:\n  - CD\ndescription: This is a example Project\ntags:\n  property1: value1\n  property2: value2\ncreated_at: 1234567890\nlast_modified_at: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Project" ],
        "summary" : "Delete Project",
        "description" : "Deletes the information of the Project with the matching Project identifier.",
        "operationId" : "delete-org-scoped-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "org" : "example_org_identifier",
                      "slug" : "example_project_identifier",
                      "name" : "example-project-name",
                      "color" : "#0063F7",
                      "modules" : [ "CD" ],
                      "description" : "This is a example Project",
                      "tags" : {
                        "property1" : "value1",
                        "property2" : "value2"
                      },
                      "created_at" : 1234567890,
                      "last_modified_at" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "org: example_org_identifier\nslug: example_project_identifier\nname: example-project-name\ncolor: '#0063F7'\nmodules:\n  - CD\ndescription: This is a example Project\ntags:\n  property1: value1\n  property2: value2\ncreated_at: 1234567890\nlast_modified_at: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/secrets" : {
      "get" : {
        "tags" : [ "Secret" ],
        "summary" : "Get Secrets",
        "description" : "Retrieve the information of the Secrets.",
        "operationId" : "get-account-scoped-secrets",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "org",
          "in" : "query",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "query",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "secret",
          "in" : "query",
          "description" : "Slug field of secrets",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Secret types on which the filter will be applied",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "SSHKeyPath", "SSHKeyReference", "SSHPassword", "SSHKerberosTGTKeyTabFile", "SSHKerberosTGTPassword", "SecretFile", "SecretText", "WinRmTGTKeyTabFile", "WinRmTGTPassword", "WinRmNTLM" ]
            }
          }
        }, {
          "name" : "recursive",
          "in" : "query",
          "description" : "Expand current scope to include all child scopes ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Secret list response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SecretResponse"
                  }
                },
                "examples" : {
                  "example-list-secret-response-json" : {
                    "value" : [ {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created_at" : 1234567890,
                      "updated_at" : 1234567890,
                      "draft" : false,
                      "governance_metatdata" : null
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SecretResponse"
                  }
                },
                "examples" : {
                  "example-list-secret-response-yaml" : {
                    "value" : "- secret:\n    name: example_secret\n    slug: example_secret\n    org: default\n    project: example_project\n    tags:\n      property1: example_secret\n    description: example_secret\n    spec:\n      type: SSHKeyPath\n      port: 80\n      username: example_secret\n      key_path: example_secret\n      encrypted_passphrase: account.example_secret\n  created_at: 1234567890\n  updated_at: 1234567890\n  draft: false\n  governance_metatdata: null\n"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Secret" ],
        "summary" : "Create Secret",
        "description" : "Creates a new Secret",
        "operationId" : "create-account-scoped-secret",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "private_secret",
          "in" : "query",
          "description" : "This would be used to define secret as private.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/SecretRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Secret Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created_at" : 1234567890,
                      "updated_at" : 1234567890,
                      "draft" : false,
                      "governance_metatdata" : null
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated_at: 1234567890\nupdated_at: 1234567890\ndraft: false\ngovernance_metatdata: null\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/secrets" : {
      "get" : {
        "tags" : [ "Secret" ],
        "summary" : "Get Secrets",
        "description" : "Retrieve the information of the Secrets.",
        "operationId" : "get-org-scoped-secrets",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "query",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "secret",
          "in" : "query",
          "description" : "Slug field of secrets",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Secret types on which the filter will be applied",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "SSHKeyPath", "SSHKeyReference", "SSHPassword", "SSHKerberosTGTKeyTabFile", "SSHKerberosTGTPassword", "SecretFile", "SecretText", "WinRmTGTKeyTabFile", "WinRmTGTPassword", "WinRmNTLM" ]
            }
          }
        }, {
          "name" : "recursive",
          "in" : "query",
          "description" : "Expand current scope to include all child scopes ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Secret list response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SecretResponse"
                  }
                },
                "examples" : {
                  "example-list-secret-response-json" : {
                    "value" : [ {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created_at" : 1234567890,
                      "updated_at" : 1234567890,
                      "draft" : false,
                      "governance_metatdata" : null
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SecretResponse"
                  }
                },
                "examples" : {
                  "example-list-secret-response-yaml" : {
                    "value" : "- secret:\n    name: example_secret\n    slug: example_secret\n    org: default\n    project: example_project\n    tags:\n      property1: example_secret\n    description: example_secret\n    spec:\n      type: SSHKeyPath\n      port: 80\n      username: example_secret\n      key_path: example_secret\n      encrypted_passphrase: account.example_secret\n  created_at: 1234567890\n  updated_at: 1234567890\n  draft: false\n  governance_metatdata: null\n"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Secret" ],
        "summary" : "Create Secret",
        "description" : "Creates a new Secret",
        "operationId" : "create-org-scoped-secret",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "private_secret",
          "in" : "query",
          "description" : "This would be used to define secret as private.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/SecretRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Secret Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created_at" : 1234567890,
                      "updated_at" : 1234567890,
                      "draft" : false,
                      "governance_metatdata" : null
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated_at: 1234567890\nupdated_at: 1234567890\ndraft: false\ngovernance_metatdata: null\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/project/{project}/secrets" : {
      "get" : {
        "tags" : [ "Secret" ],
        "summary" : "",
        "description" : "Retrieve the information of the Secrets.",
        "operationId" : "get-project-scoped-secrets",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "secret",
          "in" : "query",
          "description" : "Slug field of secrets",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Secret types on which the filter will be applied",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "SSHKeyPath", "SSHKeyReference", "SSHPassword", "SSHKerberosTGTKeyTabFile", "SSHKerberosTGTPassword", "SecretFile", "SecretText", "WinRmTGTKeyTabFile", "WinRmTGTPassword", "WinRmNTLM" ]
            }
          }
        }, {
          "name" : "recursive",
          "in" : "query",
          "description" : "Expand current scope to include all child scopes ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Secret list response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SecretResponse"
                  }
                },
                "examples" : {
                  "example-list-secret-response-json" : {
                    "value" : [ {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created_at" : 1234567890,
                      "updated_at" : 1234567890,
                      "draft" : false,
                      "governance_metatdata" : null
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SecretResponse"
                  }
                },
                "examples" : {
                  "example-list-secret-response-yaml" : {
                    "value" : "- secret:\n    name: example_secret\n    slug: example_secret\n    org: default\n    project: example_project\n    tags:\n      property1: example_secret\n    description: example_secret\n    spec:\n      type: SSHKeyPath\n      port: 80\n      username: example_secret\n      key_path: example_secret\n      encrypted_passphrase: account.example_secret\n  created_at: 1234567890\n  updated_at: 1234567890\n  draft: false\n  governance_metatdata: null\n"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Secret" ],
        "summary" : "Create Secret",
        "description" : "Creates a new Secret",
        "operationId" : "create-project-scoped-secret",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "private_secret",
          "in" : "query",
          "description" : "This would be used to define secret as private.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/SecretRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Secret Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created_at" : 1234567890,
                      "updated_at" : 1234567890,
                      "draft" : false,
                      "governance_metatdata" : null
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated_at: 1234567890\nupdated_at: 1234567890\ndraft: false\ngovernance_metatdata: null\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/secrets/{secret}" : {
      "get" : {
        "tags" : [ "Secret" ],
        "summary" : "Get Secret",
        "description" : "Retrieves the information of the Secret.",
        "operationId" : "get-account-scoped-secret",
        "parameters" : [ {
          "name" : "secret",
          "in" : "path",
          "description" : "Slug field of the Secret",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Secret Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created_at" : 1234567890,
                      "updated_at" : 1234567890,
                      "draft" : false,
                      "governance_metatdata" : null
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated_at: 1234567890\nupdated_at: 1234567890\ndraft: false\ngovernance_metatdata: null\n"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Secret" ],
        "summary" : "Update Secret",
        "description" : "Updates the information of the Secret with the matching secret identifier.",
        "operationId" : "update-account-scoped-secret",
        "parameters" : [ {
          "name" : "secret",
          "in" : "path",
          "description" : "Slug field of the Secret",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/SecretRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Secret Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created_at" : 1234567890,
                      "updated_at" : 1234567890,
                      "draft" : false,
                      "governance_metatdata" : null
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated_at: 1234567890\nupdated_at: 1234567890\ndraft: false\ngovernance_metatdata: null\n"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Secret" ],
        "summary" : "Delete Secret",
        "description" : "Deletes the information of the Secret with the matching Secret identifier.",
        "operationId" : "delete-account-scoped-secret",
        "parameters" : [ {
          "name" : "secret",
          "in" : "path",
          "description" : "Slug field of the Secret",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Secret Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created_at" : 1234567890,
                      "updated_at" : 1234567890,
                      "draft" : false,
                      "governance_metatdata" : null
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated_at: 1234567890\nupdated_at: 1234567890\ndraft: false\ngovernance_metatdata: null\n"
                  }
                }
              }
            }
          }
        }
      },
      "head" : {
        "tags" : [ "Secret" ],
        "summary" : "Validate Secret slug",
        "description" : "Validates secret slug is unique",
        "operationId" : "validate-unique-account-scoped-secret-slug",
        "parameters" : [ {
          "name" : "secret",
          "in" : "path",
          "description" : "Slug field of the Secret",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Example response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValidateSecretSlugResponse"
                },
                "examples" : {
                  "example-validate-secret-slug-response-json" : {
                    "value" : {
                      "valid" : true
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                },
                "examples" : {
                  "example-validate-secret-slug-response-json" : {
                    "value" : "valid: true\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/org/{org}/secrets/{secret}" : {
      "get" : {
        "tags" : [ "Secret" ],
        "summary" : "Get Secret",
        "description" : "Retrieves the information of the Secret.",
        "operationId" : "get-org-scoped-secret",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "secret",
          "in" : "path",
          "description" : "Slug field of the Secret",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Secret Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created_at" : 1234567890,
                      "updated_at" : 1234567890,
                      "draft" : false,
                      "governance_metatdata" : null
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated_at: 1234567890\nupdated_at: 1234567890\ndraft: false\ngovernance_metatdata: null\n"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Secret" ],
        "summary" : "Update Secret",
        "description" : "Updates the information of the Secret with the matching secret identifier.",
        "operationId" : "update-org-scoped-secret",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "secret",
          "in" : "path",
          "description" : "Slug field of the Secret",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/SecretRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Secret Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created_at" : 1234567890,
                      "updated_at" : 1234567890,
                      "draft" : false,
                      "governance_metatdata" : null
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated_at: 1234567890\nupdated_at: 1234567890\ndraft: false\ngovernance_metatdata: null\n"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Secret" ],
        "summary" : "Delete Secret",
        "description" : "Deletes the information of the Secret with the matching Secret identifier.",
        "operationId" : "delete-org-scoped-secret",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "secret",
          "in" : "path",
          "description" : "Slug field of the Secret",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Secret Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created_at" : 1234567890,
                      "updated_at" : 1234567890,
                      "draft" : false,
                      "governance_metatdata" : null
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-create-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated_at: 1234567890\nupdated_at: 1234567890\ndraft: false\ngovernance_metatdata: null\n"
                  }
                }
              }
            }
          }
        }
      },
      "head" : {
        "tags" : [ "Secret" ],
        "summary" : "Validate Secret slug",
        "description" : "Validates org scoped secret slug is unique",
        "operationId" : "validate-unique-org-scoped-secret-slug",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "secret",
          "in" : "path",
          "description" : "Slug field of the Secret",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Example response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValidateSecretSlugResponse"
                },
                "examples" : {
                  "example-validate-secret-slug-response-json" : {
                    "value" : {
                      "valid" : true
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                },
                "examples" : {
                  "example-validate-secret-slug-response-json" : {
                    "value" : "valid: true\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/org/{org}/project/{project}/secrets/{secret}" : {
      "get" : {
        "tags" : [ "Secret" ],
        "summary" : "Get Secret",
        "description" : "Retrieves the information of the Secret.",
[...]
