{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "Harness NextGen Software Delivery Platform API Reference",
    "description" : "This is the Open Api Spec 3 for the NextGen Manager. This is under active development. Beware of the breaking change with respect to the generated code stub",
    "contact" : {
      "email" : "contact@harness.io"
    },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "http://app.harness.io",
    "description" : "harness"
  } ],
  "tags" : [ {
    "name" : "Organization",
    "description" : "Everything about organization"
  }, {
    "name" : "Org Project",
    "description" : "Everything about org scoped project"
  }, {
    "name" : "Account Secret",
    "description" : "Everything about account scoped secret"
  }, {
    "name" : "Org Secret",
    "description" : "Everything about org scoped secret"
  }, {
    "name" : "Project Secret",
    "description" : "Everything about project scoped secret"
  }, {
    "name" : "Project Services",
    "description" : "This contains APIs for performing CRUD operations on Services."
  } ],
  "paths" : {
    "/v1/orgs/{org}/projects/{project}/services/{service}" : {
      "get" : {
        "tags" : [ "Project Services" ],
        "summary" : "Retrieve a Service",
        "description" : "Retrieves specified Service ",
        "operationId" : "get-service",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "service",
          "in" : "path",
          "description" : "Slug field of the service the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "harness_account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Example response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceResponse"
                },
                "examples" : {
                  "example-1" : {
                    "value" : {
                      "service" : {
                        "account" : "sample_account",
                        "slug" : "example_service",
                        "org" : "sample_organization",
                        "project" : "sample_project",
                        "name" : "Example_service",
                        "description" : "This is a example service",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        },
                        "yaml" : "service:\n  name: \"Example_service\"\n  identifier: \"example_service\"\n  tags: {}\n"
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceResponse"
                },
                "examples" : {
                  "example-1" : {
                    "value" : "service:\n  account: sample_account\n  slug: example_service\n  org: sample_organization\n  project: sample_project\n  name: Example_service\n  description: This is a example service\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\n  yaml: |\n    service:\n      name: \"Example_service\"\n      identifier: \"example_service\"\n      tags: {}\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Project Services" ],
        "summary" : "Update Service",
        "description" : "Update Services",
        "operationId" : "update-service",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "service",
          "in" : "path",
          "description" : "Slug field of the service the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "harness_account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ServiceRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Example response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceResponse"
                },
                "examples" : {
                  "example-1" : {
                    "value" : {
                      "service" : {
                        "account" : "sample_account",
                        "slug" : "example_service",
                        "org" : "sample_organization",
                        "project" : "sample_project",
                        "name" : "Example_service",
                        "description" : "This is a example service",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        },
                        "yaml" : "service:\n  name: \"Example_service\"\n  identifier: \"example_service\"\n  tags: {}\n"
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceResponse"
                },
                "examples" : {
                  "example-1" : {
                    "value" : "service:\n  account: sample_account\n  slug: example_service\n  org: sample_organization\n  project: sample_project\n  name: Example_service\n  description: This is a example service\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\n  yaml: |\n    service:\n      name: \"Example_service\"\n      identifier: \"example_service\"\n      tags: {}\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Project Services" ],
        "summary" : "Delete a Service",
        "description" : "Deletes the requested service",
        "operationId" : "delete-service",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "service",
          "in" : "path",
          "description" : "Slug field of the service the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "harness_account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Example response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceResponse"
                },
                "examples" : {
                  "example-1" : {
                    "value" : {
                      "service" : {
                        "account" : "sample_account",
                        "slug" : "example_service",
                        "org" : "sample_organization",
                        "project" : "sample_project",
                        "name" : "Example_service",
                        "description" : "This is a example service",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        },
                        "yaml" : "service:\n  name: \"Example_service\"\n  identifier: \"example_service\"\n  tags: {}\n"
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceResponse"
                },
                "examples" : {
                  "example-1" : {
                    "value" : "service:\n  account: sample_account\n  slug: example_service\n  org: sample_organization\n  project: sample_project\n  name: Example_service\n  description: This is a example service\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\n  yaml: |\n    service:\n      name: \"Example_service\"\n      identifier: \"example_service\"\n      tags: {}\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/projects/{project}/services" : {
      "get" : {
        "tags" : [ "Project Services" ],
        "summary" : "List Services",
        "description" : "Returns all services that the current user has view permissions for given project.",
        "operationId" : "get-services",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "service_ids",
          "in" : "query",
          "description" : "List of Service Identifiers",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Parameter on the basis of which sorting is done.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "name", "slug", "created", "updated", "description" ]
          }
        }, {
          "name" : "is_access_list",
          "in" : "query",
          "description" : "Specify whether list an access list or not. Access List refers to list of services that current user has permission to use in the pipeline.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Service Definition type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "Kubernetes", "NativeHelm", "Ssh", "WinRm", "ServerlessAwsLambda", "AzureWebApp" ]
          }
        }, {
          "name" : "git_ops_enabled",
          "in" : "query",
          "description" : "Enables use of this service in Harness GitOps PR Pipelines",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "harness_account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "Order on the basis of which sorting is done.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Example response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceResponse"
                  }
                },
                "examples" : {
                  "example-1" : {
                    "value" : [ {
                      "service" : {
                        "account" : "sample_account",
                        "slug" : "example_service",
                        "org" : "sample_organization",
                        "project" : "sample_project",
                        "name" : "Example_service",
                        "description" : "This is a example service",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        },
                        "yaml" : "service:\n  name: \"Example_service\"\n  identifier: \"example_service\"\n  tags: {}\n"
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceResponse"
                  }
                },
                "examples" : {
                  "example-1" : {
                    "value" : "- service:\n    account: sample_account\n    slug: example_service\n    org: sample_organization\n    project: sample_project\n    name: Example_service\n    description: This is a example service\n    tags:\n      example-tag-1: example-tag-1-value\n      example-tag-2: example-tag-2-value\n    yaml: |\n      service:\n        name: \"Example_service\"\n        identifier: \"example_service\"\n        tags: {}\n  created: 1234567890\n  updated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Project Services" ],
        "summary" : "Create a Service",
        "description" : "Creates a Service",
        "operationId" : "create-service",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "harness_account",
          "in" : "header",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ServiceRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Example response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceResponse"
                },
                "examples" : {
                  "example-1" : {
                    "value" : {
                      "service" : {
                        "account" : "sample_account",
                        "slug" : "example_service",
                        "org" : "sample_organization",
                        "project" : "sample_project",
                        "name" : "Example_service",
                        "description" : "This is a example service",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        },
                        "yaml" : "service:\n  name: \"Example_service\"\n  identifier: \"example_service\"\n  tags: {}\n"
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceResponse"
                },
                "examples" : {
                  "example-1" : {
                    "value" : "service:\n  account: sample_account\n  slug: example_service\n  org: sample_organization\n  project: sample_project\n  name: Example_service\n  description: This is a example service\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\n  yaml: |\n    service:\n      name: \"Example_service\"\n      identifier: \"example_service\"\n      tags: {}\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "List organizations",
        "description" : "Retrieves the information of the organizations.",
        "operationId" : "get-organizations",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "org",
          "in" : "query",
          "description" : "Slug field of the organizations the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Organization list response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "sample" : {
                    "value" : "<{url}?page=2&limit=1>; rel=\"next\", <{url}?page=1&limit=1>; rel=\"self\", <{url}?page=0&limit=1>; rel=\"previous\", "
                  }
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OrganizationResponse"
                  }
                },
                "examples" : {
                  "example-organizations-list-response-json" : {
                    "value" : [ {
                      "org" : {
                        "slug" : "example_organization",
                        "name" : "Example Organization",
                        "description" : "This is an example organization",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "harness_managed" : true
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OrganizationResponse"
                  }
                },
                "examples" : {
                  "example-organizations-list-response-yaml" : {
                    "value" : "- org:\n    slug: example_organization\n    name: Example Organization\n    description: This is an example organization\n    tags:\n      example-tag-1: example-tag-1-value\n      example-tag-2: example-tag-2-value\n  created: 1234567890\n  updated: 1234567890\n  harness_managed: true\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Organization" ],
        "summary" : "Create an organization",
        "description" : "Creates a new organization.",
        "operationId" : "create-organization",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateOrganizationRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Organization response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-json" : {
                    "value" : {
                      "org" : {
                        "slug" : "example_organization",
                        "name" : "Example Organization",
                        "description" : "This is an example organization",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "harness_managed" : true
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-yaml" : {
                    "value" : "org:\n  slug: example_organization\n  name: Example Organization\n  description: This is an example organization\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\ncreated: 1234567890\nupdated: 1234567890\nharness_managed: true\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "Retrieve an organization",
        "description" : "Retrieves the information of the organization with the matching organization slug.",
        "operationId" : "get-organization",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Organization response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-json" : {
                    "value" : {
                      "org" : {
                        "slug" : "example_organization",
                        "name" : "Example Organization",
                        "description" : "This is an example organization",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "harness_managed" : true
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-yaml" : {
                    "value" : "org:\n  slug: example_organization\n  name: Example Organization\n  description: This is an example organization\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\ncreated: 1234567890\nupdated: 1234567890\nharness_managed: true\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Organization" ],
        "summary" : "Update an organization",
        "description" : "Updates the information of the organization with the matching organization slug.",
        "operationId" : "update-organization",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateOrganizationRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Organization response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-json" : {
                    "value" : {
                      "org" : {
                        "slug" : "example_organization",
                        "name" : "Example Organization",
                        "description" : "This is an example organization",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "harness_managed" : true
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-yaml" : {
                    "value" : "org:\n  slug: example_organization\n  name: Example Organization\n  description: This is an example organization\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\ncreated: 1234567890\nupdated: 1234567890\nharness_managed: true\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Organization" ],
        "summary" : "Delete an organization",
        "description" : "Deletes the information of the organization with the matching organization slug.",
        "operationId" : "delete-organization",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Organization response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-json" : {
                    "value" : {
                      "org" : {
                        "slug" : "example_organization",
                        "name" : "Example Organization",
                        "description" : "This is an example organization",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "harness_managed" : true
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-yaml" : {
                    "value" : "org:\n  slug: example_organization\n  name: Example Organization\n  description: This is an example organization\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\ncreated: 1234567890\nupdated: 1234567890\nharness_managed: true\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/projects" : {
      "get" : {
        "tags" : [ "Org Project" ],
        "summary" : "List projects",
        "description" : "Retrieves the information of the projects.",
        "operationId" : "get-org-scoped-projects",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "query",
          "description" : "Slug field of the projects the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "has_module",
          "in" : "query",
          "description" : "This boolean specifies whether to filter projects which has the module of type passed in the moduleType parameter or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "module_type",
          "in" : "query",
          "description" : "Project's module type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project list response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.Link",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "sample" : {
                    "value" : "<{url}?page=2&limit=1>; rel=\"next\", <{url}?page=1&limit=1>; rel=\"self\", <{url}?page=0&limit=1>; rel=\"previous\", "
                  }
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProjectResponse"
                  }
                },
                "examples" : {
                  "example-project-list-response-json" : {
                    "value" : [ {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProjectResponse"
                  }
                },
                "examples" : {
                  "example-project-list-response-yaml" : {
                    "value" : "- project:\n    org: example_org_slug\n    slug: example_project_slug\n    name: example-project-name\n    color: '#0063F7'\n    modules:\n      - CD\n    description: This is a example project\n    tags:\n      property1: value1\n      property2: value2\n  created: 1234567890\n  updated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Org Project" ],
        "summary" : "Creates a project",
        "description" : "Creates a new project",
        "operationId" : "create-org-scoped-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateProjectRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "project:\n  org: example_org_slug\n  slug: example_project_slug\n  name: example-project-name\n  color: '#0063F7'\n  modules:\n    - CD\n  description: This is a example project\n  tags:\n    property1: value1\n    property2: value2\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/projects/{project}" : {
      "get" : {
        "tags" : [ "Org Project" ],
        "summary" : "Retrieve a project",
        "description" : "Retrieves the information of the project with the matching project slug.",
        "operationId" : "get-org-scoped-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "project:\n  org: example_org_slug\n  slug: example_project_slug\n  name: example-project-name\n  color: '#0063F7'\n  modules:\n    - CD\n  description: This is a example project\n  tags:\n    property1: value1\n    property2: value2\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Org Project" ],
        "summary" : "Update a project",
        "description" : "Updates the information of the project with the matching project slug.",
        "operationId" : "update-org-scoped-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateProjectRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "project:\n  org: example_org_slug\n  slug: example_project_slug\n  name: example-project-name\n  color: '#0063F7'\n  modules:\n    - CD\n  description: This is a example project\n  tags:\n    property1: value1\n    property2: value2\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Org Project" ],
        "summary" : "Delete a project",
        "description" : "Deletes the information of the project with the matching project slug.",
        "operationId" : "delete-org-scoped-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "project:\n  org: example_org_slug\n  slug: example_project_slug\n  name: example-project-name\n  color: '#0063F7'\n  modules:\n    - CD\n  description: This is a example project\n  tags:\n    property1: value1\n    property2: value2\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/secrets" : {
      "get" : {
        "tags" : [ "Account Secret" ],
        "summary" : "List secrets",
        "description" : "Retrieves the information of the secrets.",
        "operationId" : "get-account-scoped-secrets",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "org",
          "in" : "query",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "query",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "secret",
          "in" : "query",
          "description" : "Slug field of secrets",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Secret types on which the filter will be applied",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "SSHKeyPath", "SSHKeyReference", "SSHPassword", "SSHKerberosTGTKeyTabFile", "SSHKerberosTGTPassword", "SecretFile", "SecretText", "WinRmTGTKeyTabFile", "WinRmTGTPassword", "WinRmNTLM" ]
            }
          }
        }, {
          "name" : "recursive",
          "in" : "query",
          "description" : "Expand current scope to include all child scopes ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Secret list response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.Link",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "sample" : {
                    "value" : "<{url}?page=2&limit=1>; rel=\"next\", <{url}?page=1&limit=1>; rel=\"self\", <{url}?page=0&limit=1>; rel=\"previous\", "
                  }
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SecretResponse"
                  }
                },
                "examples" : {
                  "example-list-secret-response-json" : {
                    "value" : [ {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "draft" : false
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SecretResponse"
                  }
                },
                "examples" : {
                  "example-list-secret-response-yaml" : {
                    "value" : "- secret:\n    name: example_secret\n    slug: example_secret\n    org: default\n    project: example_project\n    tags:\n      property1: example_secret\n    description: example_secret\n    spec:\n      type: SSHKeyPath\n      port: 80\n      username: example_secret\n      key_path: example_secret\n      encrypted_passphrase: account.example_secret\n  created: 1234567890\n  updated: 1234567890\n  draft: false\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Account Secret" ],
        "summary" : "Create a secret",
        "description" : "Creates a new secret",
        "operationId" : "create-account-scoped-secret",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "private_secret",
          "in" : "query",
          "description" : "This would be used to define secret as private.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/SecretRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Secret response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "draft" : false
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated: 1234567890\nupdated: 1234567890\ndraft: false\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/secrets" : {
      "get" : {
        "tags" : [ "Org Secret" ],
        "summary" : "List secrets",
        "description" : "Retrieves the information of the secrets.",
        "operationId" : "get-org-scoped-secrets",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "query",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "secret",
          "in" : "query",
          "description" : "Slug field of secrets",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Secret types on which the filter will be applied",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "SSHKeyPath", "SSHKeyReference", "SSHPassword", "SSHKerberosTGTKeyTabFile", "SSHKerberosTGTPassword", "SecretFile", "SecretText", "WinRmTGTKeyTabFile", "WinRmTGTPassword", "WinRmNTLM" ]
            }
          }
        }, {
          "name" : "recursive",
          "in" : "query",
          "description" : "Expand current scope to include all child scopes ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Secret list response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.Link",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "sample" : {
                    "value" : "<{url}?page=2&limit=1>; rel=\"next\", <{url}?page=1&limit=1>; rel=\"self\", <{url}?page=0&limit=1>; rel=\"previous\", "
                  }
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SecretResponse"
                  }
                },
                "examples" : {
                  "example-list-secret-response-json" : {
                    "value" : [ {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "draft" : false
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SecretResponse"
                  }
                },
                "examples" : {
                  "example-list-secret-response-yaml" : {
                    "value" : "- secret:\n    name: example_secret\n    slug: example_secret\n    org: default\n    project: example_project\n    tags:\n      property1: example_secret\n    description: example_secret\n    spec:\n      type: SSHKeyPath\n      port: 80\n      username: example_secret\n      key_path: example_secret\n      encrypted_passphrase: account.example_secret\n  created: 1234567890\n  updated: 1234567890\n  draft: false\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Org Secret" ],
        "summary" : "Create a secret",
        "description" : "Creates a new secret",
        "operationId" : "create-org-scoped-secret",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "private_secret",
          "in" : "query",
          "description" : "This would be used to define secret as private.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/SecretRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Secret response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "draft" : false
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated: 1234567890\nupdated: 1234567890\ndraft: false\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/projects/{project}/secrets" : {
      "get" : {
        "tags" : [ "Project Secret" ],
        "summary" : "List secrets",
        "description" : "Retrieves the information of the secrets.",
        "operationId" : "get-project-scoped-secrets",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "secret",
          "in" : "query",
          "description" : "Slug field of secrets",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Secret types on which the filter will be applied",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "SSHKeyPath", "SSHKeyReference", "SSHPassword", "SSHKerberosTGTKeyTabFile", "SSHKerberosTGTPassword", "SecretFile", "SecretText", "WinRmTGTKeyTabFile", "WinRmTGTPassword", "WinRmNTLM" ]
            }
          }
        }, {
          "name" : "recursive",
          "in" : "query",
          "description" : "Expand current scope to include all child scopes ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Secret list response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.Link",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "sample" : {
                    "value" : "<{url}?page=2&limit=1>; rel=\"next\", <{url}?page=1&limit=1>; rel=\"self\", <{url}?page=0&limit=1>; rel=\"previous\", "
                  }
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SecretResponse"
                  }
                },
                "examples" : {
                  "example-list-secret-response-json" : {
                    "value" : [ {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "draft" : false
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SecretResponse"
                  }
                },
                "examples" : {
                  "example-list-secret-response-yaml" : {
                    "value" : "- secret:\n    name: example_secret\n    slug: example_secret\n    org: default\n    project: example_project\n    tags:\n      property1: example_secret\n    description: example_secret\n    spec:\n      type: SSHKeyPath\n      port: 80\n      username: example_secret\n      key_path: example_secret\n      encrypted_passphrase: account.example_secret\n  created: 1234567890\n  updated: 1234567890\n  draft: false\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Project Secret" ],
        "summary" : "Create a secret",
        "description" : "Creates a new secret",
        "operationId" : "create-project-scoped-secret",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "private_secret",
          "in" : "query",
          "description" : "This would be used to define secret as private.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/SecretRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Secret response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "draft" : false
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated: 1234567890\nupdated: 1234567890\ndraft: false\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/secrets/{secret}" : {
      "get" : {
        "tags" : [ "Account Secret" ],
        "summary" : "Retrieve a secret",
        "description" : "Retrieves the information of the secret.",
        "operationId" : "get-account-scoped-secret",
        "parameters" : [ {
          "name" : "secret",
          "in" : "path",
          "description" : "Slug field of the secret",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Secret response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "draft" : false
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated: 1234567890\nupdated: 1234567890\ndraft: false\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Account Secret" ],
        "summary" : "Update a secret",
        "description" : "Updates the information of the secret with the matching secret slug.",
        "operationId" : "update-account-scoped-secret",
        "parameters" : [ {
          "name" : "secret",
          "in" : "path",
          "description" : "Slug field of the secret",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/SecretRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Secret response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "draft" : false
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated: 1234567890\nupdated: 1234567890\ndraft: false\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Account Secret" ],
        "summary" : "Deletes a secret",
        "description" : "Deletes the information of the secret with the matching secret slug.",
        "operationId" : "delete-account-scoped-secret",
        "parameters" : [ {
          "name" : "secret",
          "in" : "path",
          "description" : "Slug field of the secret",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Secret response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-secret-response-json" : {
                    "value" : {
                      "secret" : {
                        "name" : "example_secret",
                        "slug" : "example_secret",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_secret"
                        },
                        "description" : "example_secret",
                        "spec" : {
                          "type" : "SSHKeyPath",
                          "port" : 80,
                          "username" : "example_secret",
                          "key_path" : "example_secret",
                          "encrypted_passphrase" : "account.example_secret"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "draft" : false
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SecretResponse"
                },
                "examples" : {
                  "example-secret-response-yaml" : {
                    "value" : "secret:\n  name: example_secret\n  slug: example_secret\n  org: default\n  project: example_project\n  tags:\n    property1: example_secret\n  description: example_secret\n  spec:\n    type: SSHKeyPath\n    port: 80\n    username: example_secret\n    key_path: example_secret\n    encrypted_passphrase: account.example_secret\ncreated: 1234567890\nupdated: 1234567890\ndraft: false\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "head" : {
        "tags" : [ "Account Secret" ],
        "summary" : "Validate unique secret slug",
        "description" : "Validates secret slug is unique",
        "operationId" : "validate-unique-account-scoped-secret-slug",
        "parameters" : [ {
          "name" : "secret",
          "in" : "path",
          "description" : "Slug field of the secret",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Validate secret slug response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValidateSecretSlugResponse"
                },
                "examples" : {
                  "example-validate-secret-slug-response-json" : {
                    "value" : {
                      "valid" : true
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValidateSecretSlugResponse"
                },
                "examples" : {
                  "example-validate-secret-slug-response-json" : {
                    "value" : "valid: true\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/secrets/{secret}" : {
      "get" : {
        "tags" : [ "Org Secret" ],
        "summary" : "Retrieve a secret",
        "description" : "Retrieves the information of the secret.",
        "operationId" : "get-org-scoped-secret",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
[...]
