{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "Harness NextGen Software Delivery Platform API Reference",
    "description" : "This is the Open Api Spec 3 for the NextGen Manager. This is under active development. Beware of the breaking change with respect to the generated code stub",
    "contact" : {
      "email" : "contact@harness.io"
    },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "http://app.harness.io",
    "description" : "harness"
  } ],
  "tags" : [ {
    "name" : "Organization",
    "description" : "Everything about organization"
  }, {
    "name" : "Account Project",
    "description" : "Everything about account scoped project"
  }, {
    "name" : "Org Project",
    "description" : "Everything about org scoped project"
  }, {
    "name" : "Account Secret",
    "description" : "Everything about account scoped secret"
  }, {
    "name" : "Org Secret",
    "description" : "Everything about org scoped secret"
  }, {
    "name" : "Project Secret",
    "description" : "Everything about project scoped secret"
  }, {
    "name" : "Account Connector",
    "description" : "Everything about account scoped connector"
  }, {
    "name" : "Org Connector",
    "description" : "Everything about org scoped connector"
  }, {
    "name" : "Project Connector",
    "description" : "Everything about project scoped connector"
  } ],
  "paths" : {
    "/v1/orgs" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "List organizations",
        "description" : "Retrieves the information of the organizations.",
        "operationId" : "get-organizations",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "org",
          "in" : "query",
          "description" : "Slug field of the organizations the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Organization list response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "sample" : {
                    "value" : "<{url}?page=2&limit=1>; rel=\"next\", <{url}?page=1&limit=1>; rel=\"self\", <{url}?page=0&limit=1>; rel=\"previous\", "
                  }
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OrganizationResponse"
                  }
                },
                "examples" : {
                  "example-organizations-list-response-json" : {
                    "value" : [ {
                      "org" : {
                        "slug" : "example_organization",
                        "name" : "Example Organization",
                        "description" : "This is an example organization",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "harness_managed" : true
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OrganizationResponse"
                  }
                },
                "examples" : {
                  "example-organizations-list-response-yaml" : {
                    "value" : "- org:\n    slug: example_organization\n    name: Example Organization\n    description: This is an example organization\n    tags:\n      example-tag-1: example-tag-1-value\n      example-tag-2: example-tag-2-value\n  created: 1234567890\n  updated: 1234567890\n  harness_managed: true\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Organization" ],
        "summary" : "Create an organization",
        "description" : "Creates a new organization.",
        "operationId" : "create-organization",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateOrganizationRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Organization response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-json" : {
                    "value" : {
                      "org" : {
                        "slug" : "example_organization",
                        "name" : "Example Organization",
                        "description" : "This is an example organization",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "harness_managed" : true
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-yaml" : {
                    "value" : "org:\n  slug: example_organization\n  name: Example Organization\n  description: This is an example organization\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\ncreated: 1234567890\nupdated: 1234567890\nharness_managed: true\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "Retrieve an organization",
        "description" : "Retrieves the information of the organization with the matching organization slug.",
        "operationId" : "get-organization",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Organization response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-json" : {
                    "value" : {
                      "org" : {
                        "slug" : "example_organization",
                        "name" : "Example Organization",
                        "description" : "This is an example organization",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "harness_managed" : true
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-yaml" : {
                    "value" : "org:\n  slug: example_organization\n  name: Example Organization\n  description: This is an example organization\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\ncreated: 1234567890\nupdated: 1234567890\nharness_managed: true\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Organization" ],
        "summary" : "Update an organization",
        "description" : "Updates the information of the organization with the matching organization slug.",
        "operationId" : "update-organization",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateOrganizationRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Organization response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-json" : {
                    "value" : {
                      "org" : {
                        "slug" : "example_organization",
                        "name" : "Example Organization",
                        "description" : "This is an example organization",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "harness_managed" : true
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-yaml" : {
                    "value" : "org:\n  slug: example_organization\n  name: Example Organization\n  description: This is an example organization\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\ncreated: 1234567890\nupdated: 1234567890\nharness_managed: true\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Organization" ],
        "summary" : "Delete an organization",
        "description" : "Deletes the information of the organization with the matching organization slug.",
        "operationId" : "delete-organization",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Organization response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-json" : {
                    "value" : {
                      "org" : {
                        "slug" : "example_organization",
                        "name" : "Example Organization",
                        "description" : "This is an example organization",
                        "tags" : {
                          "example-tag-1" : "example-tag-1-value",
                          "example-tag-2" : "example-tag-2-value"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890,
                      "harness_managed" : true
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                },
                "examples" : {
                  "example-organization-response-yaml" : {
                    "value" : "org:\n  slug: example_organization\n  name: Example Organization\n  description: This is an example organization\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\ncreated: 1234567890\nupdated: 1234567890\nharness_managed: true\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/projects" : {
      "get" : {
        "tags" : [ "Account Project" ],
        "summary" : "List projects",
        "description" : "Retrieves the information of the projects.",
        "operationId" : "get-account-scoped-projects",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "org",
          "in" : "query",
          "description" : "Slug field of the organizations the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "project",
          "in" : "query",
          "description" : "Slug field of the projects the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "has_module",
          "in" : "query",
          "description" : "This boolean specifies whether to filter projects which has the module of type passed in the moduleType parameter or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "module_type",
          "in" : "query",
          "description" : "Project's module type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project list response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.Link",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "sample" : {
                    "value" : "<{url}?page=2&limit=1>; rel=\"next\", <{url}?page=1&limit=1>; rel=\"self\", <{url}?page=0&limit=1>; rel=\"previous\", "
                  }
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProjectResponse"
                  }
                },
                "examples" : {
                  "example-project-list-response-json" : {
                    "value" : [ {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProjectResponse"
                  }
                },
                "examples" : {
                  "example-project-list-response-yaml" : {
                    "value" : "- project:\n    org: example_org_slug\n    slug: example_project_slug\n    name: example-project-name\n    color: '#0063F7'\n    modules:\n      - CD\n    description: This is a example project\n    tags:\n      property1: value1\n      property2: value2\n  created: 1234567890\n  updated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Account Project" ],
        "summary" : "Create a project",
        "description" : "Creates a new project",
        "operationId" : "create-account-scoped-project",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateProjectRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "project:\n  org: example_org_slug\n  slug: example_project_slug\n  name: example-project-name\n  color: '#0063F7'\n  modules:\n    - CD\n  description: This is a example project\n  tags:\n    property1: value1\n    property2: value2\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/projects" : {
      "get" : {
        "tags" : [ "Org Project" ],
        "summary" : "List projects",
        "description" : "Retrieves the information of the projects.",
        "operationId" : "get-org-scoped-projects",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "query",
          "description" : "Slug field of the projects the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "has_module",
          "in" : "query",
          "description" : "This boolean specifies whether to filter projects which has the module of type passed in the moduleType parameter or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "module_type",
          "in" : "query",
          "description" : "Project's module type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching with search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project list response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.Link",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "sample" : {
                    "value" : "<{url}?page=2&limit=1>; rel=\"next\", <{url}?page=1&limit=1>; rel=\"self\", <{url}?page=0&limit=1>; rel=\"previous\", "
                  }
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProjectResponse"
                  }
                },
                "examples" : {
                  "example-project-list-response-json" : {
                    "value" : [ {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProjectResponse"
                  }
                },
                "examples" : {
                  "example-project-list-response-yaml" : {
                    "value" : "- project:\n    org: example_org_slug\n    slug: example_project_slug\n    name: example-project-name\n    color: '#0063F7'\n    modules:\n      - CD\n    description: This is a example project\n    tags:\n      property1: value1\n      property2: value2\n  created: 1234567890\n  updated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Org Project" ],
        "summary" : "Creates a project",
        "description" : "Creates a new project",
        "operationId" : "create-org-scoped-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateProjectRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "project:\n  org: example_org_slug\n  slug: example_project_slug\n  name: example-project-name\n  color: '#0063F7'\n  modules:\n    - CD\n  description: This is a example project\n  tags:\n    property1: value1\n    property2: value2\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/projects/{project}" : {
      "get" : {
        "tags" : [ "Account Project" ],
        "summary" : "Retrieve a project",
        "description" : "Retrieves the information of the project with the matching project slug.",
        "operationId" : "get-account-scoped-project",
        "parameters" : [ {
          "name" : "project",
          "in" : "path",
          "description" : "Project slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "project:\n  org: example_org_slug\n  slug: example_project_slug\n  name: example-project-name\n  color: '#0063F7'\n  modules:\n    - CD\n  description: This is a example project\n  tags:\n    property1: value1\n    property2: value2\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Account Project" ],
        "summary" : "Update a project",
        "description" : "Updates the information of the project with the matching project slug.",
        "operationId" : "update-account-scoped-project",
        "parameters" : [ {
          "name" : "project",
          "in" : "path",
          "description" : "Project slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateProjectRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "project:\n  org: example_org_slug\n  slug: example_project_slug\n  name: example-project-name\n  color: '#0063F7'\n  modules:\n    - CD\n  description: This is a example project\n  tags:\n    property1: value1\n    property2: value2\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Account Project" ],
        "summary" : "Delete a project",
        "description" : "Deletes the information of the project with the matching project slug.",
        "operationId" : "delete-account-scoped-project",
        "parameters" : [ {
          "name" : "project",
          "in" : "path",
          "description" : "Project slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "project:\n  org: example_org_slug\n  slug: example_project_slug\n  name: example-project-name\n  color: '#0063F7'\n  modules:\n    - CD\n  description: This is a example project\n  tags:\n    property1: value1\n    property2: value2\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/projects/{project}" : {
      "get" : {
        "tags" : [ "Org Project" ],
        "summary" : "Retrieve a project",
        "description" : "Retrieves the information of the project with the matching project slug.",
        "operationId" : "get-org-scoped-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "project:\n  org: example_org_slug\n  slug: example_project_slug\n  name: example-project-name\n  color: '#0063F7'\n  modules:\n    - CD\n  description: This is a example project\n  tags:\n    property1: value1\n    property2: value2\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Org Project" ],
        "summary" : "Update a project",
        "description" : "Updates the information of the project with the matching project slug.",
        "operationId" : "update-org-scoped-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateProjectRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "project:\n  org: example_org_slug\n  slug: example_project_slug\n  name: example-project-name\n  color: '#0063F7'\n  modules:\n    - CD\n  description: This is a example project\n  tags:\n    property1: value1\n    property2: value2\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Org Project" ],
        "summary" : "Delete a project",
        "description" : "Deletes the information of the project with the matching project slug.",
        "operationId" : "delete-org-scoped-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-json" : {
                    "value" : {
                      "project" : {
                        "org" : "example_org_slug",
                        "slug" : "example_project_slug",
                        "name" : "example-project-name",
                        "color" : "#0063F7",
                        "modules" : [ "CD" ],
                        "description" : "This is a example project",
                        "tags" : {
                          "property1" : "value1",
                          "property2" : "value2"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                },
                "examples" : {
                  "example-project-response-yaml" : {
                    "value" : "project:\n  org: example_org_slug\n  slug: example_project_slug\n  name: example-project-name\n  color: '#0063F7'\n  modules:\n    - CD\n  description: This is a example project\n  tags:\n    property1: value1\n    property2: value2\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/connectors" : {
      "get" : {
        "tags" : [ "Account Connector" ],
        "summary" : "List connectors",
        "description" : "Retrieves the information of the connectors.",
        "operationId" : "get-account-scoped-connectors",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Connector list response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ConnectorResponse"
                  }
                },
                "examples" : {
                  "example-list-connector-response-json" : {
                    "value" : [ {
                      "connector" : {
                        "name" : "example_connector",
                        "slug" : "example_connector",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_connector"
                        },
                        "description" : "example_connector",
                        "spec" : {
                          "type" : "GitHttp",
                          "url" : "https://github.com/example/example-repo.git",
                          "branch" : "example_branch",
                          "connection_type" : "Repo",
                          "username" : "git-http-user",
                          "password_ref" : "account.git-http-password"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-list-connector-response-yaml" : {
                    "value" : "- connector:\n    name: example_connector\n    slug: example_connector\n    org: default\n    project: example_project\n    tags:\n      property1: example_connector\n    description: example_connector\n    spec:\n        type: GitHttp\n        url: 'https://github.com/example/example-repo.git'\n        branch: example_branch\n        connection_type: Repo\n        username: git-http-user\n        password_ref: account.git-http-password\n  created: 1234567890\n  updated: 1234567890\n"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Account Connector" ],
        "summary" : "Create a Connector",
        "description" : "Creates a new connector",
        "operationId" : "create-account-scoped-connector",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ConnectorRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Connector response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-json" : {
                    "value" : {
                      "connector" : {
                        "name" : "example_connector",
                        "slug" : "example_connector",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_connector"
                        },
                        "description" : "example_connector",
                        "spec" : {
                          "type" : "GitHttp",
                          "url" : "https://github.com/example/example-repo.git",
                          "branch" : "example_branch",
                          "connection_type" : "Repo",
                          "username" : "git-http-user",
                          "password_ref" : "account.git-http-password"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-yaml" : {
                    "value" : "connector:\n  name: example_connector\n  slug: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  description: example_connector\n  spec:\n      type: GitHttp\n      url: 'https://github.com/example/example-repo.git'\n      branch: example_branch\n      connection_type: Repo\n      username: git-http-user\n      password_ref: account.git-http-password\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/connectors/{connector}" : {
      "get" : {
        "tags" : [ "Account Connector" ],
        "summary" : "Retrieve a connector",
        "description" : "Retrieves the information of the connector with the matching connector slug.\n",
        "operationId" : "get-account-scoped-connector",
        "parameters" : [ {
          "name" : "connector",
          "in" : "path",
          "description" : "Connector slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Connector response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-json" : {
                    "value" : {
                      "connector" : {
                        "name" : "example_connector",
                        "slug" : "example_connector",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_connector"
                        },
                        "description" : "example_connector",
                        "spec" : {
                          "type" : "GitHttp",
                          "url" : "https://github.com/example/example-repo.git",
                          "branch" : "example_branch",
                          "connection_type" : "Repo",
                          "username" : "git-http-user",
                          "password_ref" : "account.git-http-password"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-yaml" : {
                    "value" : "connector:\n  name: example_connector\n  slug: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  description: example_connector\n  spec:\n      type: GitHttp\n      url: 'https://github.com/example/example-repo.git'\n      branch: example_branch\n      connection_type: Repo\n      username: git-http-user\n      password_ref: account.git-http-password\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Account Connector" ],
        "summary" : "Update a connector",
        "description" : "Updates the information of the secret with the matching secret slug.",
        "operationId" : "update-account-scoped-connector",
        "parameters" : [ {
          "name" : "connector",
          "in" : "path",
          "description" : "Connector slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ConnectorRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Connector response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-json" : {
                    "value" : {
                      "connector" : {
                        "name" : "example_connector",
                        "slug" : "example_connector",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_connector"
                        },
                        "description" : "example_connector",
                        "spec" : {
                          "type" : "GitHttp",
                          "url" : "https://github.com/example/example-repo.git",
                          "branch" : "example_branch",
                          "connection_type" : "Repo",
                          "username" : "git-http-user",
                          "password_ref" : "account.git-http-password"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-yaml" : {
                    "value" : "connector:\n  name: example_connector\n  slug: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  description: example_connector\n  spec:\n      type: GitHttp\n      url: 'https://github.com/example/example-repo.git'\n      branch: example_branch\n      connection_type: Repo\n      username: git-http-user\n      password_ref: account.git-http-password\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Account Connector" ],
        "summary" : "Delete a connector",
        "description" : "Deletes the information of the connector with the matching connector slug.",
        "operationId" : "delete-account-scoped-connector",
        "parameters" : [ {
          "name" : "connector",
          "in" : "path",
          "description" : "Connector slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/v1/orgs/{org}/connectors" : {
      "get" : {
        "tags" : [ "Org Connector" ],
        "summary" : "List connectors",
        "description" : "Retrieves the information of the connectors.",
        "operationId" : "get-org-scoped-connectors",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Connector list response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ConnectorResponse"
                  }
                },
                "examples" : {
                  "example-list-connector-response-json" : {
                    "value" : [ {
                      "connector" : {
                        "name" : "example_connector",
                        "slug" : "example_connector",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_connector"
                        },
                        "description" : "example_connector",
                        "spec" : {
                          "type" : "GitHttp",
                          "url" : "https://github.com/example/example-repo.git",
                          "branch" : "example_branch",
                          "connection_type" : "Repo",
                          "username" : "git-http-user",
                          "password_ref" : "account.git-http-password"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-list-connector-response-yaml" : {
                    "value" : "- connector:\n    name: example_connector\n    slug: example_connector\n    org: default\n    project: example_project\n    tags:\n      property1: example_connector\n    description: example_connector\n    spec:\n        type: GitHttp\n        url: 'https://github.com/example/example-repo.git'\n        branch: example_branch\n        connection_type: Repo\n        username: git-http-user\n        password_ref: account.git-http-password\n  created: 1234567890\n  updated: 1234567890\n"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Org Connector" ],
        "summary" : "Create a Connector",
        "description" : "Creates a new connector",
        "operationId" : "create-org-scoped-connector",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ConnectorRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Connector response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-json" : {
                    "value" : {
                      "connector" : {
                        "name" : "example_connector",
                        "slug" : "example_connector",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_connector"
                        },
                        "description" : "example_connector",
                        "spec" : {
                          "type" : "GitHttp",
                          "url" : "https://github.com/example/example-repo.git",
                          "branch" : "example_branch",
                          "connection_type" : "Repo",
                          "username" : "git-http-user",
                          "password_ref" : "account.git-http-password"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-yaml" : {
                    "value" : "connector:\n  name: example_connector\n  slug: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  description: example_connector\n  spec:\n      type: GitHttp\n      url: 'https://github.com/example/example-repo.git'\n      branch: example_branch\n      connection_type: Repo\n      username: git-http-user\n      password_ref: account.git-http-password\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/connectors/{connector}" : {
      "get" : {
        "tags" : [ "Org Connector" ],
        "summary" : "Retrieve a connector",
        "description" : "Retrieves the information of the connector with the matching connector slug.\n",
        "operationId" : "get-org-scoped-connector",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connector",
          "in" : "path",
          "description" : "Connector slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Connector response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-json" : {
                    "value" : {
                      "connector" : {
                        "name" : "example_connector",
                        "slug" : "example_connector",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_connector"
                        },
                        "description" : "example_connector",
                        "spec" : {
                          "type" : "GitHttp",
                          "url" : "https://github.com/example/example-repo.git",
                          "branch" : "example_branch",
                          "connection_type" : "Repo",
                          "username" : "git-http-user",
                          "password_ref" : "account.git-http-password"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-yaml" : {
                    "value" : "connector:\n  name: example_connector\n  slug: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  description: example_connector\n  spec:\n      type: GitHttp\n      url: 'https://github.com/example/example-repo.git'\n      branch: example_branch\n      connection_type: Repo\n      username: git-http-user\n      password_ref: account.git-http-password\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Org Connector" ],
        "summary" : "Update a connector",
        "description" : "Updates the information of the secret with the matching secret slug.",
        "operationId" : "update-org-scoped-connector",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connector",
          "in" : "path",
          "description" : "Connector slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ConnectorRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Connector response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-json" : {
                    "value" : {
                      "connector" : {
                        "name" : "example_connector",
                        "slug" : "example_connector",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_connector"
                        },
                        "description" : "example_connector",
                        "spec" : {
                          "type" : "GitHttp",
                          "url" : "https://github.com/example/example-repo.git",
                          "branch" : "example_branch",
                          "connection_type" : "Repo",
                          "username" : "git-http-user",
                          "password_ref" : "account.git-http-password"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-yaml" : {
                    "value" : "connector:\n  name: example_connector\n  slug: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  description: example_connector\n  spec:\n      type: GitHttp\n      url: 'https://github.com/example/example-repo.git'\n      branch: example_branch\n      connection_type: Repo\n      username: git-http-user\n      password_ref: account.git-http-password\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Org Connector" ],
        "summary" : "Delete a connector",
        "description" : "Deletes the information of the connector with the matching connector slug.",
        "operationId" : "delete-org-scoped-connector",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connector",
          "in" : "path",
          "description" : "Connector slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/v1/orgs/{org}/projects/{project}/connectors" : {
      "get" : {
        "tags" : [ "Project Connector" ],
        "summary" : "List connectors",
        "description" : "Retrieves the information of the connectors.",
        "operationId" : "get-project-scoped-connectors",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Connector list response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ConnectorResponse"
                  }
                },
                "examples" : {
                  "example-list-connector-response-json" : {
                    "value" : [ {
                      "connector" : {
                        "name" : "example_connector",
                        "slug" : "example_connector",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_connector"
                        },
                        "description" : "example_connector",
                        "spec" : {
                          "type" : "GitHttp",
                          "url" : "https://github.com/example/example-repo.git",
                          "branch" : "example_branch",
                          "connection_type" : "Repo",
                          "username" : "git-http-user",
                          "password_ref" : "account.git-http-password"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    } ]
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-list-connector-response-yaml" : {
                    "value" : "- connector:\n    name: example_connector\n    slug: example_connector\n    org: default\n    project: example_project\n    tags:\n      property1: example_connector\n    description: example_connector\n    spec:\n        type: GitHttp\n        url: 'https://github.com/example/example-repo.git'\n        branch: example_branch\n        connection_type: Repo\n        username: git-http-user\n        password_ref: account.git-http-password\n  created: 1234567890\n  updated: 1234567890\n"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Project Connector" ],
        "summary" : "Create a Connector",
        "description" : "Creates a new connector",
        "operationId" : "create-project-scoped-connector",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ConnectorRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Connector response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-json" : {
                    "value" : {
                      "connector" : {
                        "name" : "example_connector",
                        "slug" : "example_connector",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_connector"
                        },
                        "description" : "example_connector",
                        "spec" : {
                          "type" : "GitHttp",
                          "url" : "https://github.com/example/example-repo.git",
                          "branch" : "example_branch",
                          "connection_type" : "Repo",
                          "username" : "git-http-user",
                          "password_ref" : "account.git-http-password"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-yaml" : {
                    "value" : "connector:\n  name: example_connector\n  slug: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  description: example_connector\n  spec:\n      type: GitHttp\n      url: 'https://github.com/example/example-repo.git'\n      branch: example_branch\n      connection_type: Repo\n      username: git-http-user\n      password_ref: account.git-http-password\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/projects/{project}/connectors/{connector}" : {
      "get" : {
        "tags" : [ "Project Connector" ],
        "summary" : "Retrieve a connector",
        "description" : "Retrieves the information of the connector with the matching connector slug.\n",
        "operationId" : "get-project-scoped-connector",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connector",
          "in" : "path",
          "description" : "Connector slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Connector response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-json" : {
                    "value" : {
                      "connector" : {
                        "name" : "example_connector",
                        "slug" : "example_connector",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_connector"
                        },
                        "description" : "example_connector",
                        "spec" : {
                          "type" : "GitHttp",
                          "url" : "https://github.com/example/example-repo.git",
                          "branch" : "example_branch",
                          "connection_type" : "Repo",
                          "username" : "git-http-user",
                          "password_ref" : "account.git-http-password"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-yaml" : {
                    "value" : "connector:\n  name: example_connector\n  slug: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  description: example_connector\n  spec:\n      type: GitHttp\n      url: 'https://github.com/example/example-repo.git'\n      branch: example_branch\n      connection_type: Repo\n      username: git-http-user\n      password_ref: account.git-http-password\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Project Connector" ],
        "summary" : "Update a connector",
        "description" : "Updates the information of the secret with the matching secret slug.",
        "operationId" : "update-project-scoped-connector",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connector",
          "in" : "path",
          "description" : "Connector slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ConnectorRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Connector response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-json" : {
                    "value" : {
                      "connector" : {
                        "name" : "example_connector",
                        "slug" : "example_connector",
                        "org" : "default",
                        "project" : "example_project",
                        "tags" : {
                          "property1" : "example_connector"
                        },
                        "description" : "example_connector",
                        "spec" : {
                          "type" : "GitHttp",
                          "url" : "https://github.com/example/example-repo.git",
                          "branch" : "example_branch",
                          "connection_type" : "Repo",
                          "username" : "git-http-user",
                          "password_ref" : "account.git-http-password"
                        }
                      },
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectorResponse"
                },
                "examples" : {
                  "example-connector-response-yaml" : {
                    "value" : "connector:\n  name: example_connector\n  slug: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  description: example_connector\n  spec:\n      type: GitHttp\n      url: 'https://github.com/example/example-repo.git'\n      branch: example_branch\n      connection_type: Repo\n      username: git-http-user\n      password_ref: account.git-http-password\ncreated: 1234567890\nupdated: 1234567890\n"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Project Connector" ],
        "summary" : "Delete a connector",
        "description" : "Deletes the information of the connector with the matching connector slug.",
        "operationId" : "delete-project-scoped-connector",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "connector",
          "in" : "path",
          "description" : "Connector slug",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/v1/secrets" : {
      "get" : {
        "tags" : [ "Account Secret" ],
        "summary" : "List secrets",
        "description" : "Retrieves the information of the secrets.",
        "operationId" : "get-account-scoped-secrets",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization method other than x-api-key header. If you are using x-api-key header this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "org",
          "in" : "query",
          "description" : "Slug field of the organization the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "query",
          "description" : "Slug field of the project the resource is scoped to",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "secret",
          "in" : "query",
          "description" : "Slug field of secrets",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Secret types on which the filter will be applied",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
[...]
