{
  "openapi": "3.0.1",
  "info": {
    "title": "Lightwing APIs",
    "description": "Lightwing API documentation",
    "contact": {
      "email": "navaneeth@lightwing.io"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  },
  "servers": [
    {
      "url": "https://app.harness.io/gateway"
    }
  ],
  "tags": [
    {
      "name": "AutoStopping Rules",
      "description": "This contains APIs to create and manage AutoStopping Rules for your cloud resources."
    },
    {
      "name": "AutoStopping Rules V2",
      "description": "This contains Autostopping v2 APIs that support the usage of Autostopping Proxy for managing cloud resources."
    },
    {
      "name": "AutoStopping Load Balancers",
      "description": "This contains APIs to create and manage load balancers used for AutoStopping."
    },
    {
      "name": "AutoStopping Fixed Schedules",
      "description": "This contains APIs to manage fixed schedules for the AutoStopping Rules."
    },
    {
      "name": "Cluster Orchestrator",
      "description": "This contains APIs to onboard and manage Cluster Orchestrator for Kubernetes"
    },
    {
      "name": "AutoStopping Alerts",
      "description": "This contains APIs to create and manage alerts for AutoStopping events and notifications."
    }
  ],
  "paths": {
    "/accounts/{account_id}/autostopping/rules": {
      "get": {
        "tags": [
          "AutoStopping Rules"
        ],
        "summary": "List AutoStopping Rules",
        "description": "Retrieves a list of all AutoStopping Rules configured in your account. AutoStopping Rules help optimize cloud costs by automatically stopping idle resources and starting them on-demand when accessed. ",
        "operationId": "ListAutoStoppingRules",
        "parameters": [
          {
            "name": "account_id",
            "description": "Unique identifier of the Harness account. This is used to scope the API request to a specific account.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization. ",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "dry_run",
            "description": "When set to true, filters the results to show only rules in dry-run mode. Dry-run rules monitor resource usage and calculate potential savings without actually stopping resources, allowing you to test rule configurations safely before enabling them.",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of AutoStopping Rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "AutoStopping Rules"
        ],
        "summary": "Create an AutoStopping Rule",
        "description": "Creates a new AutoStopping Rule to automatically manage cloud resources and reduce costs. The rule monitors resource activity and automatically stops resources during idle periods, then restarts them when traffic is detected. You can configure idle time thresholds, access methods (HTTP/HTTPS, SSH, RDP), custom domains, and schedules.",
        "operationId": "UpdateAutoStoppingRule",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_BFRC"
          }
        ],
        "requestBody": {
          "description": "Complete service definition for the AutoStopping Rule including resource configuration, idle time settings, access control details, and optional schedules. The request body should specify the cloud resources to manage, the idle time threshold before stopping, and how users will access the resources.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/SaveServiceRequestWithoutDisabled"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "AutoStopping Rule created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponseWithoutDisabled"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid rule configuration or missing required fields",
            "content": {
              "application/json": {
                "examples": {
                  "error": {
                    "summary": "Invalid configuration",
                    "value": {
                      "status": "ERROR",
                      "message": "Invalid resource configuration: missing required field 'resources'"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/accounts/{account_id}/autostopping/rules/{rule_id}": {
      "get": {
        "tags": [
          "AutoStopping Rules"
        ],
        "summary": "Return AutoStopping Rule details",
        "description": "Retrieves details of a specific AutoStopping Rule including its configuration, associated resources, idle time settings, etc.",
        "operationId": "AutoStoppingRuleDetails",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Account Identifier for the Entity",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "rule_id",
            "description": "Unique numeric identifier of the AutoStopping Rule. This ID is returned when creating a rule or can be obtained from the list rules endpoint.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 12345
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved AutoStopping Rule details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/SaveServiceRequest"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "AutoStopping Rules"
        ],
        "summary": "Delete an AutoStopping Rule",
        "description": "Permanently deletes an AutoStopping Rule from your account.\n\n**⚠️ CAUTION:** This action is irreversible. Once deleted, the rule configuration cannot be recovered. Resources that were managed by this rule will no longer be automatically stopped, which may result in increased cloud costs.",
        "operationId": "DeleteAutoStoppingRule",
        "parameters": [
          {
            "name": "rule_id",
            "description": "Unique identifier of the AutoStopping Rule to be deleted.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 12345
          },
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_BFRCi"
          }
        ],
        "responses": {
          "200": {
            "description": "AutoStopping Rule deleted successfully. Returns the deleted rule details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/accounts/{account_id}/autostopping/rules/{rule_id}/health": {
      "get": {
        "tags": [
          "AutoStopping Rules"
        ],
        "summary": "Return health status of an AutoStopping Rule",
        "description": "Retrieves the current health and operational status of an AutoStopping Rule. ",
        "operationId": "HealthOfAutoStoppingRule",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "rule_id",
            "description": "Unique identifier of the AutoStopping Rule for which you need to fetch the health status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 12345
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved health status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceHealthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/accounts/{account_id}/autostopping/rules/{rule_id}/savings": {
      "get": {
        "tags": [
          "AutoStopping Rules"
        ],
        "summary": "Return savings details for an AutoStopping Rule",
        "description": "Retrieves detailed cost savings data for a specific AutoStopping Rule grouped by day over the specified time period.",
        "operationId": "SavingsFromAutoStoppingRule",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "rule_id",
            "description": "Unique identifier of the AutoStopping Rule for which you want to fetch savings details",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 12345
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "from",
            "description": "Start date for the savings calculation period. Accepts YYYY-MM-DD format (e.g., 2024-01-01) or ISO 8601/RFC3339 format (e.g., 2024-01-01T00:00:00Z).",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2024-01-01"
          },
          {
            "name": "to",
            "description": "End date for the savings calculation period. Accepts YYYY-MM-DD format (e.g., 2024-01-31) or ISO 8601/RFC3339 format (e.g., 2024-01-31T23:59:59Z).",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2024-01-31"
          },
          {
            "name": "group_by",
            "description": "Optional parameter to group savings data by specific dimensions such as 'day', 'week', or 'month'.",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "day"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved savings details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/accounts/{account_id}/autostopping/rules/{rule_id}/resources": {
      "get": {
        "tags": [
          "AutoStopping Rules"
        ],
        "summary": "List all the resources for an AutoStopping Rule",
        "description": "Lists all the resources for an AutoStopping Rule for the given identifier.",
        "operationId": "AllAutoStoppingResources",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "cloud_account_id",
            "description": "Unique identifier of the cloud connector (AWS, Azure, or GCP) configured in Harness.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "lightwing_nonprod"
          },
          {
            "name": "region",
            "description": "Cloud provider region where the resources are located (e.g., 'us-east-1' for AWS, 'eastus' for Azure).",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "us-east-1"
          },
          {
            "name": "rule_id",
            "description": "Unique identifier of the AutoStopping Rule for which you need to list the resources",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int64"
            },
            "example": 12345
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of resources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllResourcesOfAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/accounts/{account_id}/autostopping/rules/{rule_id}/diagnostics": {
      "get": {
        "tags": [
          "AutoStopping Rules"
        ],
        "summary": "Return diagnostics result of an AutoStopping Rule",
        "description": "Retrieves diagnostic information for an AutoStopping Rule to help troubleshoot issues.",
        "operationId": "GetAutoStoppingDiagnostics",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "rule_id",
            "description": "Unique identifier of the AutoStopping Rule for which you need to fetch diagnostics details",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 12345
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved diagnostics information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceDiagnosticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/accounts/{account_id}/autostopping/rules/{rule_id}/warmup": {
      "post": {
        "tags": [
          "AutoStopping Rules"
        ],
        "summary": "Warm up an AutoStopping Rule",
        "description": "Manually starts (warms up) the resources managed by an AutoStopping Rule, bringing them online immediately.",
        "operationId": "WarmUpAutostoppingRule",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "rule_id",
            "description": "Unique identifier of the AutoStopping Rule to warm up",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 12345
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          }
        ],
        "requestBody": {
          "description": "Warm Up Options",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/WarmUpOption"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarmUpResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {}
          }
        }
      }
    },
    "/accounts/{account_id}/autostopping/rules/{rule_id}/cooldown": {
      "post": {
        "tags": [
          "AutoStopping Rules"
        ],
        "summary": "Cool down an AutoStopping Rule",
        "description": "Manually stops (cools down) the resources managed by an AutoStopping Rule, shutting them down immediately to save costs.",
        "operationId": "CoolDownAutostoppingRule",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "rule_id",
            "description": "Unique identifier of the AutoStopping Rule to cool down",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 12345
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          }
        ],
        "requestBody": {
          "description": "Cool Down Options",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/CoolDownOption"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {}
          }
        }
      }
    },
    "/accounts/{account_id}/autostopping/rules/{rule_id}/cooldown_meta": {
      "get": {
        "tags": [
          "AutoStopping Rules"
        ],
        "summary": "Return metadata of cool down of an AutoStopping Rule",
        "description": "Retrieves metadata about the cooldown configuration and status of an AutoStopping Rule.",
        "operationId": "GetAutoStoppingCoolDownMeta",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "rule_id",
            "description": "Unique identifier of the AutoStopping Rule",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 12345
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoolDownMetaSuccessResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoolDownMetaFailureResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/autostopping/rules/savings/cumulative": {
      "get": {
        "tags": [
          "AutoStopping Rules"
        ],
        "summary": "Return cumulative savings for all the AutoStopping Rules",
        "description": "Retrieves the total cumulative cost savings achieved across all AutoStopping Rules in the account.",
        "operationId": "CumulativeAutoStoppingSavings",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CumulativeSavingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/accounts/{account_id}/autostopping/rules/{rule_id}/toggle_state": {
      "put": {
        "tags": [
          "AutoStopping Rules"
        ],
        "summary": "Disable/Enable an Autostopping Rule",
        "description": "Enables or disables an AutoStopping Rule. When disabled, the rule will not automatically stop resources during idle periods.",
        "operationId": "ToggleAutostoppingRule",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "rule_id",
            "description": "Unique identifier of the AutoStopping Rule to enable or disable",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "disable",
            "description": "Set to true to disable the rule, false to enable it.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/accounts/{account_id}/autostopping/v2/rules": {
      "post": {
        "tags": [
          "AutoStopping Rules V2"
        ],
        "summary": "Create an AutoStopping Rule",
        "description": "Creates a new AutoStopping Rule using the V2 API format with enhanced proxy support.",
        "operationId": "CreateAutoStoppingRuleV2",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          }
        ],
        "requestBody": {
          "description": "Service definition of an AutoStopping rule",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/SaveServiceRequestV2WithoutDisabled"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponseWithoutDisabled"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/accounts/{account_id}/autostopping/v2/rules/{rule_id}": {
      "get": {
        "tags": [
          "AutoStopping Rules V2"
        ],
        "summary": "Return AutoStopping Rule details in V2 format",
        "description": "Retrieves details of an AutoStopping Rule in V2 format with enhanced proxy configuration details.",
        "operationId": "GetAutoStoppingRuleV2",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Account Identifier for the Entity",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "rule_id",
            "description": "Unique identifier of the AutoStopping Rule",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 12345
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/SaveServiceRequestV2"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "AutoStopping Rules V2"
        ],
        "summary": "Update an existing AutoStopping Rule",
        "description": "Updates an existing AutoStopping Rule configuration using the V2 API format.",
        "operationId": "UpdateAutoStoppingRuleV2",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "rule_id",
            "description": "Unique identifier of the AutoStopping Rule to update",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          }
        ],
        "requestBody": {
          "description": "Service definition of an AutoStopping rule",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/SaveServiceRequestV2WithoutDisabled"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponseWithoutDisabled"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/accounts/{account_id}/autostopping/loadbalancers": {
      "get": {
        "tags": [
          "AutoStopping Load Balancers"
        ],
        "summary": "Return all the load balancers",
        "description": "Retrieves a list of all AutoStopping load balancers configured in your account. Load balancers act as proxy entry points that route traffic to your AutoStopping Rules.",
        "operationId": "ListLoadBalancers",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "vpc",
            "description": "VPC (Virtual Private Cloud) is the cloud resource where the load balancer is deployed.",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "vpc-12345678"
          },
          {
            "name": "region",
            "description": "Optional filter to list load balancers in a specific cloud region (e.g., 'us-east-1' for AWS, 'eastus' for Azure).",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "us-east-1"
          },
          {
            "name": "cloud_account_id",
            "description": "Unique identifier of the cloud connector (AWS, Azure, or GCP) configured in CACM.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "lightwing_nonprod"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of load balancers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccessPointResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "AutoStopping Load Balancers"
        ],
        "summary": "Update a load balancer",
        "description": "Updates the configuration of an existing AutoStopping load balancer.",
        "operationId": "EditLoadBalancer",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_"
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/AccessPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Load balancer updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccessPointResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "accessPoint"
      },
      "post": {
        "tags": [
          "AutoStopping Load Balancers"
        ],
        "summary": "Create a load balancer",
        "description": "Creates a new AutoStopping load balancer to act as a proxy entry point for routing traffic to AutoStopping Rules.",
        "operationId": "CreateLoadBalancer",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_"
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/AccessPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Load balancer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccessPointResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "accessPoint"
      },
      "delete": {
        "tags": [
          "AutoStopping Load Balancers"
        ],
        "summary": "Delete load balancers and the associated resources",
        "description": "Permanently deletes one or more AutoStopping load balancers and their associated resources.\n\n**⚠️ CAUTION:** This action is irreversible. Once deleted, the load balancer configuration cannot be recovered. Any AutoStopping Rules using this load balancer will lose their access point and may become inaccessible.",
        "operationId": "DeleteLoadBalancer",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "pxXVjvw"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xdw"
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccessPointPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "accessPoint"
      }
    },
    "/accounts/{account_id}/autostopping/loadbalancers/{lb_id}": {
      "get": {
        "tags": [
          "AutoStopping Load Balancers"
        ],
        "summary": "Return details of a load balancer",
        "description": "Retrieves detailed configuration and status information for a specific AutoStopping load balancer.",
        "operationId": "DescribeLoadBalancer",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xdXVjvw"
          },
          {
            "name": "lb_id",
            "description": "Unique identifier of the load balancer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "lb-abc123"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xpfWPYXVjvw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved load balancer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccessPointResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/accounts/{account_id}/autostopping/loadbalancers/{lb_id}/rules": {
      "get": {
        "tags": [
          "AutoStopping Load Balancers"
        ],
        "summary": "Return all the AutoStopping Rules in a load balancer",
        "description": "Retrieves a list of all AutoStopping Rules that are configured to route traffic through a specific load balancer.",
        "operationId": "AccessPointRules",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "lb_id",
            "description": "Unique identifier of the load balancer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "lb-abc123"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7WPYXVjvw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of AutoStopping Rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/accounts/{account_id}/autostopping/loadbalancers/{lb_id}/last_active_at": {
      "get": {
        "tags": [
          "AutoStopping Load Balancers"
        ],
        "summary": "Return last activity details of a load balancer",
        "description": "Retrieves the timestamp of the most recent activity (traffic) through the load balancer.",
        "operationId": "LoadBalancerActivity",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "pfWPYXVjvw"
          },
          {
            "name": "lb_id",
            "description": "Unique identifier of the load balancer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "pxWPYXVjvw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved last activity timestamp",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessPointActivityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/accounts/{account_id}/schedules": {
      "get": {
        "tags": [
          "AutoStopping Fixed Schedules"
        ],
        "summary": "Return all the AutoStopping Rule fixed schedules",
        "description": "Retrieves all fixed schedules configured for an AutoStopping Rule. Fixed schedules define specific times when resources should be automatically started or stopped.",
        "operationId": "listAutoStoppingSchedules",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xpfWPYXVjvw"
          },
          {
            "name": "cloud_account_id",
            "description": "Unique identifier of the cloud connector (AWS, Azure, or GCP) configured in CACM.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "lightwing_nonprod"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "res_id",
            "description": "Resource ID for which to fetch schedules.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          },
          {
            "name": "res_type",
            "description": "Type of resource to which schedules are attached.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "autostop_rule"
              ]
            },
            "example": "autostop_rule"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of fixed schedules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixedSchedulesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "AutoStopping Fixed Schedules"
        ],
        "summary": "Create a fixed schedule for an AutoStopping Rule",
        "description": "Creates a new fixed schedule for an AutoStopping Rule to automatically start or stop resources at specific times.",
        "operationId": "createAutoStoppingSchedules",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          },
          {
            "name": "cloud_account_id",
            "description": "Unique identifier of the cloud connector (AWS, Azure, or GCP) configured in CACM.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "lightwing_nonprod"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12_DEFgh-ijkLMNOPqr"
          }
        ],
        "requestBody": {
          "description": "Fixed schedule payload",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/SaveStaticSchedulesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixedSchedule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/accounts/{account_id}/schedules/{schedule_id}": {
      "delete": {
        "tags": [
          "AutoStopping Fixed Schedules"
        ],
        "summary": "Delete a fixed schedule for AutoStopping Rule",
        "description": "Permanently deletes a fixed schedule from an AutoStopping Rule. The rule will no longer start or stop resources based on this schedule.",
        "operationId": "deleteAutoStoppingSchedule",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7-pfWPYXVjvw"
          },
          {
            "name": "schedule_id",
            "description": "Unique identifier of the fixed schedule to delete",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 123
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "pxCi-pfWPYXVjvw"
          }
        ],
        "responses": {
          "200": {
            "description": "Fixed schedule deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/clusters": {
      "get": {
        "tags": [
          "Cluster Orchestrator"
        ],
        "summary": "Return all connected clusters to Harness CACM",
        "description": "Return all connected clusters to Harness CACM, the ones onboarded to cluster orchestrator will have the id field populated",
        "operationId": "listConnectedKubernetesClusters",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectedKubernetesClustersListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid",
            "content": {}
          }
        }
      }
    },
    "/accounts/{account_id}/clusters/orchestrator": {
      "post": {
        "tags": [
          "Cluster Orchestrator"
        ],
        "summary": "Onboard a kubernetes cluster with an existing CACM Kubernetes Connector to Cluster Orchestrator",
        "description": "Onboard a kubernetes cluster with an existing CACM Kubernetes Connector to Cluster Orchestrator",
        "operationId": "onboardToClusterOrchestrator",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Onboard to Cluster Orchestrator Payload",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/OnboardToClusterOrchestratorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectedKubernetesClustersGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/accounts/{account_id}/clusters/orchestrator/{orchestrator_id}": {
      "get": {
        "tags": [
          "Cluster Orchestrator"
        ],
        "summary": "Get Details of a connected clusters by orchestrator id",
        "description": "Fetches the details of the cluster connected to the orchestrator by orchestrator's ID",
        "operationId": "getConnectedClusterDetails",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orchestrator_id",
            "description": "Identifier of the Orchestrator of the cluster, available in list response and onboard response",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectedKubernetesClustersGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid",
            "content": {}
          }
        }
      }
    },
    "/accounts/{account_id}/clusters/orchestrator/{orchestrator_id}/config": {
      "put": {
        "tags": [
          "Cluster Orchestrator"
        ],
        "summary": "Update a Cluster Orchestrator Config",
        "description": "Updates the config for a given cluster orchestrator",
        "operationId": "updateClusterOrchestratorConfig",
        "parameters": [
          {
            "name": "account_id",
            "description": "Account Identifier for the Entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orchestrator_id",
            "description": "Identifier of the Orchestrator of the cluster, available in list response and onboard response",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/AccessPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccessPointResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "accessPoint"
      }
    },
    "/accounts/{account_id}/alerts": {
      "post": {
        "tags": [
          "AutoStopping Alerts"
        ],
        "summary": "Create Alert",
        "description": "Creates a new alert configuration for AutoStopping events. Alerts can notify users via email or Slack when specific events occur, such as warmup failures, cooldown failures, or rule lifecycle changes.",
        "operationId": "CreateAlert",
        "parameters": [
          {
            "name": "account_id",
            "description": "Unique identifier of the Harness account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_BFRCi-pfWPYXVjvw"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_BFRCi-pfWPYXVjvw"
          }
        ],
        "requestBody": {
          "description": "Alert configuration to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertRequest"
              },
              "examples": {
                "all_rules": {
                  "summary": "Alert for all AutoStopping rules",
                  "description": "Creates an alert that applies to all AutoStopping rules in the account",
                  "value": {
                    "name": "demo-alert-all-rules",
                    "enabled": true,
                    "entity_type": "autostopping_rule",
                    "recipients": [
                      {
                        "type": "email",
                        "ids": [
                          "user@example.com"
                        ]
                      }
                    ],
                    "events": [
                      {
                        "id": "event-created",
                        "event": "autostopping_rule_created"
                      },
                      {
                        "id": "event-updated",
                        "event": "autostopping_rule_updated"
                      },
                      {
                        "id": "event-deleted",
                        "event": "autostopping_rule_deleted"
                      },
                      {
                        "id": "event-warmup-failed",
                        "event": "autostopping_warmup_failed"
                      },
                      {
                        "id": "event-cooldown-failed",
                        "event": "autostopping_cooldown_failed"
                      }
                    ],
                    "associated_entities": [
                      {
                        "relation_type": "all"
                      }
                    ]
                  }
                },
                "specific_rules": {
                  "summary": "Alert for specific AutoStopping rules",
                  "description": "Creates an alert that targets specific AutoStopping rules by their IDs",
                  "value": {
                    "name": "specific-rules-alert-demo",
                    "enabled": true,
                    "entity_type": "autostopping_rule",
                    "recipients": [
                      {
                        "type": "email",
                        "ids": [
                          "user@example.com"
                        ]
                      }
                    ],
                    "events": [
                      {
                        "id": "event-updated",
                        "event": "autostopping_rule_updated"
                      },
                      {
                        "id": "event-deleted",
                        "event": "autostopping_rule_deleted"
                      }
                    ],
                    "associated_entities": [
                      {
                        "relation_type": "specific",
                        "entity_id": "4519"
                      },
                      {
                        "relation_type": "specific",
                        "entity_id": "4487"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Alert created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - validation failed",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "put": {
        "tags": [
          "AutoStopping Alerts"
        ],
        "summary": "Update Alert",
        "description": "Updates an existing alert configuration. The alert ID must be provided in the request body.",
        "operationId": "UpdateAlert",
        "parameters": [
          {
            "name": "account_id",
            "description": "Unique identifier of the Harness account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_BFRCi-pfWPYXVjvw"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_BFRCi-pfWPYXVjvw"
          }
        ],
        "requestBody": {
          "description": "Alert configuration to update. The alert ID is required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertUpdateRequest"
              },
              "examples": {
                "all_rules": {
                  "summary": "Update alert for all AutoStopping rules",
                  "description": "Updates an alert to apply to all AutoStopping rules in the account",
                  "value": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "updated-alert-all-rules",
                    "enabled": true,
                    "entity_type": "autostopping_rule",
                    "recipients": [
                      {
                        "type": "email",
                        "ids": [
                          "user@example.com"
                        ]
                      }
                    ],
                    "events": [
                      {
                        "id": "event-created",
                        "event": "autostopping_rule_created"
                      },
                      {
                        "id": "event-warmup-failed",
                        "event": "autostopping_warmup_failed"
                      },
                      {
                        "id": "event-cooldown-failed",
                        "event": "autostopping_cooldown_failed"
                      }
                    ],
                    "associated_entities": [
                      {
                        "relation_type": "all"
                      }
                    ]
                  }
                },
                "specific_rules": {
                  "summary": "Update alert for specific AutoStopping rules",
                  "description": "Updates an alert to target specific AutoStopping rules by their IDs",
                  "value": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "updated-specific-rules-alert",
                    "enabled": true,
                    "entity_type": "autostopping_rule",
                    "recipients": [
                      {
                        "type": "email",
                        "ids": [
                          "user@example.com"
                        ]
                      }
                    ],
                    "events": [
                      {
                        "id": "event-updated",
                        "event": "autostopping_rule_updated"
                      },
                      {
                        "id": "event-deleted",
                        "event": "autostopping_rule_deleted"
                      }
                    ],
                    "associated_entities": [
                      {
                        "relation_type": "specific",
                        "entity_id": "4519"
                      },
                      {
                        "relation_type": "specific",
                        "entity_id": "4487"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Alert updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - validation failed or alert not found",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/accounts/{account_id}/alerts/list": {
      "post": {
        "tags": [
          "AutoStopping Alerts"
        ],
        "summary": "List Alerts",
        "description": "Retrieves a paginated list of alerts matching the specified search criteria. Supports filtering by entity type, entity IDs, enabled status, events, and name search.",
        "operationId": "ListAlerts",
        "parameters": [
          {
            "name": "account_id",
            "description": "Unique identifier of the Harness account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_BFRCi-pfWPYXVjvw"
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_BFRCi-pfWPYXVjvw"
          }
        ],
        "requestBody": {
          "description": "Search criteria for filtering alerts",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved list of alerts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - validation failed",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/accounts/{account_id}/alerts/{alert_id}": {
      "get": {
        "tags": [
          "AutoStopping Alerts"
        ],
        "summary": "Get Alert",
        "description": "Retrieves the details of a specific alert by its ID.",
        "operationId": "GetAlert",
        "parameters": [
          {
            "name": "account_id",
            "description": "Unique identifier of the Harness account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_BFRCi-pfWPYXVjvw"
          },
          {
            "name": "alert_id",
            "description": "Unique identifier of the alert to retrieve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_BFRCi-pfWPYXVjvw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved alert details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - alert_id is required",
            "content": {}
          },
          "404": {
            "description": "Alert not found",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "AutoStopping Alerts"
        ],
        "summary": "Delete Alert",
        "description": "Deletes an alert by its ID. This is a soft delete operation.",
        "operationId": "DeleteAlert",
        "parameters": [
          {
            "name": "account_id",
            "description": "Unique identifier of the Harness account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_BFRCi-pfWPYXVjvw"
          },
          {
            "name": "alert_id",
            "description": "Unique identifier of the alert to delete",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountIdentifier",
            "description": "Account Identifier for authentication and authorization",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "px7xd_BFRCi-pfWPYXVjvw"
          }
        ],
        "responses": {
          "200": {
            "description": "Alert deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - alert_id is required",
            "content": {}
          },
          "404": {
            "description": "Alert not found",
            "content": {}
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DeleteAccessPointPayload": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "with_resources": {
            "type": "boolean"
          }
        }
      },
      "Service": {
        "required": [
          "cloud_account_id",
          "kind",
          "name",
          "org_id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "org_id": {
            "type": "string"
          },
          "account_identifier": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "fulfilment": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "cloud_account_id": {
            "type": "string"
          },
          "idle_time_mins": {
            "type": "integer",
            "format": "int64"
          },
          "host_name": {
            "type": "string"
          },
          "health_check": {
            "type": "object",
            "properties": {}
          },
          "custom_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "match_all_subdomains": {
            "type": "boolean"
          },
          "disabled": {
            "type": "boolean"
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingData"
          },
          "opts": {
            "$ref": "#/components/schemas/Opts"
          },
          "created_at": {
            "type": "string"
          },
          "access_point_id": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/ServiceMetadata"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ServiceV2": {
        "required": [
          "cloud_account_id",
          "kind",
          "name",
          "org_id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "org_id": {
            "type": "string"
          },
          "account_identifier": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "fulfilment": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "cloud_account_id": {
            "type": "string"
          },
          "idle_time_mins": {
            "type": "integer",
            "format": "int64"
          },
          "host_name": {
            "type": "string"
          },
          "health_check": {
            "type": "object",
            "properties": {}
          },
          "custom_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "match_all_subdomains": {
            "type": "boolean"
          },
          "disabled": {
            "type": "boolean"
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingDataV2"
          },
          "opts": {
            "$ref": "#/components/schemas/Opts"
          },
          "created_at": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/ServiceMetadata"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ServiceMetadata": {
        "type": "object",
        "properties": {
          "cloud_provider_details": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "target_group_details": {
            "type": "object",
            "properties": {}
          },
          "service_errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceError"
            }
          },
          "kubernetes_connector_id": {
            "type": "string"
          },
          "autostopping_proxy_config": {
            "type": "object",
            "properties": {
              "http": {
                "$ref": "#/components/schemas/HTTPProxy"
              },
              "tcp": {
                "$ref": "#/components/schemas/HTTPProxy"
              }
            }
          }
        }
      },
      "ServiceError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "action": {
            "type": "string"
          }
        }
      },
      "ServiceDep": {
        "type": "object"
      },
      "ServiceHealthResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "state": {
                "type": "string",
                "description": "Current state of the AutoStopping Rule",
                "enum": [
                  "warmingup",
                  "errored",
                  "active",
                  "down",
                  "coolingdown",
                  "disabled",
                  "enabled",
                  "created",
                  "deleted",
                  "scheduled_downtime"
                ]
              },
              "target_url": {
                "type": "string",
                "description": "Target URL for accessing the AutoStopping Rule"
              },
              "error": {
                "type": "string",
                "description": "Error message if the rule is in an errored state, empty otherwise"
              },
              "id": {
                "type": "string",
                "description": "Unique identifier for the health check result"
              }
            }
          }
        }
      },
      "SaveServiceRequest": {
        "type": "object",
        "properties": {
          "deps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceDep"
            }
          },
          "service": {
            "$ref": "#/components/schemas/Service"
          },
          "apply_now": {
            "type": "boolean"
          }
        }
      },
      "SaveServiceRequestV2": {
        "type": "object",
        "properties": {
          "deps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceDep"
            }
          },
          "service": {
            "$ref": "#/components/schemas/ServiceV2"
          },
          "apply_now": {
            "type": "boolean"
          }
        }
      },
      "ServiceWithoutDisabled": {
        "required": [
          "cloud_account_id",
          "kind",
          "name",
          "org_id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "org_id": {
            "type": "string"
          },
          "account_identifier": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "fulfilment": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "cloud_account_id": {
            "type": "string"
          },
          "idle_time_mins": {
            "type": "integer",
            "format": "int64"
          },
          "host_name": {
            "type": "string"
          },
          "health_check": {
            "type": "object",
            "properties": {}
          },
          "custom_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "match_all_subdomains": {
            "type": "boolean"
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingData"
          },
          "opts": {
            "$ref": "#/components/schemas/Opts"
          },
          "created_at": {
            "type": "string"
          },
          "access_point_id": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/ServiceMetadata"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ServiceV2WithoutDisabled": {
        "required": [
          "cloud_account_id",
          "kind",
          "name",
          "org_id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "org_id": {
            "type": "string"
          },
          "account_identifier": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "fulfilment": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "cloud_account_id": {
            "type": "string"
          },
          "idle_time_mins": {
            "type": "integer",
            "format": "int64"
          },
          "host_name": {
            "type": "string"
          },
          "health_check": {
            "type": "object",
            "properties": {}
          },
          "custom_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "match_all_subdomains": {
            "type": "boolean"
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingData"
          },
          "opts": {
            "$ref": "#/components/schemas/Opts"
          },
          "created_at": {
            "type": "string"
          },
          "access_point_id": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/ServiceMetadata"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "SaveServiceRequestWithoutDisabled": {
        "type": "object",
        "properties": {
          "deps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceDep"
            }
          },
          "service": {
            "$ref": "#/components/schemas/ServiceWithoutDisabled"
          },
          "apply_now": {
            "type": "boolean"
          }
        }
      },
      "SaveServiceRequestV2WithoutDisabled": {
        "type": "object",
        "properties": {
          "deps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceDep"
            }
          },
          "service": {
            "$ref": "#/components/schemas/ServiceV2WithoutDisabled"
          },
          "apply_now": {
            "type": "boolean"
          }
        }
      },
      "Resource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "availability_zone": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "launch_time": {
            "type": "string"
          },
          "ipv4": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "private_ipv4": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "object",
            "properties": {},
            "description": "tag key as attribute key and tag value as attribute value"
          },
          "resource_type": {
            "type": "string"
          },
          "provider_name": {
            "type": "string"
          },
          "is_spot": {
            "type": "boolean"
          },
          "platform": {
            "type": "string"
          },
          "cloud_account_id": {
            "type": "number"
          },
          "metadata": {
            "type": "object",
            "properties": {}
          },
          "provider_type": {
            "type": "string"
          }
        }
      },
      "AllResourcesOfAccountResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          }
        }
      },
      "ServiceUsageRecord": {
        "type": "object",
        "properties": {
          "service_id": {
            "type": "number"
          },
          "path": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "idle_time_mins": {
            "type": "number"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "ServiceResponse": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/Service"
          }
        }
      },
      "ServiceResponseWithoutDisabled": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/ServiceWithoutDisabled"
          }
        }
      },
      "ServicesResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Service"
            }
          }
        }
      },
      "ServiceDepTree": {
        "type": "object",
        "properties": {
          "service": {
            "$ref": "#/components/schemas/Service"
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceDepTree"
            }
          }
        }
      },
      "InstanceBasedRoutingData": {
        "type": "object",
        "properties": {
          "filter_text": {
            "type": "string"
          },
          "scale_group": {
            "$ref": "#/components/schemas/ASGMinimal"
          }
        }
      },
      "InstanceBasedRoutingDataV2": {
        "type": "object",
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/FilterObject"
          },
          "scale_group": {
            "$ref": "#/components/schemas/ASGMinimal"
          }
        }
      },
      "FilterObject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "regions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "resource_groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "vpc_id": {
            "type": "string"
          },
          "zones": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "HTTPProxy": {
        "required": [
          "proxy",
          "ports"
        ],
        "type": "object",
        "properties": {
          "proxy": {
            "$ref": "#/components/schemas/Proxy"
          },
          "ports": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PortConfig"
            }
          }
        }
      },
      "TCPProxy": {
        "required": [
          "proxy"
        ],
        "type": "object",
        "properties": {
          "proxy": {
            "$ref": "#/components/schemas/Proxy"
          },
          "ssh": {
            "type": "integer"
          },
          "rdp": {
            "type": "integer"
          },
          "ports": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "Opts": {
        "type": "object",
        "properties": {
          "preserve_private_ip": {
            "type": "boolean"
          },
          "delete_cloud_resources": {
            "type": "boolean"
          },
          "always_use_private_ip": {
            "type": "boolean"
          },
          "access_details": {
            "type": "object",
            "properties": {}
          },
          "hide_progress_page": {
            "type": "boolean"
          },
          "idle_time_for_state_sync": {
            "type": "boolean",
            "description": "If true, idle time is used for state sync instead of the default 5 minutes"
          }
        }
      },
      "PortConfig": {
        "type": "object",
        "properties": {
          "protocol": {
            "type": "string"
          },
          "target_protocol": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "target_port": {
            "type": "integer"
          },
          "server_name": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "redirect_url": {
            "type": "string"
          },
          "routing_rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutingRule"
            }
          }
        }
      },
      "RoutingRule": {
        "type": "object",
        "properties": {
          "path_match": {
            "type": "string"
          }
        }
      },
      "RoutingData": {
        "type": "object",
        "properties": {
          "instance": {
            "$ref": "#/components/schemas/InstanceBasedRoutingData"
          },
          "ports": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PortConfig"
            }
          },
          "lb": {
            "type": "string"
          },
          "k8s": {
            "type": "object",
            "properties": {
              "RuleJson": {
                "type": "string"
              },
              "ConnectorID": {
                "type": "string"
              },
              "Namespace": {
                "type": "string"
              }
            }
          },
          "custom_domain_providers": {
            "type": "object",
            "properties": {}
          },
          "container_svc": {
            "$ref": "#/components/schemas/ContainerSvc"
          },
          "database": {
            "$ref": "#/components/schemas/RDSDatabase"
          }
        }
      },
      "RoutingDataV2": {
        "type": "object",
        "properties": {
          "instance": {
            "$ref": "#/components/schemas/InstanceBasedRoutingDataV2"
          },
          "lb": {
            "type": "string"
          },
          "k8s": {
            "type": "object",
            "properties": {
              "RuleJson": {
                "type": "string"
              },
              "ConnectorID": {
                "type": "string"
              },
              "Namespace": {
                "type": "string"
              }
            }
          },
          "custom_domain_providers": {
            "type": "object",
            "properties": {}
          },
          "container_svc": {
            "$ref": "#/components/schemas/ContainerSvc"
          },
          "database": {
            "$ref": "#/components/schemas/RDSDatabase"
          },
          "http": {
            "$ref": "#/components/schemas/HTTPProxy"
          },
          "tcp": {
            "$ref": "#/components/schemas/TCPProxy"
          }
        }
      },
      "RDSDatabase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        }
      },
      "ContainerSvc": {
        "type": "object",
        "properties": {
          "cluster": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "task_count": {
            "type": "number"
          }
        }
      },
      "AccessPointMeta": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "certificate_id": {
            "type": "string"
          },
          "security_groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dns": {
            "type": "object",
            "properties": {
              "route53": {
                "type": "object",
                "properties": {
                  "hosted_zone_id": {
                    "type": "string"
                  }
                }
              },
              "others": {
                "type": "string"
              }
            }
          },
          "albArn": {
            "type": "string"
          },
          "resource_group": {
            "type": "string"
          },
          "fe_ip_id": {
            "type": "string"
          },
          "subnet_id": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "app_gateway_id": {
            "type": "string"
          },
          "subnet_name": {
            "type": "string"
          },
          "fe_ip_name": {
            "type": "string"
          },
          "certificate": {
            "$ref": "#/components/schemas/CertificateData"
          },
          "func_region": {
            "type": "string"
          }
        }
      },
      "CertificateData": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "AccessPoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "cloud_account_id": {
            "type": "string"
          },
          "org_id": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "host_name": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "vpc": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "submitted",
              "errored"
            ]
          },
          "metadata": {
            "$ref": "#/components/schemas/AccessPointMeta"
          },
          "subnets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "security_groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "editables": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateAccessPointResponse": {
        "type": "object",
        "properties": {
          "response": {
[...]
