{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "Harness NextGen Software Delivery Platform API Reference",
    "description" : "This is the Open Api Spec 3 for the Platform Service. This is under active development. Beware of the breaking change with respect to the generated code stub.",
    "contact" : {
      "email" : "contact@harness.io"
    },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "http://app.harness.io",
    "description" : "localhost"
  } ],
  "tags" : [ {
    "name" : "Account Resource Groups",
    "description" : "This contains APIs for performing CRUD operations on Account level Resource Groups."
  }, {
    "name" : "Organization Resource Groups",
    "description" : "This contains APIs for performing CRUD operations on Organization level Resource Groups."
  }, {
    "name" : "Project Resource Groups",
    "description" : "This contains APIs for performing CRUD operations on Project level Resource Groups."
  } ],
  "paths" : {
    "/v1/resource-groups" : {
      "get" : {
        "tags" : [ "Account Resource Groups" ],
        "summary" : "List Resource Groups",
        "description" : "Returns a list of Resource Groups present in the Account scope.",
        "operationId" : "list-resource-groups-acc",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 30
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching the search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identifier_filter",
          "in" : "query",
          "description" : "Filter by Identifiers",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "managed_filter",
          "in" : "query",
          "description" : "Filter by Harness Managed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "NO_FILTER", "ONLY_MANAGED", "ONLY_CUSTOM" ]
          }
        }, {
          "name" : "resource_type",
          "in" : "query",
          "description" : "Filter by Resource type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "resource_slug",
          "in" : "query",
          "description" : "Filter by Resource identifier",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Groups List Response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "List of Resource Groups",
                  "items" : {
                    "$ref" : "#/components/schemas/ResourceGroupsResponse"
                  }
                },
                "examples" : {
                  "resource-group-list-response" : {
                    "value" : [ {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    } ]
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Account Resource Groups" ],
        "summary" : "Create a Resource Group",
        "description" : "Creates a custom Resource Group in the Account scope.",
        "operationId" : "create-resource-group-acc",
        "parameters" : [ {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateResourceGroupRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Resource Group Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceGroupsResponse"
                },
                "examples" : {
                  "resource-group-response" : {
                    "value" : {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/resource-groups/{resource-group}" : {
      "get" : {
        "tags" : [ "Account Resource Groups" ],
        "summary" : "Retrieve a Resource Group",
        "description" : "Retrieves a Resource Group from Account scope.",
        "operationId" : "get-resource-group-acc",
        "parameters" : [ {
          "name" : "resource-group",
          "in" : "path",
          "description" : "Resource Group identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Group Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceGroupsResponse"
                },
                "examples" : {
                  "resource-group-response" : {
                    "value" : {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ],
        "x-internal" : false
      },
      "put" : {
        "tags" : [ "Account Resource Groups" ],
        "summary" : "Update a Resource Group",
        "description" : "Updates a Resource Group from Account scope.",
        "operationId" : "update-resource-group-acc",
        "parameters" : [ {
          "name" : "resource-group",
          "in" : "path",
          "description" : "Resource Group identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateResourceGroupRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Resource Group Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceGroupsResponse"
                },
                "examples" : {
                  "resource-group-response" : {
                    "value" : {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Account Resource Groups" ],
        "summary" : "Delete a Resource Group",
        "description" : "Deletes a custom Resource Group from Account scope.",
        "operationId" : "delete-resource-group-acc",
        "parameters" : [ {
          "name" : "resource-group",
          "in" : "path",
          "description" : "Resource Group identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Group Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceGroupsResponse"
                },
                "examples" : {
                  "resource-group-response" : {
                    "value" : {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/resource-groups" : {
      "get" : {
        "tags" : [ "Organization Resource Groups" ],
        "summary" : "List Resource Groups",
        "description" : "Returns a list of Resource Groups present in the Organization scope.",
        "operationId" : "list-resource-groups-org",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 30
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching the search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identifier_filter",
          "in" : "query",
          "description" : "Filter by Identifiers",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "managed_filter",
          "in" : "query",
          "description" : "Filter by Harness Managed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "NO_FILTER", "ONLY_MANAGED", "ONLY_CUSTOM" ]
          }
        }, {
          "name" : "resource_type",
          "in" : "query",
          "description" : "Filter by Resource type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "resource_slug",
          "in" : "query",
          "description" : "Filter by Resource identifier",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Groups List Response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "List of Resource Groups",
                  "items" : {
                    "$ref" : "#/components/schemas/ResourceGroupsResponse"
                  }
                },
                "examples" : {
                  "resource-group-list-response" : {
                    "value" : [ {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    } ]
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Organization Resource Groups" ],
        "summary" : "Create a Resource Group",
        "description" : "Creates a custom Resource Group in the Organization scope.",
        "operationId" : "create-resource-group-org",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateResourceGroupRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Resource Group Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceGroupsResponse"
                },
                "examples" : {
                  "resource-group-response" : {
                    "value" : {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/resource-groups/{resource-group}" : {
      "get" : {
        "tags" : [ "Organization Resource Groups" ],
        "summary" : "Retrieve a Resource Group",
        "description" : "Retrieves a Resource Group from Organization scope.",
        "operationId" : "get-resource-group-org",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-group",
          "in" : "path",
          "description" : "Resource Group identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Group Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceGroupsResponse"
                },
                "examples" : {
                  "resource-group-response" : {
                    "value" : {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Organization Resource Groups" ],
        "summary" : "Update a Resource Group",
        "description" : "Updates a Resource Group from Organization scope.",
        "operationId" : "update-resource-group-org",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-group",
          "in" : "path",
          "description" : "Resource Group identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateResourceGroupRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Resource Group Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceGroupsResponse"
                },
                "examples" : {
                  "resource-group-response" : {
                    "value" : {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Organization Resource Groups" ],
        "summary" : "Delete a Resource Group",
        "description" : "Deletes a custom Resource Group from Organization scope.",
        "operationId" : "delete-resource-group-org",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-group",
          "in" : "path",
          "description" : "Resource Group identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Group Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceGroupsResponse"
                },
                "examples" : {
                  "resource-group-response" : {
                    "value" : {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/projects/{project}/resource-groups" : {
      "get" : {
        "tags" : [ "Project Resource Groups" ],
        "summary" : "List Resource Groups",
        "description" : "Returns a list of Resource Groups present in the Project scope.",
        "operationId" : "list-resource-groups-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination: Number of items to return.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 30
          }
        }, {
          "name" : "search_term",
          "in" : "query",
          "description" : "This would be used to filter resources having attributes matching the search term.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identifier_filter",
          "in" : "query",
          "description" : "Filter by Identifiers",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "managed_filter",
          "in" : "query",
          "description" : "Filter by Harness Managed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "NO_FILTER", "ONLY_MANAGED", "ONLY_CUSTOM" ]
          }
        }, {
          "name" : "resource_type",
          "in" : "query",
          "description" : "Filter by Resource type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "resource_slug",
          "in" : "query",
          "description" : "Filter by Resource identifier",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Groups List Response",
            "headers" : {
              "Link" : {
                "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "description" : "List of Resource Groups",
                  "items" : {
                    "$ref" : "#/components/schemas/ResourceGroupsResponse"
                  }
                },
                "examples" : {
                  "resource-group-list-response" : {
                    "value" : [ {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    } ]
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Project Resource Groups" ],
        "summary" : "Create a Resource Group",
        "description" : "Creates a custom Resource Group in the Project scope.",
        "operationId" : "create-resource-group-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateResourceGroupRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Resource Group Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceGroupsResponse"
                },
                "examples" : {
                  "resource-group-response" : {
                    "value" : {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    },
    "/v1/orgs/{org}/projects/{project}/resource-groups/{resource-group}" : {
      "get" : {
        "tags" : [ "Project Resource Groups" ],
        "summary" : "Retrieve a Resource Group",
        "description" : "Retrieves a Resource Group from Project scope.",
        "operationId" : "get-resource-group-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-group",
          "in" : "path",
          "description" : "Resource Group identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Group Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceGroupsResponse"
                },
                "examples" : {
                  "resource-group-response" : {
                    "value" : {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Project Resource Groups" ],
        "summary" : "Update a Resource Group",
        "description" : "Updates a Resource Group from Project scope.",
        "operationId" : "update-resource-group-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-group",
          "in" : "path",
          "description" : "Resource Group identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateResourceGroupRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Resource Group Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceGroupsResponse"
                },
                "examples" : {
                  "resource-group-response" : {
                    "value" : {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Project Resource Groups" ],
        "summary" : "Delete a Resource Group",
        "description" : "Deletes a custom Resource Group from Project scope.",
        "operationId" : "delete-resource-group-project",
        "parameters" : [ {
          "name" : "org",
          "in" : "path",
          "description" : "Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "project",
          "in" : "path",
          "description" : "Project identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resource-group",
          "in" : "path",
          "description" : "Resource Group identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "account",
          "in" : "query",
          "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource Group Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceGroupsResponse"
                },
                "examples" : {
                  "resource-group-response" : {
                    "value" : {
                      "slug" : "example_resource_group",
                      "name" : "Example_Resource Group",
                      "color" : "#0063F7",
                      "tags" : {
                        "example-tag-1" : "example-tag-1-value",
                        "example-tag-2" : "example-tag-2-value"
                      },
                      "description" : "This is an Example Resource Group",
                      "allowed_scope_levels" : [ "account" ],
                      "included_scope" : [ {
                        "filter" : "EXCLUDING_CHILD_SCOPES",
                        "account" : "sample_account",
                        "org" : "sample_organization",
                        "project" : "sample_project"
                      } ],
                      "resource_filter" : [ {
                        "resource_type" : "resource",
                        "identifiers" : [ "example_resource" ],
                        "attribute_name" : "resource_attribute",
                        "attribute_values" : [ "example_resource_attribute" ]
                      } ],
                      "include_all" : false,
                      "harness_managed" : true,
                      "created" : 1234567890,
                      "updated" : 1234567890
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "x-api-key" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "ResourceGroupsResponse" : {
        "title" : "Resource Groups Response",
        "required" : [ "name", "slug" ],
        "type" : "object",
        "properties" : {
          "slug" : {
            "type" : "string",
            "description" : "Resource Group Identifier"
          },
          "name" : {
            "type" : "string",
            "description" : "Resource Group Name"
          },
          "color" : {
            "type" : "string",
            "description" : "Color associated with the Resource Group."
          },
          "tags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource Group tags"
          },
          "description" : {
            "type" : "string",
            "description" : "Resource Group description"
          },
          "allowed_scope_levels" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "List of allowed scope levels for this Resource Group.",
            "items" : {
              "type" : "string",
              "enum" : [ "account", "organization", "project" ]
            }
          },
          "included_scope" : {
            "type" : "array",
            "description" : "Scopes included in the Resource Group.",
            "items" : {
              "$ref" : "#/components/schemas/ResourceGroupScope"
            }
          },
          "resource_filter" : {
            "type" : "array",
            "description" : "Contains Resource filter for a Resource Group.",
            "items" : {
              "$ref" : "#/components/schemas/ResourceFilter"
            }
          },
          "include_all" : {
            "type" : "boolean",
            "description" : "Boolean value for including all resources in Resource Group."
          },
          "harness_managed" : {
            "type" : "boolean",
            "description" : "This indicates if this Resource Group is managed by Harness or not. If true, Harness can manage and modify this Resource Group."
          },
          "created" : {
            "type" : "integer",
            "description" : "Creation timestamp for Resource Group.",
            "format" : "int64"
          },
          "updated" : {
            "type" : "integer",
            "description" : "Last modification timestamp for Resource Group.",
            "format" : "int64"
          }
        },
        "description" : "Resource Group Response Model",
        "x-stoplight" : {
          "id" : "q6oq3jxkd2who"
        },
        "x-examples" : {
          "example-resource-group" : {
            "slug" : "example_resource_group",
            "name" : "Example_Resource Group",
            "color" : "#0063F7",
            "tags" : {
              "example-tag-1" : "example-tag-1-value",
              "example-tag-2" : "example-tag-2-value"
            },
            "description" : "This is an Example Resource Group",
            "allowed_scope_levels" : [ "account" ],
            "included_scope" : [ {
              "filter" : "EXCLUDING_CHILD_SCOPES",
              "account" : "sample_account",
              "org" : "sample_organization",
              "project" : "sample_project"
            } ],
            "resource_filter" : [ {
              "resource_type" : "resource",
              "identifiers" : [ "example_resource" ],
              "attribute_name" : "resource_attribute",
              "attribute_values" : [ "example_resource_attribute" ]
            } ],
            "include_all" : false,
            "harness_managed" : true,
            "created" : 1234567890,
            "updated" : 1234567890
          }
        }
      },
      "CreateResourceGroupRequest" : {
        "title" : "Create Resource Group Request",
        "required" : [ "name", "slug" ],
        "type" : "object",
        "properties" : {
          "slug" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z_$]{0,63}$",
            "type" : "string",
            "description" : "Resource Group identifier"
          },
          "name" : {
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z_][0-9a-zA-Z-_ ]{0,63}$",
            "type" : "string",
            "description" : "Resource Group name"
          },
          "color" : {
            "type" : "string",
            "description" : "Color associated with the Resource Group."
          },
          "tags" : {
            "maxProperties" : 128,
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Resource Group tags"
          },
          "description" : {
            "maxLength" : 1024,
            "type" : "string",
            "description" : "Resource Group description"
          },
          "included_scope" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ResourceGroupScope"
            }
          },
          "resource_filter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ResourceFilter"
            }
          },
          "include_all" : {
            "type" : "boolean",
            "description" : "Boolean value for including all resources in Resource Group."
          }
        },
        "description" : "Create Resource Group request",
        "x-stoplight" : {
          "id" : "z8g6ol73nsqjs"
        },
        "x-examples" : {
          "resource-group-request" : {
            "slug" : "example_resource_group",
            "name" : "Example_Resource Group",
            "color" : "#0063F7",
            "tags" : {
              "example-tag-1" : "example-tag-1-value",
              "example-tag-2" : "example-tag-2-value"
            },
            "description" : "This is an Example Resource Group",
            "included_scope" : [ {
              "filter" : "EXCLUDING_CHILD_SCOPES",
              "account" : "sample_account",
              "org" : "sample_organization",
              "project" : "sample_project"
            } ],
            "resource_filter" : [ {
              "resource_type" : "resource",
              "identifiers" : [ "example_resource" ],
              "attribute_name" : "resource_attribute",
              "attribute_values" : [ "example_resource_attribute" ]
            } ],
            "include_all" : false
          }
        }
      },
      "ResourceGroupScope" : {
        "title" : "Resource Group Scope",
        "type" : "object",
        "properties" : {
          "filter" : {
            "type" : "string",
            "description" : "Including or Excluding Child scopes.",
            "enum" : [ "EXCLUDING_CHILD_SCOPES", "INCLUDING_CHILD_SCOPES" ]
          },
          "account" : {
            "type" : "string",
            "description" : "Account identifier"
          },
          "org" : {
            "type" : "string",
            "description" : "Organization identifier"
          },
          "project" : {
            "type" : "string",
            "description" : "Project identifier"
          }
        },
        "description" : "Included Scope levels for this Resource Group",
        "x-stoplight" : {
          "id" : "w8j3bc9323bxb"
        },
        "x-examples" : {
          "example-1" : {
            "filter" : "EXCLUDING_CHILD_SCOPES",
            "account" : "sample_account",
            "org" : "sample_organization",
            "project" : "sample_project"
          }
        }
      },
      "ResourceFilter" : {
        "title" : "Resource Filter",
        "required" : [ "resource_type" ],
        "type" : "object",
        "properties" : {
          "resource_type" : {
            "type" : "string",
            "description" : "Specifies the type of Resource."
          },
          "identifiers" : {
            "type" : "array",
            "description" : "Identifiers for the Resource Type.",
            "items" : {
              "type" : "string"
            }
          },
          "attribute_name" : {
            "type" : "string",
            "description" : "Attribute name on the basis of which filtering will be done."
          },
          "attribute_values" : {
            "type" : "array",
            "description" : "Attribute values selected",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Specifies resources in Resource Group.",
        "x-stoplight" : {
          "id" : "m5qhp13hm6o1z"
        },
        "x-examples" : {
          "example-resource-filter" : {
            "resource_type" : "resource",
            "identifiers" : [ "example_resource" ],
            "attribute_name" : "resource_attribute",
            "attribute_values" : [ "example_resource_attribute" ]
          }
        }
      }
    },
    "responses" : {
      "ResourceGroupsListResponse" : {
        "description" : "Resource Groups List Response",
        "headers" : {
          "Link" : {
            "description" : "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will include a link with relation type `next` to the next page, if there is a next page.",
            "style" : "simple",
            "explode" : false,
            "schema" : {
              "type" : "string"
            }
          }
        },
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "array",
              "description" : "List of Resource Groups",
              "items" : {
                "$ref" : "#/components/schemas/ResourceGroupsResponse"
              }
            },
            "examples" : {
              "resource-group-list-response" : {
                "value" : [ {
                  "slug" : "example_resource_group",
                  "name" : "Example_Resource Group",
                  "color" : "#0063F7",
                  "tags" : {
                    "example-tag-1" : "example-tag-1-value",
                    "example-tag-2" : "example-tag-2-value"
                  },
                  "description" : "This is an Example Resource Group",
                  "allowed_scope_levels" : [ "account" ],
                  "included_scope" : [ {
                    "filter" : "EXCLUDING_CHILD_SCOPES",
                    "account" : "sample_account",
                    "org" : "sample_organization",
                    "project" : "sample_project"
                  } ],
                  "resource_filter" : [ {
                    "resource_type" : "resource",
                    "identifiers" : [ "example_resource" ],
                    "attribute_name" : "resource_attribute",
                    "attribute_values" : [ "example_resource_attribute" ]
                  } ],
                  "include_all" : false,
                  "harness_managed" : true,
                  "created" : 1234567890,
                  "updated" : 1234567890
                } ]
              }
            }
          }
        }
      },
      "ResourceGroupsResponse" : {
        "description" : "Resource Group Response",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/ResourceGroupsResponse"
            },
            "examples" : {
              "resource-group-response" : {
                "value" : {
                  "slug" : "example_resource_group",
                  "name" : "Example_Resource Group",
                  "color" : "#0063F7",
                  "tags" : {
                    "example-tag-1" : "example-tag-1-value",
                    "example-tag-2" : "example-tag-2-value"
                  },
                  "description" : "This is an Example Resource Group",
                  "allowed_scope_levels" : [ "account" ],
                  "included_scope" : [ {
                    "filter" : "EXCLUDING_CHILD_SCOPES",
                    "account" : "sample_account",
                    "org" : "sample_organization",
                    "project" : "sample_project"
                  } ],
                  "resource_filter" : [ {
                    "resource_type" : "resource",
                    "identifiers" : [ "example_resource" ],
                    "attribute_name" : "resource_attribute",
                    "attribute_values" : [ "example_resource_attribute" ]
                  } ],
                  "include_all" : false,
                  "harness_managed" : true,
                  "created" : 1234567890,
                  "updated" : 1234567890
                }
              }
            }
          }
        }
      }
    },
    "parameters" : {
      "AccountParam" : {
        "name" : "account",
        "in" : "query",
        "description" : "Slug field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "Limit" : {
        "name" : "limit",
        "in" : "query",
        "description" : "Pagination: Number of items to return.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "maximum" : 100,
          "type" : "integer",
          "default" : 30
        }
      },
      "PageIndex" : {
        "name" : "page",
        "in" : "query",
        "description" : "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "integer",
          "default" : 0
        }
      },
      "SearchTerm" : {
        "name" : "search_term",
        "in" : "query",
        "description" : "This would be used to filter resources having attributes matching the search term.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "OrgParam" : {
        "name" : "org",
        "in" : "path",
        "description" : "Organization identifier",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      },
      "ProjectParam" : {
        "name" : "project",
        "in" : "path",
        "description" : "Project identifier",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      },
      "ResourceGroupParam" : {
        "name" : "resource-group",
        "in" : "path",
        "description" : "Resource Group identifier",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      },
      "IdentifierFilter" : {
        "name" : "identifier_filter",
        "in" : "query",
        "description" : "Filter by Identifiers",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "uniqueItems" : true,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      },
      "ManagedFilter" : {
        "name" : "managed_filter",
        "in" : "query",
        "description" : "Filter by Harness Managed",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "NO_FILTER", "ONLY_MANAGED", "ONLY_CUSTOM" ]
        }
      },
      "ResourceType" : {
        "name" : "resource_type",
        "in" : "query",
        "description" : "Filter by Resource type",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      },
      "ResourceSlug" : {
        "name" : "resource_slug",
        "in" : "query",
        "description" : "Filter by Resource identifier",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "requestBodies" : {
      "CreateResourceGroupRequest" : {
        "description" : "Create Resource Group request body",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CreateResourceGroupRequest"
            },
            "examples" : {
              "resource-group-request" : {
                "value" : {
                  "slug" : "example_resource_group",
                  "name" : "Example_Resource Group",
                  "color" : "#0063F7",
                  "tags" : {
                    "example-tag-1" : "example-tag-1-value",
                    "example-tag-2" : "example-tag-2-value"
                  },
                  "description" : "This is an Example Resource Group",
                  "included_scope" : [ {
                    "filter" : "EXCLUDING_CHILD_SCOPES",
                    "account" : "sample_account",
                    "org" : "sample_organization",
                    "project" : "sample_project"
                  } ],
                  "resource_filter" : [ {
                    "resource_type" : "resource",
                    "identifiers" : [ "example_resource" ],
                    "attribute_name" : "resource_attribute",
                    "attribute_values" : [ "example_resource_attribute" ]
                  } ],
                  "include_all" : false
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "x-api-key" : {
        "type" : "apiKey",
        "name" : "x-api-key",
        "in" : "header"
      }
    }
  },
  "x-stoplight" : {
    "id" : "bfet7n314xd4i"
  },
  "x-tagGroups" : [ {
    "name" : "Resource Groups",
    "tags" : [ "Account Resource Groups", "Organization Resource Groups", "Project Resource Groups" ]
  } ]
}